{%extends display.admin%}
{%use 'content_a/protection/pageStep.html' %}

{%block pageContent%}
{{block ('pageStep')}}

<form method="post" autocomplete="off">
  <div class="f justify-center">
    <div class="c6 s12 m8">
       <div class="cbox">

        <h2 class="mB20">{{occasionDetail.title}}</h2>
        {%if occasionDetail.subtitle%}<b class="mB20 block">{{occasionDetail.subtitle}}</b>{%endif%}
        {%if occasionDetail.startdate%}<span class="block mB10">{%trans "Start date"%}: <span class="ltr compact">{{occasionDetail.startdate | dt(null, 'date')}}</span></span>{%endif%}
        {%if occasionDetail.expiredate%}{%trans "Expire date"%}: <span class="ltr compact mB10">{{occasionDetail.expiredate | dt(null, 'date')}}</span>{%endif%}


        {%if userListCount%}
          <div class="msg">
            {%trans "The number of people announced by you on this occasion"%}  <b>{{userListCount |fitNumber}}</b> <small>{%trans "Person"%}</small>
          </div>
        {%else%}
          <div class="msg warn2">
            <p>{%trans "You are not announce any people to this occasion"%}</p>
            <a href="{{url.this}}/users?id={{requestGET.id}}">{%trans "Click to announce the details of the people covered"%}</a>
          </div>
        {%endif%}

        <div class="msg">
            <div class="mB10">{%trans "Current request status"%} {%set myStatus = dataRow.status%}{%if myStatus == 'request'%}{%set myStatus = 'review'%}{%endif%}<b>{%trans myStatus%}</b></div>
            {%if dataRow.status == 'draft'%}
            <div class="mB10">{%trans "If you have completed the form of people covered by you, click to send a request for support of the institution"%}</div>
            <div class="btn success" data-confirm data-data='{"changestatus": "changestatus", "status": "request"}'>{%trans "Send request"%}</div>
            {%endif%}

            {%if dataRow.status == 'request'%}
            <div class="mB10">{%trans "Your request has been taken by the institution on the review page."%}
              <br>
              {%trans "If you want to add or edit the people you cover, change the status of the request to draft"%}
            </div>
            <div class="btn link" data-confirm data-data='{"changestatus": "changestatus", "status": "draft"}'>{%trans "Convert to draft request"%}</div>
            {%endif%}
        </div>

    </div>

    </div>
  </div>
</form>


{%endblock%}
