{%extends display.dash%}


{%block pageContent%}
<div class="f">
  <div class="c s6">{{block('bSkills')}}</div>
  <div class="c s6">{{block('bPlace')}}</div>
</div>
{%endblock%}




{%block bSkills%}
<a class="dcard x1" href='{{url.here}}/skills'>
 <div class="statistic teal">
  <div class="label"><i class="fs20 mRa5 sf-tools"></i></div>
  <div class="label mT10">{%trans "Skills"%}</div>
 </div>
</a>
{%endblock%}



{%block bPlace%}
<a class="dcard x1" href='{{url.here}}/place'>
 <div class="statistic teal">
  <div class="label"><i class="fs20 mRa5 sf-pin"></i></div>
  <div class="label mT10">{%trans "Place"%}</div>
 </div>
</a>
{%endblock%}
