{%extends 'content_cp/smsapp/editgroup/display.html'%}


{%block pageContent%}
{{block('pageSteps')}}

<div class="f justify-center">
  <div class="c4">

    <div class="cbox">
      <form method="post" autocomplete="off">
        {{block('itext')}}

        {{block('iadd')}}
      </form>
    </div>
  </div>
  <div class="c8">
    <div class="mLa5">
      <div class="cbox">
        <div class="msg success2 txtB txtC">{{dataRow.title}}</div>
        {%if dataTable%}
        {%for key, value in dataTable%}
        <div class="msg">
          <div class="f">
            <span class="c">{{value.text}}</span>
            <div class="cauto">
              <span class="badge danger" data-confirm data-data='{"type":"remove", "deleteid" :"{{value.id}}", "group_id" : "{{requestGET.id}}"}'>{%trans "Remove"%}</span>
            </div>
          </div>
        </div>
        {%endfor%}
        {%else%}
        <div class="msg warn2 txtB txtC">{%trans "No answer founded"%}</div>
        {%endif%}

      </div>
    </div>
  </div>
</div>
{%endblock%}






{%block itext %}

<label for="itxt">{%trans "Answer text"%} <small class="fc-red">* {%trans "Require"%}</small></label>
<textarea class="txt" rows="5" name="text" required autofocus id="itxt"></textarea>

{% endblock %}
