{%extends "content_cp/trip/tripViewGroup.html"%}


{%block myTropPageBody%}
<div class="f justify-center">
  <div class="c8 s12">
    <div class="cbox">
      <h3>{%trans "Admin detail"%}</h3>
      <div class="f">
        <div class="c6 s12 m12">
          <table class="tbl1 v4">
            {%if travelDetail.mobile%}<tr><td class="collapsing">{%trans "Mobile"%}</td><td><a href="tel:{{travelDetail.mobile}}">{{travelDetail.mobile | fitNumber('mobile')}}</a></td></tr>{%endif%}
            {%if travelDetail.firstname or travelDetail.lastname %}<tr class="positive"><td class="collapsing">{%trans "Name"%}</td><td>{{travelDetail.firstname}} <b>{{travelDetail.lastname}}</b></td></tr>{%endif%}
            {%if travelDetail.father%}<tr><td class="collapsing">{%trans "Father name"%}</td><td>{{travelDetail.father}}</td></tr>{%endif%}
            {%if travelDetail.nationalcode%}<tr><td class="collapsing">{%trans "Nationalcode"%}</td><td>{{travelDetail.nationalcode | fitNumber(false)}}</td></tr>{%endif%}
            {%if travelDetail.birthday%}<tr><td class="collapsing">{%trans "Birthday"%}</td><td>{{travelDetail.birthday | dt(null, 'date')}}</td></tr>{%endif%}

          </table>
        </div>

        <div class="c6 s12 m12">
          <table class="tbl1 v4">
            {%if travelDetail.gender%}<tr><td class="collapsing">{%trans "Gender"%}</td><td>{%set GenderS = travelDetail.gender | capitalize%} {%trans GenderS%}</td></tr>{%endif%}
            {%if travelDetail.married%}<tr><td class="collapsing">{%trans "Marital"%}</td><td>{%set MaritalS = travelDetail.married | capitalize%}{%trans MaritalS%}</td></tr>{%endif%}
            {%if travelDetail.file1%}<tr><td class="collapsing">{%trans "Nationalcode thumb"%}</td><td><a href="{{travelDetail.file1}}" class="badge light"><img src="{{travelDetail.file1}}" class="avatar"></a></td></tr>{%endif%}
            {%if travelDetail.country%}<tr><td class="collapsing">{%trans "Country"%}</td><td>{{travelDetail.country}}</td></tr>{%endif%}


            {%if travelDetail.address%}<tr><td class="collapsing">{%trans "Address"%}</td><td> {{travelDetail.city}} {{travelDetail.address}}</td></tr>{%endif%}
          </table>
        </div>
      </div>
      <a class="btn block" href="{{url.kingdom}}/crm/member/glance?id={{travelDetail.user_id | coding('encode')}}">{%trans "View full Profile"%}</a>
    </div>
  </div>
</div>
{%endblock%}


