{%extends display.cpMain%}


{%block pageContent%}


<div class="f justify-center">
  <div class="c5 s12">
    <form method="post" class="cbox" autocomplete="off">
      {{block ('iWay') }}
      {{block ('iadd')}}
    </form>
  </div>
</div>

{%if wayList%}
<div class="f justify-center">
  <div class="c5 s12">
    <div class="cbox">
      <h2>{%trans "List of way"%}</h2>
      <table class="tbl">
        <thead>
          <tr>
            <th>{%trans "Title"%}</th>
            <th>{%trans "Delete"%}</th>
          </tr>
        </thead>
        <tbody>
          {%for key, value in wayList%}
            <tr>
              <td>{{value}}</td>
              <td class="collapsing"><a href="{{url.pwd}}" data-ajaxify data-method="post" data-data='{"key": "{{value}}", "type":"delete"}'><button class="btn danger xs">{%trans "Remove"%}</button></a></td>
            </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>
  </div>
</div>
{%endif%}

{%endblock%}





{%block iadd%}
<button class="btn primary block mT25">{%trans "Add"%}</button>
{%endblock%}



{%block iWay%}
<label for='fway'>{%trans "Spending method"%}</label>
<div class="input">
 <input type="text" name="way" placeholder='{%trans "Way"%}' autofocus  maxlength='50' minlength="1" pattern=".{1,50}" title='{%trans "Enter a valid way"%}' id='fway'>
</div>
{%endblock%}


