


{%block partnertForm%}
    <form method="post" class="cbox">
{{block ('iname') }}
{{block ('ifamily') }}
{{block ('incode') }}
{{block ('ipassport') }}
{{block ('ibirthday') }}
{{block ('ifather') }}
{{block ('iNesbat') }}
{{block ('igenderRadio') }}
{{block ('iMarriedRadio') }}


     {{block ('iAdd') }}
    </form>
      {%if edit_mode%}
      <form method="post">
        {{block ('iremove') }}
      </form>
      {%endif%}
{%endblock%}


{%block partnertList%}
  <div class="cbox">
    <h3>{%trans "List of your child"%}</h3>

{%if childList%}
    <div class="f">
{%for key, value in childList%}
     <div class="c4 s12">
      <div class="vcard mA5">
        <div class="content f">
          <div class="c">
            <div class="header"><small>{{value.firstname}}</small> {{value.lastname}}</div>
            <div class="meta"><span>{{value.nationalcode | fitNumber}}</span></div>
          </div>
          <div class="cauto">
{%if value.gender == 'female'%}
            <img src="{{url.site}}/static/siftal/images/avatar/woman.png" class="mini">
{%else%}
            <img src="{{url.site}}/static/siftal/images/avatar/man.png" class="mini">
{%endif%}
          </div>
          <div class="desc c12">
           <span class="badge info">{{value.nesbat}}</span>
           <span class="badge">{%set marryStatus = value.married | capitalize%}{%trans marryStatus%}</span>
           <span class="badge success">{{value.birthday | fitNumber}}</span>
           <span class="badge" title="{%trans "Child"%}">{{value.father}}</span>
          </div>
        </div>
        <div class="footer f pAn">
          <a href="{{url.pwd}}" class="btn secondary" data-ajaxify data-method="post" data-data='{"key": "{{value.id}}", "type":"remove"}'>{%trans "Remove"%}</a>
        </div>
      </div>
     </div>
{%endfor%}
    </div>
{%else%}
   <p class="alert alert-alert txtC">{%trans "You are not registered partner yet"%}</p>
   <p class="alert alert-info txtC">{%trans "you can send a single person request without partner on press below button"%}</p>
{%endif%}
  </div>

{%endblock%}


{%block nextForm%}
    <form method="post" class="cbox">
      <input type="hidden" name="next" value="next">
      {{block ('inext') }}
    </form>
{%endblock%}




{%block ipassport%}
<label for='passport'>{%trans "Passport id"%} <small class="fc-red">* {%trans "Foreigners must fill"%}</small></label>
<div class="input ltr">
 <input type="text" name='passport' id='passport' value="{{userdetail.pasportcode}}" />
</div>
{%endblock%}



{%block iname%}
<label for="name">{%trans "Name"%} <small class="fc-red">* {%trans "Require"%}</small></label>
<div class="input">
  <input type="text" name="name" id="name" placeholder='{%trans "Name"%} *' value="{{childDetail.firstname}}" autofocus maxlength='40' minlength="2" pattern=".{2,40}" title='{%trans "Enter a valid name from 2 to 40 character"%}' required>
</div>
{%endblock%}


{%block ifamily%}
<label for="lastName">{%trans "Last name"%} <small class="fc-red">* {%trans "Require"%}</small></label>
<div class="input">
  <input type="text" name="lastName" id="lastName" placeholder='{%trans "Last name"%} *' value="{{childDetail.lastname}}" maxlength='40' minlength="2" pattern=".{1,40}" title='{%trans "Enter a valid last name from 2 to 40 character"%}' required>
</div>
{%endblock%}

{%block igenderRadio%}
<label for="gender">{%trans "Gender"%} <small class="fc-red">* {%trans "Require"%}</small></label>
<div class="f">
 <div class="radio1 green">
  <input type="radio" id="r-male" name="gender" required value="male" {%if userdetail.gender == 'male' %}checked{%endif%}>
  <label for="r-male">{%trans "Male"%}</label>
 </div>

 <div class="radio1 green">
  <input type="radio" id="r-female" name="gender" required value="female" {%if userdetail.gender == 'female' %}checked{%endif%}>
  <label for="r-female">{%trans "Female"%}</label>
 </div>
</div>
{%endblock%}

{%block iMarriedRadio%}
<label for="Married">{%trans "Marital"%} <small class="fc-red">* {%trans "Require"%}</small></label>
<div class="f">
 <div class="radio1 yellow">
  <input type="radio" id="r-single" name="Married" required value="single" {%if userdetail.married == 'single' %}checked{%endif%}>
  <label for="r-single">{%trans "Single"%}</label>
 </div>

 <div class="radio1 yellow">
  <input type="radio" id="r-married" name="Married" required value="married" {%if userdetail.married == 'married' %}checked{%endif%}>
  <label for="r-married">{%trans "Married"%}</label>
 </div>
</div>
{%endblock%}


{%block imobile%}
<label for="mobile">{%trans "Mobile"%}</label>
<div class="input">
  <input type="text" readonly id="mobile" placeholder='{%trans "Like 09120123456"%}' value="{{childDetail.mobile}}" maxlength='30'>
</div>
{%endblock%}


{%block incode%}
<label for="nationalcode">{%trans "National code"%}  <small class="fc-red">* {%trans "Iranian must fill"%}</small></label>
<div class="input">
  <input type="tel" name="nationalcode" id="nationalcode" placeholder='{%trans "10 digit national code"%} *' value="{{childDetail.nationalcode}}" min=0 max=9999999999 >
</div>
{%endblock%}


{%block ifather%}
<label for="father">{%trans "Father name"%}</label>
<div class="input">
  <input type="text" name="father" id="father" placeholder='{%trans "Father name"%}' value="{{childDetail.father}}" maxlength='50'>
</div>
{%endblock%}


{%block ibirthday%}
<label for="birthday">{%trans "Birthday"%}</label>
<div class="input">
  <input class="datepicker" type="text" name="birthday" id="birthday" required placeholder='{{"1369/04/15" | fitNumber}}' value="{{childDetail.birthday}}" maxlength='20' data-format="YYYY/MM/DD" data-view="year">
</div>
{%endblock%}


{%block igender%}
<div class="switch1 gender">
 <input type="checkbox" name="gender" id="gender" {%if userdetail.gender == 'female' %}checked{%endif%}>
 <label for="gender" ></label>
 <label for="gender">{%trans "Gender"%}</label>
</div>
{%endblock%}


{%block iMarried%}
<div class="switch1">
 <input type="checkbox" name="Married" id="Married" {%if userdetail.married == 'married' %}checked{%endif%}>
 <label for="Married"  data-on='{%trans "Married"%}' data-off='{%trans "Single"%}'></label>
 <label for="Married">{%trans "Marital"%}</label>
</div>

{%endblock%}

{%block iArabicLang%}
<div class="switch1 pA5">
 <input type="checkbox" name="ArabicLang" id="ArabicLang" {%if userdetail.arabiclang == 'yes' %}checked{%endif%}>
 <label for="ArabicLang"  data-on='{%trans "Yes"%}' data-off='{%trans "No"%}'></label>
 <label for="ArabicLang">{%trans "Arabic Language"%}</label>
</div>

{%endblock%}



{%block iNesbat%}
<label for='nesbat'>{%trans "Nesbat"%}</label>
<div class="input">
 <input type='text' class="autoList" name='nesbat' id='nesbat' data-minchars="1"  value="{{childDetail.nesbat}}" data-list={{nesbatList}}/>
</div>
{%endblock%}


{%block icountry%}
<label for='country'>{%trans "Country"%}</label>
<div class="input">
 <input type='text' class="autoList" name='country' id='country' data-minchars="1" data-autofirst data-list="{{countryList}}" value="{{childDetail.country}}" />
</div>
{%endblock%}


{%block iprovince%}
<label for='province'>{%trans "Province"%}</label>
<div class="input">
 <input type='text' class="autoList" name='province' id='province' data-minchars="1" data-autofirst data-list="{{proviceList}}" value="{{childDetail.province}}" />
</div>
{%endblock%}


{%block icity%}
<label for='city'>{%trans "City"%}</label>
<div class="input">
 <input type='text' class="autoList" name='city' id='city' data-minchars="1" data-autofirst data-list="{{cityList}}" value="{{childDetail.city}}" />
</div>
{%endblock%}


{%block izipcode%}
<label for='zipcode'>{%trans "Zip code"%}</label>
<div class="input">
 <input type='tel' name='zipcode' id='zipcode' min="0" max="9999999999" value="{{childDetail.zipcode}}"/>
</div>
{%endblock%}






{%block ipassportexpire%}
<label for='passportexpire'>{%trans "Passport expire date"%}</label>
<div class="input">
  <input class="datepicker" type="text" name="passportexpire" id="passportexpire" placeholder='{{"1397/03/30" | fitNumber}}' value="{{childDetail.pasportdate}}" maxlength='20' data-format="YYYY/MM/DD" data-view="year">
</div>
{%endblock%}



{%block iHomeAddress%}
<label for='fhomeaddress'>{%trans "Home Address"%}</label>
<textarea name="homeaddress" rows="3" placeholder='{%trans "Home Address"%}' class="txt" id="fhomeaddress">{{userdetail.homeaddress}}</textarea>
{%endblock%}

{%block iWorkAddress%}
<label for='fworkaddress'>{%trans "Work Address"%}</label>
<textarea name="workaddress" rows="3" placeholder='{%trans "Work Address"%}' class="txt" id="fworkaddress">{{userdetail.workaddress}}</textarea>
{%endblock%}



{%block iDescription%}
<label for='fdesc'>{%trans "Description"%}</label>
<textarea name="desc" rows="3" placeholder='{%trans "Description"%}' class="txt" id="fdesc">{{userdetail.desc}}</textarea>
{%endblock%}




{%block iPhone%}
<label for="phone">{%trans "Phone"%}</label>
<div class="input">
  <input type="tel" name="phone" id="phone" placeholder='{%trans "Like"%} 025 3650 5281' value="{{childDetail.phone}}" maxlength='50'>
</div>
{%endblock%}



{%block iEmail%}
<label for="email">{%trans "Email"%}</label>
<div class="input">
  <input type="email" name="email" id="email" placeholder='{%trans "Like"%} abc@example.com' value="{{childDetail.email}}" maxlength='50'>
</div>
{%endblock%}


{%block iAvatar%}
<div class="input preview">
 <input type="file" accept="image/gif, image/jpeg, image/png" name="avatar" id="avatar1" data-preview data-max="500">
 <label for="avatar1" title="Simple Title">

 </label>
</div>
{%endblock%}


{%block iNationalthumb%}
<div class="input preview">
 <input type="file" accept="image/gif, image/jpeg, image/png" name="nationalthumb" id="nationalthumb" data-preview data-max="500">
 <label for="nationalthumb" title="Simple Title">
    {%if userdetail.nationalthumb%}<img src="{{userdetail.nationalthumb}}">{%endif%}
 </label>
</div>
{%endblock%}


{%block iShthumb%}
<div class="input preview">
 <input type="file" accept="image/gif, image/jpeg, image/png" name="shthumb" id="shthumb" data-preview data-max="500">
 <label for="shthumb" title="Simple Title">
    {%if userdetail.shthumb%}<img src="{{userdetail.shthumb}}">{%endif%}
 </label>
</div>
{%endblock%}



{%block iEducation%}
<label for="feducation">{%trans "Education"%}</label>
<div class="input">
  <input type="text" name="education" id="feducation" placeholder='{%trans "Education"%}' value="{{childDetail.education}}" maxlength='50'>
</div>
{%endblock%}



{%block iEducationCourse%}
<label for="feducationcourse">{%trans "Education course"%}</label>
<div class="input">
  <input type="text" name="educationcourse" id="feducationcourse" placeholder='{%trans "Education course"%}' value="{{childDetail.education}}" maxlength='50'>
</div>
{%endblock%}



{%block iJob%}
<label for="fjob">{%trans "Job"%}</label>
<div class="input">
  <input type="text" name="job" id="fjob" placeholder='{%trans "Job"%}' value="{{childDetail.job}}" maxlength='50'>
</div>
{%endblock%}



{%block iAdd%}
<button class="btn primary block mT20">{%trans "Add as new partner"%}</button>
{%endblock%}



{%block inext%}
<button class="btn success block ">{%trans "Final register in trip request"%}</button>
{%endblock%}


{%block iremove%}
<input type="hidden" name="remove" value="{{requestGET.edit}}">
<button class="btn danger block mT20">{%trans "Remove"%}</button>
{%endblock%}




