{%extends display.cpMain%}


{%block sidenav%}
{{parent()}}
    <li><a href="{{url.baseFull}}/trip"><i class='sf-pull-request'></i> <span>{%trans "request list"%}</span></a></li>
    <li><a href="{{url.baseFull}}/donateproduct"><i class='sf-bag'></i> <span>{%trans "Donate product list"%}</span></a></li>
    <li><a href="{{url.baseFull}}/donate"><i class='sf-card'></i> <span>{%trans "Donate list"%}</span></a></li>
    <li><a href="{{url.baseFull}}/nationalcode"><i class='sf-user-5'></i> <span>{%trans "National code"%}</span></a></li>
{%endblock%}
