{%extends display.cpMain%}


{%block sidenav%}
    <li><a href="{{url.base}}/cp"><i class='sf-gauge'></i> <span>{% trans "Dashboard" %}</span></a></li>
    <li><a href="{{url.baseFull}}/donate"><i class='sf-card'></i> <span>{%trans "Donate list"%}</span></a></li>
    <li><a href="{{url.baseFull}}/service"><i class='sf-user-md'></i> <span>{%trans "Request service list"%}</span></a></li>
    <li><a href="{{url.baseFull}}/nationalcode"><i class='sf-user-5'></i> <span>{%trans "National code"%}</span></a></li>
    <li><a href="{{url.baseFull}}/trip"><i class='sf-pull-request'></i> <span>{%trans "Request trip list"%}</span></a></li>
    <li><a href="{{url.baseFull}}/homepage"><i class='sf-cog'></i> <span>{%trans "Homepage settings"%}</span></a></li>
{%endblock%}
