{%extends display.admin%}
{%use 'content_protection/agentoccasion/pageStep.html' %}

{%block pageContent%}
{{block ('pageStep')}}

<form method="post" autocomplete="off">

  <div class="mB10">

      {%if userOccasionList%}
      <div class="tblBox">
        <table class="tbl1 v4">
          <thead class="">
            <tr>

              <th class="collapsing"></th>

              <th>{%trans "Name"%}</th>
              <th>{%trans "Mobile"%}</th>
              <th>{%trans "Nationalcode"%}</th>
              <th>{%trans "Gender"%}</th>
              <th>{%trans "Married"%}</th>
              <th class="collapsing">{%trans "Protection count"%}</th>
              <th>{%trans "Type"%}</th>
              <th>{%trans "City"%}</th>

            </tr>
          </thead>
          <tbody class="fs14">
          {%for key, value in userOccasionList%}
            <tr>
              <td class="collapsing">{{(key + 1) | fitNumber}}</td>
              <td><a href="{{url.that}}?id={{requestGET.id}}&person={{value.id}}"> <i class="sf-edit"></i> {{value.displayname}}</a></td>
              <td>{{value.mobile | fitNumber('mobile')}}</td>
              <td>{{value.nationalcode | fitNumber(false)}}</td>
              <td>{%set my_gender = value.gender%}{%trans my_gender%}</td>
              <td>{%set my_married = value.married%}{%trans my_married%}</td>
              <td class="collapsing">{{value.protectioncount | fitNumber}}</td>
              <td>{{value.type_title}}</td>
              <td>{{value.location_string}}</td>


            </tr>
          {%endfor%}
          </tbody>
        </table>
      </div>
       {%else%}
      <div class="f justify-center">
        <div class="c8">
            <div class="msg info2 txtB txtC fs14">{%trans "No user announced in this occasion"%}</div>
        </div>
      </div>
      {%endif%}

  </div>
  <div class="f justify-center">
    <div class="c8 s12 m12">
      <div class="cbox">


          <p class="msg">{%trans "You can and, edit or remove everyone of top list"%}</p>
          <input type="hidden" name="occation_id" value="{{requestGET.id}}">
            <div class="f">
              <div class="c6 s12">
                <label for="inationalcode">{%trans "Nationalcode"%}</label>
                <div class="input">
                  <input type="tel" id="inationalcode" name="nationalcode" value="{{personDataRow.nationalcode}}" maxlength="10">
                </div>
              </div>
              <div class="c6 s12">
                <div class="mLa5">
                  <label for="imobile">{%trans "Mobile"%}</label>
                  <div class="input">
                    <input type="tel" id="imobile" name="mobile" value="{{personDataRow.mobile}}" maxlength="15">
                  </div>
                </div>
              </div>
            </div>

            <div class="f">
              <div class="c6 s12">
                  <label for="idisplayname">{%trans "Name & family"%}</label>
                  <div class="input">
                    <input type="text" id="idisplayname" name="displayname" value="{{personDataRow.displayname}}" maxlength="50">
                  </div>
              </div>
              <div class="c6 s12">
                <div class="mLa5">
                  <label for="iprotectioncount">{%trans "Protection count"%}</label>
                  <div class="input">
                    <input type="number" id="iprotectioncount" name="protectioncount" value="{{personDataRow.protectioncount}}" max="100">
                  </div>
                </div>
              </div>
            </div>

            {%if occasionType%}
            <div class="f">

              <h5>{%trans "Choose type"%}</h5>
            {%for key, value in occasionType%}

            <div class="c12">

              <div class="radio3">
                <input type="radio" id="checktype{{value.id}}" name="type_id" value="{{value.id}}" {%if personDataRow.type_id == value.id%} checked {%endif%}>
                <label for="checktype{{value.id}}">{{value.title}}</label>
              </div>
            </div>
              {%endfor%}
              </div>
              {%endif%}


            <label for='city'>{%trans "City"%}</label>
            <select name="city" class="ui dropdown select search" id="city">
              <option value="" readonly>{%trans "Select city"%}</option>
              {%for key, value in cityList%}
                <option value="{{key}}" {% if personDataRow.city == key %} selected {%endif%}>{{value}}</option>
              {%endfor%}
            </select>



          <label for="gender">{%trans "Gender"%}</label>
          <div class="f">
           <div class="radio3 green">
            <input type="radio" id="r-male" name="gender"  value="male" {%if personDataRow.gender == 'male' %}checked{%endif%}>
            <label for="r-male">{%trans "Male"%}</label>
           </div>

           <div class="radio3 green">
            <input type="radio" id="r-female" name="gender"  value="female" {%if personDataRow.gender == 'female' %}checked{%endif%}>
            <label for="r-female">{%trans "Female"%}</label>
           </div>
          </div>

          <label for="Married">{%trans "Marital"%}</label>
          <div class="f">
           <div class="radio3 yellow">
            <input type="radio" id="r-single" name="married"  value="single" {%if personDataRow.married == 'single' %}checked{%endif%}>
            <label for="r-single">{%trans "Single"%}</label>
           </div>

           <div class="radio3 yellow">
            <input type="radio" id="r-married" name="married"  value="married" {%if personDataRow.married == 'married' %}checked{%endif%}>
            <label for="r-married">{%trans "Married"%}</label>
           </div>
          </div>



        <footer class="txtRa mT10">
          <div class="f">
          {%if editMode%}
            <div class="cauto"><div class="btn danger outline mRa5" data-confirm data-data='{"remove": "remove", "id" : "{{personDataRow.id}}"}'>{%trans "Remove"%}</div></div>
            <div class="cauto"><a class="btn secondary outline" href="{{url.that}}?id={{requestGET.id}}">{%trans "Cancel"%}</a></div>
          {%endif%}
            <div class="c"><button class="btn primary">{%if editMode%}{%trans "Edit"%}{%else%}{%trans "Add"%}{%endif%}</button></div>
          </div>

         </footer>

      </div>
    </div>
  </div>
</form>


{%endblock%}

