  <section class="billingInfo">
    <h3 class="sB3">{%trans "Join to the charity and participate in the pilgrimage reward"%}</h3>
{%if lang.current == 'fa'%}
<div class="txtC">
    <a class="compact" href='http://samtekhoda.tv3.ir' target="_blank"><div class="sprite-samtekhoda fix"></div><span class="hide">{%trans "Samte Khoda"%}</span></a>
    <a class="compact" href='http://khadije.com' target="_blank"><div class="sprite-khadije"></div><span class="hide">{%trans "Khadije"%}</span></a>
</div>

    <p class="txtB">کمک به هزینه های ستادی و فرهنگی موسسه</p>
    <p>با این نیت خیر، انشاالله در ثواب کارهای خیر مجموعه شریک خواهید شد</p>
    <div class="msg info2 txtLa">
      <p>جهت مشارکت در هزینه‌های پشتیبانی و فرهنگی موسسه حضرت خديجه علیها السلام، لطفا هدایای و نذورات خود را از طریق روش‌های زیر پرداخت نمایید.</p>
      <ul class="list">
        <li>بخش <a class="btn primary" href='{{url.kingdom}}/donate'>اهدای کمک نقدی</a> در وب‌سایت موسسه  به نشانی Khadije.com به‌صورت ۲۴ ساعته و آنی با دقت بالا</li>
        <li>کارت به کارت به شماره 6037998135666666 به نام موسسه حضرت خدیجه</li>
        <li class="hide">شماره‌گیری کد دستوری پرداخت <a class="btn ltr" href="tel:*733*55#">*733*55#</a></li>
      </ul>
    </div>
    <p class="msg txtLa">لطفا بعد از واریز کارت به کارت یا کد دستوری به شماره 09127522690 پیامک بدهید و بنویسید مربوط به هزینه‌های ستادی و فرهنگی موسسه</p>
{%else%}
    <p>{%trans "The financial credibility of this project is provided by cash and non-cash donations from benefactors and lovers of Ahlul-Bayt."%} {%trans "Therefore, donors and people who are willing participate in the pilgrimage plans of the Ahlul-Bayt, can pay their cash through the following methods."%}</p>
{%endif%}
    <div class="f justify-center payInfo">
      <div class="cauto m12 s12 pRa10">
{%include "content/home/bank-tejarat.html" %}
      </div>
      <div class="c m6 pRa10">
        <form class="msg success2 quickpay f align-center" method="post">
          <div class="input">
           <input type="number" name="quickpay" placeholder='{%trans "Pay Amount"%} {%trans "Toman"%}*' title='{%trans "You can change amount of your donation"%}' id='totalAmount' required step="1000" max="9000000000">
            <span class="addon">{%trans "Toman"%}</span>
          </div>
          <button class="btn success block">{%trans "Donate as anonymous"%}</button>
        </form>
      </div>
      <div class="c m6">
        <div class="msg simple donateLink f align-center">
          <a href="{{url.here}}/donate" class="btn primary">{%trans "Donate with register details"%}</a>
        </div>
      </div>
    </div>
  </section>


