{%extends display.main%}


{%block beforeHeader%}
 {{block('landPage')}}
{%endblock%}

{%block content%}

 {{block('about')}}
 {{block('thinking')}}


 {{block('donate2')}}




 {{block('statistic')}}
 {{block('lastNews')}}

 {{block('quote')}}
 {{block('address2')}}
 {{block('certificates')}}

{%endblock%}


{%block landPage%}
<section id='landing' data-scroll>
 <div class="title">
  <!-- <h2>{%trans "Integrated Sales and Online Accounting"%}</h2> -->
  <!-- <h3>{%trans ""%} {{site.desc}}</h3> -->
 </div>

</section>
{%endblock%}

{%block empty%}
<section style="min-height: 400px;text-align: center;font-size: 10em;color:#ddd">
...
</section>
{%endblock%}

{%block about%}
 <div class="tile fs14" id='aboutBox'>
  <div class="cn">
    <div class="f">
      <div class="c5 s12 text">
        <h2><a href="{{url.base}}/about">{%trans "About"%} {{site.title}}</a></h2>
        <p>مؤسسه خیریه ای به نام حضرت خدیجه(س) راه اندازی شده است كه تاكنون هزار نفر را به زیارت حضرت فاطمه معصومه(س) آورده اند؛ این خیریه مردمی است و كسانی كه می توانند در این خیریه كمك كنند، در این مسیر ما را یاری كنند؛ شرط ثبت نام در این طرح آن است كه ثبت نام كنندگان باید زائر اولی باشند.</p>
        <p>كسانی كه افرادی را به زیارت می فرستند، قطعا ثوابشان از آمدن خودشان بیشتر است؛ افرادی كه می توانند وسیله حمل و نقل به قم و یا محل سكونتی در قم در اختیار بگذارند، یا كار فرهنگی را برعهده بگیرند و یا طلاب و مداحانی كه می توانند در این مسیر یاری برسانند، دریغ نكنند و در این راه به خدمتگذاری بپردازند.</p>
      </div>
      <div class="c s12">
        <div class="videoBox">
          <div id="15143527106877784"><script async src="https://www.aparat.com/embed/o4Kc8?data[rnddiv]=15143527106877784&data[w]=640"></script></div>
        </div>
      </div>
    </div>
  </div>
 </div>
{%endblock%}


{%block thinking%}
<section id='thinkingTile'>
  <div class="cn">
    <h3>{%trans "Do you know?"%}</h3>
    <p>هزاران نفر در سراسر کشور عزیزمان تاکنون به زیارت امام رضا ع و حضرت معصومه س مشرف نشده‌اند و آرزوی زیارت این بزرگان را دارند؟</p>
    <p>طبق بررسی‌های صورت گرفته فقط در استان قم بیش از ۵هزار نفر ساکن این استان تاکنون حتی یکبار هم به حرم حضرت معصومه سلام الله علیها مشرف نشده‌اند!</p>
    <p><a href="{{url.baseRaw}}a" class="btn light outline" data-direct>{%trans "Donate"%}</a></p>
  </div>
</section>
{%endblock%}


{%block statistic%}
<section id='statisticTile'>
  <div class="cn">
   <div class="f">
    <div class="c">
     <div class="statistic">
       <div class="label"><span class="sf-card"></span></div>
       <div class="value">{{7569200 | number_format | fitNumber}}</div>
       <div class="label">{%trans "Donate"%}</div>
     </div>
    </div>

    <div class="cauto">
     <div class="statistic">
       <div class="label"><span class="sf-users"></span></div>
       <div class="value">{{392 | number_format | fitNumber}}</div>
       <div class="label">{%trans "Person"%}</div>
     </div>
    </div>

    <div class="c">
     <div class="statistic">
       <div class="label"><span class="sf-exchange"></span></div>
       <div class="value">{{12000000 | number_format | fitNumber}}</div>
       <div class="label">{%trans "Balance"%}</div>
     </div>
    </div>

   </div>
  </div>
</section>
{%endblock%}


{%block certificates%}
<section id='certificateTile'>
  <div class="cn f">
    <div class="f">
      <div class="c s12"><h3>{%trans "license and supporters"%}</h3></div>
      <div class="cauto s12">
       <nav>
         <a href="#"><img src="{{url.static}}images/cert/sabt.png" alt='{%trans "Certificate"%}'></a>
         <a href="#"><img src="{{url.static}}images/cert/farhang.png" alt='{%trans "Certificate"%}'></a>
         <a href="#"><img src="{{url.static}}images/cert/masajed.png" alt='{%trans "Certificate"%}'></a>
         <a href="#"><img src="{{url.static}}images/cert/enamad1.png" alt='{%trans "Certificate"%}'></a>
         <a href="https://arvancloud.com" title='{%trans "Secured by Arvancloud"%}'><img src="{{url.static}}images/cert/arvancloud.png" alt='{%trans "Arvancloud"%}'></a>
       </nav>
      </div>
    </div>
  </div>
</section>
{%endblock%}


{%block address%}
<a id='addressTile' href="{{url.base}}/contact"></a>
{%endblock%}



{%block donate%}
<section class="tile">
 <h2>Donate</h2>
</section>
{%endblock%}


{%block quote%}
<section class='quoteTile'>
  <div class="cn">
   <article class="quote-person">
    <p>هموطنان من، نپرسید کشورم چه کاری برایم می تواند بکند، بپرسید من چه کاری برای کشورم می توانم بکنم.</p>
    <div class="author f">
     <span class="c">حسن روحانی</span>
     <abbr class="cauto os">اولین زیارت از قم</abbr>
    </div>
   </article>
 </div>
</section>
{%endblock%}


{%block lastNews%}
<section id='lastNewsBox' class="news">
  <div class="cn">
    <div class="f">
      <div class="c6 s12">

      </div>
      <div class="c6 s12">
        <article>
          <img src="{{url.static}}/images/homepage/hostel.jpg">
          <h3>اسکان رایگان ۱۱۰۰۰ زائر اولی در قم</h3>
          <p>از ابتدای فعالیت این مؤسسه تا کنون 11 هزار زائرکه عنوان زیارت اولی دارند، از سراسر کشور توانسته اند به حرم حضرت معصومه سلام الله علیها مشرف شوند و در این زائر سرا اسکان پیدا کنند.</p>
        </article>
      </div>
    </div>
  </div>
</section>
{%endblock%}





