{%extends display.main%}


{%block pageData%}

{{datarow.content | raw}}

  <hr>
   <div class="f justify-center">
    <div class="c9 s12">
      {{block ("ContactForm")}}
    </div>
   </div>

{%endblock%}





{%block Address%}
       <address class="vcard mB10">
        <div class="author author_name hide"><span class="fn">{%trans "khadije"%}</span></div>
        <div class="adr">
{%if lang.current =='en'%}
          <div class="extended-address">{%trans "Najmeh Shabestan"%}</div>
          <div class="street-address">{%trans "Najmeh Park, Fatemi St"%}</div>
          <div class="locality">{%trans "Qom"%}</div>
          <div class="country-name">{%trans "Iran"%}</div>
{%else%}
          <div class="country-name">{%trans "Iran"%}</div>
          <div class="locality">{%trans "Qom"%}</div>
          <div class="street-address">{%trans "Najmeh Park, Fatemi St"%}</div>
          <div class="extended-address">{%trans "Najmeh Shabestan"%}</div>
{%endif%}
          <div class="postal-code">{{"37156-53142" | fitNumber }}</div>
        </div>
        <div class="email ltr">my.Khadije@outlook.com</div>
        <a class="tel ltr" href="tel:+982537740357">{{"(+98) 25" | fitNumber}} {{"3774 0357" | fitNumber}}</a>
        <a class="tel ltr" href="tel:+982537740358">{{"(+98) 25" | fitNumber}} {{"3774 0358" | fitNumber}}</a>
       </address>
{%endblock%}



{%block ContactForm%}

  {%if tempTicketCodeURL%}
  <div class="msg success2 txtC"><a data-direct href="{{tempTicketCodeURL}}">{%trans "You can access the ticketing status through this link"%}</a></div>
  {%endif%}

  <form method="post" data-clear autocomplete="off">
{%if login and false%}
{%else%}
    <div class="f">
      <div class="c s12 mB5 pRa5">{{block ("iName")}}</div>
      <div class="c s12 mB5 pRa5">{{block ("iEmail")}}</div>
      <div class="c s12 mB5">{{block ("iMobile")}}</div>
      <input type="text" name="username" class="hide" value="">
    </div>
{%endif%}
    <div class="f">
      <div class="c">{{block ("iMsg")}}</div>
    </div>
    <div class="f">
      <div class="c">{{block ("iSubmit")}}</div>
    </div>
  </form>
{%endblock%}


{%block iName%}
    <div class="input">
     <label class="addon" for="name">{%trans "Name"%}</label>
     <input type="text" name="name" id="name" placeholder='{%trans "Full Name"%}' maxlength='40' value="{{user.displayname}}">
    </div>
{%endblock%}


{%block iMobile%}
    <div class="input">
     <label class="addon" for="mobile">{%trans "Mobile"%}</label>
     <input type="tel" name="mobile" id="mobile" placeholder='{%trans "Mobile"%}' maxlength="13" autocomplete="off" data-validity='{%trans "Please enter valid mobile number. `:val` is incorrect"%}' value="{{user.mobile}}">
    </div>
{%endblock%}


{%block iEmail%}
    <div class="input">
     <label class="addon" for="email">{%trans "Email"%}</label>
     <input type="email" name="email" id="email" placeholder='mail@example.com' maxlength='40'>
    </div>
{%endblock%}


{%block iMsg%}
    <textarea class="c txt mT5" name="content" placeholder='{%trans "Your Message"%}' rows="8" minlength="5" maxlength="1000" data-resizable></textarea>
{%endblock%}


{%block iSubmit%}
    <div class="input mTB10">
     <button type="submit" name="submit-contact" class="btn block primary">{%trans "Send"%}</button>
    </div>
{%endblock%}



