*.DS_Store
desktop.ini
*sitemap.xml
*Thumbs.db
*tg.json
*.me.*
/public_html/files
/content/cronjob/*.txt
*engine/cronjob/crontab.txt
/public_html/sitemap
/public_html/sitemap.xml

/includes/database/backup
/includes/database/log
/includes/database/version
/includes/log
/includes/smstemplate
/includes/smstemplate/list.json
/dash
*smstemplate/list.json

*sftp-config.json
*.me.php
