{%extends display.cpMain%}

{%block pageContent%}
<div class="f justify-center">
	<div class="c6">
		<div class="cbox">
			<form method="post" autocomplete="off">
				{{block('ititle')}}
				{{block('isubtitle')}}
				{{block('igroup')}}
				{{block('idesc')}}
				{{block('icondition')}}
				{{block('iconditionsend')}}
				{{block('iprice')}}
				{{block('imultiuse')}}
				{{block('istatus')}}
				{{block('iadd')}}
			</form>
		</div>
	</div>
</div>
{%endblock%}


{%block ititle %}
<label for="title">{%trans "Title"%} <small class="fc-red">* {%trans "Require"%}</small></label>
<div class="input">
  <input type="text" name="title" id="title" placeholder='{%trans "Title of festival course"%} *' value="{{dataRow.title}}" autofocus required maxlength='200' minlength="1" pattern=".{1,200}" title='{%trans "Enter a valid title"%}'>
</div>
{% endblock %}


{%block isubtitle %}
<label for="subtitle">{%trans "Subtitle"%}</label>
<div class="input">
  <input type="text" name="subtitle" id="subtitle" placeholder='{%trans "Subtitle of festival course"%}' value="{{dataRow.subtitle}}"  maxlength='200' minlength="1" pattern=".{1,200}" title='{%trans "Enter a valid subtitle"%}'>
</div>
{% endblock %}

{%block igroup %}
<label for="group">{%trans "Group"%} </label>
<div class="input">
  <input type="text" name="group" id="group" placeholder='{%trans "Group of festival course"%}' value="{{dataRow.group}}"  maxlength='200' minlength="1" pattern=".{1,200}" title='{%trans "Enter a valid group"%}'>
</div>
{% endblock %}


{%block istatus%}

<div class="mT3">
 <label >{%trans "Status"%}</label>

 <div class="radio1 green">
  <input type="radio" id="r-enable" name="status" value="enable" {%if dataRow.status == 'enable' or not dataRow.status %} checked{%endif%}>
  <label for="r-enable">{%trans "Enable"%}</label>
 </div>


 <div class="radio1 red mB25">
  <input type="radio" id="r-disable" name="status" value="disable" {%if dataRow.status == 'disable'  %} checked{%endif%}>
  <label for="r-disable">{%trans "Disable"%}</label>
 </div>

</div>
{%endblock%}


{%block idesc%}
<label for="desc">{%trans "Description"%}</label>
<textarea class="txt mB10" id="desc" data-editor name="desc" placeholder='{%trans "Write description of festival course"%}' rows="3">{{dataRow.desc}}</textarea>
{%endblock%}


{%block icondition%}
<label for="condition">{%trans "Condition"%}</label>
<textarea class="txt mB10" id="condition" data-editor name="condition" placeholder='{%trans "Write condition of festival course"%}' rows="3">{{dataRow.condition}}</textarea>
{%endblock%}


{%block iconditionsend%}
<label for="conditionsend">{%trans "Condition send"%}</label>
<textarea class="txt mB10" id="conditionsend" data-editor name="conditionsend" placeholder='{%trans "Write conditionsend of festival course"%}' rows="3">{{dataRow.conditionsend}}</textarea>
{%endblock%}

{%block iprice %}
<label for="price">{%trans "Pirce"%} </label>
<div class="input">
  <input type="number" name="price" id="price" placeholder='{%trans "Price of festival course"%}' value="{{dataRow.price}}"  maxlength='200' minlength="1" pattern=".{1,200}" title='{%trans "Enter a valid pirce"%}'>
</div>
{% endblock %}


{%block imultiuse%}
<div class="switch1 mB10">
 <input type="checkbox" name="multiuse" id="multiuse" {%if dataRow.multiuse %}checked{%endif%}>
 <label for="multiuse"></label>
 <label for="multiuse">{%trans "Multiuse"%}</label>
</div>
{%endblock%}


{%block iadd%}
<button class="btn primary block mT20">{%trans "Add"%}</button>
{%endblock%}

{%block isave%}
<button class="btn primary block mT20">{%trans "Save"%}</button>
{%endblock%}


