{%extends display.admin%}
{%use 'content_a/protection/pageStep.html' %}

{%block pageContent%}
{{block ('pageStep')}}

<form method="post" autocomplete="off">
  <div class="f justify-center">
    <div class="c6 s12 m8">
      <div class="cbox">
        {%if dataRow.status == 'draft'%}
        <p class="mB10">
          <b>{%trans "Please enter your bank account number information."%}</b>
          <br>
          <small>{%trans "This account number will be used to pay you for the support package of the institution"%}</small>

        </p>


        <label>{%trans "bankshaba"%}</label>
        <div class="input">
          <input type="text" name="bankshaba" value="{%if dataRow.bankshaba%}{{dataRow.bankshaba}}{%else%}{{enableProtection.bankshaba}}{%endif%}">
        </div>
        <label>{%trans "bankhesab"%}</label>
        <div class="input">
          <input type="text" name="bankhesab" value="{%if dataRow.bankhesab%}{{dataRow.bankhesab}}{%else%}{{enableProtection.bankhesab}}{%endif%}">
        </div>
        <label>{%trans "bankcart"%}</label>
        <div class="input">
          <input type="text" name="bankcart" value="{%if dataRow.bankcart%}{{dataRow.bankcart}}{%else%}{{enableProtection.bankcart}}{%endif%}">
        </div>
        <label>{%trans "bankname"%}</label>
        <div class="input">
          <input type="text" name="bankname" value="{%if dataRow.bankname%}{{dataRow.bankname}}{%else%}{{enableProtection.bankname}}{%endif%}">
        </div>
        <label>{%trans "bankownername"%}</label>
        <div class="input">
          <input type="text" name="bankownername" value="{%if dataRow.bankownername%}{{dataRow.bankownername}}{%else%}{{enableProtection.bankownername}}{%endif%}">
        </div>

        <div class="txtRa">
          <button class="btn primary">{%trans "Save"%}</button>
        </div>
        {%else%}

          <div class="msg">{%trans "bankshaba"%} <b>{%if dataRow.bankshaba%}{{dataRow.bankshaba}}{%else%}{{enableProtection.bankshaba}}{%endif%}</b></div>
          <div class="msg">{%trans "bankhesab"%} <b>{%if dataRow.bankhesab%}{{dataRow.bankhesab}}{%else%}{{enableProtection.bankhesab}}{%endif%}</b></div>
          <div class="msg">{%trans "bankcart"%} <b>{%if dataRow.bankcart%}{{dataRow.bankcart}}{%else%}{{enableProtection.bankcart}}{%endif%}</b></div>
          <div class="msg">{%trans "bankname"%} <b>{%if dataRow.bankname%}{{dataRow.bankname}}{%else%}{{enableProtection.bankname}}{%endif%}</b></div>
          <div class="msg">{%trans "bankownername"%} <b>{%if dataRow.bankownername%}{{dataRow.bankownername}}{%else%}{{enableProtection.bankownername}}{%endif%}</b></div>

        {%endif%}
      </div>
    </div>
  </div>
</form>
{%endblock%}
