body{
	min-height: 100%;
	height: 100%;

	background: #073440;
    background:url('../../images/homepage-v3/pattern-body.png'),  radial-gradient(ellipse at center,rgba(29,170,170,1) 0,rgba(7,34,55,1) 100%);
    background-attachment: fixed;
    overflow-x: hidden!important;
    user-select: none;
}

main{
	position: relative;
	overflow:hidden;
	min-height: 450px;
}

.videobg {
    opacity: .6;
    min-width: 100%;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    width: auto;
    height: 100%;
    position: fixed;
    /*transition: transform 2.5s cubic-bezier(.72,.01,.07,1.05);*/
    object-fit: cover;
    z-index: 0
}

.lottery{
	font-family: 'IRANYekan';
	min-height: 100%;
	font-size: 1.4em;
	overflow: hidden;
	z-index: 1;
	position: relative;
}
.lottery footer{
	height: 160px;
	overflow: hidden;
	font-weight: 800;
	padding: 60px 5% 25px;
	color: #fff;
	text-align: center;
	background-color: rgba(0,0,0,0.1);
	background-image:url('../../images/homepage-v3/header-pattern.png');

	animation: animatedBackground 60s linear infinite;
	-webkit-transform: translateZ(0);
	-webkit-animation-name: animatedBackground;
	-webkit-animation-duration: 60s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-delay: 0.01s;
	box-shadow: 0 2px 10px #000;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
}
.lottery footer h1{
	line-height: 40px;
	margin: 0;
	font-size: 1.6em;
}


.numbers{
	height: 100px;
	margin: 40px auto 10px;
	text-align: center;
	position: relative;
	direction: ltr;
	width: 1100px;
}
.numbers span{
	width: 100px;
	min-width: 100px;
	max-width: 100px;
	height: 100px;
	margin: 5px;
	line-height: 110px;
	font-size: 5em;
	display: inline-block;
	border-radius: 10px;
	overflow: hidden;
	background-color: rgba(0,0,0,0.3);
	transition: 0.3s;
	color: #fff;
	text-align: center;
	float: left;
	display: none;
}
.numbers span.yes{
	background-color: rgba(0,0,0,0.9);
}
.winners{
	padding: 10px 0px;
	font-size: 1.5em;
	width: 1100px;
	margin: 0 auto;
}
.winners .c3{
	/*min-height: 70px;*/
}
.winners .person {
	border-radius: 1rem;
	overflow: hidden;
	background-color: rgba(255,255,255,0.1);
	margin: 5px 5px 10px;
	color: #fff;
	transition: 0.3s;
	padding: 10px 1em;
	display: none;
	min-height: 100px;
}
.winners .person .key{
	width: 50px;
	font-size: 1.5em;
	text-align: center;
}
.winners .person .name{
	display: block;
	line-height: 60px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 700;
	font-size: 1.5em;
	line-height: 50px;
}
.winners .person .more{

	line-height: 30px;
}
.winners .person .province{
	display: block;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    /*font-weight: 100;*/
}
.winners .person .value{
	letter-spacing: 5px;
	direction: ltr;
}

.winners .person.credit{
	line-height: 40px;
	font-size: 0.8em;
}



.startBtn {
	position: relative;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	align-items: center;
	justify-items: center;
	overflow: hidden;
	padding: 4rem 1.5rem;

	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 2;

	text-align: center;

}
.theme-6 {
	--color-item-bg: linear-gradient(120deg,#9C27B0,#090772);
	--color-action: #f7d337;
	--color-button-bg: #f7d337;
	--color-button-text: #000000;
	--radius-button: 200px;
	--border-button: 0;
	font-size: 2em;
	font-weight: 900;
}

.particles {
	position: relative;
	grid-area: 1 / 1 / 2 / 2;
}

.particles-canvas {
	position: absolute;
	pointer-events: none;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-50%,0);
}

.particles-wrapper {
	position: relative;
	display: inline-block;
	overflow: hidden;
	will-change: transform;
}

.particles-button {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: relative;
	border-radius: 5px;
	border-radius: var(--radius-button);
	background: var(--color-button-bg);
	color: var(--color-button-text);
	border: 0;
	border: var(--border-button);
	margin: 0;
	padding: 1em 3em;
	font-size: 1.5em;
	will-change: transform;
	font-weight: 900;
}

.particles-button:focus {
	outline: none;
}

.no-js .particles-button {
	grid-area: 1 / 1 / 2 / 2;
}


@media (max-width: 1024px) {
	.lottery{display: none!important;}
}

@media screen and (max-height: 500px) {
	.lottery{display: none!important;}
}
