{%extends display.khadijeCpMain%}


{%block content%}
<div class="f">

	<a class="dcard x2" href='{{url.baseFull}}/options/product'>
	 <div class="statistic">
	  <div class="value"><i class="sf-credit-card"></i></div>
	  <div class="label">{%trans "Product"%}</div>
	 </div>
	</a>

	<a class="dcard x2" href='{{url.baseFull}}/options/cityplace'>
	 <div class="statistic">
	  <div class="value"><i class="sf-credit-card"></i></div>
	  <div class="label">{%trans "City Place"%}</div>
	 </div>
	</a>

	<a class="dcard x2" href='{{url.baseFull}}/options/donate'>
	 <div class="statistic">
	  <div class="value"><i class="sf-credit-card"></i></div>
	  <div class="label">{%trans "Donate"%}</div>
	 </div>
	</a>

</div>

{%endblock%}