{%extends 'content_smsapp/layout.html'%}




{%block pageContent%}

<div class="f justify-center">
  <div class="c6 s12">
    <div class="cbox">
      <form method="post" autocomplete="off"  data-timeout="0">
        <input type="hidden" name="export" value="1">
        <h3>خروج از شماره تلفن‌های پیامک‌ها در بازه زمانی خاص</h3>
        <p>شما می‌توانید کلمه خاصی را در متن پیامک‌های دریافت شده جستجو کنید و از آنها خروجی بگیرید
          <br>
          همچنین اگر شماره تلفن همراهی وارد کنید تنها پیامک‌های ارسالی از آن شماره تلفن همراه را در خروجی خواهید داشت.
        </p>
             <div class="f mT20">

            <div class="c6 s12 mB5">
              <div class="input ltr">
                <input class="datepicker" type="text" name="startdate" placeholder='{%trans "Start date"%}' id="startdate"  value="{{dataRow.startdate}}" maxlength='20' data-format="YYYY/MM/DD"data-view="day">
              </div>
              <label for="starttime"></label>
              <div class="input clockpicker" data-placement="top" data-align="left">
                <input type="text" name="starttime" id="starttime" value="{%if dataRow.startdate%}{{dataRow.startdate | date('H:i')}}{%endif%}" placeholder='زمان شروع' autocomplete="off">
              </div>
            </div>


            <div class="c6 s12 mB5 pLa5">
              <div class="input ltr">
                <input class="datepicker" type="text" name="enddate" placeholder='{%trans "End date"%}' id="enddate"  value="{{dataRow.enddate}}" maxlength='20' data-format="YYYY/MM/DD"data-view="day">
              </div>
               <label for="endtime"></label>
              <div class="input clockpicker" data-placement="top" data-align="left">
                <input type="text" name="endtime" id="endtime" value="{%if dataRow.enddate%}{{dataRow.enddate | date('H:i')}}{%endif%}" placeholder='زمان پایان' autocomplete="off">
              </div>
            </div>

          </div>

          <div class="f mB20">
            <div class="c6 s12">
              <div class="input">
                <input type="text" name="q" placeholder='{%trans "Search"%}' value="{{requestGET.q}}">
              </div>
            </div>
            <div class="c6 s12">
              <div class="input mLa5">
                <input type="tel" name="mobile" placeholder='{%trans "Mobile"%}' value="{{requestGET.mobile}}">
              </div>
            </div>
          </div>

          <div class="msg">
            در صورتی که این گزینه فعال باشد فقط شماره تلفن‌های همراه در خروجی خواهد بود و در غیر این صورت شماره تلفن همراه با متن پیامک ارسال شده باهم در خروجی خواهند بود.
            <div class="check1">
              <input type="checkbox" id="onlymobile" name="onlymobile">
              <label for="onlymobile">فقط شماره‌های تلفن همراه را می‌خواهم</label>
            </div>
          </div>



          <div class="txtRa">
            <button class="btn success">دریافت فایل خروجی</button>
          </div>

      </form>
    </div>
  </div>
</div>

{%endblock%}



