{%block donateProduct%}

{%if  paymentVerifyMsg %}
<div class="msg txtC {%if paymentVerifyMsgTrue %}success{%else%}danger{%endif%}">{{ paymentVerifyMsg}}</div>
{%endif%}

<div class="f">
 <div class="c4 pRa10">
{{block ('donateFormProduct')}}
 </div>
 <div class="c8">
{{block ('payProductBox')}}
 </div>
</div>
{%endblock%}


{%block donateFormPay%}


<div class="f justify-center">
  <div class="c6 s12">
    <div class="cbox fs10">
{%if  paymentVerifyMsg %}
      <div class="msg txtC {%if paymentVerifyMsgTrue %}success{%else%}danger{%endif%}">{{ paymentVerifyMsg}}</div>
{%endif%}
      <form method="post" autocomplete="off">

        <div class="f">
          <div class="c pRa5">{{block ('iFullname')}}</div>
          <div class="c">{{block ('iMobile')}}</div>
        </div>
        <input type="hidden" name="username" value="">
        {{block ('iNiyat') }}
        {{block ('iAmount') }}
        {{block ('iWay') }}
        {{block ('iDonersList')}}
        {{block ('iDirectPay')}}
        {{block ('iPayWay')}}
        {{block ('ipay')}}
      </form>
    </div>
  </div>

{{block ('donateArchive')}}
</div>


{%endblock%}

{%block iPayWay%}

  <div class="radioGateway">
   <input type="radio" name="bank" value="asanpardakht" id="asanpardakht" checked>
   <label for='asanpardakht' class="spay-64-asanpardakht"></label>
  </div>

  <div class="radioGateway">
   <input type="radio" name="bank" value="payir" id="payir">
   <label for='payir' class="spay-64-payir"></label>
  </div>

  <div class="radioGateway">
   <input type="radio" name="bank" value="ZarinPal" id="ZarinPal">
   <label for='ZarinPal' class="spay-64-zarinpal"></label>
  </div>


{%endblock%}



{%block donateFormProduct%}
 <form method="post" class="cbox" autocomplete="off">
   {{block ('iFullname')}}
   {{block ('iMobile')}}
   {{block ('iEmail')}}
   <input type="hidden" name="username" value="">
   {{block ('iNiyat') }}
   {{block ('iAmountLock') }}
   {{block ('ipay')}}
 </form>

{%endblock%}



{%block donateArchive%}
{%if donateArchive %}
  <div class="c5 s12 pLa25">
   <div class="cbox fs09">

    <h4 class="txtC">{%trans "List of last success donations of yours"%}</h4>
{%for key, value in donateArchive%}
    <div class="msg f" {%if value.niyat%} title='{%trans "Your niyat is" %} {{value.niyat}}' {%endif%}>
      <div class="c"><b>{{value.plus | fitNumber}}</b> {%trans "Toman"%}</div>
      <div class="c">
{%if value.doners%}
{%if value.fullname%}
        <div class="badge primary">{{value.fullname}}</div>
{%else%}
        <div class="badge success">{%trans "Untitled"%}</div>
{%endif%}
{%else%}
        <div class="badge">{%trans "Anonymous"%}</div>
{%endif%}

      </div>
    <div class="c">
    {%if value.hazinekard%}
        <div class="badge light">{{value.hazinekard}}</div>
    {%endif%}
    </div>

      <div class="cauto os" title='{{value.date | tdate("Y/m/d H:i") }}'> {{value.date | sdate('year') }}</div>
    </div>
{%endfor%}
    <div class="msg simple txtC">{%trans "Thanks"%} <span class="sf-heart fc-red"></span></div>
   </div>
  </div>
{%endif%}
{%endblock%}



{%block payProductBox%}

{%if need%}
  <div class="cbox donateProduct">
    <div class="f">
      {%for key, value in need%}
      <div class="c4 s12">
         <div class="vcard green mA5">
                  {%if value.fileurl%}
            <img src="{{value.fileurl}}">
          {%else%}
            <img src="{{url.site}}/static/siftal/images/default/image.png">
          {%endif%}
            <div class="content">
              <div class="header">{{value.title}}</div>
              <div class="meta">
                <span>{%trans "Requested"%} {{value.request | number_format | fitNumber}}</span>
                <span class="badge">{{value.amount | number_format | fitNumber}} {%trans "Toman"%}</span>
              </div>
            </div>
            <div class="footer">
              <div class="input">
               <input type="number" name="{{value.id}}" placeholder='{%trans "Your help"%}' min='1' title='{%trans "Enter a valid number"%}' data-price='{{value.amount}}'>
               <span class="addon">{{value.amount | number_format | fitNumber}}</span>
              </div>

            </div>
          </div>
      </div>
      {%endfor%}

    </div>
  </div>
{%endif%}
{%endblock%}





{%block ipay%}
<button class="btn primary block mT25 mB10">{%trans "Pay"%}</button>
{%endblock%}



{%block iName%}
<label for='fname'>{%trans "First name"%}</label>
<div class="input">
 <input type="text" name="firstname" placeholder='{%trans "Your name"%}' maxlength='50' minlength="1" pattern=".{1,50}" title='{%trans "Enter a valid name"%}' id='fname' autofocus>
</div>
{%endblock%}


{%block iFullname%}
<label for='ffamily'>{%trans "Full name"%}</label>
<div class="input">
 <input type="text" name="fullname" value="{{user.displayname}}" placeholder='{%trans "Your Name"%}' maxlength='50' pattern=".{1,50}" title='{%trans "Enter first name and last name to show in doners list or leave it blank"%}' id='ffamily' {%if user.permission == 'admin' or user.permission == 'supervisor'%}{%else%} value='{{user.displayname}}'{%endif%}>
</div>
{%endblock%}





{%block iMobile%}
<label for='fmobile'>{%trans "Mobile"%}</label>
<div class="input">
 <input type="tel" name="mobile" value="{{user.mobile}}" placeholder='{%trans "Your mobile number"%}' maxlength='50' minlength="1" pattern=".{1,50}" title='{%trans "If you enter your mobile, we send verify of payment via SMS to this number"%}' id='fmobile' {%if user.permission == 'admin' or user.permission == 'supervisor'%}{%else%} value='{{user.mobile}}'{%endif%}>
</div>
{%endblock%}



{%block iEmail%}
<label for='femail'>{%trans "Email"%}</label>
<div class="input">
 <input type="email" name="email" placeholder='{%trans "Email"%}' maxlength='50' minlength="1" pattern=".{1,50}" title='{%trans "Enter a valid email"%}' id='femail' value='{{user.email}}'>
</div>
{%endblock%}





{%block iNiyat%}
<label for='fniyat'>{%trans "Intent"%}</label>
<div class="input">
 <input type="text" name="niyat" placeholder='{%trans "Intention to donate this fee"%}' maxlength='50' pattern=".{1,50}" title='{%trans "It is optional and depending on your intention can enter it"%}' id='fniyat'>
</div>
{%endblock%}



{%block iAmount%}
<label for='totalAmount'>{%trans "Pay Amount"%} <small class="fc-red">* {%trans "Require"%}</small></label>
<div class="input">
 <input type="number" name="amount" placeholder='{%trans "Pay Amount"%} {%trans "Toman"%}*' title='{%trans "Amount of your donation"%} {%trans "Toman"%}' id='totalAmount' required>
  <span class="addon">{%trans "Toman"%}</span>
</div>
{%endblock%}


{%block iAmountLock%}
<label for='totalAmount'>{%trans "Total Pay Amount"%} <small class="fc-red">* {%trans "Require"%}</small></label>
<div class="input">
 <input type="number" name="amount" placeholder='{%trans "Pay Amount"%}' id='totalAmount' required readonly>
</div>
{%endblock%}


{%block iDonersList%}
<label class="mT20">{%trans "Show in public doners list?"%} <a href="{{urlRaw}}/doners" target="_blank">{%trans "Check doners list"%}</a></label>
 <div class="c radio1">
  <input type="radio" id="r-yes" name="doners" value="yes" checked>
  <label for="r-yes">{%trans "Yes, show my name and price"%}</label>
 </div>

 <div class="c radio1 black">
  <input type="radio" id="r-no" name="doners" value="no">
  <label for="r-no">{%trans "No, Show as anonymous"%}</label>
 </div>
{%endblock%}


{%block iDirectPay%}
{%if user.permission == 'admin' or user.permission == 'supervisor' and false%}
 <div class="switch1 mT20">
 <input type="checkbox" name="manualPay" id="manualPay">
 <label for="manualPay"  data-on='{%trans "Manual"%}' data-off='{%trans "Normal"%}'></label>
 <label for="manualPay">{%trans "Admin direct pay"%}</label>
</div>
{%endif%}
{%endblock%}


{%block iWay%}
<label>{%trans "Spending method"%}</label>

{%if wayList|length < 6%}

{%for key, myWay in wayList%}
 <div class="radio1 green">
  <input type="radio" id="r-{{myWay.title}}" name="way" value="{{myWay.title}}">
  <label for="r-{{myWay.title}}">{{myWay.title}}</label>
 </div>
{%endfor%}

{%else%}

<div class="input">
 <select name="way" class="select">
   <option value="">{%trans "Please select one item"%}</option>
   {%for key, value in wayList%}
    <option value="{{value}}">{{value}}</option>
   {%endfor%}
 </select>
</div>

{%endif%}

{%endblock%}


