<div class="msg primary2 fs16">
  <div class="f">
    <div class="cauto s6">
        <img class="avatar" src="{{sendDetail.avatar}}" >
    </div>
    <div class="cauto mLR10 s6">{%trans cityPlace%}</div>
    <div class="c s6">
      {%set myJob = sendDetail.job | capitalize%}
      {%set myCity = sendDetail.city%}
      <span class="fc-mute">{%trans myJob%}</span>
      {{sendDetail.firstname}}
      <b>{{sendDetail.lastname}}</b>
    </div>
    <div class="c">{{sendDetail.mobile  | fitNumber('mobile')}}</div>
    <div class="c s6">{%trans "To city"%} <b>{%trans myCity%}</b></div>
  </div>
</div>


  <div class="f">

   <div class="c s6">
    <a class="dcard {%if url.child == 'view' %}active{%endif%}" href='{{url.this}}/view?id={{requestGET.id}}'>
     <div class="statistic">
      <div class="value"><i class="sf-paper-plane"></i></div>
      <div class="label">{%trans "Dispatch detail"%}</div>
     </div>
    </a>
   </div>

   <div class="c s6">
    <a class="dcard {%if url.child == 'edit' %}active{%endif%}" href='{{url.this}}/edit?id={{requestGET.id}}'>
     <div class="statistic">
      <div class="value"><i class="sf-edit"></i></div>
      <div class="label">{%trans "Edit detail"%}</div>
     </div>
    </a>
   </div>

    <div class="c s6">
    <a class="dcard {%if url.child == 'assessment' %}active{%endif%}" href='{{url.this}}/assessment?id={{requestGET.id}}'>
     <div class="statistic">
      <div class="value"><i class="sf-search"></i></div>
      <div class="label">{%trans "Assessment"%}</div>
     </div>
    </a>
   </div>



   <div class="c s6">
    <a class="dcard {%if url.child == 'billing' %}active{%endif%}" href='{{url.this}}/billing?id={{requestGET.id}}'>
     <div class="statistic">
      <div class="value"><i class="sf-card"></i></div>
      <div class="label">{%trans "Billing"%}</div>
     </div>
    </a>
   </div>



  </div>