{%extends display.mvc%}



{%block body%}
{{block('pageHeader')}}

 <div class="wrapper2" data-xhr='wrapper'>
{%block content%}
  <div class="page-title">
   <div class="cn">
<!-- {%if page.title%}
    <h1><a href="{{url.pwd}}">{{page.title}}</a></h1>
{%endif%}
{%if page.desc%}
    <h2>{{page.desc}}</h2>
{%endif%} -->
   </div>
  </div>

{%block pageData%}
  <div class="pc">
   <div class="cn">
{%block page%}{%endblock%}
   </div>
  </div>
{%block pageExtra%}{%endblock%}
{%endblock%}
{%endblock%}
 </div>
{{block('pageFooter')}}
{%endblock%}





{%block pageHeader%}
 <header id='sHeader' data-scroll>
  <div class="cn">
    <div class="f">
      <div class="cauto">
        <a href="{{url.base}}/" class="brand">
          <img src="{{url.site}}/static/images/homepage-v3/header-logo-fa.png" alt='{{site.title}} | {{site.desc}}' title='{{site.desc}}'>
          <h1>{{site.title}}</h1>
          <h2>{{site.desc}}</h2>
        </a>
      </div>
      <div class="c">
       {{langList({'html':true, 'all': true})}}
       <div class="hadith m0 s0">پیامبر اکرم صلی الله:  اگر دین به ستاره ثریّا رسد، هر آینه مردى از سرزمین پارس ـ یا این كه فرموده از فرزندان فارس ـ به آن دست خواهند یازید.</div>
      </div>
    </div>
  </div>
 </header>
 <nav id="sHeaderNav">
  <div class="cn">
   <div class="wrapper f">
    <div class="mainNav sB1 c s0">
     <a href="{{url.base}}/"><span class="sf-home pRa5 fs12"></span>{%trans "Homepage"%}</a>
     <a href="{{url.base}}/about">{%trans "About"%}</a>
     <a href="{{url.base}}/blog">{%trans "News"%}</a>
     <a href="{{url.base}}/khadije">{%trans "Khadije Wiki"%}</a>
     <a href="{{url.base}}/services">{%trans "Services"%}</a>
     <a href="{{url.base}}/delneveshteha">{%trans "Self expressions"%}</a>
     <a href="{{url.base}}/festival">{%trans "Festival"%}</a>
    </div>
    <div class="donate sB2 cauto">
     <a href="{{url.base}}/donate">{%trans "Donate"%}</a>
    </div>
   </div>
  </div>
 </nav>

 <div class="cn">
   <div class="wrapper">
    <div class="f justify-center">
      <div class="c8 s12 pRa10">
        <div class="slider">
          <img class="goldenB" src="{{url.site}}/static/images/homepage-v3/slider-sample.jpg" alt="sample">
        </div>
      </div>
      <div class="c3 sauto salavatBox">
        <div class="salavat goldenB">
          <img src="{{url.site}}/static/images/homepage-v3/salavat.png" alt='{%trans "O Allah, let Your Peace come upon Muhammad and the family of Muhammad"%}'>
          <div class="counter">{{"792046" | fitNumber}}</div>
          <div class="mB25">{%trans "You also partake in salawat"%}</div>
          <div class="Allah sB1">
            <a href="#">{%trans "Say salawat and press here"%}</a>
          </div>
        </div>
      </div>
    </div>
   </div>
 </div>
 <div class="cn">
   <div class="wrapper">
    <section class="f justify-center picto fs07">
      <div class="c">
        <a href="{{url.base}}/a/service">
          <div class="sprite-servants"></div>
          <h2>{%trans "Servants registration"%}</h2>
        </a>
      </div>
      <div class="c">
        <a href="{{url.base}}/virtual">
          <div class="sprite-virtual"></div>
          <h2>{%trans "Virtual pilgrimage"%}</h2>
        </a>
      </div>
      <div class="c">
        <a href="{{url.base}}/a/travel">
          <div class="sprite-travel"></div>
          <h2>{%trans "Collective or individual travel"%}</h2>
        </a>
      </div>
      <div class="c">
        <a href="{{url.base}}/a/deputy">
          <div class="sprite-deputy"></div>
          <h2>{%trans "Deputy pilgrimage"%}</h2>
        </a>
      </div>
      <div class="c">
        <a href="{{url.base}}/lottory">
          <div class="sprite-lottory"></div>
          <h2>{%trans "Balloting names"%}</h2>
        </a>
      </div>
    </section>
   </div>
 </div>


 <div class="cn">
   <div class="wrapper">
    <section class="billingInfo txtC mT50 mB25">
      <h3 class="sB3">{%trans "Join to the charity and participate in the pilgrimage reward"%}</h3>
      <p>{%trans "The financial credibility of this project is provided by cash and non-cash donations from benefactors and lovers of Ahlul-Bayt."%} {%trans "Therefore, donors and people who are willing participate in the pilgrimage plans of the Ahlul-Bayt, can pay their cash through the following methods."%}</p>
      <div class="f justify-center">
        <div class="c6 s12 pA5">
          <div class="f msg info2">
            <div class="s12 cauto"><span class="spay-64-melli mT10"></span></div>
            <div class="c txtC">
              <p>
                {%trans "Card number"%} <span class="ltr compact">{{"6037-9918-9994-4486" | fitNumber}}</span><br>
                {%trans "Account number"%} <span class="ltr compact">{{"0116221622004" | fitNumber}}</span><br>
                {%trans "Iranian bank Shaba number"%} <span class="ltr compact">{{"IR 19 0170 0000 0011 6221 6220 04" | fitNumber(false)}}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
   </div>
 </div>


 <div class="cn">
   <div class="wrapper">
    <section class="latestNews txtC mT50 mB25">
      <h3 class="sB3">{%trans "Latest News"%}</h3>
      <div class="goldenB f">
        <div class="c8">
          <img src="{{url.site}}/static/images/homepage-v3/slider-sample.jpg" alt="sample">
        </div>
        <div class="c4">
          <nav class="f f-column list">
            <a class="c f align-center justify-center" href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
            <a class="c f align-center justify-center" href="#">Lorem ipsum dolor sit amet, consectetur </a>
            <a class="c f align-center justify-center" href="#">Lorem ipsum dolor sit </a>
            <a class="c f align-center justify-center" href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
            <a class="c f align-center justify-center active" href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
            <a class="c f align-center justify-center" href="#">Lorem ipsum dolor sit amet, e et dolore magna aliqua. Ut enim ad minim ven</a>
            <a class="c f align-center justify-center" href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
            <a class="c txtRa archiveLink" href="{{url.base}}/blog">{%trans "Archive"%}</a>
          </nav>
        </div>
      </div>
    </section>
   </div>
 </div>






 <div class="cn">
   <div class="wrapper">
    <section class="f justify-center picto fs09">
      <div class="c4 s12">
        <a href="{{url.base}}/farahzad">
          <div class="sprite-farahzad"></div>
          <h2>{%trans "Mr.Farahzad's statement"%}</h2>
        </a>
      </div>
      <div class="c4 s12">
        <a href="{{url.base}}/imani">
          <div class="sprite-imani"></div>
        </a>
      </div>
      <div class="c4 s12">
        <a href="{{url.base}}/admin">
          <div class="sprite-adminContact"></div>
          <h2>{%trans "Contact with manager"%}</h2>
        </a>
      </div>
    </section>
   </div>
 </div>



{%if false%}
    <div class="title">
     <h1>
      <a href='{{url.base}}' tabindex='1'><span class="bold" title="{{site.desc}}">{{site.title}} {%if lang.current == 'fa'%} <small>سلام الله علیها</small>{%endif%}</span></a>
     </h1>
     <h2><a href='{{url.base}}' tabindex='2'>{{site.desc}}</a></h2>
    </div>
   <nav class="floatRa">
    <a href="{{url.base}}/about">{%trans "About"%}</a>
    <a href="{{url.base}}/a" data-direct>ثبت‌نام تشرف یا خادمی</a>
    <a href="{{url.base}}/donate" class="btn">{%trans "Donate"%}</a>
   </nav>
   <a class="logo" href='{{url.base}}' tabindex='-1'>
    <img src='{{url.site}}/static/images/logo.png' alt='{{site.title}} | {{site.desc}}'>
   </a>
<div id="sitesidebarHandler"></div>
<aside id='sitesidebar' class="unselectable scr">
  <ul class="sidenav" data-xhr="sidenav">
    <li><a tabindex='-1' href="{{url.base}}">صفحه نخست</a></li>
    <li><a tabindex='-1' href="{{url.base}}/about">درباره موسسه</a></li>
    <li><a tabindex='-1' href="{{url.base}}/donate">پرداخت کمک نقدی</a></li>
    <li><a tabindex='-1' href="{{url.base}}/a" data-direct>ثبت‌نام تشرف یا خادمی</a></li>
  </ul>
</aside>
{%endif%}
{%endblock%}



{%block pageFooter%}
<footer id='sFooter'>
  <a href="{{url.base}}/" class="brand">
    <img src="{{url.site}}/static/images/homepage-v3/khadije.svg" alt='{{site.desc}}' title='{{site.desc}}'>
    <h2>{{site.title}}</h2>
  </a>

  <div class="cn">
    <div class="f">
      <div class="c6 s12 pRa10">
        <p>{%trans "Khadijah cultural and artistic charity was established in 2015 with the purpose of developing the Ahlul-Bayt <small>peace be upon them</small> pilgrimage culture and with two priorities of Ahlul-Bayt pilgrimage and the revival of forgotten traditions such as sacrifice, giving food on Ghadir day and ... has continued its activities."%}</p>
      </div>
      <div class="c3 s6 pRa10">
        <h3>{{site.title}}</h3>
        <nav>
          <a href="{{url.base}}/about">{%trans "About"%}</a>
          <a href="{{url.base}}/misson">{%trans "Mission"%}</a>
          <a href="{{url.base}}/vison">{%trans "Vision"%}</a>
          <a href="{{url.base}}/honors">{%trans "Honors"%}</a>
          <a href="{{url.base}}/contact">{%trans "contact"%}</a>
        </nav>
      </div>
      <div class="c3 s6">
        <h3>{%trans "Encyclopedia of Hazrat Khadijah"%}</h3>
        <nav>
          <a href="{{url.base}}/wiki/biography">{%trans "Biography"%}</a>
          <a href="{{url.base}}/wiki/bibliography">{%trans "Bibliography"%}</a>
          <a href="{{url.base}}/wiki/about">{%trans "Specialized sites"%}</a>
        </nav>
      </div>
    </div>

    <hr>

    <div class="f">
      <div class="c s6">
        <h3>{%trans "Pilgrimage"%}</h3>
        <nav>
          <a href="{{url.base}}/seputy">{%trans "Deputy pilgrimage"%}</a>
          <a href="{{url.base}}/virtual">{%trans "Virtual pilgrimage"%}</a>
        </nav>
      </div>
      <div class="c s6">
        <h3>{%trans "Requests"%}</h3>
        <nav>
          <a href="{{url.base}}/a/travel">{%trans "Individual registration"%}</a>
          <a href="{{url.base}}/a/travel">{%trans "Group registration"%}</a>
          <a href="{{url.base}}/a/service">{%trans "Servants registration"%}</a>
        </nav>
      </div>
      <div class="c s6">
        <h3>{%trans "Services"%}</h3>
        <nav>
          <a href="{{url.base}}/a/advice">{%trans "Consulting service"%}</a>
          <a href="{{url.base}}/a/health">{%trans "Health service"%}</a>
        </nav>
      </div>
      <div class="c s6">
        <h3>{%trans "Help"%}</h3>
        <nav>
          <a href="{{url.base}}/donate">{%trans "Donate"%}</a>
          <a href="{{url.base}}/doners">{%trans "Doners"%}</a>
        </nav>
      </div>
      <div class="c s6">
        <h3>{%trans "Other Languages"%}</h3>
        {{langList({'html':true, 'all': true})}}
      </div>
    </div>

    <div class="f" id='copyright'>
      <div class="c">
        {{page.copyright | raw}}
      </div>
      <div class="cauto os s12" id='ermile'><a href="https://ermile.com" target='_blank' title='{%trans "Software Solution Designer"%}'>{%trans "Developed by Ermile"%}</a></div>
    </div>
  </div>
</footer>
{%endblock%}


{%block pageFooterOld%}
 <footer id='tfooter'>
  <div class="cn">
    <div class="f top">
      <div class="c s12"><h3><a href="{{url.base}}">{{site.title}}؛ {{site.desc}}</a></h3></div>
{%if not login.id%}
      <div class="cauto s12 os txtRa">
        <a href="{{url.base}}/enter" data-direct class="btn outline primary pRa10">{%trans "Enter"%}</a>
        <a href="{{url.base}}/enter/signup" data-direct class="btn outline primary pRa10">{%trans "Signup"%}</a>
      </div>
{%endif%}

    </div>
    <div class="f middle">
      <div class="c3 s12 pRa25">
        <p>موسسه‌ی فرهنگی هنری حضرت خدیجه در سال ۱۳۹۴ با هدف توسعه‌ی فرهنگ زیارت اهل بیت علیهم السلام تاسیس گردید. و با دو اولویت زیارت اهل بیت و احیای سنن فراموش شده از قبیل قربانی، اطعام غدیر و... فعالیت خود را ادامه داده است.</p>
      </div>

      <div class="c3 s12 pRa25">
         <h4><a href="{{url.base}}">{{site.title}}</a></h4>
         <nav>
          <a href="{{url.base}}/about">{%trans "About"%}</a>
          <a href="{{url.base}}/mission">{%trans "Misson & Target"%}</a>
          <a href="{{url.base}}/vision">{%trans "Vision"%}</a>
          <a href="{{url.base}}/honors">{%trans "Honors"%}</a>
          <a class="hide" href="{{url.base}}/faq">{%trans "FAQ"%}</a>
          <a href="{{url.base}}/contact">{%trans "Contact"%}</a>
         </nav>
      </div>

      <div class="c3 s12 pRa25">
         <h4>کمک</h4>
         <nav>
          <a href="{{url.base}}/donate">{%trans "Donate"%}</a>
          <a href="{{url.base}}/doners">{%trans "Doners"%}</a>
         </nav>
      </div>

      <div class="c3 s12 pRa25">
         <h4>درخواست تشرف</h4>
         <nav>
          <a href="{{url.base}}/a/trip" data-direct>ثبت‌نام تشرف انفرادی</a>
          <a href="{{url.base}}/a/group" data-direct>{%trans "Register for group trip"%}</a>
         </nav>

        {{block('pageSocialLinks')}}
      </div>
    </div>

    <div class="bottom f">
     <div class="c s12">تمام حقوق این وب‌سایت متعلق به <a href="{{url.base}}">{{site.title}}</a> سلام الله علیها می‌باشد.</div>
     <div class="cauto os s12" id='ermile'><a href="https://ermile.com" target='_blank'>{%trans "Developed by Ermile"%}</a></div>
    </div>
  </div>
 </footer>
{%endblock%}



{%block pageSocialLinks%}
<nav class="share1">
{%if social.facebook%}
  <a data-direct target='_blank' href="https://www.facebook.com/{{social.facebook}}" class="facebook">{{site.title}} facebook</a>
{%endif%}
{%if social.twitter%}
  <a data-direct target='_blank' href="https://twitter.com/{{social.twitter}}" class="twitter">{{site.title}} twitter</a>
{%endif%}
{%if social.googleplus%}
  <a data-direct target='_blank' href="https://plus.google.com/{{social.googleplus}}" class="googleplus">{{site.title}} google+</a>
{%endif%}
{%if social.telegram%}
  <a data-direct target='_blank' href="https://t.me/{{social.telegram}}" class="telegram" title='تلگرام'>{{site.title}} telegram</a>
{%endif%}
{%if social.instagram%}
  <a data-direct target='_blank' href="https://instagram.com/{{social.instagram}}" class="instagram" title='اینستاگرام'>{{site.title}} instagram</a>
{%endif%}
{%if social.linkedin%}
  <a data-direct target='_blank' href="https://www.linkedin.com/{{social.linkedin}}" class="linkedin">{{site.title}} linkedin</a>
{%endif%}
{%if social.aparat%}
  <a data-direct target='_blank' href="https://www.aparat.com/{{social.aparat}}" class="aparat" title='آپارات'>
    <img src="{{url.site}}/static/images/homepage/share/aparat_64.png" alt="aparat">
  </a>
{%endif%}
  <a data-direct target='_blank' href="https://eitaa.com/mhkhadije" class="aparat" title='ایتا'>
    <img src="{{url.site}}/static/images/homepage/share/eitaa.png" alt="eitaa">
  </a>
  <a data-direct target='_blank' href="https://sapp.ir/mhkhadije" class="aparat" title='سروش'>
    <img src="{{url.site}}/static/images/homepage/share/soroush.png" alt="soroush">
  </a>
{%if false%}
  <a data-direct target='_blank' href="{{url.base}}/rss" class="rss">{{site.title}} rss</a>
{%endif%}
</nav>
{%endblock%}



{%block facebook%}
 <meta property ="og:title"                content="{{pageTitle}}"/>
 <meta property ="og:description"          content="{{pageDesc}}"/>
 <meta property ="og:url"                  content="{{url.pwd}}"/>
 <meta property ="og:type"                 content="website"/>
{%block facebookImages%}
{%if lang.current == 'fa'%}
 <meta property ='og:locale'               content='fa_IR'/>
{%endif%}
{%if lang.current == 'fa'%}
 <meta property ="og:image"                content="{{url.site}}/static/images/share/og-wide-fa.png"/>
{%else%}
 <meta property ="og:image"                content="{{url.site}}/static/images/share/og-wide-en.png"/>
{%endif%}
 <meta property ="og:image:width"          content="525"/>
 <meta property ="og:image:height"         content="275"/>
 <meta property ="og:image"                content="{{url.site}}/static/images/share/og-square.png"/>
 <meta property ="og:image:width"          content="512"/>
 <meta property ="og:image:height"         content="512"/>
{%endblock%}
{%endblock%}

