{%extends display.mvc%}



{%block body%}
{{block('pageHeader')}}

 <div class="cn">
  <div class="wrapper" data-xhr='wrapper'>
{%block content%}
   <div class="pageTitle">
{%if page.title%}
    <h1><a href="{{url.pwd}}">{{page.title}}</a></h1>
{%endif%}
{%if page.desc%}
    <h2>{{page.desc}}</h2>
{%endif%}
  </div>
  <div class="pageData">
{%block pageData%}{%endblock%}
  </div>
{%endblock%}
  </div>
</div>

{{block('pageFooter')}}
{%endblock%}





{%block pageHeader%}
 <header id='sHeader' data-scroll>
  <div class="cn">
    <div class="f">
      <div class="cauto">
        <a href="{{url.base}}/" class="brand">
          <img src="{{url.site}}/static/images/homepage-v3/header-logo-fa.png" alt='{{site.title}} | {{site.desc}}' title='{{site.desc}}'>
          <h1>{{site.title}}</h1>
          <h2>{{site.desc}}</h2>
        </a>
      </div>
      <div class="c">
       {{langList({'html':true, 'all': true})}}
       <div class="hadith m0 s0">{%trans "If religion being in the Pleiades, people from Persia can obtainment to that"%}</div>
      </div>
    </div>
  </div>
 </header>
 <nav id="sHeaderNav">
  <div class="cn">
   <div class="headerLine f">
    <div class="mainNav sB1 c s0">
     <a href="{{url.base}}/"><span class="sf-home pRa5 fs12"></span>{%trans "Homepage"%}</a>
     <a href="{{url.base}}/about">{%trans "About"%}</a>
     <a href="{{url.base}}/blog">{%trans "News"%}</a>
     <a href="{{url.base}}/khadije">{%trans "Khadije Wiki"%}</a>
     <a href="{{url.base}}/services">{%trans "Services"%}</a>
     <a href="{{url.base}}/delneveshteha">{%trans "Self expressions"%}</a>
     <a href="{{url.base}}/festival">{%trans "Festival"%}</a>
    </div>
    <div class="donate sB2 cauto">
     <a href="{{url.base}}/donate">{%trans "Donate"%}</a>
    </div>
   </div>
  </div>
 </nav>


{%if false%}
<div id="sitesidebarHandler"></div>
<aside id='sitesidebar' class="unselectable scr">
  <ul class="sidenav" data-xhr="sidenav">
    <li><a tabindex='-1' href="{{url.base}}">صفحه نخست</a></li>
    <li><a tabindex='-1' href="{{url.base}}/about">درباره موسسه</a></li>
    <li><a tabindex='-1' href="{{url.base}}/donate">پرداخت کمک نقدی</a></li>
    <li><a tabindex='-1' href="{{url.base}}/a" data-direct>ثبت‌نام تشرف یا خادمی</a></li>
  </ul>
</aside>
{%endif%}
{%endblock%}



{%block pageFooter%}
<footer id='sFooter'>
  <a href="{{url.base}}/" class="brand">
    <img src="{{url.site}}/static/images/homepage-v3/khadije.svg" alt='{{site.desc}}' title='{{site.desc}}'>
    <h2>{{site.title}}</h2>
  </a>

  <div class="cn">
    <div class="f">
      <div class="c6 s12 pRa25">
        <div class="f">
          <div class="c">
            <p>{%trans "Khadijah cultural and artistic charity was established in 2015 with the purpose of developing the Ahlul-Bayt <small>peace be upon them</small> pilgrimage culture and with two priorities of Ahlul-Bayt pilgrimage and the revival of forgotten traditions such as sacrifice, giving food on Ghadir day and ... has continued its activities."%}
            </p>
{%if login.id%}
          <div>
            <a href="{{url.base}}/a" data-direct class="btn outline primary pRa10">{%trans "User Panel"%}</a>
          </div>
{%else%}
          <div>
            <a href="{{url.base}}/enter" data-direct class="btn outline primary pRa10">{%trans "Enter"%}</a>
            <a href="{{url.base}}/enter/signup" data-direct class="btn outline primary pRa10">{%trans "Signup in Khadije charity"%}</a>
          </div>
{%endif%}

          </div>
          <div class="cauto">
{%if lang.current =='fa' and false%}
           <div class="enamad">
            <a href="#enamad" id='enamad'><img src="{{url.site}}/static/images/cert/enamad1.png" alt='{%trans "Enamad"%}' onclick='window.open("https://trustseal.enamad.ir/Verify.aspx?id=70527&p=qgwldrfsyncrwkynqgwl", "Popup","toolbar=no, location=no, statusbar=no, menubar=no, scrollbars=1, resizable=0, width=580, height=600, top=30")'></a>
           </div>
{%endif%}
          </div>
        </div>

        {{block('pageSocialLinks')}}
      </div>
      <div class="c3 s6 pRa10">
        <h3>{{site.title}}</h3>
        <nav>
          <a href="{{url.base}}/about">{%trans "About"%}</a>
          <a href="{{url.base}}/misson">{%trans "Mission"%}</a>
          <a href="{{url.base}}/vison">{%trans "Vision"%}</a>
          <a href="{{url.base}}/honors">{%trans "Honors"%}</a>
          <a href="{{url.base}}/contact">{%trans "contact"%}</a>
        </nav>
      </div>
      <div class="c3 s6">
        <h3>{%trans "Encyclopedia of Hazrat Khadijah"%}</h3>
        <nav>
          <a href="{{url.base}}/wiki/biography">{%trans "Biography"%}</a>
          <a href="{{url.base}}/wiki/bibliography">{%trans "Bibliography"%}</a>
          <a href="{{url.base}}/wiki/about">{%trans "Specialized sites"%}</a>
        </nav>
      </div>
    </div>
    <hr>
    <div class="f">
      <div class="c s6">
        <h3>{%trans "Pilgrimage"%}</h3>
        <nav>
          <a href="{{url.base}}/seputy">{%trans "Deputy pilgrimage"%}</a>
          <a href="{{url.base}}/virtual">{%trans "Virtual pilgrimage"%}</a>
        </nav>
      </div>
      <div class="c s6">
        <h3>{%trans "Requests"%}</h3>
        <nav>
          <a href="{{url.base}}/a/trip">{%trans "Individual registration"%}</a>
          <a href="{{url.base}}/a/group">{%trans "Group registration"%}</a>
          <a href="{{url.base}}/a/service">{%trans "Servants registration"%}</a>
        </nav>
      </div>
      <div class="c s6">
        <h3>{%trans "Services"%}</h3>
        <nav>
          <a href="{{url.base}}/a/advice">{%trans "Consulting service"%}</a>
          <a href="{{url.base}}/a/health">{%trans "Health service"%}</a>
        </nav>
      </div>
      <div class="c s6">
        <h3>{%trans "Help"%}</h3>
        <nav>
          <a href="{{url.base}}/donate">{%trans "Donate"%}</a>
          <a href="{{url.base}}/doners">{%trans "Doners"%}</a>
        </nav>
      </div>
      <div class="c s6">
        <h3>{%trans "Other Languages"%}</h3>
        {{langList({'html':true, 'all': true})}}
      </div>
    </div>
    <div class="f" id='copyright'>
      <div class="c">
        {{page.copyright | raw}}
      </div>
      <div class="cauto os s12" id='ermile'><a href="https://ermile.com" target='_blank' title='{%trans "Software Solution Designer"%}'>{%trans "Developed by Ermile"%}</a></div>
    </div>
  </div>
</footer>
{%endblock%}



{%block pageSocialLinks%}
<nav class="shareC txtRa">
{%if social.facebook%}
  <a data-direct target='_blank' href="https://www.facebook.com/{{social.facebook}}" class="sprite-facebook">{{site.title}} facebook</a>
{%endif%}
{%if social.twitter%}
  <a data-direct target='_blank' href="https://twitter.com/{{social.twitter}}" class="sprite-twitter">{{site.title}} twitter</a>
{%endif%}
{%if social.googleplus%}
  <a data-direct target='_blank' href="https://plus.google.com/{{social.googleplus}}" class="sprite-googleplus">{{site.title}} google+</a>
{%endif%}
{%if social.telegram%}
  <a data-direct target='_blank' href="https://t.me/{{social.telegram}}" class="sprite-telegram" title='تلگرام'>{{site.title}} telegram</a>
{%endif%}
{%if social.instagram%}
  <a data-direct target='_blank' href="https://instagram.com/{{social.instagram}}" class="sprite-instagram" title='اینستاگرام'>{{site.title}} instagram</a>
{%endif%}
{%if social.linkedin%}
  <a data-direct target='_blank' href="https://www.linkedin.com/{{social.linkedin}}" class="sprite-linkedin">{{site.title}} linkedin</a>
{%endif%}
{%if social.aparat%}
  <a data-direct target='_blank' href="https://www.aparat.com/{{social.aparat}}" class="sprite-aparat" title='{%trans "Aparat"%}'>
  </a>
{%endif%}
  <a data-direct target='_blank' href="https://eitaa.com/mhkhadije" class="sprite-eitaa" title='{%trans "Eitaa"%}'>
  </a>
  <a data-direct target='_blank' href="https://sapp.ir/mhkhadije" class="sprite-sapp" title='{%trans "Soroush App"%}'>
  </a>
</nav>
{%endblock%}



{%block facebook%}
 <meta property ="og:title"                content="{{pageTitle}}"/>
 <meta property ="og:description"          content="{{pageDesc}}"/>
 <meta property ="og:url"                  content="{{url.pwd}}"/>
 <meta property ="og:type"                 content="website"/>
{%block facebookImages%}
{%if lang.current == 'fa'%}
 <meta property ='og:locale'               content='fa_IR'/>
{%endif%}
{%if lang.current == 'fa'%}
 <meta property ="og:image"                content="{{url.site}}/static/images/share/og-wide-fa.png"/>
{%else%}
 <meta property ="og:image"                content="{{url.site}}/static/images/share/og-wide-en.png"/>
{%endif%}
 <meta property ="og:image:width"          content="525"/>
 <meta property ="og:image:height"         content="275"/>
 <meta property ="og:image"                content="{{url.site}}/static/images/share/og-square.png"/>
 <meta property ="og:image:width"          content="512"/>
 <meta property ="og:image:height"         content="512"/>
{%endblock%}
{%endblock%}


