{%extends display.cpMain%}



{%block pageContent%}

	{%if not requestGET or requestGET.step == 'add' %}
		{{block('add_new_meeting')}}
	{%elseif requestGET.step == 'report'%}
		{{block('edit_old_meeting')}}
	{%endif%}

{% endblock %}



{%block add_new_meeting%}
<form class="f justify-center" method="post" autocomplete="off">
	<div class="c12 s12 pRa10">
		<div class="cbox">
			<div class="f">
				<div class="c8 s12 pRa5">
					{{block('iTitle')}}
				</div>
        <div class="c2 s6 pRa5">
            {{block('iPublishtime')}}
        </div>
        <div class="c2 s6">
            {{block('iPublishdate')}}
        </div>
			</div>
			{{block('iOrderBefore')}}
			{{block('iMembers')}}
			<button class="btn primary block mT20">{%trans "Save pre requirement of meeting as draft"%}</button>
		</div>
	</div>
</form>
{%endblock%}


{%block iPublishtime%}
<label for="publishtime">{%trans "Meeting time"%}</label>
<div class="input clockpicker ltr">
  <input type="text" name="publishtime" id="publishtime" placeholder='{%trans "Time"%}' autocomplete="off" {%if dataRow.publishdate %} value="{{dataRow.publishdate | date('H:i')}}" {%endif%}>
</div>
{%endblock%}




{%block edit_old_meeting%}
<form class="f justify-center" method="post" autocomplete="off">
	<div class="c12 s12 pRa10">
    <div class="cbox">
      <div class="msg info2 mB0">
        <div class="f">
          <div class="c">
            <div>{{dataRow.title}}</div>
            <div>{{dataRow.subtitle}}</div>
            <div>{{dataRow.meta.member}}</div>
          </div>
          <div class="c"></div>
        </div>
      </div>
    </div>
    <div class="cbox">
			{{block('iContent')}}
			<button class="btn primary block mT20">{%trans "Save and send meeting report"%}</button>
		</div>
	</div>
	<div class="cbox">
	   {{block('galleryImporter')}}
	   {{block('iGalleryShow')}}
	</div>
</form>
{%endblock%}








{%block iMembers %}
<div class="tagDetector">
  <label>{%trans "Meeting members"%}</label>
{%set postTag = dataRow.meta.member %}
  <div class="input mB10 hide">
    <input type="text" class="input tagVals" name="tag" value="{{postTag}}" id="tagValues" placeholder='{%trans "Tag"%}'>
  </div>

  <div class="input" title='{%trans "add name of invited person to list of members "%} {%trans "Type name of members and add them to meeting"%}'>
    <input type="text" class="tagInput" placeholder=''>
    <button class="addon tagAdd">{%trans "Add member"%}</button>
  </div>
  <div class="tagBox"></div>
</div>
{% endblock %}


{%block iPublishdate %}
<div title='{%trans "Date of meeting"%}'>
  <label for="publishdate">{%trans "Meeting date"%}</label>
  <div class="input ltr">
    <input class="datepicker" type="text" name="publishdate" id="publishdate" placeholder='{%trans "Date"%}' value="{{dataRow.publishdate}}" maxlength='15' data-format="YYYY/MM/DD" data-initialValue='false' data-view="day">
  </div>
</div>
{% endblock %}

{%block iTitle %}
<label for="title">{%trans "Meeting Title"%} <small class="fc-red">{%trans "Require"%} *</small></label>
<div class="input mB10">
  <input type="text" name="title" id="title" placeholder='' value="{{dataRow.title}}" autofocus required maxlength='300'>
</div>
{% endblock %}


{%block iOrderBefore %}
<label for="order">{%trans "Order of meeting"%}</label>
<div class="input mB10">
  <input type="text" name="order" id="order" placeholder='' value="{{dataRow.subtitle}}" maxlength='400'>
</div>
{% endblock %}




{%block iContent%}
<label for="descInput">{%trans "Type subject and approvals of meeting and any description you need."%}</label>
<textarea class="txt mB10" data-editor id='descInput' name="content" placeholder='{%trans "Write post "%}' maxlength='100000' rows="15">{{dataRow.content}}</textarea>
{%endblock%}



{%block galleryImporter %}
<div class="dropzone">
  <h4>{%trans "Add gallery report"%}</h4>
  <label for='gallery' class="btn light">{%trans "To add image or video gallery report, drop file here or press this button"%}</label>
  <input id="gallery" type="file" name="gallery" multiple>
  <div class="progress shadow" data-percent='30'>
    <div class="bar"></div>
    <div class="detail"></div>
  </div>
</div>
{% endblock %}


{%block iadd%}
<button class="btn primary block mT20">{%trans "Save"%}</button>
{%endblock%}

{%block isave%}
<button class="btn primary block mT20">{%trans "Save"%}</button>
{%endblock%}

{%block iLanguage%}
<div class="mB10" title='{%trans "You can publish in another language"%}'>
  <label for="language">{%trans "Language"%}</label>
  <select name="language" class="ui dropdown select">
    <option value=""><i>{%trans "Please select one item"%}</i></option>
    {%for key, value in lang.list%}
      {%if key | length == 2%}
      <option value="{{key}}" {%if dataRow.language == key or (not dataRow.lang and lang.current == key)  %} selected {%endif%}>{{value}}</option>
      {%endif%}
    {%endfor%}
  </select>
</div>
{%endblock%}







{%block iGalleryShow%}

{%if dataRow.meta.gallery%}
<div class="cbox">
  <h2>{%trans "Gallery"%}</h2>
  <div class="normal f">

    {% for key, myUrl in dataRow.meta.gallery%}
      <div class="vcard mA10">

        {%if myUrl ends with '.jpg' or myUrl ends with '.png' or myUrl ends with '.gif'%}
        <img src="{{myUrl}}">
        <div class="content"></div>
        {%elseif myUrl ends with '.mp4' %}
        <video>
          <source src="{{myUrl}}" type="video/mp4">
        </video>
        <div class="content"><a href="{{myUrl}}" title='{%trans "Click to download"%}'>{%trans "Video"%}</a></div>
        <div class="content"></div>
        {%elseif myUrl ends with '.mp3' %}
        <audio controls>
          <source src="{{myUrl}}" type="audio/mpeg">
        </audio>
        <div class="content"><a href="{{myUrl}}" title='{%trans "Click to download"%}'>{%trans "MP3"%}</a></div>
        {%elseif myUrl ends with '.pdf' %}
          <div class="content title"><a href="{{myUrl}}" title='{%trans "Click to download"%}'>{%trans "PDF"%}</a></div>
        {%else%}
        <div class="content title"><a href="{{myUrl}}" title='{%trans "Click to download"%}'>{%trans "Without preview"%}</a></div>
        {%endif%}
        <div class="footer f">
          <button class="btn block secondary" data-ajaxify data-data='{"type" : "remove_gallery", "id": "{{key}}"}' data-method='post'>{%trans "Remove"%}</button>
        </div>
      </div>
    {%endfor%}
  </div>
</div>
{%endif%}

{%endblock%}


