{%extends 'content_smsapp/layout.html'%}




{%block pageContent%}

<div class="f justify-center">
  <div class="c6 s12">
    <div class="cbox">
      <form method="post" autocomplete="off" action="{{url.this}}" data-timeout="0">
        <input type="hidden" name="run" value="1">
        <h3>با پیامک‌های جدید شناسایی نشده چه کنیم؟</h3>
        <p>شما می‌توانید پیامک‌های جدید شناسایی نشده را به یکباره بایگانی کنید
          <br>
          و یا قبل از بایگانی ابتدا پیامی را در پاسخ به آنها ارسال کنید و سپس آنها را بایگانی کنید
        </p>

        <div class="check1">
          <input type="checkbox" id="iwanttoanswer" name="iwanttoanswer">
          <label for="iwanttoanswer">می‌خواهم قبل از ارسال به بایگانی پاسخ را برای آن‌ها ارسال کنم</label>
        </div>
        <div data-response='iwanttoanswer' data-response-hide>
          <div>
            <label>پاسخ</label>
            <textarea name="answer" class="txt" rows="5" placeholder="پاسخ را اینجا بنویسید ... "></textarea>
          </div>
        </div>

        <div class="check1">
          <input type="checkbox" id="answerdate" name="answerdate">
          <label for="answerdate">آیا می‌خواهید این عملیات را در بازه زمانی خاص انجام دهید؟</label>
        </div>

        <div data-response='answerdate' data-response-hide>
          <div class="f">

            <div class="c s12 mB5 pRa5">
              <div class="input ltr">
                <input class="datepicker" type="text" name="startdate" title='{%trans "Start date"%}' placeholder='{%trans "Start date"%}' id="startdate"  maxlength='20' data-format="YYYYMMDD"data-view="month">
              </div>
            </div>

            <div class="c s12 mB5 pRa5">
              <div class="input ltr">
                <input class="datepicker" type="text" name="enddate" title='{%trans "End date"%}' placeholder='{%trans "End date"%}' id="enddate"  maxlength='20' data-format="YYYYMMDD"data-view="month">
              </div>
            </div>

          </div>
        </div>


        <div class="txtRa mT20">
          <button class="btn danger">ارسال به بایگانی</button>
        </div>

      </form>
    </div>
  </div>
</div>


{%endblock%}

