{%extends 'content_m/layout.html'%}


{%block pageContent%}

<div class="f">
  <div class="c5 s12 mRa10">
      <div class="f justify-center">
        <div class="cbox ">
          <form method="post" autocomplete="off">
            {{block ('iThumb') }}
            {{block ('iTitle') }}
            {{block ('iDescription') }}
              {%if productDetail.type == 'health' %}
                {{block ('iEveryCount') }}
              {%endif%}

            {%if url.module != 'donate'%}
              {{block ('iTermsAndConditions') }}
            {%endif%}

            {%if url.module == 'donate'%}
              {{block ('iRangeType') }}
              {{block ('iAllowPrice') }}
              {{block ('iIsDefault') }}
              {{block ('iSort') }}
              {{block ('iLinkurl') }}
            {%endif%}

            {{block ('iLanguage') }}
            {{block ('iStatus') }}

            {%if editMode%}
            {{block ('iedit')}}
              {%if productDetail.type == 'representation' %}
                <button class="btn danger xs floatL mT25" data-ajaxify data-data='{"representation": "alldone", "id" : "{{productDetail.id}}"}' data-method='post' href='{{url.pwd}}'>{%trans "All representation from this place is done"%}</button>
              {%endif%}
            {%else%}
            {{block ('iadd')}}
            {%endif%}
          </form>
        </div>
      </div>
  </div>

{%if need%}
  <div class="c s12">

    <div class="f justify-center">


        <table class="tbl1 v1 fs12">
          <thead>
            <tr class="fs08">
              <th>{%trans "Picture"%}</th>
              <th>{%trans "Title"%}</th>
                {%if url.module == 'donate'%}
                 <th>{%trans "Sort"%}</th>
                 <th>{%trans "Slug"%}</th>
                 <th>{%trans "Allow price"%}</th>

                {%endif%}
              <th>{%trans "Description"%}</th>
              <th>{%trans "Status"%}</th>
              <th>{%trans "Edit"%}</th>
            </tr>
          </thead>
          <tbody>
            {%for key, value in need%}
              <tr {%if value.status == 'enable'%}{%else%} class="negative" {%endif%}>
                <td><img height="50" width="50" src="{%if value.fileurl%}{{value.fileurl}}{%else%}{{url.static}}/siftal/images/default/image.png{%endif%}"></td>
                <td>
                  {%if value.term%}<i class="sf-check fc-green" title='{%trans "This method have term and conditions"%}'></i>{%endif%}
                  {{value.title}}

                </td>
                {%if url.module == 'donate'%}
                 <td>{{value.sort | fitNumber(false)}}</td>
                 <td class="collapsing fs08 txtC">{%if value.linkurl%}<a href="{{url.kingdom}}/donate?nazr={{value.linkurl}}"><i class="sf-link"></i> {{value.linkurl}}</a>{%else%}-{%endif%}</td>
                <td>{%if value.allowpirce%}<i class="sf-check fc-green"></i>{%else%}<i class="sf-times fc-red"></i>{%endif%}</td>


                {%endif%}
                <td>
                  {{value.desc}}
                  {%if url.module == 'donate'%}
                  <div>

                      {%if value.price1%}<span class="badge">{{value.title1}} {{value.price1 | fitNumber}}</span>{%endif%}
                      {%if value.price2%}<span class="badge">{{value.title2}} {{value.price2 | fitNumber}}</span>{%endif%}
                      {%if value.price3%}<span class="badge">{{value.title3}} {{value.price3 | fitNumber}}</span>{%endif%}
                  </div>
                  {%endif%}
                  {%if value.every or value.count%}
                  <br>
                    {%if value.every%}<span class="badge primary">{%trans "Every"%} {{value.every | fitNumber}} {%trans "Day"%}</span>{%endif%}
                    {%if value.count%}<span class="badge success">{{value.count | fitNumber}} {%trans "Request"%}</span>{%endif%}
                  {%endif%}
                </td>
                <td>{%set vStatus = value.status%}{%trans vStatus%}</td>
                <td class="collapsing"><a href="{{url.this}}/options?edit={{value.id}}" ><button class="btn secondary xs">{%trans "Edit"%}</button></a></td>
              </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>


  </div>
{%endif%}
</div>


{%endblock%}


{%block iThumb%}
<div class="input preview">
 <input type="file" accept="image/gif, image/jpeg, image/png" name="thumb" id="fthumb" data-preview data-max="500">
 <label for="fthumb" title='{%trans "allowed extentions jpg, png (gif for bussiness plans). Max 500Kb"%}'>
{%if productDetail.fileurl%}
  <img src="{{productDetail.fileurl}}" alt="{{productDetail.title}}" id="logoPreview">
{%endif%}
 </label>
</div>
{%endblock%}




{%block iadd%}
<button class="btn primary block mT25">{%trans "Add"%}</button>
{%endblock%}

{%block iedit%}
<button class="btn primary block mT25">{%trans "Edit"%}</button>
{%endblock%}





{%block iLanguage%}
<label for="language">{%trans "Language"%}</label>
<select name="language" class="select">
  <option value=""><i>{%trans "Please select one item"%}</i></option>
  {%for key, value in lang.list%}
    {%if key | length == 2%}
    <option value="{{key}}" {%if productDetail.lang == key or (not productDetail and lang.current == key) %} selected {%endif%}>{{value}}</option>
    {%endif%}
  {%endfor%}
</select>
{%endblock%}



{%block iTitle%}
<label for='ftitle'>{%trans "Title"%}</label>
<div class="input">
 <input type="text" name="title" placeholder='{%trans "Title"%}' value="{{productDetail.title}}" autofocus  maxlength='50' minlength="1" title='{%trans "Enter a valid title"%}' id='ftitle'>
</div>
{%endblock%}

{%block iLinkurl%}
<label for='slug'>{%trans "Slug"%}</label>
<div class="input ltr">
 <input type="text" name="linkurl" placeholder='{%trans "Slug"%}' value="{{productDetail.linkurl}}" autofocus  maxlength='50' minlength="1" id='slug'>
</div>
{%endblock%}



{%block iDescription%}
<label for='fdesc'>{%trans "Description"%}</label>
<textarea class="txt mB5" name="desc" rows="3" placeholder='{%trans "Description"%}' id='fdesc'>{{productDetail.desc}}</textarea>

{%endblock%}



{%block iTermsAndConditions%}
<label for='ftemrs'>{%trans "Terms and conditions"%}</label>
<textarea class="txt mB5" name="term" data-editor placeholder='{%trans "Terms and conditions"%}' id='ftemrs'>{{productDetail.term}}</textarea>

{%endblock%}


{%block iCount%}
<label for='fcount'>{%trans "Count"%}</label>
<div class="input">
 <input type="number" name="count" placeholder='{%trans "Count"%}' value="{{productDetail.request}}" maxlength='50' minlength="1" title='{%trans "Enter a valid count"%}' id='fcount'>
</div>
{%endblock%}


{%block iStatus%}
<div class="switch1 mT10">
    <input type="checkbox" name="status" id="switch12" {%if productDetail.status == 'enable' or not productDetail %} checked {%endif%}>
    <label for="switch12" data-on='{%trans "Active"%}' data-off='{%trans "Deactive"%}'></label>
    <label for="switch12">{%trans "Status"%}</label>
   </div>
{%endblock%}




{%block iEveryCount%}
<h5 class="mT10">{%trans "Set max request count in period dayes"%}</h5>
<div class="f mB20">

  <div class="c pRa5">
    <!-- <label for='ievery'>{%trans "Every day"%}</label> -->
    <div class="input">
      <label for='ievery' class="addon">{%trans "Every"%}</label>
     <input type="number" name="every" placeholder='{%trans "?"%}' value="{{productDetail.every}}"   id='ievery' min="1" max="9999">
      <label for='ievery' class="addon">{%trans "Day"%}</label>
    </div>
  </div>
  <div class="c">
    <!-- <label for='icount'>{%trans "Count"%}</label> -->
    <div class="input">
     <input type="number" name="count"  value="{{productDetail.count}}"  id='icount' min="1" max="9999999">
      <label for='icount' class="addon">{%trans "Count"%}</label>
    </div>
  </div>
</div>

{%endblock%}




{%block iAmount%}
<label for='famount'>{%trans "Amount"%}</label>
<div class="input">
 <input type="number" name="amount" placeholder='{%trans "Amount"%}' value="{{productDetail.amount}}"  maxlength='50' minlength="1" title='{%trans "Enter a valid amount"%}' id='famount'>
</div>
{%endblock%}



{%block iSort%}
<label for='isort'>{%trans "Sort"%}</label>
<div class="input">
 <input type="number" name="sort" placeholder='{%trans "Sort"%}' value="{{productDetail.sort}}" maxlength='50' minlength="1" title='{%trans "Enter a valid sort"%}' id='isort'>
</div>
{%endblock%}




{%block iRangeType %}
<h4 data-kerkere='.showRangeType' data-kerkere-icon='open'>{%trans "Custom Choice"%}</h4>
<div class="showRangeType mB10" {%if productDetail.title1 or productDetail.title2 or productDetail.title3%} {%else%}data-kerkere-content='show' {%endif%}>
 <div class="msg pA5-f">
  <div class="f">
    <div class="c s12">
      <label for='ftitle1'>{{1 | fitNumber}}. {%trans "Title"%}</label>
      <div class="input">
       <input type="text" name="title1" value="{{productDetail.title1}}" minlength="2" maxlength="100" id='ftitle1'>
      </div>
    </div>
    <div class="c4 s12 mLa5">
      <label for='fprice1'>{%trans "Price"%}</label>
      <div class="input">
       <input type="number" name="price1" value="{{productDetail.price1}}" min=0 max="99999999" id='fprice1'>
      </div>
    </div>
  </div>
  <div class="f">
    <div class="c s12">
      <label for='ftitle2'>{{2 | fitNumber}}. {%trans "Title"%}</label>
      <div class="input">
       <input type="text" name="title2" value="{{productDetail.title2}}" minlength="2" maxlength="200" id='ftitle2'>
      </div>
    </div>
    <div class="c4 s12 mLa5">
      <label for='fprice2'>{%trans "Price"%}</label>
      <div class="input">
       <input type="number" name="price2" value="{{productDetail.price2}}" min=0 max="99999999" id='fprice2'>
      </div>
    </div>
  </div>
  <div class="f">
    <div class="c s12">
      <label for='ftitle3'>{{3 | fitNumber}}. {%trans "Title"%}</label>
      <div class="input">
       <input type="text" name="title3" value="{{productDetail.title3}}" minlength="3" maxlength="300" id='ftitle3'>
      </div>
    </div>
    <div class="c4 s12 mLa5">
      <label for='fprice3'>{%trans "Price"%}</label>
      <div class="input">
       <input type="number" name="price3" value="{{productDetail.price3}}" min=0 max="99999999" id='fprice3'>
      </div>
    </div>
  </div>
 </div>
</div>
{%endblock%}


{%block iIsDefault %}
<div class="switch1 mT10">
  <input type="checkbox" name="iactive" id="switch120" {%if productDetail.iactive  %} checked {%endif%}>
  <label for="switch120" data-on='{%trans "Active"%}' data-off='{%trans "Deactive"%}'></label>
  <label for="switch120">{%trans "blink and different display"%}</label>
 </div>
{%endblock%}


{%block iAllowPrice %}
<div class="switch1 mT10">
  <input type="checkbox" name="allowpirce" id="switch130" {%if productDetail.allowpirce  %} checked {%endif%}>
  <label for="switch130" data-on='{%trans "Active"%}' data-off='{%trans "Deactive"%}'></label>
  <label for="switch130">{%trans "Allow to custom price?"%}</label>
 </div>
{%endblock%}

