{%extends 'content_agent/layout.html'%}



{% block ititle %}
<label for="title">{%trans "Title"%} <small class="fc-red">* {%trans "Require"%}</small></label>
<div class="input">
  <input type="text" name="title" id="title" assessmentitemholder='{%trans "Title of assessmentitem"%} *' value="{{dataRow.title}}" autofocus required maxlength='150' minlength="1" pattern=".{1,150}" title='{%trans "Enter a valid title"%}'>
</div>
{% endblock %}


{%block iCity%}
<div class="pRa5">
  <label for="city">{%trans "City"%}</label>
  <select name="city" class="ui dropdown select">
    <option value="0" >{%trans "For all city"%}</option>
    <option value="qom" {%if dataRow.city == 'qom'  %}selected {%endif%}>{%trans "Qom"%}</option>
    <option value="mashhad" {%if dataRow.city == 'mashhad'  %}selected {%endif%}>{%trans "Mashhad"%}</option>
    <option value="karbala" {%if dataRow.city == 'karbala'  %}selected {%endif%}>{%trans "Karbala"%}</option>
  </select>
</div>
{%endblock%}


{%block iJob%}
<div class="pRa5">
  <label for="job">{%trans "Job"%}</label>
  <select name="job" class="ui dropdown select">
    {%if false%}<option value="0" >{%trans "For all jobs"%}</option>{%endif%}
    <option value="" >{%trans "Please select one item"%}</option>
    <option value="clergy" {%if dataRow.job == 'clergy'  %}selected {%endif%}>روحانی کاروان</option>
    <option value="adminoffice" {%if dataRow.job == 'adminoffice'  %}selected {%endif%}>مدیر زائرسرا</option>
    <option value="admin" {%if dataRow.job == 'admin'  %}selected {%endif%}>مدیر کاروان</option>
    <option value="missionary" {%if dataRow.job == 'missionary'  %}selected {%endif%}>مبلغ</option>
    <option value="servant" {%if dataRow.job == 'servant'  %}selected {%endif%}>نگهبان</option>
    <option value="maddah" {%if dataRow.job == 'maddah'  %}selected {%endif%}>مداح</option>
    <option value="rabet" {%if dataRow.job == 'rabet'  %}selected {%endif%}>رابط</option>
    <option value="nazer" {%if dataRow.job == 'nazer'  %}selected {%endif%}>ناظر</option>
    <option value="khadem" {%if dataRow.job == 'khadem'  %}selected {%endif%}>خادم</option>



  </select>
</div>
{%endblock%}


{%block iJobFor%}
<div class="pRa5">
  <label for="job_for">برای ارزیابی توسط</label>
  <select name="job_for" class="ui dropdown select">
    <option value="" >{%trans "Please select one item"%}</option>
    <option value="0" >{%trans "For all jobs"%}</option>
    <option value="clergy" {%if dataRow.job_for == 'clergy'  %}selected {%endif%}>روحانی کاروان</option>
    <option value="adminoffice" {%if dataRow.job_for == 'adminoffice'  %}selected {%endif%}>مدیر زائرسرا</option>
    <option value="admin" {%if dataRow.job_for == 'admin'  %}selected {%endif%}>مدیر کاروان</option>
    <option value="missionary" {%if dataRow.job_for == 'missionary'  %}selected {%endif%}>مبلغ</option>
    <option value="servant" {%if dataRow.job_for == 'servant'  %}selected {%endif%}>نگهبان</option>
    <option value="maddah" {%if dataRow.job_for == 'maddah'  %}selected {%endif%}>مداح</option>
    <option value="rabet" {%if dataRow.job_for == 'rabet'  %}selected {%endif%}>رابط</option>
    <option value="nazer" {%if dataRow.job_for == 'nazer'  %}selected {%endif%}>ناظر</option>
    <option value="khadem" {%if dataRow.job_for == 'khadem'  %}selected {%endif%}>خادم</option>



  </select>
</div>
{%endblock%}



{% block iSort %}
<label for="isort">{%trans "Sort"%}</label>
<div class="input">
  <input type="number" name="sort" id="isort" value="{{dataRow.sort}}" min="0" max="9999" >
</div>
{% endblock %}


{% block iRate %}
<label for="irate">{%trans "Rate"%}</label>
<div class="input">
  <input type="number" name="rate" id="iRate" value="{{dataRow.rate}}" min="0" max="9999" >
</div>
{% endblock %}



{%block iadd%}
<button class="btn primary block mT20">{%trans "Add"%}</button>
{%endblock%}

{%block isave%}
<button class="btn primary block mT20">{%trans "Save"%}</button>
{%endblock%}



{%block iStatus%}
<div class="mT15">
 <label >{%trans "Status of assessmentitem"%}</label>

 <div class="radio1 green">
  <input type="radio" id="r-enable" name="status" value="enable" {%if dataRow.status == 'enable' or not dataRow.status %} checked{%endif%}>
  <label for="r-enable">{%trans "Enable"%}</label>
 </div>


 <div class="radio1 black">
  <input type="radio" id="r-disable" name="status" value="disable" {%if dataRow.status == 'disable'%} checked{%endif%} >
  <label for="r-disable">{%trans "Disable"%}</label>
 </div>

  <div class="radio1 black mB25">
  <input type="radio" id="r-deleted" name="status" value="deleted" {%if dataRow.status == 'deleted'%} checked{%endif%} >
  <label for="r-deleted">{%trans "Deleted"%}</label>
 </div>
</div>
{%endblock%}
