{%extends 'content_protection/occasion/layout.html'%}

{%block pageContent%}

<div class="f justify-center">
  <form method="post" class="c5 m6 s12" autocomplete="off">
    <div class="cbox">
      {{block('ititle')}}
      {{block('iSubtitle')}}
      {{block('iType')}}
      {{block('iDate')}}
      {{block('iDesc')}}
      {{block('iStatus')}}
      {{block('isave')}}
    </div>
  </form>

  <form method="post" class="c4 m6 s12" autocomplete="off">
    <div class="mLa5">

      <div class="cbox">
        <input type="hidden" name="detail" value="detail">
        <h5>{%trans "If you want to distribute a support package on this occasion, enter the items in this package"%}</h5>
        <label for="title2">{%trans "Title"%}</label>
        <div class="input">
          <input type="text" name="dtitle">
        </div>

        <label for="">{%trans "Price"%}</label>
        <div class="input">
          <input type="number" name="price">
        </div>

        <label for="">{%trans "Description"%}</label>
        <div class="input">
          <input type="text" name="ddesc">
        </div>

        <div class="txtRa">
          <button class="btn success">{%trans "Add"%}</button>
        </div>
      </div>

      {%if dataDetail%}
      <div class="cbox">
        <h5>{%trans "Items in the support basket for this occasion"%}</h5>
        {%for key, value in dataDetail%}
        <div class="msg f">
          <div class="c">{{value.title}}</div>
          <div class="c">{{value.price | fitNumber}}</div>
          <div class="c">{{value.desc}}</div>
          <div class="cauto"><span data-confirm data-data='{"remove": "detail", "detail_id": "{{value.id}}"}'><i class="sf-trash fc-red"></i></span></div>
        </div>
        {%endfor%}
      </div>

      {%endif%}
    </div>
  </form>
</div>

{%endblock%}



{%block iType%}
{%if occasionTypeList%}
<label for="occasiontypelist">{%trans "Occasiontype"%}</label>
<div>
  <select class="ui dropdown" name="type">
    <option value="">{%trans "Please select one item"%}</option>
    {%for key, value in occasionTypeList%}
      <option value="{{value.title}}" {%if dataRow.type == value.title%} selected {%endif%}>{{value.title}}</option>
    {%endfor%}
  </select>
</div>
{%endif%}

{%if typeList%}
<div class="example">
  <h6>{%trans "Announce which group you want to support on this occasion"%} <small><a class="link" href="{{url.here}}/setting">{%trans "Setting"%}</a></small></h6>


{%for key, value in typeList%}
<div class="check1">
  <input type="checkbox" id="checktype{{value.id}}" name="type_list[]" value="{{value.id}}" {%if value.id in currentTypeID%} checked {%endif%}>
  <label for="checktype{{value.id}}">{{value.title}}</label>
</div>
{%endfor%}
</div>
{%else%}
<div class="msg warn2">

<a class="link" href="{{url.here}}/setting">{%trans "Set type list first"%}</a>
</div>
{%endif%}


{%endblock%}