{%extends 'content_smsapp/addgroup/display.html'%}



{%block pageContent%}

<div class="f justify-center">

  <div class="c6 m8 s12">
    <div class="cbox">
      <form method="post" autocomplete="off">
        {{block('ititle')}}
          {{block('isort')}}
            <label for="tag">{%trans "Start date fro detect answer"%} </label>
           <div class="input ltr">
            <input class="datepicker" type="text" name="calcdate"  placeholder='{%trans "Start date"%}' id="calcdate"  value="{{dataRow.calcdate}}" maxlength='20' data-view="day">
          </div>
          {{block('itag')}}
          {{block('istatus')}}
           <div class="txtL">
             <button class="btn primary">{%trans "Update"%}</button>
           </div>
      </form>
    </div>

    <div class="cbox">
      <form method="post" autocomplete="off">
        <input type="hidden" name="setanswer" value="1">
        <label for="itxt">{%trans "Answer text"%} <small class="fc-red">* {%trans "Require"%}</small></label>
        <textarea class="txt mB10" rows="5" name="text" required autofocus id="itxt">{{answerDataRow.text}}</textarea>
        <label for="asort">{%trans "Sort"%} </label>
        <div class="input">
          <input type="tel" name="asort" id="asort" value="{{answerDataRow.sort}}"  maxlength="10">
        </div>
           <div class="txtL">
            {%if answerDataRow%}
              <button class="btn primary">{%trans "Edit"%}</button>
            {%else%}
              <button class="btn success">{%trans "Add"%}</button>
            {%endif%}
           </div>
      </form>
    </div>

    <div class="cbox">
      {%for key, value in answerList%}
        <div class="msg {%if value.id == requestGET.aid%} primary2 {%endif%}">

          <p>
            <b class="badge primary rounded">{{(key + 1) |fitNumber(false)}}</b>
          {{value.text |raw | nl2br}}
        </p>
          <div class="f">
            <div class="cauto"><div class="fc-red" data-confirm data-data='{"removeanswer": "{{value.id}}"}'>{%trans "Remove"%}</div></div>
            <div class="c"></div>
            <div class="cauto"><b class="badge info2 rounded">{{value.sort |fitNumber(false)}}</b></div>
            <div class="c"></div>
            <div class="cauto">
              {%if value.id == requestGET.aid%}
                <i>{%trans "Editing ..."%}</i>
              {%else%}
                <a class="" href="{{url.this}}?id={{requestGET.id}}&aid={{value.id}}">{%trans "Edit"%}</a>
              {%endif%}
              </div>
          </div>
        </div>
      {%endfor%}
    </div>


  </div>
</div>
{%endblock%}




{%block isort %}
<label for="sort">{%trans "Sort"%} </label>
<div class="input">
  <input type="tel" name="sort" id="sort" value="{{dataRow.sort}}"  maxlength="10">
</div>
{% endblock %}



{%block istatus%}

<div class="mT3">
 <label >{%trans "Status"%}</label>

<div class="f">
  <div class="c2 m2 s4">
     <div class="radio1 green">
      <input type="radio" id="r-enable" name="status" value="enable" {%if dataRow.status == 'enable' or not dataRow.status %} checked{%endif%}>
      <label for="r-enable">{%trans "Enable"%}</label>
     </div>

  </div>
  <div class="c2 m2 s4">
     <div class="radio1 yellow ">
      <input type="radio" id="r-disable" name="status" value="disable" {%if dataRow.status == 'disable'  %} checked{%endif%}>
      <label for="r-disable">{%trans "Disable"%}</label>
     </div>
  </div>
  <div class="c2 m2 s4">
     <div class="radio1 red">
      <input type="radio" id="r-deleted" name="status" value="deleted" {%if dataRow.status == 'deleted'  %} checked{%endif%}>
      <label for="r-deleted">{%trans "Deleted"%}</label>
     </div>
  </div>
</div>



</div>
{%endblock%}




{%block itag %}
<label for="tag">{%trans "Tags"%} </label>

  <div class="tagDetector">
   <div class="input mB10 hide">
      <input type="text" class="input tagVals" id="tag" name="tag" value="{{stringTagList}}" id="tagValues" placeholder='{%trans "Tag"%}'>
    </div>

    <div class="input" title='{%trans "Add tag manually to link tickets togethers"%}'>
      <input type="text"  class="tagInput" placeholder='{%trans "Tag keywords..."%}'>
      <button class="addon tagAdd">+</button>
    </div>
    <div class="tagBox"></div>
  </div>


{% endblock %}
