{%extends display.mvc%}


{%block body%}

<video class="videobg" autoplay loop width="100%" height="100%">
	<source src="{{url.static}}/video/bg.mp4" type="video/mp4">
</video>

<div class="lottory">
	<header>
		<h1>قرعه‌کشی برگزیدگان زیارت اولی عتبات عالیات در برنامه کوی محبت شبکه دو سیما</h1>
	</header>

	<main>
		<div class="startBtn theme-6">
			<button class="particles-button">شروع</button>
		</div>

		<div class="numbers">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>

		<div class="winners f" data-winners='{{winners | raw}}' data-count='{{winnersList |length}}'>
	{% for key, elected in winnersList %}
			<div class="c3">
				<div class="person" data-id='{{elected.id}}' data-index='{{elected.index}}' {%if elected.skip%}data-ok{%endif%}>
					<div class="f">
						<div class="cauto key">{{elected.index | fitNumber}}</div>
						<div class="c name">{{elected.name}}</div>
						<div class="cauto value">{{elected.id | fitNumber(false)}}</div>
					</div>
				</div>
			</div>
	{% endfor %}
		</div>
	</main>


	<footer>
		<div class="f">
			<div class="c">جهت شرکت در قرعه کشی اپلیکیشن موسسه حضرت خدیجه را از وب‌سایت koyemohabat.ir دریافت کرده و ثبت‌نام کنید.</div>
			<div class="cauto os txtB">{{"now" |dt(true, 'date')}}</div>
		</div>

	</footer>
</div>
{%endblock%}



{%block foot_js%}

	<link rel="stylesheet" href="{{url.static}}/css/lottery.css?v=1">

	<script src="{{url.static}}/js/lottery.js?v=1"></script>
{%endblock%}