{%extends display.mvc%}


{%block body%}

<video class="videobg" autoplay loop width="100%" height="100%">
	<source src="{{url.static}}/video/bg.mp4" type="video/mp4">
</video>

<div class="lottory">
	<header>
		<h1>قرعه‌کشی برگزیدگان زیارت اولی عتبات عالیات در برنامه کوی محبت شبکه دو سیما</h1>
	</header>



	<div class="numbers">
		<span>*</span>
		<span>*</span>
		<span>*</span>
		<span class="disabled">*</span>
		<span class="disabled">*</span>
		<span>*</span>
		<span>*</span>
		<span>*</span>
		<span>*</span>
		<span>*</span>
	</div>

	<div class="winners f" data-winners='{{winners | raw}}'>

{% for i in 1..20 %}
		<div class="c3">
			<div class="person" data-hide data-index='{{i}}'>
				<div class="f">
					<div class="cauto key">{{i | fitNumber}}</div>
					<div class="c name">جواد ادیب </div>
					<div class="cauto value">{{"219**53994" | fitNumber}}</div>
				</div>
			</div>
		</div>
{% endfor %}

	</div>
	<footer class="f">
		<div class="c">جهت شرکت در قرعه کشی اپلیکیشن موسسه حضرت خدیجه را از وب‌سایت koyemohabat.ir دریافت کرده و ثبت‌نام کنید.</div>
		<div class="cauto os txtB">{{"now" |dt(true, 'date')}}</div>

	</footer>
</div>
{%endblock%}



{%block foot_js%}

	<link rel="stylesheet" href="{{url.static}}/css/lottery.css">

	<script>
		var myWinners = $('.winners').attr('data-winners');
		var myWinnersList = JSON.parse(myWinners);


		myWinnersList.forEach(function(_myPerson)
		{
			// console.log(_myPerson);
			if(_myPerson.index && _myPerson.id && _myPerson.name)
			{
				var currentPerson = $('.winners .person[data-index="' + _myPerson.index + '"]');
				// console.log(currentPerson);
				if(_myPerson.skip)
				{
					// console.log('skip');
					currentPerson.fadeIn().attr('data-hide', null);
				}
			}
		});
		// console.log(myWinners);

		setInterval(generateRandomNumber, 50);

		// generateRandomNumber();

		function generateRandomNumber()
		{
			var myRand = Math.floor(1000000000 + Math.random() * 9000000000).toString();
			var myNumbersEl = $('.numbers span');
			for (var i = 0; i <= 10; i++)
			{
				myNumbersEl.eq(i).text(myRand.substr(i, 1));
			}
		}


	</script>
{%endblock%}