{%extends display.admin%}


{%block pageContent%}
{%include 'content_agent/send/pageStep.html'%}


<div class="f justify-center">
  <div class="c8 s12">
    <div class="cbox">

        <form method="post" autocomplete="off">

          <label for="payamount">{%trans "Pay amount"%}</label>
          <div class="input">
            <input type="number" name="payamount" id="payamount" placeholder='{%trans "Pay amount"%} | {%trans "Toman"%} * ' autofocus value="{{sendDetail.payamount}}" required max='999999999' min="0" pattern=".{1,150}"  data-response-realtime>
          </div>
          {%if lang.current == 'fa'%}
          <div class="msg info2 txtB" data-response='payamount' data-response-call='wordifyResponse'></div>
          {%endif%}


          <div class="mB5">
           <div class="input ltr">
            <input class="datepicker" type="text" name="paydate" placeholder='{%trans "Start date"%}' id="paydate"  value="{{sendDetail.paydate}}" maxlength='20' data-format="YYYY/MM/DD"data-view="day">
            </div>
          </div>



paybank
paytype
paynumber

          <label for="desc">{%trans "Gift"%}</label>
          <textarea class="txt mB10" id='desc' name="desc" placeholder='اگر پرداخت غیر نقدی صورت گرفته است یا هدیه‌ای پرداخت شده است ذکر کنید' maxlength='500' rows="5">{{sendDetail.gift}}</textarea>

          <div class="txtRa">
            <button class="btn pain">{%trans "Save"%}</button>
          </div>

        </form>
    </div>
  </div>
</div>

{%endblock%}
