{%extends 'content_m/layout.html'%}



{% block ititle %}
<label for="title">{%trans "Title"%} <small class="fc-red">* {%trans "Require"%}</small></label>
<div class="input">
  <input type="text" name="title" id="title" placeholder='{%trans "Title of product"%} *' value="{{dataRow.title}}" autofocus required maxlength='150' minlength="1" pattern=".{1,150}" title='{%trans "Enter a valid title"%}'>
</div>
{% endblock %}

{%block iSubtitle%}
<label for="subtitle">{%trans "Subtitle"%}</label>
<div class="input">
  <input type="text" name="subtitle" id="subtitle"  value="{{dataRow.subtitle}}"  maxlength='150' minlength="1" pattern=".{1,150}">
</div>
{%endblock%}


{%block iPrice%}
<label for="iprice">{%trans "Price"%}</label>
<div class="input">
  <input type="number" name="price" id="iprice" value="{{dataRow.price}}" min="0" max="9999999999" >
  <label class="addon">{%trans "Toman"%}</label>
</div>
{%endblock%}


{%block iFile%}

<div class="input mT10">
 <input type="file" accept="image/gif, image/jpeg, image/png" name="file" id="file1"  data-max="500">
 <label for="file1"></label>
</div>
{%if dataRow.file%}
<img src="{{dataRow.file}}">
{%endif%}

{%endblock%}


{% block isort %}
<label for="isort">{%trans "Sort"%}</label>
<div class="input">
  <input type="number" name="sort" id="isort" value="{{dataRow.sort}}" min="0" max="9999" >
</div>
{% endblock %}


{%block idesc%}
<label for="desc">{%trans "Description"%}</label>
<textarea class="txt mB10" id='desc' name="desc" placeholder='{%trans "Description of product to show in website"%}' maxlength='500' rows="5">{{dataRow.desc}}</textarea>
{%endblock%}


{%block iSignup%}
<div class="switch1">
 <input type="checkbox" name="signup" id="signup" {%if dataRow|length == 0 or dataRow.signup %}checked{%endif%}>
 <label for="signup"></label>
 <label for="signup">{%trans "Access in :students online registeration"%}</label>
</div>
{%endblock%}


{%block iadd%}
<button class="btn primary block mT20">{%trans "Add"%}</button>
{%endblock%}

{%block isave%}
<button class="btn primary block mT20">{%trans "Save"%}</button>
{%endblock%}



{%block iStatus%}
<div class="mT15">
 <label >{%trans "Status of product"%}</label>

 <div class="radio1 green">
  <input type="radio" id="r-enable" name="status" value="enable" {%if dataRow.status == 'enable' or not dataRow.status %} checked{%endif%}>
  <label for="r-enable">{%trans "Enable"%}</label>
 </div>


 <div class="radio1 black mB25">
  <input type="radio" id="r-disable" name="status" value="disable" {%if dataRow.status == 'disable'%} checked{%endif%} >
  <label for="r-disable">{%trans "Disable"%}</label>
 </div>
</div>
{%endblock%}
