{%extends display.main%}


{%block page%}

   <h2>در حوزه توسعه زیارت</h2>
   <ul class="list">
   	<li>پذیرایی بیش از 16 هزار زائر اولی شهر مقدس قم با ایجاد زائرسراهای متعدد و اسکان و پذیرایی رایگان</li>
   	<li>اعزام بیش از 2 هزار زائر اولی به مشهد مقدس و اسکان پذیرایی در هتل های نزدیک حرم به همراه وسیله ایاب و ذهاب به صورت متمرکز از قم به صورت رایگان</li>
   	<li>اعزام بیش از 110 نفر زائر اولی عتبات به صورت رایگان</li>
   	<li>بستر سازی اعزام بیش از ششصد زائر اولی کربلای معلی به زودی....</li>
   </ul>


   <h2>در حوزه احیای سنن و مناسبتها</h2>
   <ul class="list">
   	<li>افطاری و اطعام قریب به 5 هزار نفر در شب وفات حضرت خدیجه س</li>
   	<li>افطاری و اطعام قریب به 3 هزار نفر در شب ولادت امام مجتبی علیه السلام</li>
   	<li>انجام 100 راس قربانی با مشارکت مردمی از هزار تومان تا مبلغ کامل قربانی</li>
   	<li>اطعام 40 هزار نفری روز عید غدیر در قم(شش منطقه) ،اصفهان،سیستان و بلوچستان(غذا و میوه و دوغ-صبحانه ناهار شام)</li>
   	<li>پشتیبانی از ده نانوایی در مناطق محروم و توزیع نان رایگان در روز عید غدیر</li>
   	<li>توزیع قریب به 20 هزار بستنی در مسیر راهپیمایی غدیر</li>
   	<li> برپایی ایستگاه صلواتی در دهه اول محرم در جوار حرم کریمه اهل بیت علیها السلام به مدت سه روز و پذیرایی قریب به 15 نفر</li>
   	<li>برپایی موکب اقامه نماز و پذیرایی ساده از زائران اربعین در مرز مهران داخل خاک عراق به مدت ده روز</li>
   	<li>برپایی مواکب در ایام معصومیه (سالروز ورود تا رحلت حضرت معصومه علیها السلام) و پذیرایی قریب به بیست هزار نفر در مبادی ورودی شهر قم</li>
   </ul>


   <h2>در حوزه معرفی مادران و همسران اهل بیت علیهم السلام</h2>
   <ul class="list">
   	<li>تالیف رمان حضرت خدیجه علیها السلام</li>
   	<li>سفارش رمان حضرت رباب علیها السلام</li>
   	<li>تولیدات رسانه ای مربوط به غدیر 20 کلیپ</li>
   	<li>تولیدات رسانه ای مربوط به حضرت معصومه علیها السلام 5 کلیپ</li>
   	<li>و ...</li>
   </ul>



   <h2>در حوزه دستگیری از محرومین</h2>
   <ul class="list">
   	<li>تامین ملزومات دانش آموزان در مهر ماه</li>
   	<li>تهیه و تامین تعداد10 جهیزیه</li>
   	<li>توزیع سبدهای کالا در ماه رمضان و....</li>
   	<li>و ...</li>
   </ul>

{%endblock%}

