{%extends display.main%}


{%block page%}

  <div class="f txtC fs13 mB60 alert alert-info">
   <div class="c">در فراق حرم یار جگر سوز شود</div>
   <div class="c">هرکسی در دل خود شوق زیارت دارد</div>
  </div>

  <p><b>أَنَا عَبْدُ اللَّهِ وَ مَوْلاكَ وَ فِي طَاعَتِكَ وَ الْوَافِدُ إِلَيْكَ أَلْتَمِسُ كَمَالَ الْمَنْزِلَةِ عِنْدَ اللَّهِ وَ ثَبَاتَ الْقَدَمِ فِي الْهِجْرَةِ إِلَيْكَ </b><br/>
  من بنده و دوست دار توام، و در قيد طاعت تو و وارد به درگاه تو هستم، درخواست میكنم كمال منزلت نزد خدا را، و استوارى قدم در هجرت به سويت را، و راهى كه از رسيدن به تو قطع نمى گردد</p>


  <p><b>إِرَادَةُ الرَّبِّ فِي مَقَادِيرِ أُمُورِهِ تَهْبِطُ إِلَيْكُمْ وَ تَصْدُرُ مِنْ بُيُوتِكُمْ.</b><br/>
  خواست پروردگار در اندازه گيري هاى امورش به سوى شما فرود میآيد، و از خانه هاى شما صادر میگردد، و صادر شونده از شماست</p>


  <p>در زرایرت مطلقه سیدالشهدا خطاب به حضرت عبارات فوق را بیان میدارم و گواهی میدهیم که هرچه خدا برای بندگانش مقرر میکند در محضر اهل بیت و خانه های اهل بیت علیهم السلام است.</p>

  <p>بنا بر فرموده امام صادق علیه السلام  که فرمود:‌ <b>إِنَ لِلّهِ حَرَماً وَ هُوَ مَكَةُ وَ إِنَ لِلرَّسُولِ (ص) حَرَماً وَ هُوَ الْمَدِينَهُ وَ إِنَ لِأَمِيرِالْمُؤْمِنِينَ(ع) حَرَماً وَ هُوَ الْكُوفَهُ وَ إِنَ لَنَا حَرَماً وَ هُوَ بَلْدَهٌ قُمَّ وَ سَتُدْفَنُ فِيهَا امْرَأَهٌ مِنْ أَوْلَادِي تُسَمَّي فَاطِمَةَ فَمَنْ زَارَهَا وَ جَبَتْ لَهُ الْجَنَةُ؛</b> خداوند حرمي دارد كه مكه است و رسول خدا حرمي دارد كه مدينه است و براي اميرالمؤمنين حرمي ديگر است كه كوفه است و براي ما اهل‌بيت حرمي ديگر است كه آن شهر قم است و به زودي بانويي از اولاد من در آن دفن مي شود كه نامش فاطمه است. پس هر كه او را زيارت كند بهشت بر وي واجب مي شود تلاش را بر این گذاردیم تا مردم را به درب خانه اهل بیت در حرم حضرت معصومه علیها السلام  برسانیم لذا این مسیر تا روزی که همه مشتاقان اهل بیت به زیارت قم ،مشهد، کربلا، سوریه، مکه و مدینه  انشالله ادامه خواهد داشت.</p>


{%endblock%}

