{%extends display.main%}


{%block page%}

 <p>موسسه حضرت خدیجه علیها السلام به همت جناب آقای زهیر ثباتی مقدم در سال 1394و با حضور حضرت حجت الاسلام و المسلمین فرحزاد ایجاد و بعداً با عنوان توسعه فرهنگ زیارت اهل بیت علیهم السلام و ترویج نام و مرام مادران و همسران اهل بیت علیهم السلام بویژه حضرت خدیجه علیها السلام   و احیای سنن فراموش شده (برگزاری مناسبتها و سنن فراموش شده یا کمتر مورد توجه قرار گرفته مثل قربانی،اطعام غدیر،وفات حضرت خدیجه  و...) فعالیت آن ادامه پیدا کرد.</p>

 <p class="alert alert-success txtC">مأموریت مشخص موسسه همانگونه که از نامش برداشت میشود، ساماندهی امور زائرین با کمک و مشارکت مردم و ایجاد روحیه انجام امور خیریه حتی با ارقام محدود می باشد.</p>

 <p>با توجه به وجود دستگاهها و مراکز مختلف در امر خدمت رسانی به زائرین و نیاز به هماهنگی و انسجام لازم در این رابطه و جلوگیری از پراکندگی و سرگردانی ایشان و ارائه خدمات مطلوب و در خور شأن و منزلت زائرین و افزایش سطح کیفی و کمی خدمات بویژه تأمین امنیت و آسایش و آرامش ایشان از مبدأ تا مبدأ لازم بود برای خدمت رسانی به این عزیزان برنامه ریزی شود تا ضمن برخورداری از خدمات مطلوب از سرگردانی و اتلاف وقت ایشان جلوگیری گردد. لذا همسو با روایات مرتبط در حوزه زیارت و توصیه بزرگان جهت حضور بامعرفت مشتاقان در حرم های اهل بیت علیهم السلام زمینه های مرتبط مهیا شد  تا کلیه مشتاقان و علاقه مندان به زیارت به خدمات مورد نیاز خود دست یابند.</p>


 <p class="">زائرین محترم و مشتاقان زیارت مشاهد مشرفه و اعتاب مقدسه می توانند با آرامش خاطر و اطمینان با هماهنگی قبلی و انجام امور اولیه به توفیق زیارت مشرف گردند.</p>
 <p class="alert alert-info txtC">افتخار ما خدمت به زائرین اهل بیت علیهم السلام می باشد.</p>


  <div class="f txtC fs13 mB25 mT50">
   <div class="c">شکر خدا که تحت لوای خدیجه ایم</div>
   <div class="c">بعد از هزار سال گدای خدیجه ایم</div>
  </div>

  <div class="f txtC fs13 mB25">
   <div class="c">اصلاً به ما چه مردم دنیا پیِ چه اند؟</div>
   <div class="c">ماها که در پی نوه های خدیجه ایم</div>
  </div>

{%endblock%}

