{%extends display.main%}


{%block page%}

  <article>
   <div class="txtC">
    <img src="{{url.static}}images/homepage/shahid-mahdi-imani.jpg" alt='{%trans "Shahid Mahdi Imani"%}'>
   </div>
   <h2 class="txtC">بسم الله الرحمن الرحیم</h2>
   <h3 class="txtC">می روم تا انتقام سیلی مادرم زهرا را بگیرم</h3>
   <p class="alert alert-success txtC">اللهم صل علی فاطمه و ابیها و بعلها و بنیها و سر المستودع فیها بعدد ما احاط به علمک</p>

   <p>خدا را هزاران بار شاکرم که به این بنده حقیر نعمت بندگی خود را عطا کرد و زبان، قاصر از وصف و قدردانی نعمات ایشان است که یکی از بزرگترین نعمت ها حب علی علیه السلام و اولاد مطهرش است و این راه هم مدیون پاکدامنی مادر و پدر است که با رزق حلال مرا پروراندند. من چطور قدردان خداوند باشم که رهبری فرزانه، دلسوز و عارف و مظلوم چون آقا سید علی خامنه ای (حفظه الله) را مقتدای ما فرمود که متاسفانه آنطور که باید و شاید نتوانستم سربازی ایشان را درک کنم.</p>

   <p>پروردگارا به حق محمد و آل محمد از گناهان و سستی های من بگذر که همه از نادانی و کاهلی بوده و سرم از شرمساری پایین است. خدای من! به ارحم الراحمین بودن شما اعتقاد داشتم و یقین قلبی داشتم که مورد رافت شما قرار می گیرم. انشاالله.</p>

   <p>از پدر و مادر مهربان و همسر سیده و مهربان و فداکارم و برادر و خواهران عزیز حلالیت می طلبم و شرمنده عطوفت و بزرگواری آنهاهستم و از آنها می خواهم که همیشه دعا گوی من باشند.</p>

   <p>و اما فرزندانم، محبین حضرات معصومین علی آقا،خانم فاطمه و آقا محمد. خوشحالم که به دِین خود عمل کردم شاید نواقصی هم داشته ام اما سعی کردم که فقط رزق حلال کریمه اهل بیت علیها السلام را به خانه بر سفره مهیا کنم و از حضرات معصومین خواستارم که نسل و ذریه ام، ولایت مدار و ادامه دهنده ی راه این حقیر باشند.</p>

   <p>توصیه من به فرزندانم طبق فرموده صُلحا ترک معصیت و انجام فرایض دینی و توسل به ائمه اطهار علیهم السلام است. مطمئنم پسرانم متدین، ولایتی و مفید برای نشر احکام دین و دخترم با عفت و حجاب خود با چادر ، دل حضرت زهرا یلام الله علیها را شاد می کند. بدان که برای این چادر که هدیه حضرت زهرا سلام الله علیها است ، خون دلها خورده شده و خون های بسیاری برای حفظ آن بر زمین ریخته است.</p>

   <p>از تمامی همکاران،خادمین بارگاه ملکوتی حضرت معصومه سلام الله علیها حلالیت می طلبم چون آن طور که می باید همکار و برادر خوبی نبودم و به این عزیزان سفارش می کنم که قدر لحظات حضور در این حرم قدسی را بدانید هر چند که این حقیر نتوانستم استفاده احسن و اکمل از این بهشت زمینی داشته باشم . ولی امیدوارم که همه برادرانم در این آستان الهی قدر خادمی زائران این مکان مقدس را داشته باشند و با صبر و حوصله و خوش خلقی برای خدمت به این زائران از هم سبقت بگیرند.</p>

   <p>حرف آخر، از شهدا شرمنده ام خیلی دیر به درک حقیقت و جودشان پی بردم از خداوند متعال و حضرات معصومین و شهدا ممنونم که به گریه های شبانه این حقیر جواب دادند و من را به عنوان مدافع حرم حضرت زینب سلام الله علیها و حرم دختر سه ساله ی امام حسین علیه السلام برگزیدند و حال که صهیونیست خونخوار،آمریکای جنایتکار و سعودی خیانتکار قصد براندازی حرم های اهل بیت را دارند و با حمله ناجوانمردانه و وحشیانه به زنان و فرزندان و طفل های شیرخواری که هیچ پناهی ندارند قصد کشور گشایی دارند. این وظیفه را برخود دیدم که به کمک این مردم بی گناه و دفاع از حرم اهل بیت بروم و از حضرت زینب و خانم رقیه ممنونم که به من حقیر لیاقت حضور را دادند و به مدد ایشان ما با عزت، پیروز و سربلند می شویم.</p>

   <p>و در آخر اگر رزق شهادت به این حقیر رسید برایم روضه حضرت زهرا سلام الله علیها، امام حسین علیه السلام،حضرت علی اکبرعلیه السلام و امام رضا علیه السلام را بخوانید و از دوستانم می خواهم که همیشه برایم زیارت عاشورا بخوانند.</p>

   <p>شادی ارواح ائمه اطهار،شهدا و امام امت،سربلندی مقام معظم رهبری و نظام مقدس جمهوری اسلامی ایران و تعجیل در فرج آقا صاحب الامر صلوات.</p>

   <h3 class="floatRa mB50">مهدی ایمانی فردوئی</h3>

  </article>


{%endblock%}

