{%extends display.main%}


{%block page%}

 <p>بدون تردید، محبت و دوستی پیامبر اكرم حضرت محمد(ص) و امامان معصوم (ع) و فرزندان و ذریه ایشان از عوامل مهم برای تقرب به خدای متعال است؛ و لذا، روایات زیادی هم در این زمینه وارد شده كه مضمون آنها این است كه پیامبر اكرم و امامان (ع) از مردم خواسته‌اند كه با فرزندان آنان دوستی نمایند؛ که به عنوان نمونه، یك روایت را در اینجا ذكر می‌كنم.</p>

 <p>از پیامبر اكرم (ص) روایت شده است كه فرمودند:احبوا الله لما یغذوكم به من نعمۀ و احبونی لله عز وجل و احبوا قرابتی لی؛ خدا را دوست بدارید به خاطر نعمت‌هایی كه به شما ارزانی داشته است و مرا هم دوست بدارید به جهت دوستی با خدا (چون من پیامبر الهی هستم) و به خاطر من با فرزندان من دوستی نمایید.</p>

 <p class="alert alert-success txtC">روز اول ذیقعده در سال 173 هجری به عنوان روز ولادت حضرت فاطمه معصومه (سلام الله عليها)، ثبت شده است.</p>

 <p>البته تاریخ رحلت ایشان، در کتب تاریخی ثبت شده است که آن حضرت را در شهر ساوه مسموم کردند و بر اثر مسمومیت از زهر جفا، بیمار شدند و سرانجام در روز دهم ربیع الثانى و (بنا بر قولى دوازدهم ربيع الثانى) سال ٢٠١ هجرى پیش از آنكه دیدگان مباركش به دیدار برادر روشن شود، در شهر قم و با اندوه فراوان دیده از جهان فرو بست و ما مفتخریم که در این زمان، در جوار و خدمت این خانم و تحت عنایات ایشان، حمَله معالم اهل بیت شده‌ایم.</p>


 <h2>قم پناهگاه شيعيان و مأوا و مسكن عالمان دين</h2>
 <p>مطلب اول این است که با وجود اينكه سنّ خانم حضرت فاطمه معصومه کم بوده،اما دارای شخصیت عظیم القدری بوده است؛ به طوری که قبل از ولادت ایشان، طبق روایات صحیح، حضرت صادق (عليه السلام) فرمودند که دختری صالحه با اوصافی که دارند از فرزندان من در قم مدفون می‌شود و آنجا برای شیعیان پناهگاه است.</p>

 <p>به همین خاطر، همیشه شهر مقدس قم در طول تاریخ، مأوا و مسكن عالمان و فقیهان و محدثان بسیار بزرگی، همانند اشعریون و ابن قولویه و صدوقین و دیگران بوده است و به خصوص در این زمان، حوزه علمیه با بركت و با عظمت قم در كنار قبر مقدس آن حضرت بر قرار گشته است که  باغبانانی همچون آيت الله العظمي حائری یزدی و آيت الله العظمي محمد تقی خوانساری و آيت الله العظمي حجت و آيت الله العظمي بروجردی و دیگران داشته است و هم اكنون دنیای اسلام، بلكه جهان، از فیض و نورانیت این حوزه استفاده می‌كنند و علم و دانش از قم به سایر بلاد می‌رود و همه اینها از بركات قبر مطهر كریمه اهل بیت (ع) است.</p>

 <h2>احترام مراجع به حضرت معصومه (سلام الله عليها)</h2>
 <p>مطلب دوم آن است که مراجع بزرگی که نام آنها برده شد، احترام زیادی برای حضرت معصومه (سلام الله عليها) قائل بودند. آيت الله العظمي بروجردی در ایام کهولت در اوقات درسشان مقید بودند که معمولاً، چهارشنبه‌ها که به حرم مشرف می‌شدند، زیارت‌نامه حضرت را ایستاده بخوانند و بعد در کنار ضریح، مشغول عبادت و نماز بشوند. در ایامی هم که درس تعطیل بود، حداقل، یکبار در هفته، به حرم مشرف می‌شدند.</p>

 <p>سایر بزرگان نیز به زیارت این خانم و برکات آن اهتمام داشتند؛ و ما نیز با تأسی به بزرگان دین، باید به ایشان توسل داشته باشیم، ومبادا خدای نکرده استخفافی در ذهن ما نسبت به مقام ایشان ایجاد شود که در زیارت ایشان آمده است: «فان لكِ عند الله شأناً من الشأن».</p>

 <h2>عظمت حضرت معصومه (س) در نزد آیت الله العظمی بروجردی</h2>
 <p>در زمان مرحوم آيت الله العظمي بروجردی، سعود بن عبدالعزیز به ایران آمد (سعود بن عبد العزیز پسر اول عبدالعزیز است و عبدالعزیز هم همان فردی بود که مذهب عربستان را به سمت وهابی سوق داد) و فرستاده وزیر خارجه عربستان، به همراه وزیر خارجه ایران، سفیر ایران و وزیر دربار، خدمت آيت الله العظمي بروجردی آمدند و اظهار داشتند که آقای ملک سعود می‌خواهد خدمت شما برسد؛ اما مرحوم آيت الله العظمي بروجردی در همان بدو امر امتناع کردند.</p>

 <p>خیلی از بزرگان تلاش کردند و حتی برخی از مراجع با ایشان صحبت کردند که شما مدافع تقریب بین مذاهب هستید و اگر آنها به قم بیایند و  با شما ملاقات کنند، برای شیعه مایه اعتبار است. ایشان در پاسخ فرمودند: اگر پادشاه سعودی، به قم بیاید، به دیدن من می‌آید، ولی به زیارت  فاطمه معصومه (سلام الله عليها) نمی‌رود و اینکه یک پادشاه، به عنوان من، به قم وارد بشود و نسبت به خانم فاطمه معصومه(سلام الله عليها) بی‌احترامی کند، هتک اهل بیت است و من به عنوان مرجع این مذهب، نمی‌توانم تحمل کنم که مذهب، این گونه مورد هتک قرار بگیرد.بنابراین، ایشان به خاطر مقام خانم حضرت معصومه(سلام الله عليها) ملاقات با پادشاه عربستان را نپذیرفتند.</p>

 <p>مکانت فرهنگی قم و حرم حضرت معصومه علیها السلام که در آیات و روایات نیز به آن اشاره شده باعث تمایز این مکان مقدس شده است،همچنین توصیه چهار امام در مورد حضرت معصومه علیها السلام و وعده بهشت به زائر حضرت معصومه علیها السلام ما را بر آن داشت تا برنامه ای جهت بهشتی شدن محبین اهل بیت علیهم السلام فراهم کنیم که امام رضا علیه السلام فرمود من زارها عارفا بحقها فله الجنه(هرکس فاطمه معصومه علیها السلام را زیارت کند بهشت بر او واجب است).</p>

 <p>موسسه حضرت خدیجه علیها السلام باراه اندازی سه ساختمان(که در حد بضاعت به بهترین وجه تجهیز شده است)اقدام به ارائه خدمات به کسانی که تاکنون به زیارت حضرت معصومه علیها السلام و شهر قم مشرف نشده اند ،به صورت رایگان نموده است و این کار با برکت زمینه ای برای اعزام زائران به مشهد و کربلا گردید.</p>

 <p class="alert alert-info txtC">به امید روزی که با راه اندازی  زیارت اولی های مکه و مدینه و سوریه به شعارمان برسیم و جاماندگان ومشتاقان زیارت اهل بیت علیهم السلام را به حرمهای اهل بیت علیهم السلام میرسانیم</p>

  <div class="f txtC fs13 mB25 mT50">
   <div class="c">شکر خدا که تحت لوای خدیجه ایم</div>
   <div class="c">بعد از هزار سال گدای خدیجه ایم</div>
  </div>

  <div class="f txtC fs13 mB25">
   <div class="c">اصلاً به ما چه مردم دنیا پیِ چه اند؟</div>
   <div class="c">ماها که در پی نوه های خدیجه ایم</div>
  </div>
  </div>

{%endblock%}

