{%extends display.cpMain%}


{%block pageContent%}


{%if serviceList%}
{{block('searchblock')}}
<div class="cbox fs12">
{{block('datatable')}}
</div>


{%elseif requestGET.q or requestGET.barcode%}
{{block('searchblock')}}
<div class="fs14 alert alert-info pA25">
 {%trans "No service founded."%} {%trans "Search with new keywords."%}
</div>


{%else%}
<div class="cbox fs12">
 <h3>{%trans "You are not have service yet!"%}</h3>
</div>
{%endif%}

{%endblock%}


{%block searchblock%}
<div class="cbox fs12">
  <form method="get" action='{{url.here}}/representation'>
    <div class="input">
      <input type="search" name="q" placeholder='{%trans "Search in representation"%}' id="q" value="{{requestGET.q}}" autofocus class="" data-default data-pass='submit' autocomplete='off'>
      <button class="addon btn ">{%trans "Search" %}</button>
    </div>
  </form>
</div>
{%endblock%}


{%block datatable%}

  <table class="tbl">
    <thead class="primary">
      <tr>
        <th data-sort="{{sortLink.firstname.order}}"><a href="{{sortLink.firstname.link}}">{%trans "firstname"%}</a></th>
        <th data-sort="{{sortLink.mobile.order}}"><a href="{{sortLink.mobile.link}}">{%trans "mobile"%}</a></th>
        <th data-sort="{{sortLink.birthday.order}}"><a href="{{sortLink.birthday.link}}">{%trans "birthday"%}</a></th>
        <th data-sort="{{sortLink.province.order}}"><a href="{{sortLink.province.link}}">{%trans "province"%}</a></th>
        <th data-sort="{{sortLink.phone.order}}"><a href="{{sortLink.phone.link}}">{%trans "phone"%}</a></th>
        <th data-sort="{{sortLink.married.order}}"><a href="{{sortLink.married.link}}">{%trans "married"%}</a></th>
        <th data-sort="{{sortLink.gender.order}}"><a href="{{sortLink.gender.link}}">{%trans "gender"%}</a></th>
        <th data-sort="{{sortLink.expert.order}}"><a href="{{sortLink.expert.link}}">{%trans "Representation"%}</a></th>
        <th data-sort="{{sortLink.status.order}}"><a href="{{sortLink.status.link}}">{%trans "Status"%}</a></th>
      </tr>
    </thead>

    <tbody>
      {%for key, value in serviceList%}
      <tr>
        <td>{{value.firstname}} <b>{{value.lastname}}</b></td>
        <td>{{value.mobile | fitNumber(false)}}</td>
        <td>{{value.birthday | date("Y-m-d") | fitNumber(false)}}</td>
        <td>{{value.province}}</td>
        <td>{{value.phone | fitNumber(false)}}</td>
        <td>{%set my_married = value.married | capitalize%}{%trans my_married%}</td>
        <td>{%set my_gender = value.gender | capitalize%}{%trans my_gender%}</td>
        <td><a href="{{url.this}}?expert={{value.expert}}">{{value.expert}}</a></td>
        <td><a href="{{url.this}}?status={{value.status}}">{%set myStatus = value.status %}{%trans myStatus%}</a></td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  {%include display.pagination%}
{%endblock%}

