{%extends display.dash%}

{%block sidenav%}
  <li><a href="{{url.here}}"><i class='sf-gauge'></i> {% trans "Agent Panel" %}</a></li>
  <li><a href="{{url.here}}/skills"><i class='sf-tools'></i> {% trans "Skills" %}</a></li>
  <li><a href="{{url.here}}/place"><i class='sf-pin'></i> {% trans "Agent Place" %}</a></li>
  <li><a href="{{url.here}}/assessmentitem"><i class='sf-lamp'></i> {% trans "Assessment Item" %}</a></li>
  <li><a href="{{url.here}}/servant"><i class='sf-users'></i> {% trans "Servants" %}</a></li>

{%endblock%}
