{%extends display.dash%}

{%block sidenav%}
  <li class="title"><a href="{{url.here}}/city">{%if xCity%} {%trans "City"%} {{xCityTitle}} {%else%} {%trans "Select city"%}{%endif%}</a></li>
  <li><a href="{{url.here}}{{xCityStart}}"><i class='sf-gauge'></i> {% trans "Agent Panel" %}</a></li>
  <li><a href="{{url.here}}/servant{{xCityStart}}"><i class='sf-users'></i> {% trans "Servants" %}</a></li>
  <li><a href="{{url.here}}/servant/sortlist{{xCityStart}}"><i class='sf-list'></i> نوبت اعزام</a></li>
  <li><a href="{{url.here}}/send{{xCityStart}}"><i class='sf-list'></i> اعزام خادم</a></li>
  <li class="hr"></li>
  <li><a href="{{url.here}}/skills{{xCityStart}}"><i class='sf-tools'></i> {% trans "Skills" %}</a></li>
  <li><a href="{{url.here}}/place{{xCityStart}}"><i class='sf-pin'></i> {% trans "Agent Place" %}</a></li>
  <li><a href="{{url.here}}/assessmentitem{{xCityStart}}"><i class='sf-lamp'></i> {% trans "Assessment Item" %}</a></li>

{%endblock%}
