{%extends display.cpMain%}






{%block pageContent%}

{%if dataTable%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}
  {{block('htmlFilter')}}

 {%else%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}

 {%endif%}
{%else%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlFilterNoResult')}}

 {%else%}
  {{block('htmlStartAddNew')}}

 {%endif%}
{%endif%}

{%endblock%}




{%block htmlSearchBox%}
<div class="cbox fs12">
  <form method="get" action='{{url.here}}/health'>
    <div class="input">
      <input type="search" name="q" placeholder='{%trans "Search"%}' id="q" value="{{requestGET.q}}" autofocus autocomplete='off'>
      <button class="addon btn ">{%trans "Search" %}</button>
    </div>
  </form>
</div>
{%endblock%}


{%block htmlTable%}
 <div class="cbox fs12">
{%for key, value in dataTable%}
  <div class="msg f pA align-center">
    <div class="cauto s12 pRa10">
      <div class="vcard shadow max-w150">
        <img alt="{{value.displayname}}" src="{{value.avatar}}">
        <div class="content">
          <div class="header"><small>{{value.firstname}}</small> <span class="fs09 txtB">{{value.lastname}}</span></div>
          <div class="meta">{{value.title}}</div>
        </div>
        <div class="footer txtC"><a href="tel:{{value.mobile}}">{{value.mobile | fitNumber("mobile")}}</a></div>
      </div>
    </div>
    <div class="c pA10">
      <p class="fs12"><b>{%trans "Meeting title"%}</b> {{value.title}} <span class="floatRa badge primary ltr" title='{{value.publishdate | sdate("year")}}'>{{value.publishdate | tdate(true)}}</span></p>
      <p><b>{%trans "Meeting Order"%}</b> {{value.subtitle}}</p>
      <div>{{value.meta.member}}</div>
      <div class="msg bg-white">{{value.content_raw}}</div>

    </div>
  </div>
{%endfor%}
  {%include display.pagination%}
 </div>

{%endblock%}


{%block htmlFilter%}
<p class="f fs14 msg warn2">
  <span class="c">{{dataFilter | raw}}</span>
  <a class="cauto" href="{{url.here}}/health">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlFilterNoResult%}
<p class="f fs14 msg warn2">
  <span class="c">{%trans "Result not found!"%} {%trans "Search with new keywords."%}</span>
  <a class="cauto" href="{{url.here}}/health">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlStartAddNew%}
<p class="fs14 msg success2 pTB20">{%trans "No record exist!"%}</p>
{%endblock%}

