{%extends display.cpMain%}






{%block pageContent%}

{%if dataTable%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}
  {{block('htmlFilter')}}

 {%else%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}

 {%endif%}
{%else%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlFilterNoResult')}}

 {%else%}
  {{block('htmlStartAddNew')}}

 {%endif%}
{%endif%}

{%endblock%}




{%block htmlSearchBox%}
<div class="cbox fs12">
  <form method="get" action='{{url.here}}/health'>
    <div class="input">
      <input type="search" name="q" placeholder='{%trans "Search in health"%}' id="q" value="{{requestGET.q}}" autofocus class="" data-default data-pass='submit' autocomplete='off'>
      <button class="addon btn ">{%trans "Search" %}</button>
    </div>
  </form>
</div>
{%endblock%}


{%block htmlTable%}
 <div class="cbox fs12">
{%for key, value in dataTable%}
  <div class="msg f pA">
    <div class="cauto pRa10">
      <div class="vcard max-w150">
        <img alt="siftal" src="{{user.avatar}}">
        <div class="content">
          <a class="header">Ermile</a>
          <div class="meta"><span>Joined in 2018</span></div>
        </div>
        <div class="footer">123 Friends</div>
      </div>
    </div>
    <div class="c pA10">
      <div>{{value.title}}</div>
      <div>{{value.subtitle}}</div>
      <div>{{value.meta.member}}</div>
      <div>{{value.content}}</div>
      <div>{{value.publishdate | tdate}}</div>
    </div>
  </div>
{%endfor%}
 </div>

 <div class="cbox fs12">
  <table class="tbl">
    <thead class="primary">
      <tr>

        <th data-sort="{{sortLink.title.order}}"><a href="{{sortLink.title.link}}">{%trans "Title"%}</a></th>
        <th class="s0" data-sort="{{sortLink.status.order}}"><a href="{{sortLink.status.link}}">{%trans "status"%}</a></th>
        <th >{%trans "Edit"%}</th>
      </tr>
    </thead>

    <tbody>
      {%for key, value in dataTable%}
      <tr class="{%if value.status == 'cancel' or value.status == 'draft'%} disabled{%elseif value.status == 'spam' or value.status == 'deleted' %} negative{%elseif value.status == 'unapproved' %} warning{%endif%}">

        <td><a href="{{url.this}}?mobile={{value.mobile}}">{{value.title}}</a></td>
        <td class="s0 collapsing"><a href="{{url.this}}?status={{value.status}}">{%set myStatus = value.status | capitalize %}{%trans myStatus%}</a></td>
        <td class="collapsing"><a class="badge" href="{{url.this}}?health={{value.expert}}">{%trans "Edit"%}</a></td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  {%include display.pagination%}

 </div>
{%endblock%}


{%block htmlFilter%}
<p class="f fs14 msg warn2">
  <span class="c">{{dataFilter | raw}}</span>
  <a class="cauto" href="{{url.here}}/health">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlFilterNoResult%}
<p class="f fs14 msg warn2">
  <span class="c">{%trans "Result not found!"%} {%trans "Search with new keywords."%}</span>
  <a class="cauto" href="{{url.here}}/health">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlStartAddNew%}
<p class="fs14 msg success2 pTB20">{%trans "No record exist!"%}</p>
{%endblock%}

