{%extends display.cpMain%}






{%block pageContent%}

{%if dataTable%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}
  {{block('htmlFilter')}}

 {%else%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}

 {%endif%}
{%else%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlFilterNoResult')}}

 {%else%}
  {{block('htmlStartAddNew')}}

 {%endif%}
{%endif%}

{%endblock%}




{%block htmlSearchBox%}
<div class="cbox fs12">
  <form method="get" action='{{url.here}}/health'>
    <div class="input">
      <input type="search" name="q" placeholder='{%trans "Search in health"%}' id="q" value="{{requestGET.q}}" autofocus class="" data-default data-pass='submit' autocomplete='off'>
      <button class="addon btn ">{%trans "Search" %}</button>
    </div>
  </form>
</div>
{%endblock%}


{%block htmlTable%}
 <div class="cbox fs12">
{%for key, value in dataTable%}
  <div class="msg f pA">
    <div class="cauto pRa10">
      <div class="vcard max-w150">
        <img alt="{{value.displayname}}" src="{{value.avatar}}">
        <div class="content">
          <a class="header">{{value.title}}</a>
          <div class="meta"><span>{{value.bio}}</span></div>
        </div>
        <div class="footer">{{value.mobile | fitNumber("mobile")}}</div>
      </div>
    </div>
    <div class="c pA10">
      <div>{{value.title}}</div>
      <div>{{value.subtitle}}</div>
      <div>{{value.meta.member}}</div>
      <div>{{value.content_raw}}</div>
      <div>{{value.publishdate | tdate}}</div>
    </div>
  </div>
{%endfor%}
 </div>

  {%include display.pagination%}

 </div>
{%endblock%}


{%block htmlFilter%}
<p class="f fs14 msg warn2">
  <span class="c">{{dataFilter | raw}}</span>
  <a class="cauto" href="{{url.here}}/health">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlFilterNoResult%}
<p class="f fs14 msg warn2">
  <span class="c">{%trans "Result not found!"%} {%trans "Search with new keywords."%}</span>
  <a class="cauto" href="{{url.here}}/health">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlStartAddNew%}
<p class="fs14 msg success2 pTB20">{%trans "No record exist!"%}</p>
{%endblock%}

