{%extends 'content_smsapp/editgroup/display.html'%}


{%block pageContent%}
{{block('pageSteps')}}
<div class="msg fs12 txtB txtC info2">
  {%trans "You can register a answer of responses to this group to help you respond."%}
</div>
<div class="f justify-center">
  <div class="c4 s12">

    <div class="cbox">
      <form method="post" autocomplete="off">
        {{block('itext')}}

        {{block('iadd')}}
      </form>
    </div>
  </div>
  <div class="c8 s12">
    <div class="mLa5">
      <div class="cbox">
        <div class="msg txtB txtC">{%trans "Group title"%} {{dataRow.title}}</div>
        {%if dataTable%}
        {%for key, value in dataTable%}
        <div class="msg {%if value.text | length > 70%} warn2 {%else%} primary2 {%endif%}">
          <div class="f">

            <span class="c {%if value.isdefault%} fs12 txtB {%endif%}">{{value.text}}</span>
            <span class="cauto mRa20 txtB">{{value.text | length | fitNumber}} {%trans "Character"%}</span>
            {%if not value.isdefault%}
            <div class="cauto mRa20">
              <span class="badge success" data-confirm data-data='{"type":"isdefault", "defaultid" :"{{value.id}}", "group_id" : "{{requestGET.id}}"}'>{%trans "Set as default"%}</span>
            </div>
            {%else%}

            <div class="cauto mRa20">
              <span class="badge warn" data-confirm data-data='{"type":"removedefault", "defaultid" :"{{value.id}}", "group_id" : "{{requestGET.id}}"}'>{%trans "Remove default"%}</span>
            </div>
            {%endif%}
            <div class="cauto">
              <span class="badge danger" data-confirm data-data='{"type":"remove", "deleteid" :"{{value.id}}", "group_id" : "{{requestGET.id}}"}'>{%trans "Remove"%}</span>
            </div>
          </div>
        </div>
        {%endfor%}
        {%else%}
        <div class="msg warn2 txtB txtC">{%trans "No answer founded"%}</div>
        {%endif%}

      </div>
    </div>
  </div>
</div>
{%endblock%}






{%block itext %}

<label for="itxt">{%trans "Answer text"%} <small class="fc-red">* {%trans "Require"%}</small></label>
<textarea class="txt" rows="5" name="text" required autofocus id="itxt"></textarea>

{% endblock %}
