{%extends display.cpMain%}


{%block pageContent%}


<div class="f justify-center">
  <div class="cbox c5">
    <form method="post">
      {{block ('iCity') }}
      {{block ('iPlace') }}
      {{block ('iadd')}}
    </form>
  </div>
</div>

<div class="f justify-center">
<div class="cbox c5">

{%if way_list%}
    <br>
    <h2>{%trans "List of way"%}</h2>
    <table class="tbl">
      <thead>
        <tr class="primary">
          <th>{%trans "Title"%}</th>
          <th>{%trans "Delete"%}</th>
        </tr>
      </thead>
      <tbody>
        {%for key, value in way_list%}
          <tr>
            <td>{{value}}</td>
            <td class="collapsing"><a href="{{url.full}}" data-ajaxify data-method="post" data-data='{"key": "{{value}}", "type":"delete"}'><button class="btn danger xs">{%trans "Remove"%}</button></a></td>
          </tr>
        {%endfor%}
      </tbody>
    </table>
{%endif%}
  </div>
</div>

{%endblock%}





{%block iadd%}
<button class="btn primary block mT25">{%trans "Add"%}</button>
{%endblock%}



{%block iCity%}
<label for='city'>{%trans "City"%}</label>
<div class="input">
 <input type='text' class="awesomplete" name='city' id='city' autofocus data-minchars="1" data-autofirst data-list="{{city_list}}" placeholder='{%trans "City"%}'   value="{{userdetail.city}}" />
</div>
{%endblock%}



{%block iPlace%}
<label for='fplace'>{%trans "Place"%}</label>
<div class="input">
 <input type="text" name="place" placeholder='{%trans "Place"%}'   maxlength='50' minlength="1" pattern=".{1,50}" title='{%trans "Enter a valid place"%}' id='fplace'>
</div>
{%endblock%}


