{%extends display.mvc%}


{%block head_css%}
<link rel="stylesheet" href="{{url.site}}/static/css/delneveshte.css">
{%endblock%}


{%block body%}

<header>
  <a href="{{url.base}}" title='{%trans "Click and go to khadije site"%}'>
    <img src="{{url.site}}/static/images/logo/khadije.png" alt='{{site.title}}'>
    <h1>{{site.title}}</h1>
  </a>
</header>

<form class="inputer" autocomplete="off" method="post">
  <textarea class="el" name='desc' placeholder='{%trans "Wrote your heart sounds"%}' maxlength='1000'></textarea>
  <div class="f">
    <div class="c pRa5">
      <input type="text" name="title" class="el title" placeholder='{%trans "Name"%} {%trans "optional"%}' title='{%trans "Not require"%}' maxlength='30'>
    </div>
    <div class="c pRa5">
      <input type="tel" name="mobile" class="el mobile" placeholder='{%trans "Mobile"%} {%trans "optional"%}' title='{%trans "Mobile number is not showing on site and optional"%}' maxlength='15'>
    </div>
    <div class="cauto os">
      <button class="el send" title='{%trans "Press here to send"%}'>{%trans "Send"%}</button>
    </div>
  </div>
</form>

<section class="messages">
  <h2 class="txtC">{%trans "Last messages"%}</h2>

  <div class="msg">
    <b>حسن</b> امشب میخواستم خودکشی کنم که اعوذبله گفتم و قرآنو باز کردم و از خدا مدد خواستم... با چشم گریون و دست لرزون دارم اینجا مینویسم. دعاکنید فکراحمقانه از سرم بیرون بره و زندگیم شیرین بشه .میدونم شوهرم تغییری نمیکنه. برام دعاکنید به راه راست هدایت شه یا امشب که خوابیدم دیگه بیدار نشم...

    <span class="floatRa badge" title='{{"now" | tdate}}'>{{"now" | sdate}}</span>
  </div>
  <div class="msg">
    <b>رضا</b> مانند پرنده ای شدم که نه به کوچ می اندیشم نه به ساختن آشیانه ای برای ماندن...همانند همان پرنده ی ازقافله جامانده,روی دودکش سیاه سقف شیروانی برف الود,نشسته ام وبه آسمانی خیره شده ام که باهمه عظمتش جایی برای پرواز کردن بال های کوچکم نداشت..گرفتارزمین ودنیایی شده ام که برای ادامه دادن فقط شب را بصبح وصبح را ب شب گره میزنم..نویسندش که تقریبن خودمم چون به متن اصلی رو تغییر وکمیم بهش اضافه کردم...

    <span class="floatRa badge" title='{{"now" | tdate}}'>{{"now" | sdate}}</span>
  </div>
  <div class="msg">
    <b>آرزو به دل</b> سلام
چرا خدا اون چیزی رو که ازش میخوای بت نمیده اصلا تا بحال شده کسی چیزی بخواد ازش همون و همون لحظه بهت بده ؟! من که ندیدم
اخه این چه خدایه اگه واقعا اون میتونه چرا حاجتمو نمیدی ها ؟؟؟؟
اگه مصلحت نیست خوب مصلحت قرار بده مگه اون خدا نیست خب پس میشه پس الکی نگیم مصلحت نیست یا هنوز وقتش نرسیده اخه ما ادما صبر عیوب نداریم
دوستان من فقط یه چیز از خدا خواستم بهم نداد خیلی هم صبر کردم نداد و دیگه کاری هم بهش ندارم اصلا من بنده اون نیستم من خدای رو میخوام که به درد دلم گوش بده جوابمو بده نه بیاد منو اذیت کنه !
دوستان من اگه خدا بودم واسه 1دقیقه فقط واسه یک دقیقه ارزو همه رو براورده میکردم همینو بس
به امید یه روز که فقط منو تو قبر بزارن همین
    <span class="floatRa badge" title='{{"now" | tdate}}'>{{"now" | sdate}}</span>
  </div>
</section>


{%endblock%}

