{%extends display.khadijeCpMain%}


{%block pageContent%}


{%if nationalcode_list%}
{{block('searchblock')}}
<div class="cbox fs12">
{{block('datatable')}}
</div>


{%elseif utilityGET.q %}
{{block('searchblock')}}
<div class="fs14 alert alert-info pA25">
 {%trans "No nationalcode founded."%} {%trans "Search with new keywords."%}
</div>


{%else%}
<div class="cbox fs12">
 <h3>{%trans "You are not have nationalcode yet!"%}</h3>
</div>
{%endif%}

{%endblock%}


{%block searchblock%}
<div class="cbox fs12">
  <form method="get" action='{{url.baseFull}}/nationalcode'>
    <div class="input">
      <input type="search" name="q" placeholder='{%trans "Search in nationalcodes"%}' id="q" value="{{utilityGET.q}}" autofocus class="barCode" data-default data-pass='submit' autocomplete='off'>
      <button class="addon btn ">{%trans "Search" %}</button>
    </div>
  </form>
</div>
{%endblock%}


{%block datatable%}

  <table class="tbl">
    <thead class="">
      <tr>
        <th data-sort="{{sort_link.id.order}}" class="s0"><a href="{{sort_link.id.link}}">{%trans "ID"%}</a></th>
        <th data-sort="{{sort_link.nationalcode.order}}" class=""><a href="{{sort_link.nationalcode.link}}">{%trans "Nationalcode"%}</a></th>
        <th data-sort="{{sort_link.qom.order}}" class=""><a href="{{sort_link.qom.link}}">{%trans "Qom"%}</a></th>
        <th data-sort="{{sort_link.mashhad.order}}" class=""><a href="{{sort_link.mashhad.link}}">{%trans "Mashhad"%}</a></th>
        <th data-sort="{{sort_link.karbala.order}}" class=""><a href="{{sort_link.karbala.link}}">{%trans "Karbala"%}</a></th>
      </tr>
    </thead>

    <tbody>
      {%for key, value in nationalcode_list%}
      <tr>
        <td class="s0"><a href="{{url.baseFull}}/nationalcode/edit?id={{value.id}}">{{value.id | number_format | fitNumber}}</a></td>
        <td>{{value.nationalcode | fitNumber}}</td>
        <td>{{value.qom | fitNumber}}</td>
        <td>{{value.mashhad | fitNumber}}</td>
        <td>{{value.karbala | fitNumber}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  {%include display.pagination%}
{%endblock%}

