{%extends 'content_mokeb/layout.html'%}




{%block pageContent%}

<div class="f justify-center fs14">
  <div class="c4 s12 fs12 pRa10 p0">
    <form method="get" action="{{url.that}}" autocomplete="off" class="panel">
      <div class="pad">

        <img src="{{url.static}}/images/mokeb/labbayk.jpg" class="mB10">

        <div class="msg light dots txtC mB10 fs05 pLR5">
          {%set nextDot = null%}
          {%for key, value in fullFree%}
          {%if value.type == 'free'%}
{%if nextDot is null%}
{%set nextDot = value.number%}
            <span title="جایگاه  {{value.number | fitNumber}}" class="badge rounded success">&nbsp;</span>
{%else%}
            <span title="جایگاه  {{value.number | fitNumber}}" class="badge rounded primary">&nbsp;</span>
{%endif%}
          {%else%}
            <span title="جایگاه  {{value.number | fitNumber}}" class="badge rounded danger">&nbsp;</span>
          {%endif%}
          {%endfor%}
        </div>


        <div class="input">
          <input type="tel" name="cnationalcode" value="{{requestGET.cnationalcode}}" placeholder='کد ملی' maxlength="10"  minlength="1" {%if not checkNationalcode%}autofocus {%endif%}>
          <button class="addon btn">{%trans "Check"%}</button>
        </div>

        {%if checkNationalcode%}
          <br>
        {%endif%}

        {%if checkNationalcode == 'invalid'%}
          <div class="msg mB0-f danger txtC txtB">کد ملی اشتباه است</div>
        {%elseif checkNationalcode == 'signuped'%}
          <div class="msg mB0-f success txtC txtB">ثبت شده و مجاز به ورود</div>
          <a class="btn secondary fs07 mT10" href="{{url.here}}/detail?nationalcode={{requestGET.cnationalcode}}">ویرایش اطلاعات</a>
        {%elseif checkNationalcode == 'not-signuped'%}
          <div class="msg mB0-f info txtC txtB mB20">پذیرش جدید {%if nationalCity%}<hr class="mTB5-f"><div class="fs07">صادره از  <b>{{nationalCity}}</b></div>{%endif%}</div>
        {%endif%}
      </div>
    </form>
  </div>

{%if checkNationalcode == 'signuped'%}
  <div class="c8 s12 pLa10">
    {{block('a6_chap_detail')}}
  </div>
{%endif%}

{%if checkNationalcode == 'not-signuped'%}
  <div class="c6 s12 pLa10">
    <div class="panel">
      <div class="pad">
          {{block('newSignup')}}
      </div>
    </div>
  </div>
{%endif%}

</div>

{%endblock%}









{%block a6_chap_detail%}

<div class="panel printA6">
  <div class="pad">

    <div class="f align-center mB5">
      <div class="cauto pRa10">
        <img src="{{url.static}}/images/logo/khadije.png" class="logo">
      </div>
      <div class="c">
        <h3>{{site.title}}</h3>
      </div>
      <div class="c4 txtRa">
        <div class="placeNumber"><small class="fs05">#</small><b>{{mokebuserDetail.position}}</b></div>
      </div>
    </div>

    <div class="msg">
      {%if mokebuserDetail.gender == 'male'%}آقای {%elseif mokebuserDetail.gender == 'female'%}خانم{%endif%}

      {%if mokebuserDetail.firstname or mokebuserDetail.lastname%}
        {{mokebuserDetail.firstname}} <b>{{mokebuserDetail.lastname}}</b>
      {%endif%}
    </div>

    <div class="f fs08">
      <div class="c">
        <div class="msg">کد ملی <span class="compact pLa10">{{mokebuserDetail.nationalcode | fitNumber(false)}}</span></div>
      </div>
      <div class="c">
        <div class="msg">موبایل <span class="compact pLa10">{{mokebuserDetail.mobile | fitNumber(false)}}</span></div>
      </div>
    </div>

  <div class="msg fs08">
    <div>تاریخ پذیرش  در موکب<span class="floatL ltr">{{mokebuserDetail.datecreated | dt}}</span></div>
    <div>اتمام زمان پذیرش <span class="floatL ltr">{{mokebuserDetail.expire | dt}}</span></div>
  </div>

  <div class="msg fs08">
    <div>موکب {{mokebDetail.title}}</div>
    {%if mokebDetail.address%}<div>آدرس <b>{{mokebDetail.address}}</b></div>{%endif%}
    {%if mokebDetail.desc%}<div class="mT10">{{mokebDetail.desc}}</div>{%endif%}
  </div>

  </div>
</div>

<style>
@media print {
  .tbox{display:none;}
  .siftal #main #content{padding: 0}
  .c8.s12.pLa10{padding:0!important}
}

body .printA6 div{color:#000!important;}
.printA6 .logo{display:block;margin:0; max-height: 100px;}
.printA6 h3{font-weight: 900;font-size: 1.2em;margin-bottom: 0}
.printA6 .placeNumber{font-size: 50px;line-height: 50px;}

</style>

{%endblock%}






{%block newSignup%}

    <form class="" method="post" autocomplete="off">

{{block ('iMobileKarabala') }}

{{block ('iname') }}
{{block ('ifamily') }}

{{block ('icity') }}
{{block ('iMarital') }}
{{block ('igender') }}


     <div class="msg hide f txtB">
       <div class="c">جایگاه پذیرش</div>
       <div class="c">{{freePosition[0] | fitNumber(false)}}</div>
     </div>


     <div class="f mT20">
       <div class="c">{{block ('iSave') }}</div>
       <div class="cauto"><a href="{{url.that}}" class="btn mT20 mLa5">انصراف</a></div>
     </div>

    </form>
{%endblock%}



{%block iname%}
<label for="name">{%trans "Name"%} </label>
<div class="input">
  <input type="text" name="name" id="name" value="{{userdetail.firstname}}" maxlength='40' minlength="2" autocomplete="new-password" required>
</div>
{%endblock%}


{%block ifamily%}
<label for="lastName">{%trans "Last name"%} </label>
<div class="input">
  <input type="text" name="lastName" id="lastName" value="{{userdetail.lastname}}" maxlength='40' minlength="2" autocomplete="new-password" required>
</div>
{%endblock%}


{%block ifather%}
<label for="father">{%trans "Father name"%}  </label>
<div class="input">
  <input type="text" name="father" id="father" placeholder='{%trans "Father name"%}' value="{{userdetail.father}}" maxlength='50' >
</div>
{%endblock%}


{%block imobile%}
<label for="mobile" class="disabled">{%trans "Mobile"%}</label>
<div class="input disabled">
  <input type="text" readonly disabled id="mobile" placeholder='{%trans "Like 09120123456"%}' value="{{userdetail.mobile}}" maxlength='30' required>
</div>
{%endblock%}


{%block incode%}
<label for="nationalcode">{%trans "National code"%} </label>
<div class="input">
  <input type="tel" name="nationalcode" id="nationalcode" placeholder='{%trans "10 digit national code"%}' value="{{userdetail.nationalcode}}" min='1000000000' max='9999999999' >
</div>
{%endblock%}


{%block ibirthday%}
<label for="birthday">{%trans "Birthday"%}  </label>
<div class="input ltr">
  <input class="datepicker" type="text" name="birthday" id="birthday"  placeholder='{{"1369/04/15" | fitNumber}}' value="{{userdetail.birthday}}" maxlength='20' data-format="YYYY/MM/DD"data-view="year">
</div>
{%endblock%}






{%block igender%}
<div class="">
  <label for="gender">{%trans "Gender"%} </label>
  <select name="gender" class="ui dropdown select">
    <option value="" readonly>{%trans "Please select one itme"%}</option>
    <option value="male" {%if userdetail.gender == 'male' or ( not userdetail.gender and mokebDetail.gender == 'male') %}selected {%endif%}>{%trans "Male"%}</option>
    <option value="female" {%if userdetail.gender == 'female' or ( not userdetail.gender and mokebDetail.gender == 'female') %}selected{%endif%}>{%trans "Female"%}</option>
  </select>
</div>
{%endblock%}


{%block iMarital%}
<div class="">
  <label for="married">{%trans "Marital"%} </label>
  <select name="Married" class="ui dropdown select">
    <option value="" readonly>مجرد یا متاهل</option>
    <option value="single" {%if userdetail.married == 'single' %}selected {%endif%}>{%trans "Single"%}</option>
    <option value="married" {%if userdetail.married == 'married' %}selected{%endif%}>{%trans "Married"%}</option>
  </select>
</div>
{%endblock%}





{%block iArabicLang%}
<div class="switch1 pA5">
 <input type="checkbox" name="ArabicLang" id="ArabicLang" {%if userdetail.arabiclang == 'yes' %}checked{%endif%}>
 <label for="ArabicLang"  data-on='{%trans "Yes"%}' data-off='{%trans "No"%}'></label>
 <label for="ArabicLang">{%trans "Arabic Language"%}</label>
</div>

{%endblock%}





{%block iprovince%}
<label for='province'>{%trans "Province"%}</label>
<select name="province" class="ui dropdown select search" id="province">
  <option value="" readonly>{%trans "Select province"%}</option>
  {%for key, value in proviceList%}
    <option value="{{key}}" {% if userdetail.province == key %} selected {%endif%}>{{value}}</option>
  {%endfor%}
</select>
{%endblock%}


{%block icity%}
<label for='city'>{%trans "City"%}  </label>
<select name="city" class="ui dropdown select search" id="city" autocomplete="new-password">
  <option value="" readonly></option>
  {%for key, value in cityList%}
    <option value="{{key}}" {% if userdetail.city == key %} selected {%endif%}>{{value}}</option>
  {%endfor%}
</select>
{%endblock%}




{%block izipcode%}
<label for='zipcode'>{%trans "Zip code"%}</label>
<div class="input">
 <input type='tel' name='zipcode' id='zipcode' min="0" max="9999999999" value="{{userdetail.zipcode}}"/>
</div>
{%endblock%}




{%block ipassport%}
<label for='passport'>{%trans "Passport id"%} </label>
<div class="input ltr">
 <input type="text" name='passport' id='passport' value="{{userdetail.pasportcode}}" />
</div>
{%endblock%}


{%block ipassportexpire%}
<label for='passportexpire'>{%trans "Passport expire date"%}</label>
<div class="input">
  <input class="datepicker" type="text" name="passportexpire" id="passportexpire" placeholder='{{"1397/03/30" | fitNumber}}' value="{{userdetail.pasportdate}}" maxlength='20' data-format="YYYY/MM/DD" data-view="year">
</div>
{%endblock%}



{%block iAddress%}
<label for='fhomeaddress'>{%trans "Address"%}  </label>
<textarea name="homeaddress" rows="2" placeholder='{%trans "Address"%}' class="txt" id="fhomeaddress">{{userdetail.homeaddress}}</textarea>
{%endblock%}

{%block iWorkAddress%}
<label for='fworkaddress'>{%trans "Work Address"%}</label>
<textarea name="workaddress" rows="3" placeholder='{%trans "Work Address"%}' class="txt" id="fworkaddress">{{userdetail.workaddress}}</textarea>
{%endblock%}



{%block iDescription%}
<label for='fdesc'>{%trans "Description"%}</label>
<textarea name="desc" rows="3" placeholder='{%trans "Description"%}' class="txt" id="fdesc">{{userdetail.desc}}</textarea>
{%endblock%}



{%block iMobileKarabala%}
<label for="mobile">{%trans "Mobile"%} <small>۱۰ رقمی</small> </label>
<div class="input ltr">
  <input type="tel" name="mobile" id="mobile" value="{{userdetail.mobile}}" maxlength='50' autofocus autocomplete="new-password">
</div>
{%endblock%}

{%block iPhone%}
<label for="phone">{%trans "Phone"%}  </label>
<div class="input ltr">
  <input type="tel" name="phone" id="phone" value="{{userdetail.phone}}" maxlength='50' >
</div>
{%endblock%}



{%block iEmail%}
<label for="email">{%trans "Email"%}</label>
<div class="input">
  <input type="email" name="email" id="email" placeholder='{%trans "Like"%} abc@example.com' value="{{userdetail.email}}" maxlength='50'>
</div>
{%endblock%}


{%block iAvatar%}
<div class="input preview">
 <input type="file" accept="image/gif, image/jpeg, image/png" name="avatar" id="avatar1" data-preview data-max="500">
 <label for="avatar1" title2="Simple Title">
    {%if userdetail.avatar%}<img src="{{userdetail.avatar}}">{%endif%}
 </label>
</div>
{%endblock%}


{%block iNationalthumb%}
<div class="input preview">
 <input type="file" accept="image/gif, image/jpeg, image/png" name="nationalthumb" id="nationalthumb" data-preview data-max="500">
 <label for="nationalthumb" title2="Simple Title">
    {%if userdetail.nationalthumb%}<img src="{{userdetail.nationalthumb}}">{%endif%}
 </label>
</div>
{%endblock%}


{%block iShthumb%}
<div class="input preview">
 <input type="file" accept="image/gif, image/jpeg, image/png" name="shthumb" id="shthumb" data-preview data-max="500">
 <label for="shthumb" title2="Simple Title">
    {%if userdetail.shthumb%}<img src="{{userdetail.shthumb}}">{%endif%}
 </label>
</div>
{%endblock%}



{%block iEducation%}
<label for="feducation">{%trans "Education"%}</label>
<div class="input">
  <input type="text" name="education" id="feducation" placeholder='{%trans "Education"%}' value="{{userdetail.education}}" maxlength='50'>
</div>
{%endblock%}



{%block iEducationCourse%}
<label for="feducationcourse">{%trans "Education course"%}</label>
<div class="input">
  <input type="text" name="educationcourse" id="feducationcourse" placeholder='{%trans "Education course"%}' value="{{userdetail.education}}" maxlength='50'>
</div>
{%endblock%}



{%block iJob%}
<label for="fjob">{%trans "Job"%}</label>
<div class="input">
  <input type="text" name="job" id="fjob" placeholder='{%trans "Job"%}' value="{{userdetail.job}}" maxlength='50'>
</div>
{%endblock%}


{%block iJobIsStudent%}
<div class="switch1 ">
 <input type="checkbox" name="student" id="student" {%if userdetail.job == 'student' %}checked{%endif%}>
 <label for="student"  data-on='{%trans "Yes"%}' data-off='{%trans "No"%}'></label>
 <label for="student">{%trans "Are you an univercity student?"%}</label>
</div>
{%endblock%}




{%block iadd%}
<button class="btn primary block mT20">{%trans "Add"%}</button>
{%endblock%}

{%block iSave%}
<button class="btn primary block mT20">{%trans "Signup"%}</button>
{%endblock%}





{%block icountry%}
<div class="mB10">
  <label for='country'>{%trans "Country"%}</label>
  <div class="ui fluid search selection dropdown">
    <input type="hidden" name="country" value="{{userdetail.country}}">
    <i class="dropdown icon"></i>
    <div class="default text">{%trans "Choose your country"%}</div>
    <div class="menu">
{%for key, value in countryList%}
      <div class="item" data-value="{{key}}">
        <i class="{{value.iso2 | lower }} flag"></i>{%set myCountry = value.name%} {%trans myCountry%}
        <small class="description">{{value.name | capitalize}}</small>
      </div>
{%endfor%}
    </div>
  </div>
</div>
{%endblock%}