{%extends display.admin%}
{%use 'content_protection/agentoccasion/pageStep.html' %}

{%block pageContent%}
{{block ('pageStep')}}

<form method="post" autocomplete="off">
  <div class="f justify-center">
    <div class="c6 s12 m8">
      <div class="cbox">


        <label>{%trans "bankshaba"%}</label>
        <div class="input">
          <input type="text" name="bankshaba" value="{{dataRow.bankshaba}}">
        </div>
        <label>{%trans "bankhesab"%}</label>
        <div class="input">
          <input type="text" name="bankhesab" value="{{dataRow.bankhesab}}">
        </div>
        <label>{%trans "bankcart"%}</label>
        <div class="input">
          <input type="text" name="bankcart" value="{{dataRow.bankcart}}">
        </div>
        <label>{%trans "bankname"%}</label>
        <div class="input">
          <input type="text" name="bankname" value="{{dataRow.bankname}}">
        </div>
        <label>{%trans "bankownername"%}</label>
        <div class="input">
          <input type="text" name="bankownername" value="{{dataRow.bankownername}}">
        </div>

        <div class="txtRa">
          <button class="btn primary">{%trans "Save"%}</button>
        </div>

      </div>
    </div>
  </div>
</form>
{%endblock%}
