{%extends display.admin%}
{%use 'content_a/protection/pageStep.html' %}

{%block pageContent%}
{{block ('pageStep')}}

<form method="post" autocomplete="off">
  <div class="f justify-center">
    <div class="c6 s12 m8">
      <div class="cbox">

          <div class="msg">{%trans "bankshaba"%} <b>{{dataRow.bankshaba}}</b></div>
          <div class="msg">{%trans "bankhesab"%} <b>{{dataRow.bankhesab}}</b></div>
          <div class="msg">{%trans "bankcart"%} <b>{{dataRow.bankcart}}</b></div>
          <div class="msg">{%trans "bankname"%} <b>{{dataRow.bankname}}</b></div>
          <div class="msg">{%trans "bankownername"%} <b>{{dataRow.bankownername}}</b></div>

      </div>
    </div>
  </div>
</form>
{%endblock%}
