{%extends 'content_lottery/layout.html'%}


{%block pageContent%}
{%include 'content_lottery/user/nav.html'%}
<div class="f">
  <div class="c6 s12 pRa10">
    <div class="cbox mLa5">
      {{block('addNew')}}
    </div>
  </div>
  <div class="c6 s12">
    <div class="mLa5">
      {{block('myList')}}
    </div>
  </div>
</div>
{%endblock%}



{%block addNew%}
   <form method="post" autocomplete="off">
      <h3>ثبت قرعه‌کشی جدید</h3>
      <label>عنوان دلخواه برای این مرحله از قرعه‌کشی</label>
      <div class="input">
        <input type="text" name="title" placeholder="عنوان قرعه‌کشی" maxlength="100" >
      </div>

      <div class="">
        <label for="datel">تاریخ قرعه کشی</label>
        <div class="input ltr">
          <input class="datepicker" type="text" name="date"  placeholder='{%trans "Date"%}' id="datel"  value="{{dateEn}}" maxlength='20' data-format="YYYYMMDD"data-view="month">
        </div>
      </div>
      <label>تعداد کل افرادی که می‌خواهید از قرعه کشی استخراج کنید</label>
      <div class="input">
        <input type="number" name="countall" placeholder="تعداد افراد" max="9999999999">
        <label for="countall" class="addon">نفر</label>
      </div>

      <label>تعداد نمایش افراد در هر مرحله</label>
      <div class="input">
        <input type="number" name="countperlevel" placeholder="تعداد افراد" max="9999999999">
        <label for="countperlevel" class="addon">نفر</label>
      </div>
      <div class="txtRa">

        <button class="btn success">آماده سازی جهت قرعه کشی</button>
      </div>
  </form>
{%endblock%}


{%block myList%}
      {%if lotteryList%}

      <div class="tblBox">
        <table class="tbl1 v1 fs12">
          <thead>
            <tr>
              <th>{%trans "Title"%}</th>
              <th>{%trans "Date"%}</th>
              <th>{%trans "Count All"%}</th>
              <th>{%trans "Count per level"%}</th>
              <th class="collapsing">{%trans "Action"%}</th>
            </tr>
          </thead>

          <tbody>
            {%for key, value in lotteryList%}
              <tr>
                <td>{{value.title}}</td>
                <td>{{value.date| dt(null, 'date')}}</td>
                <td>{{value.countall| fitNumber}} <small>{%trans "Person"%}</small></td>
                <td>{{value.countperlevel| fitNumber}} <small>{%trans "Person"%}</small></td>
                <td>
                  <a class="btn success xs" href="{{url.this}}/show?level={{value.url}}">بررسی لیست</a>
                  {%if perm_su()%}
                    <div class="btn danger xs" data-confirm data-data='{"type": "remove", "id" : "{{value.id}}"}'>حذف</div>
                  {%endif%}
                </td>
              </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>


    {%endif%}
{%endblock%}

