{%extends display.festivalAdd%}


{%block pageContent%}

{{block('pageSteps')}}

<div class="f justify-center">
	<div class="c8">
		<div class="cbox">
			<form method="post" autocomplete="off">
				{{block('ititle')}}
				{{block('isubtitle')}}
				{{block('islug')}}
				{{block('idesc')}}

				<div class="switch1 mB10">
				 <input type="checkbox" name="student" id="student" {%if dataRow.student %}checked{%endif%}>
				 <label for="student"></label>
				 <label for="student">{%trans "For Student"%}</label>
				</div>
				{{block('isave')}}
			</form>
		</div>
	</div>
</div>
{%endblock%}




