{%extends display.main%}


{%block pageData%}

{%if payment_verify_msg %}
<div class="cn">
  <div class="msg txtC {%if payment_verify_msg_true %}success{%else%}danger{%endif%}">{{payment_verify_msg}}</div>
</div>
{%endif%}

<div class="fs14 pA25">
 <div class="tiny f justify-center">

{%if DonersList | length > 30%}
 <a href="{{url.base}}/donate" class="vcard cauto shadow">
   <img src="{{url.static}}/siftal/images/useful/care.png" alt='{%trans "Be good too"%}'>
  <div class="content">
   <div class="btn block success fs09">{%trans "Be good too"%}</div>
  </div>
 </a>
{%endif%}

{%for key, value in DonersList%}
  <div class="vcard cauto shadow" title='{{value.date | tdate("Y/m/d H:i") }}'>
   <img src="{{url.static}}/siftal/images/useful/gift.png" alt='{%trans "Doner"%} {{value.firstname}} {{value.lastname}}'>
   <div class="content">
    <div class="header">
    {%if value.doners%}
      {%if value.fullname%}
      {{value.fullname}}
      {%else%}
        {%trans "Untitled"%}
      {%endif%}
    {%else%}
      {%trans "Anonymous"%}
    {%endif%}
  </div>
    <div class="meta"><span>{{value.plus | number_format | fitNumber}}</span> <span>{%trans "Toman"%}</span></div>
   </div>
  </div>

{%endfor%}


 <a href="{{url.base}}/donate" class="vcard cauto shadow">
   <img src="{{url.static}}/siftal/images/useful/care.png" alt='{%trans "Be good too"%}'>
  <div class="content">
   <div class="btn block success fs09">{%trans "Be good too"%}</div>
  </div>
 </a>

   {%include display.pagination%}

 </div>
</div>




{%endblock%}

