{%extends display.main%}


{%block pageData%}

<div class="cn fs14">
 <div class="example small">

{%for key, value in DonersList%}
  <div class="vcard shadow">
   <img src="{{url.static}}/siftal/images/useful/gift.png">
   <div class="content">
    <div class="header">{%if value.doners%} {{value.firstname}} {{value.lastname}}{%else%}{%trans "Anonymous"%}{%endif%}</div>
    <div class="meta"><span>{{value.plus | number_format | fitNumber}}</span></div>
   </div>
  </div>

{%endfor%}

 </div>
</div>




{%endblock%}

