{%extends display.main%}


{%block pageData%}

<div class="cn fs14">
 <div class="example small f justify-center">

{%for key, value in DonersList%}
  <div class="vcard cauto shadow" title='{{value.date | tdate("Y/m/d H:i") }}'>
   <img src="{{url.static}}/siftal/images/useful/gift.png">
   <div class="content">
    <div class="header">
    {%if value.doners%}
      {%if value.firstname or value.lastname%}
      {{value.firstname}} {{value.lastname}}
      {%else%}
        {%trans "Untitled"%}
      {%endif%}
    {%else%}
      {%trans "Anonymous"%}
    {%endif%}
  </div>
    <div class="meta"><span>{{value.plus | number_format | fitNumber}}</span> <span>{%trans "Toman"%}</span></div>
   </div>
  </div>

{%endfor%}


 <a href="{{url.base}}/donate" class="vcard cauto shadow">
   <img src="{{url.static}}/siftal/images/useful/care.png">
  <div class="content">
   <button class="btn block success">{%trans "Be good too"%}</button>
  </div>
 </a>


 </div>
</div>




{%endblock%}

