{%extends 'content_smsapp/layout.html'%}




{%block pageContent%}

<div class="f justify-center">
<div class="c6 m12 s12">

  <div class="f">
    {%for key, value in togateway%}
    <div class="c s12">
      <a class="dcard x2" href="{{url.here}}/{{myUrlChild}}/{{value.togateway}}">
       <div class="statistic sm teal">
        <div class="value mB10">{{value.togateway | fitNumber('mobile')}}</div>
        <div class="label">{{value.count | fitNumber }} {%trans "Sms"%}</div>
       </div>
      </a>
    </div>
    {%endfor%}
  </div>

</div>
</div>
{%endblock%}


