{%extends 'content_smsapp/layout.html'%}




{%block pageContent%}

<div class="f justify-center">
    {%for key, value in togateway%}
<div class="c6 m12 s12 pRa10">
      <a class="dcard x2" href="{{url.here}}/{{myUrlChild}}/{{value.togateway}}">
       <div class="statistic sm teal">
        <div class="value mB10">{{value.togateway | fitNumber('mobile')}}</div>
        <div class="label">{{value.count | fitNumber }} {%trans "Sms"%}</div>
       </div>
      </a>

</div>
    {%endfor%}
</div>

{%if perm_su()%}
<div class="btn" data-kerkere='.removeAllShow'><i class="sf-alert"></i></div>
<div class="removeAllShow" data-kerkere-content='hide'>

{%for key, value in togateway%}
  {%if value.togateway != '989127522690'%}
<div class="c4 s12 pRa10">
      <div class="dcard x1" data-confirm data-data='{"type": "removeAll", "gateway" : "{{value.togateway}}"}'>
       <div class="statistic sm red">
        <div class="value mB10">{{value.togateway | fitNumber('mobile')}}</div>
        <div class="label">{{value.count | fitNumber }} {%trans "Sms"%}</div>
        <div class="meta">حذف همه پیامک های ارسال شده به این شماره</div>
       </div>
      </div>
</div>
    {%endif%}
    {%endfor%}
</div>
{%endif%}
{%endblock%}


