{%extends display.main%}

{%block iFullNameMobile%}
<div class="f">
  <div class="c s12 pRa5">{{block ('iFullname')}}</div>
  <div class="c s12">{{block ('iMobile')}}</div>
</div>
{%endblock%}

{%block iFullname%}
<label for='ffamily'>{%trans "Full name"%}</label>
<div class="input">
 <input type="text" name="fullname"  {%if user.displayname%}value="{{user.displayname}}"{%endif%} placeholder='{%trans "Your Name"%}' maxlength='50' pattern=".{1,50}"  id='ffamily' {%if user.permission == 'admin' or user.permission == 'supervisor'%}{%else%} value='{{user.displayname}}'{%endif%}>
</div>
{%endblock%}





{%block iMobile%}
<label for='fmobile'>{%trans "Mobile"%}</label>
<div class="input">
 <input type="tel" name="mobile" {% if user.mobile%}value="{{user.mobile}}"{%endif%} placeholder='{%trans "Your mobile number"%}' maxlength='50' minlength="1" pattern=".{1,50}"  id='fmobile' {%if user.permission == 'admin' or user.permission == 'supervisor'%}{%else%} value='{{user.mobile}}'{%endif%}>
</div>
{%endblock%}



{%block pageData%}

<p class="msg danger2 txtC txtB mTB0">شما می‌توانید مبلغ محاسبه شده را به دفتر مرجع  تقلید خود نیز تحویل دهید.</p>

<label>{%trans "Please Choose one type of deyn"%}</label>
<div class="doyonList f fs07">
{%for doyonKey, deyn in doyonList.list%}
{%if deyn.visible%}
	<div class="c s6">
		<div class="dcard x07 {{deyn.class}}" data-kerkere=".showDoyon{{doyonKey}}" data-kerkere-single>
			<div class="value txtB">{{deyn.title}}</div>
			<div class="label">{{deyn.desc}}</div>
		</div>
	</div>

{%endif%}
{%endfor%}
</div>

<div class="deynDetail">
{%for doyonKey, deyn in doyonList.list%}
{%if deyn.visible%}
	<div class="showDoyon{{doyonKey}} mB20" data-kerkere-content='hide'>
	{{block(deyn.slug)}}
	</div>
{%endif%}
{%endfor%}
</div>

{{block('mySavedList')}}

<hr>
<div class="f justify-center">
	<div class="c5 s12 fs08">
		<h3 class="fs14">جدول مبالغ وجوهات به شرح زیر است</h3>
		<table class="tbl1 v7">
			<tbody>
				{%for key, value in doyonList.setting%}
				<tr><td colspan="2" class="txtB fs10">{%if key == 'namazqaza'%}نماز و روزه قضا{%else%}{%trans key%}{%endif%}</td></tr>
					{%for k, v in value%}
					<tr>
						<td>{{v.title}}</td>
						<td>{{v.price | fitNumber}} <small>{%trans "Toman"%}</small></td>
					</tr>
					{%endfor%}
				{%endfor%}
			</tbody>
		</table>
	</div>
</div>

{%endblock%}



{%block mySavedList%}
{%if myList%}
<hr>
{%set mySum = 0%}
<h3>لیست پرداخت</h3>
<table class="tbl1 v9">
	<tbody>
		{%for key, value in myList%}
		<tr>

			<td>
				{{loop.index | fitNumber}}.
				{{value.cat | fitNumber}}
				<span>{{value.cat2 | fitNumber}}</span>
				<div class="fs08">{{value.cat3 | fitNumber}}</div>
				<div class="fs08">{{value.price | fitNumber}}</div>
			</td>

			<td>{{value.count | fitNumber}}</td>

			<td class="collapsing">
				<div>{{value.sumtitle | fitNumber}}</div>
				<div class="btn danger xs" data-ajaxify data-method='post'  data-data='{"type": "remove", "key" : "{{key}}"}'>{%trans "Remove"%}</div>
			</td>
			{%set mySum = mySum + value.sum%}
		</tr>
		{%endfor%}
	</tbody>
</table>
<div data-confirm data-data='{"type" : "pay"}' class="btn xl block mTB20 success">پرداخت مبلغ {{mySum | fitNumber }} تومان</div>

{%endif%}
{%endblock%}




{%block fetriye%}
<div class="f justify-center">
	<div class="c6 s12">

		<form method="post" autocomplete="off"  class="cbox fs09">
			{{block('iFullNameMobile')}}
			<input type="hidden" name="type" value="fetriye">

			<div class="mB10">
			  <label>قوت قالب</label>
		    <div class="radio1">
		     <input type="radio" name="qotqaleb" id="qotqaleb-gandom" value="gandom">
		     <label for="qotqaleb-gandom">{{doyonList.setting.fetriye.gandom.title}} <span class="badge mLa10 light fs11">{{doyonList.setting.fetriye.gandom.price | fitNumber}} {%trans "Toman"%}</span></label>
		    </div>

		    <div class="radio1">
		     <input type="radio" name="qotqaleb" id="qotqaleb-berenjkhareji" value="berenjkhareji">
		     <label for="qotqaleb-berenjkhareji">{{doyonList.setting.fetriye.berenjkhareji.title}} <span class="badge mLa10 light fs11">{{doyonList.setting.fetriye.berenjkhareji.price | fitNumber}} {%trans "Toman"%}</span></label>
		    </div>

		    <div class="radio1">
		     <input type="radio" name="qotqaleb" id="qotqaleb-berenj" value="berenj">
		     <label for="qotqaleb-berenj">{{doyonList.setting.fetriye.berenj.title}}<span class="badge mLa10 light fs11">{{doyonList.setting.fetriye.berenj.price | fitNumber}} {%trans "Toman"%}</span></label>
		    </div>


		    <div class="radio1">
		     <input type="radio" name="qotqaleb" id="qotqaleb-other" value="other">
		     <label for="qotqaleb-other">مبلغ دلخواه</label>
		    </div>

			</div>

			<div data-response='qotqaleb' data-response-where-not='other'>
				<label>تعداد افراد تحت تکفل</label>
			 	<div class="input">
					<input type="number" name="count"  >
					<label class="addon">نفر</label>
				</div>
			</div>


			<div data-response='qotqaleb' data-response-where='other' data-response-hide>
				<label>لطفا مبلغ فطریه مد نظر خود را وارد کنید</label>
			 	<div class="input">
					<input type="number" name="price"  >
					<label class="addon">تومان</label>
				</div>
			</div>

			<div class="msg">لطفا  نوع فطریه را مشخص کنید.  فطریه سید به سید و غیر سید می‌رسد ولی اگر سرپرست خانوار یعنی دهنده فطریه سید نباشد نمی‌تواند به سید بدهد.</div>
			<div class="f mB10">
				<div class="cauto">
				    <div class="radio1">
				     <input type="radio" name="seyyed" id="aam" value="aam" checked>
				     <label for="aam">عام</label>
				    </div>
				</div>

				<div class="c mLa20">
					<div class="radio1 green">
				     <input type="radio" name="seyyed" id="seyyed" value="seyyed" >
				     <label for="seyyed">سید هستم</label>
				    </div>
				</div>
			</div>

			<button class="btn success block mT20">مرحله بعد</button>
		</form>
	</div>
</div>
{%endblock%}





{%block sadaqe%}
<div class="f justify-center">
	<div class="c6 s12">

		<form method="post" autocomplete="off" class="cbox fs09">
			{{block('iFullNameMobile')}}
			<input type="hidden" name="type" value="sadaqe">
			<div class="msg">مبلغ دلخواهی را برای صدقه وارد کنید. این صدقه عام خواهد بود.</div>

		 	<div class="input">
				<label>مبلغ</label>
				<input type="number" name="price" required>
				<label class="addon">{%trans "Toman"%}</label>
			</div>

			<button class="btn success block mT10">مرحله بعد</button>
		</form>
	</div>
</div>
{%endblock%}





{%block mazalem%}
<div class="f justify-center">
	<div class="c6 s12">

		<form method="post" autocomplete="off" class="cbox fs09">
			{{block('iFullNameMobile')}}
			<input type="hidden" name="type" value="mazalem">
			<div class="msg">مبلغ دلخواهی را برای  رد مظالم وارد کنید</div>
			<div class="msg info2">مصرف «رد مظالم» منحصر است به «فقرای شیعه»؛ بنابراین، صرف آن در امور خیریه مانند پل‌سازى و مسجد و نظایر این‌ها جایز نیست.</div>

		 	<div class="input">
				<label>مبلغ</label>
				<input type="number" name="price"  required>
				<label class="addon">تومان</label>
			</div>

			<button class="btn success block mT10">مرحله بعد</button>
		</form>
	</div>
</div>
{%endblock%}





{%block kafarat%}
<div class="f justify-center">
	<div class="c6 s12">

		<form method="post" autocomplete="off" class="cbox fs09">
			{{block('iFullNameMobile')}}

			<input type="hidden" name="type" value="kafarat">


			<div class="mB10">
			  <label>روزه عمد یا غیر عمد</label>
		    <div class="radio1">
		     <input type="radio" name="kafare" id="kafare-roze_amd" value="roze_amd">
		     <label for="kafare-roze_amd">{{doyonList.setting.kafarat.roze_amd.title}} <span class="badge mLa10 light fs11">{{doyonList.setting.kafarat.roze_amd.price | fitNumber}} {%trans "Toman"%}</span></label>
		    </div>

		    <div class="radio1">
		     <input type="radio" name="kafare" id="kafare-roze_ozr" value="roze_ozr">
		     <label for="kafare-roze_ozr">{{doyonList.setting.kafarat.roze_ozr.title}} <span class="badge mLa10 light fs11">{{doyonList.setting.kafarat.roze_ozr.price | fitNumber}} {%trans "Toman"%}</span></label>
		    </div>
			<div class="msg">اگر کسی روزه ماه رمضان را به خوردن یا آشامیدن یا جماع یا استمناء یا باقی ماندن بر جنابت باطل کند، در صورتی که از روی عمد و اختیار باشد و از روی ناچاری و جبر نباشد، اضافه بر قضا، کفاره هم بر او واجب می‌شود. و احتیاط مستحب آن است که کسی که روزه را به غیر آنچه گفته شد باطل کند، اضافه بر قضا، کفاره هم بدهد. <br><a href="https://www.sistani.org/persian/book/50/70/" target="_blank">توضیح المسائل - پایگاه اطلاع رسانی دفتر مرجع عالیقدر آقای سید علی حسینی سیستانی</a></div>

			</div>

		 	<div class="input">
				<label>تعداد</label>
				<input type="number" name="count"  required>
				<label class="addon">روز</label>
			</div>

			<button class="btn success block mT10">مرحله بعد</button>
		</form>
	</div>
</div>
{%endblock%}


{%block otherkafarat%}
<div class="f justify-center">
	<div class="c6 s12">

		<form method="post" autocomplete="off" class="cbox fs09">
			{{block('iFullNameMobile')}}

			<input type="hidden" name="type" value="kafarat">

				<div class="mB10">
			  <label>کفاره نذر،‌ عده و قسم</label>

			   <div class="radio1">
		     <input type="radio" name="kafare" id="kafare-nazr" value="nazr">
		     <label for="kafare-nazr">{{doyonList.setting.kafarat.nazr.title}} <span class="badge mLa10 light fs11">{{doyonList.setting.kafarat.nazr.price | fitNumber}} {%trans "Toman"%}</span></label>
		    </div>

		    <div class="radio1">
		     <input type="radio" name="kafare" id="kafare-ahd" value="ahd">
		     <label for="kafare-ahd">{{doyonList.setting.kafarat.ahd.title}} <span class="badge mLa10 light fs11">{{doyonList.setting.kafarat.ahd.price | fitNumber}} {%trans "Toman"%}</span></label>
		    </div>

		     <div class="radio1">
		     <input type="radio" name="kafare" id="kafare-qasam" value="qasam">
		     <label for="kafare-qasam">{{doyonList.setting.kafarat.qasam.title}} <span class="badge mLa10 light fs11">{{doyonList.setting.kafarat.qasam.price | fitNumber}} {%trans "Toman"%}</span></label>
		    </div>


			</div>


		 	<div class="input">
				<label>تعداد</label>
				<input type="number" name="count"  required>
				<label class="addon">مورد</label>
			</div>

			<button class="btn success block mT10">مرحله بعد</button>
		</form>
	</div>
</div>
{%endblock%}







{%block namazqaza%}
<div class="f justify-center">
	<div class="c6 s12">

		<form method="post" autocomplete="off" class="cbox fs09">
			{{block('iFullNameMobile')}}
			<input type="hidden" name="type" value="namazqaza">


			<label for='saheb'>نام صاحب نماز و روزه قضا</label>
			<div class="input">
			 <input type="text" name="saheb"  maxlength='50' pattern=".{1,50}"  id='saheb' >
			</div>


			<label>نماز و روزه قضا</label>

			<div class="radio1">
		     <input type="radio" name="namazqaza" id="namazqaza-namazqaza" value="namazqaza">
		     <label for="namazqaza-namazqaza">{{doyonList.setting.namazqaza.namazqaza.title}} <span class="badge mLa10 light fs11">{{doyonList.setting.namazqaza.namazqaza.price | fitNumber}} {%trans "Toman"%}</span></label>
		    </div>

		    <div class="radio1">
		     <input type="radio" name="namazqaza" id="namazqaza-rozeqaza" value="rozeqaza">
		     <label for="namazqaza-rozeqaza">{{doyonList.setting.namazqaza.rozeqaza.title}} <span class="badge mLa10 light fs11">{{doyonList.setting.namazqaza.rozeqaza.price | fitNumber}} {%trans "Toman"%}</span></label>
		    </div>


			<div class="input">
			<label>تعداد</label>

			<input type="number" name="count"  required>

			    <div data-response='namazqaza' data-response-where='namazqaza'>
					<label class="addon">سال</label>
			    </div>

			    <div data-response='namazqaza' data-response-where='rozeqaza' data-response-hide>
					<label class="addon">ماه</label>
			    </div>

			</div>

			<button class="btn success block mT10">مرحله بعد</button>
		</form>
	</div>
</div>
{%endblock%}




{%block rozeqaza%}
<div class="f justify-center">
	<div class="c6 s12">

		<form method="post" autocomplete="off" class="cbox fs09">
			{{block('iFullNameMobile')}}
			<input type="hidden" name="type" value="rozeqaza">

		    <h5 class="mT10">روزه قضا</h5>

		 	<div class="input">
				<label>تعداد</label>
				<input type="number" name="count"  required>
				<label class="addon">ماه</label>
			</div>

			<button class="btn success block mT10">مرحله بعد</button>
		</form>
	</div>
</div>
{%endblock%}





















