{%extends display.khadijeCpMain%}


{%block pageContent%}
<div class="f justify-center">
  <div class="cbox c5">
    <form method="post">

      {{block ('iActiveMaster')}}
      <div data-response="master_active" {%if not trip_master_active%} data-response-hide {%endif%}>
        {{block ('ikarbala')}}
        {{block ('imashhad')}}
        {{block ('iqom')}}

        {{block ('icountPartner')}}

        {{block ('igetDate')}}
      </div>

      {{block ('isave')}}
    </form>
  </div>
</div>
{%endblock%}



{%block isave%}
<button class="btn primary block mT25">{%trans "Save"%}</button>
{%endblock%}


{%block iActiveMaster%}
<div class="switch1">
   <input type="checkbox" name="master_active" id="master_active" {%if trip_master_active%} checked {%endif%}>
   <label for="master_active"></label>
   <label for="master_active">{%trans "Enable Trip"%}</label>
  </div>
{%endblock%}


{%block icountPartner%}
<div class="input">
  <label for="countpartner">{%trans "Maximum partner count"%}</label>
  <input type="number" id="countpartner" name="count_partner" placeholder='{%trans "Maximum partner count"%}'  value="{{trip_count_partner}}" >
</div>
{%endblock%}


{%block imaxAwaiting%}
<div class="input">
  <label for="maxawaiting">{%trans "Maximum people can signup as awaiting"%}</label>
  <input type="number" id="maxawaiting" name="max_awaiting" placeholder='{%trans "Maximum people can signup as awaiting"%}'  value="{{trip_max_awaiting}}">
</div>
{%endblock%}

{%block igetDate%}
<div class="switch1">
   <input type="checkbox" name="getdate" id="getdate" {%if trip_getdate%} checked {%endif%}>
   <label for="getdate"></label>
   <label for="getdate">{%trans "User can set date of trip"%}</label>
  </div>
{%endblock%}


{%block iqom%}
<div class="switch1">
   <input type="checkbox" name="qom" id="qom" {%if active_city.qom%} checked {%endif%}>
   <label for="qom"></label>
   <label for="qom">{%trans "Qom"%}<small>{%trans "Can trip user to qom"%}</small></label>
  </div>
{%endblock%}

{%block ikarbala%}
<div class="switch1">
   <input type="checkbox" name="karbala" id="karbala" {%if active_city.karbala%} checked {%endif%}>
   <label for="karbala"></label>
   <label for="karbala">{%trans "Karbala"%}<small>{%trans "Can trip user to karbala"%}</small></label>
  </div>
{%endblock%}

{%block imashhad%}
<div class="switch1">
   <input type="checkbox" name="mashhad" id="mashhad" {%if active_city.mashhad%} checked {%endif%}>
   <label for="mashhad"></label>
   <label for="mashhad">{%trans "Mashhad"%}<small>{%trans "Can trip user to mashhad"%}</small></label>
  </div>
{%endblock%}