{%extends display.admin%}


{%block pageContent%}
{%if occasionDetail%}
<div class="f justify-center fs12">
  <div class="c8 m8 s12">
    <div class="cbox">

        <h2 class="mB20">{{occasionDetail.title}}</h2>
        {%if occasionDetail.subtitle%}<b class="mB20 block">{{occasionDetail.subtitle}}</b>{%endif%}
        {%if occasionDetail.startdate%}<span class="block mB10">{%trans "Start date"%}: <span class="ltr compact">{{occasionDetail.startdate | dt(null, 'date')}}</span></span>{%endif%}
        {%if occasionDetail.expiredate%}{%trans "End date"%}: <span class="ltr compact">{{occasionDetail.expiredate | dt(null, 'date')}}</span>{%endif%}
        {%if occasionDetail.desc%}<p class="mTB20 msg">{{occasionDetail.desc | nl2br}}</p>{%endif%}

        {%if dataDetail%}
          <h5>{%trans "List of items in this occasion"%}</h5>
          <ul class="mB20">
          {%for key, value in dataDetail%}
          <li class="f">
            <div class="cauto">{{(key+1) | fitNumber}}. </div>
            <div class="c">{{value.title}}</div>
            {%if value.price%}<div class="c">{%trans "Price"%} {{value.price | fitNumber}}</div>{%endif%}
            <div class="c">{{value.desc}}</div>
          </li>
          {%endfor%}
          </ul>


        {%endif%}

      <div class="f txtC">
        <div class="c">
          <div class="btn success block" data-ajaxify data-data='{"register": "register"}' data-method='post'>{%trans "Register"%}</div>
        </div>
        <div class="cauto mLa5">
          <a class="btn secondary block outline" href="{{url.this}}">{%trans "Cancel"%}</a>
        </div>
      </div>

    </div>
  </div>
</div>

{%else%}

<div class="f justify-center txtC fs12">
  <div class="c8 m8 s12">

    {%if occasionList%}
    <p class="msg info2 fs14 txtB txtC">
      {%trans "Please indicate on which of the following occasions you would like to receive a subsistence package for the people you cover?"%}
    </p>
    <div class="f justify-center">
      {%for key, value in occasionList%}
      <div class="c6 s12 pA10">
        <a class="dcard grShadow grGreen2 x2 op100" href='{{url.that}}?id={{value.id}}'>
          <div class="mB25 fcWhite900 fs20" >{{value.title}}</div>
          <div>{{value.subtitle}}</div>
          <div></div>
        </a>
      </div>
      {%endfor%}
    </div>

    {%else%}
    <div class="msg info fs14 txtB txtC">{%trans "No support program has been announced by the institute at this time"%}
      <br>
      {%trans "Please follow the news of the institute to complete the steps through this page if the distribution of livelihood packages by the institute started on the occasion."%}
    </div>
    {%endif%}

  </div>
</div>

{%endif%}

{%endblock%}