{%extends display.admin%}


{%block pageContent%}
<div class="f">
 <div class="c6 s12">{{block ("addDonate")}}</div>
 <div class="c6 s12">{{block ("addDonateProduct")}}</div>
 <div class="c6 s12">{{block ("addTrip")}}</div>
 <div class="c6 s12">{{block ("addTripGroup")}}</div>

</div>


{%endblock%}



{%block prDate%}
<div class="dcard x2">
 <div class="block">
  <div class="f">
  {%if site.currentlang == 'fa'%}
   <h5 class="c fc-mute">{{"now" | jdate('F')}}</h5>
   <h4 class="cauto fc-info fs30 txtra">{{"now" | jdate('d')}}</h4>
  {%else%}
    <h5 class="c fc-mute">{{"now" | date('F')}}</h5>
    <h4 class="cauto fc-info fs30 txtra">{{"now" | date('d')}}</h4>
  {%endif%}
  </div>
  <div class="f">
   <div class="progress" data-percent='{{dateDetail.left}}'>
    <div class="bar"></div>
   </div>
  </div>
 </div>
</div>
{%endblock%}


{%block addTripGroup%}
<a class="dcard x2" href='{{url.baseFull}}/group'>
 <div class="statistic">
  <div class="value"><i class="sf-bus"></i></div>
  <div class="label">ثبت تشرف کاروانی به عتبات عالیات</div>
 </div>
</a>
{%endblock%}


{%block addTrip%}
<a class="dcard x2" href='{{url.baseFull}}/trip'>
 <div class="statistic">
  <div class="value"><i class="sf-pull-request"></i></div>
  <div class="label">ثبت تشرف خانوادگی به عتبات عالیات</div>
 </div>
</a>
{%endblock%}




{%block addDonate%}
<a class="dcard x1" href='{{url.baseFull}}/donate'>
 <div class="statistic">
  <div class="value"><i class="sf-credit-card"></i></div>
  <div class="label">{%trans "Pay Donate"%}</div>
 </div>
</a>
{%endblock%}


{%block addDonateProduct%}
<a class="dcard x1" href='{{url.baseFull}}/donate/product'>
 <div class="statistic">
  <div class="value"><i class="sf-basket"></i></div>
  <div class="label">{%trans "Donate product"%}</div>
 </div>
</a>
{%endblock%}

