{%extends display.admin%}


{%block pageContent%}
<div class="f justify-center">
 <div class="cbox c10 s12">

  <form method="post">
{{block ('iCity') }}
  </form>

 </div>
</div>
{%endblock%}



{%block iCity%}

 <div class="f justify-center txtC">
{% for key, value in service_need_list %}
  <div class="c4 s12 pA10">
    <a class="vcard shadow" href="{{url.full}}" data-ajaxify data-method="post" data-data='{"need": "{{value.id}}"}'>
     <img src="{{value.fileurl}}" alt='{{value.title}}'>
     <div class="content">
      <div class="header">{{value.title}}</div>
     </div>
    </a>
  </div>
{% endfor %}
 </div>


{%endblock%}


{%block iCity2%}
<label for="city">{%trans "City Place"%}</label>
<select name="city" class="input select">
  <option value="">{%trans "Please select one itmes"%}</option>
  {%for key, value in cityplace_list%}
    <option value="{{value.id}}">{{value.city}} - {{value.place}}</option>
  {%endfor%}
</select>
{%endblock%}


{%block iNext%}
<button class="btn primary block mT20">{%trans "Continue"%}</button>
{%endblock%}


