{%extends display.festival%}


{%block body%}


<section id='landing' data-scroll>
  <div class="bg"></div>
  <header>
    <nav class="cn">
      <a href="{{url.that}}#about">{%trans "About"%}</a>
      <a href="{{url.that}}#topics">{%trans "Topics"%}</a>
      <a href="{{url.that}}#terms">{%trans "Terms and conditions"%}</a>
      <a href="{{url.that}}#awards">{%trans "Awards"%}</a>
      <a href="{{url.that}}#timeline">{%trans "Timeline"%}</a>
      <a href="{{url.that}}#map">{%trans "Contact"%}</a>
    </nav>
  </header>

  <div class="title">
    <div class="cn">
      <h1>{{festival.title}}</h1>
      <h2 class="mB25">{{festival.subtitle}}</h2>
      <div class="clock" data-aos="zoom-in" data-aos-delay="700"></div>
      <div >
        <a href="#about" class="btn lg light hauto mT25" data-aos="fade-up" data-aos-delay="1200">{%trans "Read More"%}</a>
        <a href="#about" class="btn lg light hauto mT25" data-aos="fade-up" data-aos-delay="1200">{%trans "Read More"%}</a>
      </div>
    </div>
  </div>
</section>


{%if festival.intro %}
<section class="txtDetail" id='introduction'>
  <div class="wrapper" data-aos="fade-up" data-aos-delay="100">
    <h2><a href="{{url.that}}#introduction">{%trans "Introduction"%}</a></h2>
    {{festival.intro | raw}}
  </div>
</section>
{%endif%}

{%if festival.about or organizer or supporter or mediasupporter %}
<section class="txtDetail" id='about'>
  <div class="cn">

    {%if festival.about %}
      <div data-aos="zoom-in-up" data-aos-delay="200">
        <h2><a href="{{url.that}}#about">{%trans "About"%}</a></h2>
        {{festival.intro | raw}}
      </div>
    {%endif%}

    <div class="supportTeam">
    {%if organizer %}
      <div id="organizers" data-aos="zoom-in-up" data-aos-delay="200">
        <h3><a href="{{url.that}}#organizers">{%trans "Organizers"%}</a></h3>
        {%for key, value in organizer%}
          <a href="#" title="test"><img alt="{{value.title}}" src="{{value.logo}}"></a>
        {%endfor%}
      </div>
    {%endif%}
    {%if supporter %}
      <div id="sponsors" data-aos="zoom-in-up" data-aos-delay="200">
        <h3><a href="{{url.that}}#sponsors">{%trans "Sponsors"%}</a></h3>
        {%for key, value in supporter%}
        <a href="#" title="test"><img alt="{{value.title}}" src="{{value.logo}}"></a>
        {%endfor%}
      </div>
    {%endif%}
    {%if mediasupporter%}
      <div id="mdeiaSponsors" data-aos="zoom-in-up" data-aos-delay="200">
        <h3><a href="{{url.that}}#mdeiaSponsors">{%trans "Media Sponsors"%}</a></h3>
        {%for key, value in mediasupporter %}
        <a href="#" title="test"><img alt="{{site.title}}" src="{{url.base}}/static/images/logo.png"></a>
        {%endfor%}
      </div>
    {%endif%}

    </div>
  </div>
</section>
{%endif%}

{%if festival.target%}
<section class="txtDetail" id='goals'>
  <div class="wrapper" data-aos="zoom-out-left" data-aos-delay="300">
    <h2><a href="{{url.that}}#goals">{%trans "Goals"%}</a></h2>
    {{festival.target | raw}}
  </div>
</section>
{%endif%}

{%if festival.axis%}
<section class="txtDetail" id='topics'>
  <div class="cn" data-aos="fade-up" data-aos-delay="300" data-aos-anchor-placement="bottom-bottom">
    <h2><a href="{{url.that}}#topics">{%trans "Conferences Topics"%}</a></h2>
    {{festival.axis | raw}}
  </div>
</section>
{%endif%}

{%if festival.place%}
<section class="txtDetail" id='terms'>
  <div class="cn" data-aos="fade-down" data-aos-delay="300" data-aos-anchor-placement="bottom-bottom">
    <h2><a href="{{url.that}}#terms">{%trans "Terms and Conditions"%}</a></h2>
    {{festival.place | raw}}
  </div>
</section>
{%endif%}

{%if festival.view%}
<section class="txtDetail" id='vision'>
  <div class="wrapper" data-aos="zoom-out-left" data-aos-delay="300">
    <h2><a href="{{url.that}}#vision">{%trans "Vision"%}</a></h2>
    {{festival.view | raw}}
  </div>
</section>
{%endif%}

{%if festival.award%}
<section class="txtDetail" id='awards'>
  <div class="cn" data-aos="zoom-out">
    <h2><a href="{{url.that}}#awards">{%trans "Awards"%}</a></h2>
    {{festival.award |raw}}
  </div>
</section>
{%endif%}


<section id="timeline">
  <div class="myTimeline">

{%for key, value in festival.schedule%}
    <div class="timeline-block">
      <div class="timeline-bullet done" data-aos="fade-in"></div>
      <div class="timeline-content" data-aos="fade-up-left">
        <h2>{{value.title}}</h2>
        <div class="timeline-info f">
          <div><i class="sf-calendar-o" aria-hidden="true"></i> {{value.date| tdate}}</div>
          <div><i class="sf-clock-o" aria-hidden="true"></i> {{value.time | fitNumber}}</div>
        </div>
        <p>{{value.desc}}</p>
      </div>
    </div>
{%endfor%}


  </div>
</section>


{%if festival.maplink%}
<section class="txtDetail" id="map">
  <iframe width="100%" height="300" src="{{festival.maplink}}" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/create-google-map/">Embed Google Map</a></iframe>
</section>
{%endif%}



<footer>
  <div class="cn">
    <div class="f">
      <div class="c4 s12 pRa10">
        <div class="summary">
          <h1><a href="{{url.that}}">{{festival.title}}</a></h1>
          <h2>{{festival.desc}}</h2>
          {{block("pageSocialLinks")}}
        </div>
      </div>
      <div class="c5 s12 pRa10">
        <address>
            <h2>{%trans "Contact us"%}</h2>
          <div class="address mB20">
            <div>Qom, Iran</div>
          </div>
          <div class="tel mB20">
            <h3 class="fs10">{%trans "Telephones"%}</h3>
            <a class="btn outline sm mA5" href="tel:982563505460">02536505460</a>
            <a class="btn outline sm mA5" href="tel:982563505460">02536505460</a>
            <a class="btn outline sm mA5" href="tel:982563505460">02536505460</a>
          </div>
          <div class="email mB20">
            <h3 class="fs10">{%trans "Email"%}</h3>
            <a class="btn outline sm mA5" href="mailto:info@ermile.com">info@ermile.com</a>
          </div>
          <div class="sms">
            <h3 class="fs10">{%trans "SMS panel"%}</h3>
            <a class="btn outline sm mA5" href="tel:982563505460">02536505460</a>
          </div>
        </address>
      </div>
      <div class="c3 s12">
        <nav class="quickAccess">
          <a href="{{url.that}}#landing">{%trans "Homepage"%}</a>
          <a href="{{url.that}}#introduction">{%trans "Introduction"%}</a>
          <a href="{{url.that}}#about">{%trans "About"%}</a>
          <a href="{{url.that}}#goals">{%trans "Goals"%}</a>
          <a href="{{url.that}}#topics">{%trans "Topics"%}</a>
          <a href="{{url.that}}#terms">Terms and {%trans "Conditions"%}</a>
          <a href="{{url.that}}#vision">{%trans "Vision"%}</a>
          <a href="{{url.that}}#awards">{%trans "Awards"%}</a>
          <a href="{{url.that}}#timeline">{%trans "Timeline"%}</a>
        </nav>
      </div>
    </div>
  </div>
</footer>
{%endblock%}




{%block pageSocialLinks%}
<nav class="shareC txtRa" data-aos="zoom-in">
{%if social.twitter%}
  <a data-direct target='_blank' href="https://twitter.com/{{social.twitter}}" class="sprite-twitter" title='{%trans "Twitter"%}'>{{site.title}} twitter</a>
{%endif%}
{%if social.facebook%}
  <a data-direct target='_blank' href="https://www.facebook.com/{{social.facebook}}" class="sprite-facebook" title='{%trans "Facebook"%}'>{{site.title}} facebook</a>
{%endif%}
{%if social.googleplus%}
  <a data-direct target='_blank' href="https://plus.google.com/{{social.googleplus}}" class="sprite-googleplus">{{site.title}} google+</a>
{%endif%}
{%if social.telegram%}
  <a data-direct target='_blank' href="https://t.me/{{social.telegram}}" class="sprite-telegram" title='{%trans "Telegram"%}'>{{site.title}} telegram</a>
{%endif%}
{%if social.instagram%}
  <a data-direct target='_blank' href="https://instagram.com/{{social.instagram}}" class="sprite-instagram" title='{%trans "Instagram"%}'>{{site.title}} instagram</a>
{%endif%}
{%if social.linkedin%}
  <a data-direct target='_blank' href="https://www.linkedin.com/{{social.linkedin}}" class="sprite-linkedin">{{site.title}} linkedin</a>
{%endif%}
{%if social.aparat%}
  <a data-direct target='_blank' href="https://www.aparat.com/{{social.aparat}}" class="sprite-aparat" title='{%trans "Aparat"%}'>
  </a>
{%endif%}
  <a data-direct target='_blank' href="https://eitaa.com/mhkhadije" class="sprite-eitaa" title='{%trans "Eitaa"%}'>
  </a>
  <a data-direct target='_blank' href="https://sapp.ir/mhkhadije" class="sprite-sapp" title='{%trans "Soroush App"%}'>
  </a>
</nav>
{%endblock%}