{%extends display.admin%}


{%block pageContent%}
<div class="f justify-center">
 <div class="cbox c8 s12">
  <form method="post">

{{block ('iCity') }}

{{block ('iNext') }}

  </form>
 </div>
</div>
{%endblock%}



{%block iCity%}

 <div class="f">
{% for cityPlace in cityplace_list %}
  <div class="c4">
   <div class="radio1 green">
    <input type="radio" id="r-{{cityPlace}}" name="city" value="{{cityPlace}}" {%if cityPlace == 'karbala'%} checked{%endif%}>
    <label for="r-{{cityPlace}}">{%trans cityPlace%}</label>
   </div>
  </div>
{% endfor %}
 </div>

 <div class="placePrev300">
{% for cityPlace in cityplace_list %}
  <img src="{{url.static}}images/place/{{cityPlace}}.jpg" alt='{%trans cityPlace%}' {%if cityPlace == 'karbala'%}{%else%} data-response-hide{%endif%} data-response='city' data-response-where="{{cityPlace}}" data-response-classTrue='show' data-response-classFalse='hide' data-response-timing='fast'>
{% endfor %}
 </div>

{%endblock%}


{%block iCity2%}
<label for="city">{%trans "City Place"%}</label>
<select name="city" class="input select">
  <option value="">{%trans "Please select one itmes"%}</option>
  {%for key, value in cityplace_list%}
    <option value="{{value.id}}">{{value.city}} - {{value.place}}</option>
  {%endfor%}
</select>
{%endblock%}


{%block iNext%}
<button class="btn primary block mT20">{%trans "Continue"%}</button>
{%endblock%}


