{%extends 'content_smsapp/layout.html'%}

{%block pageContent%}
<div class="f justify-center fs12">
  <div class="c8 m12 s12">
    {%if dataTable%}
    <table class="tbl1 v5">
      <thead>
        <tr>
          <th>{%trans "Title"%}</th>
          <th class="collapsing">{%trans "Sort"%}</th>
          <th class="collapsing">{%trans "Count tags"%}</th>
          <th class="collapsing">{%trans "Count answer"%}</th>

        </tr>
      </thead>
      <tbody>
        {%for key, value in dataTable%}
        <tr>
          <td class=""> <a class="txtB" href="{{url.here}}/editgroup?id={{value.id}}"> <i class="sf-edit"></i> <b class="">{{value.title}}</b></a></td>
          <td class="collapsing">{{value.sort | fitNumber}}</td>
          <td class="collapsing">{{value.count_tag | fitNumber}}</td>
          <td class="collapsing">{{value.count_answer | fitNumber}}</td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
    {%endif%}

    <div class="f">
      <div class="c6 s12 pRa10">
        <div class="btn xl block ">
          <a href="{{url.here}}/editgroup/block">
            <div class="content title">
              <div class="header">{%trans "Block Numbers"%}</div>
            </div>
          </a>
        </div>
      </div>
      <div class="c6 s12">
        <div class="btn xl block">
          <a href="{{url.here}}/editgroup/secret">
            <div class="content title">
              <div class="header">{%trans "Secret Numbers"%}</div>
            </div>
          </a>
        </div>
      </div>
      <div class="c12 s12 pA5">
        <div class="btn xl block ">
          <a href="{{url.here}}/force">
            <div class="content title">
              <div class="header">آرشیو دسته جمعی پیامک های شناسایی نشده</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}
