{%extends 'content_smsapp/layout.html'%}

{%block pageContent%}
<div class="f justify-center">
  <div class="c6 s12">
    <table class="tbl1 v9">
      <thead>
        <tr>
          <th>{%trans "Title"%}</th>
          <th class="collapsing">{%trans "Sort"%}</th>
          <th class="collapsing">{%trans "Edit"%}</th>
        </tr>
      </thead>
      <tbody>
        {%for key, value in dataTable%}
        <tr>
          <td class=""><b class="fs12">{{value.title}}</b></td>
          <td class="collapsing">{{value.sort | fitNumber}}</td>
          <td class="collapsing">
            <a class="txtB" href="{{url.here}}/editgroup?id={{value.id}}">{%trans "Edit"%}</a>
          </td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
</div>
{%endblock%}