{%extends display.admin%}
{%use 'content_a/protection/pageStep.html' %}

{%block pageContent%}
{{block ('pageStep')}}

<form method="post" autocomplete="off">
  <div class="f justify-center">
    <div class="c6 s12 m8">
       <div class="cbox">
        <div class="msg">
          {%trans "Please provide a visual report of the process and details of the distribution of the organization's support packages to the people covered by your announcement."%}
          <br>
          {%trans "You can upload photos and videos of the distribution of support packages to your covered people here"%}
        </div>


        <div class="dropzone">
          <h4>{%trans "Add to gallery"%}</h4>
          <label for='gallery' class="btn light">{%trans "Choose or Drop file here"%}</label>
          <input id="gallery" type="file" name="image" multiple>
          <div class="progress shadow" data-percent='30'>
            <div class="bar"></div>
            <div class="detail"></div>
          </div>
        </div>

        {%if dataTable%}
<div class="f">

  {%for key, value in dataTable%}
    <div class="vcard mA10 c2 s12">
      <a href="{{value}}" target="_blank">

      <img alt="file" src="{{value}}">
      </a>
      <div class="footer"><div class="btn xs outline block danger " data-confirm data-data='{"remove" : "remove", "key" : "{{key}}"}'>{%trans "Remove file"%}</div></div>
    </div>
  {%endfor%}
</div>
{%endif%}
    </div>

    </div>
  </div>
</form>


{%endblock%}

