{%extends 'content_lottery/item/layout.html'%}

{%block pageContent%}
{%include 'content_lottery/item/pageStep.html'%}
  <div class="justify-center f">
   <form method="post" class="c5 m6 s12" autocomplete="off">
   	<div class="cbox">

  {%if whoHavePerm%}
  <h4>افرادی که می‌توانند به این قرعه‌کشی دسترسی داشته باشند <br><small>درصورتی که شخصی را انتخاب نکنید همه افراد زیر امکان دسترسی را دارند</small></h4>

  {%for key, value in whoHavePerm%}
  <div class="switch1">
   <input type="checkbox" name="perm_{{value.id}}" id="perm_{{value.id}}" {%if value.id in dataRow.permission%}checked{%endif%}>
   <label for="perm_{{value.id}}"></label>
   <label for="perm_{{value.id}}">{{value.firstname}} <b>{{value.lastname}}</b></label>
  </div>
  {%endfor%}
  {%endif%}

     {{block('isave')}}
   	</div>
   </form>
  </div>

{%endblock%}

