{%extends 'content_cp/smsapp/editgroup/display.html'%}


{%block pageContent%}
{{block('pageSteps')}}

<div class="f justify-center">
  <div class="c4">

    <div class="cbox">
      <form method="post" autocomplete="off">
        {{block('inumber')}}

        {{block('iadd')}}
      </form>
    </div>
  </div>
  <div class="c8">
    <div class="mLa5">
      <div class="cbox">
        <div class="msg success2 txtB txtC">{{dataRow.title}}</div>
        {%if dataTable%}
        {%for key, value in dataTable%}
        <div class="msg">
          <div class="f">
            <span class="c">{{value.number | fitNumber('mobile')}}</span>
            <div class="cauto">
              <span class="badge danger" data-confirm data-data='{"type":"remove", "deleteid" :"{{value.id}}", "group_id" : "{{requestGET.id}}"}'>{%trans "Remove"%}</span>
            </div>
          </div>
        </div>
        {%endfor%}
        {%else%}
        <div class="msg warn2 txtB txtC">{%trans "No filter founded"%}</div>
        {%endif%}

      </div>
    </div>
  </div>
</div>
{%endblock%}






{%block inumber %}
<label for="number">{%trans "Number"%} <small class="fc-red">* {%trans "Require"%}</small></label>
<div class="input">
  <input type="text" name="number" id="number" value="{{dataRow.number}}" autofocus required maxlength='200' minlength="1" pattern=".{1,200}" >
</div>
{% endblock %}
