{%extends 'content_mokeb/layout.html'%}




{%block pageContent%}
{%if mokebList%}
<div class="f">

{%for key, value in mokebList%}
<div class="c6 s12 pA10">
	<div class="dcard grShadow grGreen2 x3 op100">
	 <div class="statistic">
	  <a class="value mB25 fcWhite900" href='{{url.here}}/add/{{value.id}}'>{{value.title}}</a>
	  <div class="f">
	  	<div class="c6 pA5"><div class="grShadow pA10">کل پذیرش <span class="floatRa">{{value.all | fitNumber}}</span></div></div>
	  	<div class="c6 pA5"><div class="grShadow pA10">پذیرش امروز <span class="floatRa">{{value.today | fitNumber}}</span></div></div>
	  	<div class="c6 pA5"><div class="grShadow pA10">تکمیل الان <span class="floatRa">{{value.full | fitNumber}}</span></div></div>
	  	<div class="c6 pA5"><div class="grShadow pA10">خالی الان <span class="floatRa fcWhite900">{{value.free | fitNumber}}</span></div></div>
	  </div>
	 </div>
	</div>
</div>
{%endfor%}
</div>
{%else%}
<div class="msg warn txtB txtC fs50">هیچ موکب فعالی یافت نشد</div>
{%endif%}


{%endblock%}



