{%extends display.festivalAdd%}


{%block pageContent%}

{{block('pageSteps')}}

<div class="f justify-center">
	<div class="c12">
		<div class="cbox">
			<form method="post" autocomplete="off">

				{{block('stDate1')}}

				{{block('isave')}}
			</form>
			{%if dataRow.schedule%}
			<h3>{%trans "Saved schedule"%}</h3>
				<table class="tbl">
					<thead>
						<tr class="info txtC">
							<th title='{%trans "Show in time line"%}'>#</th>
							<th>{%trans "Title"%}</th>
							<th>{%trans "Date"%}</th>
							<th>{%trans "Time"%}</th>
							<th>{%trans "Description"%}</th>
							<th>{%trans "Remove"%}</th>
							<th>{%trans "Default"%}</th>
						</tr>
					</thead>
					<tbody>
						{%for key, value in dataRow.schedule%}
							<tr class="txtC {%if value.schedule%} positive {%endif%}">
								<td>{%if value.schedule%}<i class="sf-check fc-green"></i>{%endif%}</td>
								<td>{{value.title}}</td>
								<td>{{value.date | dt(false, 'date')}}</td>
								<td>{{value.time | dt(false, 'time')}}</td>
								<td>{{value.desc}}</td>
								<td><a href="{{url.pwd}}" class="badge danger" data-ajaxify data-method='post' data-data='{"type" : "remove", "key" : "{{key}}"}'>{%trans "Remove"%}</a></td>

								<td>
									{%if value.schedule%}
										<a href="{{url.pwd}}" class="badge warn" data-ajaxify data-method='post' data-data='{"type" : "rmschedule", "key" : "{{key}}"}'>{%trans "Remove schedule"%}</a>
									{%else%}
										<a href="{{url.pwd}}" class="badge success" data-ajaxify data-method='post' data-data='{"type" : "schedule", "key" : "{{key}}"}'>{%trans "Set schedule"%}</a>
									{%endif%}
								</td>
							</tr>
						{%endfor%}
					</tbody>
				</table>
			{%endif%}
		</div>
	</div>
</div>
{%endblock%}


{%block stDate1%}
<h3>{%trans "Add new event"%}</h3>
<div class="f">
	<div class="c3">
		<label for="title">{%trans "Title"%}</label>
		<div class="input">
		  <input type="text" name="title" id="title" placeholder='{%trans "Title"%}' autocomplete="off">
		</div>
	</div>

	<div class="c2 mLa5">
		<label for="date">{%trans "Schedule"%}</label>
		<div class="input">
		  <input class="datepicker" type="text" name="date" id="date" required placeholder='{{"now" | dt}}' value="{{userdetail.date}}" maxlength='20' data-format="YYYY/MM/DD"data-view="year">
		</div>
	</div>

	<div class="c2 mLa5">
		<label for="time">{%trans "Time"%}</label>
		<div class="input clockpicker">
		  <input type="text" name="time" id="time" placeholder='{%trans "Time"%}' autocomplete="off">
		</div>
	</div>

	<div class="c mLa5">
		<label for="desc">{%trans "Description"%}</label>
		<div class="input">
		  <input type="text" name="desc" id="desc" placeholder='{%trans "Description"%}' autocomplete="off">
		</div>
	</div>
</div>
{%endblock%}

