{%extends display.mvc%}


{%block head_css%}
 <link rel="stylesheet"       href="{{url.site}}/static/css/festival.css"/>
{%endblock%}


{%block js%}
<script src="{{url.site}}/static/js/festival.js"></script>
{%endblock%}



{%block body%}

<header>
  <a href="{{url.base}}" title='{%trans "Click and go to khadije site"%}'>
    <img src="{{url.site}}/static/images/logo/khadije.png" alt='{{site.title}}'>
    <h1>{{site.title}}</h1>
  </a>
</header>

<div class="cn">
  <div class="f justify-center">
    <div class="c8 m10 s12">

      <form class="inputer" autocomplete="off" method="post" data-clear>
        <textarea class="el" name='desc' placeholder='{%trans "Wrote your heart sounds"%}' maxlength='1000'></textarea>
        <div class="f">
          <div class="cauto pRa5">
            <div class="switch1 flat gender">
               <input type="checkbox" name="switchGender" id="switchGender">
               <label for="switchGender"></label>
            </div>
          </div>
          <div class="c pRa5">
            <input type="text" name="title" class="el title" placeholder='{%trans "Name"%} {%trans "optional"%}' title='{%trans "Not require"%}' maxlength='30'>
          </div>
          <div class="c s12 pRa5">
            <input type="tel" name="mobile" class="el mobile" placeholder='{%trans "Mobile"%} {%trans "optional"%}' title='{%trans "Mobile number is not showing on site and optional"%}' maxlength='15'>
          </div>
          <div class="s12 cauto os">
            <input type="text" name="username" class="hide">
            <button class="el send" title='{%trans "Press here to send"%}'>{%trans "Send"%}</button>
          </div>
        </div>
      </form>



    </div>
  </div>
</div>


{%endblock%}

