{%extends display.admin%}


{%block pageContent%}
<div class="f">
  <div class="c8">
      <div class="f">
        <div class="c6 s12">{{block('bOccasion')}}</div>
        <div class="c6 s12">{{block('bAgent')}}</div>
        <div class="c12 s12">{{block('bAgentOccasion')}}</div>
        <div class="c12 s12">{{block('bReport')}}</div>
      </div>
  </div>
  <div class="c4">
    <div class="cbox fs11 mB10">
    <h2>{%trans "Last protection agetn"%}</h2>
    {%for key, value in lastAgent%}
      <a class="msg f" href="{{url.this}}/protectagent/edit?id={{value.id}}">
        <div class="c">{{value.title}}</div>
        <div class="cauto">{{value.datecreated | dt('human', 'year') }}</div>
      </a>
    {%endfor%}
  </div>
  </div>

</div>
{%endblock%}


{%block bOccasion%}
<a class="dcard x2" href='{{url.here}}/occasion'>
 <div class="statistic">
  <div class="label"><i class="fs20 mRa5 sf-atom"></i></div>
  <div class="label mT10">{%trans "Occasiona"%}</div>
 </div>
</a>
{%endblock%}



{%block bAgentOccasion%}
<a class="dcard x2" href='{{url.here}}/agentoccasion'>
 <div class="statistic">
  <div class="label"><i class="fs20 mRa5 sf-bolt"></i></div>
  <div class="label mT10">{%trans "Agent Signupded list"%}</div>
 </div>
</a>
{%endblock%}



{%block bReport%}
<a class="dcard x2" href='{{url.here}}/report'>
 <div class="statistic">
  <div class="label"><i class="fs20 mRa5 sf-chart"></i></div>
  <div class="label mT10">{%trans "Reports"%}</div>
 </div>
</a>
{%endblock%}





{%block bAgent%}
<a class="dcard x2" href='{{url.here}}/protectagent'>
 <div class="statistic teal">
  <div class="label"><i class="fs20 mRa5 sf-user-5"></i></div>
  <div class="label mT10">{%trans "Protection agent"%}</div>
 </div>
</a>
{%endblock%}
