{%extends display.admin%}

{%block pageContent%}
<form method="post" autocomplete="off">
  <div class="f justify-center">
    <div class="c6 s12 m8">
      <div class="cbox">
        <p class="msg info2">لطفا اطلاعات افرادی‌ که می‌خواهید در این مناسبت به آنها بسته حمایتی اهدا کنید را وارد نمایید.</p>
          <input type="hidden" name="occation_id" value="{{requestGET.id}}">

            <label for="imobile">{%trans "Mobile"%}</label>
            <div class="input">
              <input type="tel" id="imobile" name="mobile" value="{{dataRow.mobile}}" maxlength="15">
            </div>

            <label for="idisplayname">{%trans "Name"%}</label>
            <div class="input">
              <input type="text" id="idisplayname" name="displayname" value="{{dataRow.displayname}}" maxlength="50">
            </div>

            <label for="inationalcode">{%trans "Nationalcode"%}</label>
            <div class="input">
              <input type="tel" id="inationalcode" name="nationalcode" value="{{dataRow.nationalcode}}" maxlength="10">
            </div>
        <footer class="txtRa">
          {%if editMode%}<a class="btn secondary outline" href="{{url.that}}?id={{requestGET.id}}">{%trans "Cancel"%}</a>{%endif%}
          <button class="btn primary">{%if editMode%}{%trans "Edit"%}{%else%}{%trans "Add"%}{%endif%}</button>


        </footer>
      </div>
    </div>
  </div>
  <div class="f justify-center">
    <div class="c6 m8 s12">
      {%if userOccasionList%}
      <div class="tblBox">
        <table class="tbl1 v4">
          <thead class="">
            <tr>

              <th class="collapsing"></th>
              <th>{%trans "Name"%}</th>
              <th>{%trans "Mobile"%}</th>
              <th>{%trans "Nationalcode"%}</th>
              <th class="collapsing"></th>
            </tr>
          </thead>
          <tbody class="fs14">
          {%for key, value in userOccasionList%}
            <tr>
              <td class="collapsing">{{(key + 1) | fitNumber}}</td>
              <td><a href="{{url.that}}?id={{requestGET.id}}&person={{value.id}}"> <i class="sf-edit"></i> {{value.displayname}}</a></td>
              <td>{{value.mobile | fitNumber('mobile')}}</td>
              <td>{{value.nationalcode | fitNumber(false)}}</td>
              <td class="collapsing"><div data-confirm data-data='{"remove": "remove", "id" : "{{value.id}}"}'><i class="sf-trash fc-red"></i></div></td>
            </tr>
          {%endfor%}
          </tbody>
        </table>
      </div>
      {%endif%}
    </div>
  </div>
</form>


{%endblock%}
