{%extends display.admin%}


{%block pageContent%}

<div class="f justify-center fs12">
 <div class="c8 m8 s12">
{%if occasionList%}
<div class="c12 s12 pA10">
  <a class="dcard grShadow grGreen2 x2 op100" href='{{url.this}}/signup'>
    <div class="mB25 fcWhite900 fs20" >جهت شرکت در مناسبت‌های جدید موسسه کلیک کنید</div>
  </a>
</div>
{%endif%}

{%if registeredOccasion%}
  <p class="msg fs14">
    شما در مناسبت‌های زیر شرکت کرده اید
  </p>
<div class="f">
  {%for key, value in registeredOccasion%}
  <div class="c6 s12 pA10">
      <a class="dcard grShadow grBlue2 x2 op100" href='{{url.this}}/detail?id={{value.id}}'>
        <div class="mB25 fcWhite900 fs20" >{{value.title}}</div>
        <div>{{value.subtitle}}</div>
      </a>
    </div>
  {%endfor%}
</div>
{%endif%}

{%if not registeredOccasion and not occasionList%}
<div class="msg info fs14 txtB txtC">در حال حاظر هیچ برنامه حمایتی از طرف موسسه اعلام نشده است
  <br>
  لطفا اخبار موسسه را پیگیری کنید تا در صورتی که طی مناسبتی توزیع بسته‌های معیشتی توسط موسسه آغاز شد از طیق همین صفحه مراحل را تکمیل کنید
</div>
{%endif%}


 </div>
</div>


{%endblock%}
