{%extends 'content_smsapp/layout.html'%}




{%block pageContent%}

<div class="f justify-center">

  <div class="c8">
    <div class="cbox">
      <div class="f">

        <div class="c8 s12">
          <div class="msg mL10 txtB txtC ">
            <h4 class="">{%trans "Sms text"%}</h4>
            <p>{{dataRow.text}}</p>
          </div>
        </div>

        <div class="c4 s12 pRa5">

          <div class="msg">{%trans "From number"%} <b>{{dataRow.fromnumber | fitNumber(false)}}</b></div>
          <div class="msg">{%trans "togateway"%} <b>{{dataRow.togateway | fitNumber(false)}}</b></div>
          <div class="msg">{%trans "date"%} <b>{{dataRow.date | dt(true)}}</b></div>
          <div class="msg">{%trans "Date receive"%} <b>{{dataRow.datereceive | dt(true)}}</b></div>
          <div class="msg">{%trans "Date answer"%} <b>{{dataRow.dateanswer | dt(true)}}</b></div>
          <div class="msg">{%trans "Date send"%} <b>{{dataRow.datesend | dt(true)}}</b></div>
          <div class="msg">{%trans "Reseive status"%} <b>{%set mydataRowreceivestatus = dataRow.receivestatus%}{%trans mydataRowreceivestatus%}</b></div>
        </div>


      </div>

      {% if dataRow.brand%}<span class="badge mA5">{%trans "Brand"%} <b>{{dataRow.brand}}</b></span>{%endif%}
      {% if dataRow.model%}<span class="badge mA5">{%trans "Model"%} <b>{{dataRow.model}}</b></span>{%endif%}
      {% if dataRow.simcartserial%}<span class="badge mA5">{%trans "Simcart serial"%} <b>{{dataRow.simcartserial}}</b></span>{%endif%}
      {% if dataRow.smsmessageid%}<span class="badge mA5">{%trans "sms message id"%} <b>{{dataRow.smsmessageid}}</b></span>{%endif%}
      {% if dataRow.userdata%}<span class="badge mA5">{%trans "user data"%} <b>{{dataRow.userdata}}</b></span>{%endif%}

      <hr>
      <form method="post" autocomplete="off" {%if dataRow.answertext %} disabled {%endif%}>

        <h5>{%trans "Select group"%} <a href="{{url.here}}/settings" class="badge info">{%trans "Manage group"%}</a></h5>
        {%if dataRow.recommend_id%}<div class="btn success2 mTB20">{%trans "Recommend"%} {{dataRow.recommend_title}}</div>{%endif%}
       <div class="f mB10">
        {%for key,value in groupList%}
          <div class="c">
            <div class="radio3 mB5 mRa5" >
              <input {%if dataRow.answertext %} disabled {%endif%} type="radio" name="group_id" value="{{value.id}}" id="group_{{value.id}}" {%if dataRow.group_id == value.id or (not dataRow.group_id and not value.id)  %} checked {%endif%}>
              <label for="group_{{value.id}}">{{value.title}}</label>
            </div>
          </div>
        {%endfor%}
        </div>

        {%for group_id, answers in dataAnswer%}
        <div data-response='group_id' data-response-effect='slide' data-response-where='{{group_id}}' data-response-hide>
          {%for key, value in answers %}
          <div class="btn outline primary" onclick="setAnswerText('{{value.text  | url_encode}}');">{{value.text}}</div>
          {%endfor%}
        </div>
        {%endfor%}

        <label for="itxt mT20">{%trans "Answer text"%}</label>
        <textarea class="txt" rows="5" name="answertext"  id="ianswertxt" {%if dataRow.answertext %} disabled {%endif%}>{{dataRow.answertext}}</textarea>
        <div class="f mT20">
          <div class="c">
            <button class="btn block {%if dataRow.answertext %} disabled {%else%} primary {%endif%}  " {%if dataRow.answertext %} disabled {%endif%}>{%trans "Send"%}</button>
          </div>
          <div class="cauto mLa5">

            <div data-ajaxify data-data='{"skip" : "skip", "id": "{{dataRow.id}}"}' data-method='post'  class="btn">{%trans "Skip"%}</div>
          </div>
        </div>
      </form>


    </div>

  </div>
</div>

<script type="text/javascript">
  function setAnswerText($_text)
  {
    $('#ianswertxt').val(decodeURIComponent($_text));
  }

</script>

{%endblock%}


{%block pageContent2%}



      <div class="msg">{%trans "fromgateway"%} {{dataRow.fromgateway}}</div>
      <span class="btn mRa5">{%trans "tonumber"%} {{dataRow.tonumber}}</span>



<span class="btn mRa5">{%trans "sendstatus"%} {{dataRow.sendstatus}}</span>
<span class="btn mRa5">{%trans "amount"%} {{dataRow.amount}}</span>
<span class="btn mRa5">{%trans "answertext"%} {{dataRow.answertext}}</span>
<span class="btn mRa5">{%trans "group_id"%} {{dataRow.group_id}}</span>
<span class="btn mRa5">{%trans "recommend_id"%} {{dataRow.recommend_id}}</span>


{%endblock%}






{%block pageSteps%}

  <div class="f">


   <div class="c s4">
    <a class="dcard {%if url.child == 'editgroup'%}active{%endif%}" href='{{url.this}}/editgroup?id={{requestGET.id}}' data-shortkey="49ctrlshift" '>
     <div class="statistic sm">
      <div class="value"><i class="sf-edit"></i></div>
      <div class="label">{%trans "Edit"%}<br><kbd class="mT5">Ctrl+Shift+1</kbd></div>
     </div>
    </a>
   </div>


   <div class="c s4">
    <a class="dcard {%if url.child == 'filtergroup'%}active{%endif%}" href='{{url.this}}/filtergroup?id={{requestGET.id}}' data-shortkey="50ctrlshift" >
     <div class="statistic sm">
      <div class="value"><i class="sf-list"></i></div>
      <div class="label">{%trans "Filters of this group"%}<br><kbd class="mT5">Ctrl+Shift+2</kbd></div>
     </div>
    </a>
   </div>




  </div>
{%endblock%}