{%extends display.cpMain%}


{%block pageContent%}
<div class="f justify-center">
  <div class="c6 s12 pRa10">
    <div class="cbox">

    <h2>{%trans "Family trip options"%}</h2>


    <form method="post">
      {{block ('iActiveMaster')}}
      <div class="mT10" data-response="master_active" {%if not tripMasterActive%} data-response-hide {%endif%}>
        {{block ('ikarbala')}}
        {{block ('imashhad')}}
        {{block ('iqom')}}
      </div>
      <input type="hidden" name="type" value="family">

      {{block ('isave')}}
    </form>

    </div>
  </div>
</div>
{%endblock%}




{%block isave%}
<button class="btn primary block mT25">{%trans "Save"%}</button>
{%endblock%}


{%block iActiveMaster%}
<div class="switch1 mT10">
   <input type="checkbox" name="master_active" id="master_active" {%if tripMasterActive%} checked {%endif%}>
   <label for="master_active"></label>
   <label for="master_active">{%trans "Enable Family Trip"%}</label>
  </div>
{%endblock%}




{%block iqom%}
<div class="switch1 mT10">
   <input type="checkbox" name="qom" id="qom" {%if activeCity.qom%} checked {%endif%}>
   <label for="qom"></label>
   <label for="qom">{%trans "Qom"%} <small>{%trans "Can trip user to qom"%}</small></label>
  </div>
  <div data-response='qom' data-response-effect='slide' {%if activeCity.qom%} {%else%} data-response-hide {%endif%} >
  <div class="input mT5 mB25">
    <label for="countpartnerqom">{%trans "Maximum partner count for qom"%}</label>
    <input type="number" id="countpartnerqom" name="count_partner_qom" placeholder='{%trans "Maximum partner count for qom"%}'  value="{{tripCountPartner.qom}}" >
  </div>
</div>
{%endblock%}

{%block ikarbala%}
<div class="switch1 mT10">
   <input type="checkbox" name="karbala" id="karbala" {%if activeCity.karbala%} checked {%endif%}>
   <label for="karbala"></label>
   <label for="karbala">{%trans "Karbala"%} <small>{%trans "Can trip user to karbala"%}</small></label>
  </div>

<div data-response='karbala' data-response-effect='slide' {%if activeCity.karbala%} {%else%} data-response-hide {%endif%} >
  <div class="input mT5 mB25">
    <label for="countpartnerkarbala">{%trans "Maximum partner count for karbala"%}</label>
    <input type="number" id="countpartnerkarbala" name="count_partner_karbala" placeholder='{%trans "Maximum partner count for karbala"%}'  value="{{tripCountPartner.karbala}}" >
  </div>
</div>
{%endblock%}

{%block imashhad%}
<div class="switch1 mT10">
   <input type="checkbox" name="mashhad" id="mashhad" {%if activeCity.mashhad%} checked {%endif%}>
   <label for="mashhad"></label>
   <label for="mashhad">{%trans "Mashhad"%} <small>{%trans "Can trip user to mashhad"%}</small></label>
  </div>
  <div data-response='mashhad' data-response-effect='slide' {%if activeCity.mashhad%} {%else%} data-response-hide {%endif%} >
  <div class="input mT5 mB25">
    <label for="countpartnermashhad">{%trans "Maximum partner count for mashhad"%}</label>
    <input type="number" id="countpartnermashhad" name="count_partner_mashhad" placeholder='{%trans "Maximum partner count for mashhad"%}'  value="{{tripCountPartner.mashhad}}" >
  </div>
</div>
{%endblock%}







{%block groupTrip%}
    <h2>{%trans "Group trip options"%}</h2>
    <hr>

    <form method="post">
      {{block ('iActiveMasterGroup')}}
      <div data-response="master_active_group" {%if not groupMasterActive%} data-response-hide {%endif%}>
        {{block ('ikarbalaGroup')}}
        {{block ('imashhadGroup')}}
        {{block ('iqomGroup')}}
        {{block ('icountPartnerGroup')}}
        {{block ('iminPartnerGroup')}}
        {{block ('imaxPartnerGroup')}}
      </div>
      <input type="hidden" name="type" value="group">

      {{block ('isave')}}
    </form>
{%endblock%}



{%block iActiveMasterGroup%}
<div class="switch1 mT10">
   <input type="checkbox" name="master_active_group" id="master_active_group" {%if groupMasterActive%} checked {%endif%}>
   <label for="master_active_group"></label>
   <label for="master_active_group">{%trans "Enable Group Trip"%}</label>
  </div>
{%endblock%}


{%block iqomGroup%}
<div class="switch1 mT10">
   <input type="checkbox" name="qom" id="qom_group" {%if groupActiveCity.qom%} checked {%endif%}>
   <label for="qom_group"></label>
   <label for="qom_group">{%trans "Qom"%} <small>{%trans "Can trip user to qom"%}</small></label>
  </div>
{%endblock%}


{%block ikarbalaGroup%}
<div class="switch1 mT10">
   <input type="checkbox" name="karbala" id="karbala_group" {%if groupActiveCity.karbala%} checked {%endif%}>
   <label for="karbala_group"></label>
   <label for="karbala_group">{%trans "Karbala"%} <small>{%trans "Can trip user to karbala"%}</small></label>
  </div>
{%endblock%}


{%block imashhadGroup%}
<div class="switch1 mT10">
   <input type="checkbox" name="mashhad" id="mashhad_group" {%if groupActiveCity.mashhad%} checked {%endif%}>
   <label for="mashhad_group"></label>
   <label for="mashhad_group">{%trans "Mashhad"%} <small>{%trans "Can trip user to mashhad"%}</small></label>
  </div>
{%endblock%}


{%block iminPartnerGroup%}
<div class="input">
  <label for="countpartner_group_min">{%trans "Minimum group count"%}</label>
  <input type="number" id="countpartner_group_min" name="count_partner_min" placeholder='{%trans "Minimum partner count"%}'  value="{{groupCountPartnerMin}}" >
</div>
{%endblock%}


{%block imaxPartnerGroup%}
<div class="input">
  <label for="countpartner_group_max">{%trans "Maximum group count"%}</label>
  <input type="number" id="countpartner_group_max" name="count_partner_max" placeholder='{%trans "Maximum partner count"%}'  value="{{groupCountPartnerMax}}" >
</div>
{%endblock%}








