{%extends 'content_m/layout.html'%}






{%block pageContent%}

{%if dataTable%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}
  {{block('htmlFilter')}}

 {%else%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}

 {%endif%}
{%else%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlFilterNoResult')}}

 {%else%}
  {{block('htmlStartAddNew')}}

 {%endif%}
{%endif%}

{%endblock%}




{%block htmlSearchBox%}
<div class="cbox fs12">
  <form method="get" action='{{url.this}}'>
    <div class="input">
      <input type="search" name="q" placeholder='{%trans "Search"%}' id="q" value="{{requestGET.q}}" autofocus autocomplete='off'>
      <button class="addon btn">{%trans "Search" %}</button>
    </div>
  </form>
</div>
{%endblock%}


{%block htmlTable%}
 <div class="cbox fs13">
{%for key, value in dataTable%}
  <div class="msg f pA align-center">
    <div class="cauto s12 pRa10">
      <div class="vcard shadow max-w150">
        <img alt="{{value.displayname}}" src="{{value.avatar}}">
        <div class="content">
          <div class="header"><small>{{value.firstname}}</small> <span class="fs09 txtB">{{value.lastname}}</span></div>
          <div class="meta">{{value.user_title}} <a href="{{url.this}}?user={{value.user_id | coding('encode')}}"><span class="sf-filter"></span></a></div>
        </div>
        <div class="footer txtC"><a href="tel:{{value.mobile}}">{{value.mobile | fitNumber("mobile")}}</a></div>
      </div>
    </div>
    <div class="c pTB10 pLR5">
      <div class="fs12 pB10">
{%if value.title%}
        <b>{%trans "Meeting title"%}</b> {{value.title}} <span class="floatRa badge primary ltr" title='{{value.publishdate | dt("human", "year")}}'>{{value.publishdate | dt(true)}}</span>
{%else%}
      <b class="fc-red">{%trans "Without title"%}</b>
{%endif%}
      </div>
      <div class="pB10">
{%if value.subtitle%}
        <b>{%trans "Meeting Order"%}</b> {{value.subtitle}}
{%else%}
      <b class="fc-red">{%trans "Without meeting order"%}</b>
{%endif%}
      </div>
      <div class="fs11 mB20">
{%if value.meta.member_array%}
  {%for key, value in value.meta.member_array%}
            <span class="badge">{{value}}</span>
  {%endfor%}
{%else%}
<b class="fc-red">{%trans "No member registered yet!"%}</b>
{%endif%}
      </div>

{%if value.content_raw%}
      <div class="msg bg-white">{{value.content_raw}}</div>
{%else%}
      <b class="fc-red">{%trans "Subject and approvals of meeting is not set!"%}</b>
{%endif%}

{%if value.meta.gallery%}
  <h2>{%trans "Gallery report"%}</h2>
  <div class="f">
    {% for key, myUrl in value.meta.gallery%}
      <a class="vcard max-w100 mA5" href="{{myUrl}}" target="_blank" title='{%trans "Click to download"%}'>
        {%if myUrl ends with '.jpg' or myUrl ends with '.png' or myUrl ends with '.gif'%}
        <img src="{{myUrl}}">
        {%elseif myUrl ends with '.mp4' %}
        <video><source src="{{myUrl}}" type="video/mp4"></video>
        <div class="content">{%trans "Video"%}</div>
        {%elseif myUrl ends with '.mp3' %}
        <audio controls><source src="{{myUrl}}" type="audio/mpeg"></audio>
        <div class="content">{%trans "MP3"%}</div>
        {%elseif myUrl ends with '.pdf' %}
          <div class="content">{%trans "PDF"%}</div>
        {%else%}
        <div class="content">{%trans "Without preview"%}</div>
        {%endif%}
      </a>
    {%endfor%}
  </div>
{%endif%}


      <div class="mT5"><a href="{{url.this}}/add?step=add&id={{value.id}}" class="btn">{%trans "Edit meeting"%}</a></div>
    </div>
  </div>
{%endfor%}
  {%include display.pagination%}
 </div>

{%endblock%}


{%block htmlFilter%}
<p class="f fs14 msg warn2">
  <span class="c">{{dataFilter | raw}}</span>
  <a class="cauto" href="{{url.this}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlFilterNoResult%}
<p class="f fs14 msg warn2">
  <span class="c">{%trans "Result not found!"%} {%trans "Search with new keywords."%}</span>
  <a class="cauto" href="{{url.this}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlStartAddNew%}
<p class="fs14 msg success2 pTB20">{%trans "No record exist!"%}</p>
{%endblock%}

