{%extends display.cpMain%}




{%block GlanceDetail%}
  <div class="f">
    <div class="c4 s12">
      <div class="dcard x1">
       <div class="statistic">
        <div class="value">{{totalPaid | fitNumber}}</div>
        <div class="label">{%trans "Total Sale"%}</div>
       </div>
      </div>
    </div>

    <div class="c4 s12">
      <div class="dcard x1">
       <div class="statistic">
        <div class="value">{{totalPaidDate | fitNumber}}</div>
        <div class="label">{%trans "Today Sale"%}</div>
       </div>
      </div>
    </div>

    <div class="c4 s12">
      <div class="dcard x1">
       <div class="statistic">
        <div class="value">{{totalPaidCount | fitNumber}}</div>
        <div class="label">{%trans "Sale Count"%}</div>
       </div>
      </div>
    </div>
  </div>
{%endblock%}






{%block pageContent%}
{{block('GlanceDetail')}}
{%if dataTable%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}
  {{block('htmlFilter')}}

 {%else%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}

 {%endif%}
{%else%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlFilterNoResult')}}

 {%else%}
  {{block('htmlStartAddNew')}}

 {%endif%}
{%endif%}

{%endblock%}




{%block htmlSearchBox%}
<div class="cbox fs12">
  <form method="get" action='{{url.here}}/book'>
    <div class="input">
      <input type="search" name="q" placeholder='{%trans "Search in book transaction"%}' id="q" value="{{requestGET.q}}" autofocus class="barCode" data-default data-pass='submit' autocomplete='off'>
      <button class="addon btn ">{%trans "Search" %}</button>
    </div>
  </form>
</div>
{%endblock%}


{%block htmlTable%}
 <div class="cbox fs12">
   <table class="tbl">
    <thead class="primary">
      <tr>
        <th class="s0">{%trans "Name"%}</th>
        <th>{%trans "mobile"%}</th>
        <th class="s0" data-sort="{{sortLink.payment.order}}"><a href="{{sortLink.payment.link}}">{%trans "Payment"%}</a></th>
        <th data-sort="{{sortLink.plus.order}}"><a href="{{sortLink.plus.link}}">{%trans "Amount"%}</a></th>

        <th>{%trans "Book"%}</th>
        <th class="s0" data-sort="{{sortLink.dateverify.order}}"><a href="{{sortLink.dateverify.link}}">{%trans "Date"%}</a></th>
      </tr>
    </thead>

    <tbody>
      {%for key, value in dataTable%}
      <tr>
        <td class="s0">{%if value.fullname%}{{value.fullname}}{%else%}{{value.displayname}}{%endif%}</td>
        <td><a href="{{url.current}}?mobile={{value.mobile}}">{{value.mobile |fitNumber(false)}}</a></td>
        <td class="s0"><a href="{{url.current}}?payment={{value.payment}}">{%set myPayment = value.payment%}{%trans myPayment%}</a></td>
        <td>{%if value.condition == 'ok'%}<span class="sf-check fc-green"></span>{%else%}<span class="sf-frown-o fc-mute"></span>{%endif%} {{value.plus | fitNumber}}  {%set pUnit = value.unit%}{%trans pUnit%}</td>
        <td><a href="{{url.current}}?book={{value.hazinekard}}">{%set myHazinekard = value.hazinekard%}{%trans myHazinekard%}</a></td>
        <td class="s0" title='{{value.dateverify | date("Y-m-d H:i:s") | tdate("Y-m-d H:i:s")}}'>{{value.dateverify | date("Y-m-d H:i:s")  | dt("human", "day") }}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  </table>
  {%include display.pagination%}

 </div>
{%endblock%}


{%block htmlFilter%}
<p class="f fs14 msg warn2">
  <span class="c">{{dataFilter | raw}}</span>
  <a class="cauto" href="{{url.here}}/book">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlFilterNoResult%}
<p class="f fs14 msg warn2">
  <span class="c">{%trans "Result not found!"%} {%trans "Search with new keywords."%}</span>
  <a class="cauto" href="{{url.here}}/book">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlStartAddNew%}
<p class="fs14 msg success2 pTB20">{%trans "No record exist!"%}</p>
{%endblock%}

