{%extends display.main%}


{%block page%}

 <article class="news">

  <img src="{{url.static}}/images/homepage/news-sabati.jpg" alt="اجرای طرح زیارت اولی‌های حرم حضرت معصومه (س)" class="alignleft thumb">
  <h2>اجرای طرح زیارت اولی‌های حرم حضرت معصومه (س)</h2>

  <p>به گزارش خبرنگار فرهنگی باشگاه خبرنگاران تسنیم «پویا»، حجت‎الاسلام ثباتی از فعالان و خادمان حرم حضرت معصومه (س) عصر امروز با حضور در برنامۀ کوی محبت طی سخنانی از اجرای طرح «زیارت اولیهای حرم حضرت معصومه (س)» به مناسبت آغاز دهه کرامت و ولادت حضرت معصومه (س) خبر داد.</p>

  <p>حجت‎الاسلام ثباتی با اشاره به اجرای این طرح جدید به مناسبت آغاز دهۀ کرامت گفت: علاقه‎مندان با برقراری ارتباط با مرکز خدماتی ـ فرهنگی حضرت خدیجه (س) که مجری طرح «زیارت اولیهای حرم حضرت معصومه (س)» است، می‎‎‌توانند با ارسال پیامکی به شماره 09903511291 کاروانی 40 نفره برای زیارت حضرت معصومه (س) تشکیل دهند تا در شهر قم از ارائۀ خدماتی کاملاً رایگان بهره‎مند شوند و خاطره‎ای خوش  در قلب زیارت اولیها به یادگار بماند.</p>

  <p>وی افزود: این دسته از زائران در فاصله‎‎های نزدیک حرم دو روز و یک شب و در فاصله‎های دورتر، دور روز و دو شب به صورت کاملاً رایگان اسکان داده می‎‎‌شوند و مهمان سفرۀ کرامت حضرت معصومه (س) خواهند بود.</p>

  <p>حجت‎الاسلام ثباتی با اشاره به اینکه مردم به مناسبتهای مختلف و به ویژه در این ایام شور و شعف و عرض ارادتشان را به شکلهای مختلفی نشان می‌‎دهد، یاداورد شد: امروز در سالروز ورود حضرت معصومه (س) به قم، کاروان نمادین ورود حضرت به قم وارد حرم شد و از شب گذشته دسته‎ گلهایی تقدیم به حضرت فاطمۀ معصومه (س)، امام کاظم (ع) و حضرت نجمه خاتون (س) به جهت شادباش این ایام به زائران داده شد.</p>

  <p>وی با بیان این مطلب که حضرت معصومه (س) بانویی برای امروز و دیروز نیست، بلکه حکایت این شهر و این بانو به جریان معراج رسول‎الله (ص) باز می‎‏گردد، بیان کرد: در شب معراج وقتی پیامبر (ص) به زمین نگاه کردند، نه مکه را دیدند و نه مدینه، بلکه تنها نقطه‎ای که در زمین توجه‎شان را جلب کرد، «قم» بود و این حکایت ادامه پیدا کرد تا به زمان امام صادق (ع) رسید و ایشان فرمودند: برای ما اهل‎بیت حرمی است که آن حرم در شهر «قم» جای دارد.</p>

  <p>حجت‎الاسلام ثباتی با بیان اینکه در این روزها خیلیها مشتاق زیارت حضرت معصومه (س) هستند، اما عده‎ای بنا بر هر دلیلی نمی‌‎توانند در حرم حضرت حاضر شوند، گفت: برای آن دسته از کسانی که نتوانستند و نمی‌‎توانند به این بارگاه نورانی بیایند، نایب‎الزیاره آنان خواهیم بود.</p>

  <div> ۱۴ مرداد ۱۳۹۵ - ۲۱:۳۴</div>
 </article>


{%endblock%}

