{%extends display.khadijeControlLayout%}


{%block content%}
<div class="tbox">
  <h2>{{page.title}}</h2>
  <p>{{page.desc}}</p>

</div>
<div class="cbox">
  <table class="tbl">
    <thead>
      <tr>
        <th>{%trans "City"%}</th>
        <th>{%trans "Place"%}</th>
        <th>{%trans "Start Date"%}</th>
        <th>{%trans "End Date"%}</th>
        <th>{%trans "Status"%}</th>
      </tr>
    </thead>
    <tbody>
      {%for key, value in travel_list%}
        <tr>
          <td>{%set myPlace = value.place%}{%trans myPlace%}</td>
          <td>{{value.hotel}}</td>
          <td>{{value.startdate | fitNumber}}</td>
          <td>{{value.enddate | fitNumber}}</td>
          <td>{%set myStatus = value.status | capitalize %}{%trans myStatus%}</td>
        </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
{%endblock%}







{%block iChild%}
{%for key, value in child_list%}
<div class="switch1  pA5">
 <input type="checkbox" name="child_{{value.id}}" id="child_{{value.id}}" checked>
 <label for="child_{{value.id}}" ></label>
 <label for="child_{{value.id}}">{{value.firstname}} {{value.lastname}}  {{value.nationalcode | fitNumber}}</label>
</div>
{%endfor%}
{%endblock%}






{%block iDateStart%}
<label for="startdate">{%trans "Start Date"%}</label>
<div class="input">
  <input class="datepicker" type="text" name="startdate" id="startdate" placeholder='{{"1369/04/15" | fitNumber}}' value="{{startdate}}" maxlength='20' data-format="YYYY/MM/DD" data-initialValue='false' data-view="year">
</div>
{%endblock%}



{%block iDateEnd%}
<label for="enddate">{%trans "End Date"%}</label>
<div class="input">
  <input class="datepicker" type="text" name="enddate" id="enddate" placeholder='{{"1369/04/15" | fitNumber}}' value="{{enddate}}" maxlength='20' data-format="YYYY/MM/DD" data-initialValue='false' data-view="year">
</div>
{%endblock%}

{%block iCity%}
<label for="city">{%trans "City Place"%}</label>
<select name="city" class="input select">
  <option value="">{%trans "Please select one itmes"%}</option>
  {%for key, value in cityplace_list%}
    <option value="{{value.id}}">{{value.city}} - {{value.place}}</option>
  {%endfor%}
</select>
{%endblock%}




{%block iadd%}
<button class="btn primary block mT20">{%trans "Add"%}</button>
{%endblock%}

{%block isave%}
<button class="btn primary block mT20">{%trans "Save"%}</button>
{%endblock%}


{%block iremove%}
<input type="hidden" name="remove" value="{{utilityGET.edit}}">
<button class="btn danger block mT20">{%trans "Remove"%}</button>
{%endblock%}




