{%extends 'content_smsapp/layout.html'%}

{%block pageContent%}
<div class="f">

  <div class="c">{{block('iSmsList')}}</div>
  <div class="c">{{block('iSmsReport')}}</div>
  <div class="c">{{block('iSettings')}}</div>

</div>

<div class="f">
	<div class="c8">
		<div id="chartdiv" class="chart"></div>
	</div>
  <div class="c4 pLa5">
    {{block('l10sms')}}
  </div>
</div>
{{block('iNumbers')}}

{%endblock%}



{%block iNumbers%}
<div class="f">

  <div class="c1">
    <a class="dcard xs">
     <div class="statistic sm teal">
      <div class="label mB10"></div>
      <div class="value ">{%trans "Send"%}</div>
     </div>
    </a>
  </div>

  <div class="c">
    <a class="dcard">
     <div class="statistic sm teal">
      <div class="label mB10"><i class="fs20 mRa5"></i>{%trans "Total"%}</div>
      <div class="value counter">{{dashboardDetail.total.send | fitNumber}}</div>
     </div>
    </a>
  </div>

   <div class="c">
    <a class="dcard">
     <div class="statistic sm teal">
      <div class="label mB10"><i class="fs20 mRa5"></i>{%trans "month"%}</div>
      <div class="value">{{dashboardDetail.month.send | fitNumber}}</div>
     </div>
    </a>
  </div>

   <div class="c">
    <a class="dcard">
     <div class="statistic sm teal">
      <div class="label mB10"><i class="fs20 mRa5"></i>{%trans "week"%}</div>
      <div class="value">{{dashboardDetail.week.send | fitNumber}}</div>
     </div>
    </a>
  </div>

   <div class="c">
    <a class="dcard">
     <div class="statistic sm teal">
      <div class="label mB10"><i class="fs20 mRa5"></i>{%trans "day"%}</div>
      <div class="value">{{dashboardDetail.day.send | fitNumber}}</div>
     </div>
    </a>
  </div>

</div>

<div class="f">

<div class="c1">
    <a class="dcard xs">
     <div class="statistic sm blue">
      <div class="label mB10"></div>
      <div class="value ">{%trans "Receive"%}</div>
     </div>
    </a>
  </div>

  <div class="c">
    <a class="dcard">
     <div class="statistic sm blue">
      <div class="label mB10"><i class="fs20 mRa5"></i>{%trans "Total"%}</div>
      <div class="value counter">{{dashboardDetail.total.receive | fitNumber}}</div>
     </div>
    </a>
  </div>

  <div class="c">
    <a class="dcard">
     <div class="statistic sm blue">
      <div class="label mB10"><i class="fs20 mRa5"></i>{%trans "month"%}</div>
      <div class="value">{{dashboardDetail.month.receive | fitNumber}}</div>
     </div>
    </a>
  </div>

  <div class="c">
    <a class="dcard">
     <div class="statistic sm blue">
      <div class="label mB10"><i class="fs20 mRa5"></i>{%trans "week"%}</div>
      <div class="value">{{dashboardDetail.week.receive | fitNumber}}</div>
     </div>
    </a>
  </div>

  <div class="c">
    <a class="dcard">
     <div class="statistic sm blue">
      <div class="label mB10"><i class="fs20 mRa5"></i>{%trans "day"%}</div>
      <div class="value">{{dashboardDetail.day.receive | fitNumber}}</div>
     </div>
    </a>
  </div>
</div>

{%endblock%}




{%block foot_js%}
<script>
{%include 'content_smsapp/home/chart.js'%}
</script>
{%endblock%}


{%block iSmsGroupAdd%}
<a class="dcard x1" href='{{url.here}}/addgroup'>
 <div class="statistic">
  <div class="value"><i class="sf-plus"></i></div>
  <div class="label">{%trans "Add group"%}</div>
 </div>
</a>
{%endblock%}



{%block l10sms%}
<div class="cbox fs11 mB10">
  <h2>{%trans "Last sms"%}</h2>
  {%for key, value in lastSms%}
    <a class="msg f">
      <div class="c6">{%if value.text%}{{value.text}}{%else%}{%trans "Without text"%}{%endif%}</div>
      <span class="c">{{value.fromnumber | fitNumber('mobile')}}</span>
      <div class="cauto">{{value.datecreated | dt('human', 'year') }}</div>
    </a>
  {%endfor%}
</div>
{%endblock%}



{%block iSettings%}
<a class="dcard x1" href='{{url.here}}/settings'>
 <div class="statistic">
  <div class="value"><i class="sf-cogs"></i></div>
  <div class="label">{%trans "Setting"%}</div>
 </div>
</a>
{%endblock%}



{%block iSmsReport%}
<a class="dcard x1" href='{{url.here}}/report'>
 <div class="statistic">
  <div class="value"><i class="sf-chart"></i></div>
  <div class="label">{%trans "Reports"%}</div>
 </div>
</a>
{%endblock%}



{%block iSmsGroupList%}
<a class="dcard x1" href='{{url.here}}/listgroup'>
 <div class="statistic">
  <div class="value"><i class="sf-th-list"></i></div>
  <div class="label">{%trans "Sms group list"%}</div>
 </div>
</a>
{%endblock%}




{%block iSmsList%}
<a class="dcard x1" href='{{url.here}}/listsms'>
 <div class="statistic">
  <div class="value"><i class="sf-list"></i></div>
  <div class="label">{%trans "Sms list"%}</div>
 </div>
</a>
{%endblock%}
