{%extends display.admin%}


{%block pageContent%}
  <div class="justify-center f">
   <form method="post" class="c5 m6 s12" autocomplete="off">
    <div class="cbox">
      <div class="f">
        <div class="c">{{block('iMemberList')}}</div>
        <div class="cauto mLa5 mT20"><span data-kerkere='.addUserForm' class="btn outline"><span class="fs18">+</span></span></div>
      </div>


     {{block('iAddUserForm')}}

     {{block('iJob')}}
     {{block('iadd')}}
    </div>
   </form>
  </div>
{%endblock%}


{%block iAddUserForm%}
<div class="addUserForm example" data-kerkere-content='hide'>
  <h6>{%trans "Add new user"%}</h6>
  <div class="input mT5">
    <input type="tel" name="memberTl" id="memberTl" placeholder='{%trans "Mobile"%} {%trans "Like"%} {{"09120123456" | fitNumber("mobile")}}' autofocus value="{{dataRow.mobile}}" maxlength='30' data-response-realtime>
  </div>

    <select name="memberGender" id="memberGender" class="ui dropdown select mT5">
      <option value="" disabled>{%trans "Gender"%}</option>
      <option value="0">-</option>
      <option value="male" {%if dataRow.gender == 'male' %}selected {%endif%}>{%trans "Mr"%}</option>
      <option value="female" {%if dataRow.gender == 'female' %}selected{%endif%}>{%trans "Mrs"%}</option>
    </select>

  <div class="input mT5">
    <input type="text" name="memberN" id="memberN" placeholder='{%trans "Name"%}' value="{{dataRow.displayname}}" maxlength='40' minlength="1">
  </div>

</div>
{%endblock%}



{%block iMemberList%}
<label for="member">{%trans "Choose user and to set as servant"%} <small class="fc-red">* {%trans "Require"%}</small></label>
<select name="member" class="ui dropdown search" id="member" data-source='{{url.here}}/servant?list=member{{xCityAnd}}&q={query}'>
  <option value="" readonly>{%trans "Please choose user"%} *</option>
</select>
{%endblock%}



{%block iCity%}
<div class="pRa5">
  <label for="city">{%trans "City"%}</label>
  <select name="city" class="ui dropdown select">
    <option value="" readonly>{%trans "Please choose city"%}</option>
    <option value="qom" {%if dataRow.city == 'qom'  %}selected {%endif%}>{%trans "Qom"%}</option>
    <option value="mashhad" {%if dataRow.city == 'mashhad'  %}selected {%endif%}>{%trans "Mashhad"%}</option>
    <option value="karbala" {%if dataRow.city == 'karbala'  %}selected {%endif%}>{%trans "Karbala"%}</option>
  </select>
</div>
{%endblock%}


{%block iJob%}
<div class="pRa5">
  <label for="job">{%trans "Job"%}</label>
  <select name="job" class="ui dropdown select">
    <option value="" readonly>{%trans "Please choose job"%}</option>
    {%if false%}<option value="clergy" {%if dataRow.job == 'clergy'  %}selected {%endif%}>{%trans "clergy"%}</option>{%endif%}
    <option value="adminoffice" {%if dataRow.job == 'adminoffice'  %}selected {%endif%}>مدیر زائرسرا</option>
    <option value="admin" {%if dataRow.job == 'admin'  %}selected {%endif%}>مدیر کاروان</option>
    <option value="missionary" {%if dataRow.job == 'missionary'  %}selected {%endif%}>مبلغ</option>
    <option value="servant" {%if dataRow.job == 'servant'  %}selected {%endif%}>نگهبان</option>


  </select>
</div>
{%endblock%}




{%block iadd%}
<button class="btn primary block mT20">{%trans "Add"%}</button>
{%endblock%}





