{%extends display.admin%}


{%block pageContent%}
{%include 'content_agent/servant/pageStep.html'%}









<div class="f">
  <div class="c4 s12 pRa10">
    {{block('addNewResume')}}
  </div>
  {%if dataTable%}
  <div class="c s12">
    {{block('htmlTable')}}
  </div>
  {%endif%}
</div>

{%endblock%}


{%block addNewResume%}

<div class="cbox">
 <form method="post" autocomplete="off">
  <h2>{%trans "Add new work history"%}</h2>



  <label for="company">{%trans "Company"%}</label>
  <div class="input">
    <input type="text" name="company" id="company" value="{{dataRow.company}}" minlength="1" maxlength="100">
  </div>

  <label for="type">{%trans "Action Type"%}</label>
  <div class="input">
    <input type="text" name="type" id="type" value="{{dataRow.type}}" minlength="1" maxlength="100">
  </div>

  <label for="ceo">{%trans "CEO"%}</label>
  <div class="input">
    <input type="text" name="ceo" id="ceo" value="{{dataRow.ceo}}" minlength="1" maxlength="100">
  </div>

  <div class="f">

    <div class="c">
          <label for="startdate">{%trans "startdate"%}</label>
          <div class="input">
            <input type="text" name="startdate" id="startdate" value="{{dataRow.startdate}}" minlength="1" maxlength="100">
          </div>

    </div>

    <div class="c mLa5">
        <label for="enddate">{%trans "enddate"%}</label>
        <div class="input">
          <input type="text" name="enddate" id="enddate" value="{{dataRow.enddate}}" minlength="1" maxlength="100">
        </div>

    </div>

  </div>


  <label for="desc">{%trans "Description"%}</label>
  <div class="input">
    <textarea class="txt" name="desc" id="desc" rows="5">{{dataRow.desc}}</textarea>

  </div>


  {%if requestGET.id%}
  <div class="f">
    <button class="c btn block primary mT10">{%trans "Edit"%}</button>
    <div data-confirm data-data='{"mod" : "remove"}' class="cauto mLa5 btn block danger mT10">{%trans "Remove"%}</div>

  </div>


  {%else%}
    <button class="btn block success mT10">{%trans "Add"%}</button>
  {%endif%}



 </form>
</div>
{%endblock%}







{%block htmlTable%}

<div class="tblBox">


  <table class="tbl1 v1 txtC cbox fs12">
    <thead>
      <tr class="fs09">
        <th class="collapsing" ></th>
        <th>{%trans "Company"%}</th>
        <th>{%trans "Action Type"%}</th>
        <th>{%trans "Year"%}</th>
        <th>{%trans "CEO"%}</th>
        <th>{%trans "Description"%}</th>
      </tr>
    </thead>

    <tbody>
      {%for key, value in dataTable%}
      <tr>
          <td class="collapsing"><a href="{{url.that}}?user={{requestGET.user}}&id={{value.id}}&sid={{requestGET.sid}}{{xCityAnd}}"><i class="sf-edit"></i></a></td>
          <td>{{value.company}}</td>
          <td>{{value.type}}</td>
          <td>{{value.startdate | fitNumber(false)}}-{{value.enddate | fitNumber(false)}}</td>
          <td>{{value.ceo}}</td>
          <td>{{value.desc}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>

</div>
{%endblock%}












