{%extends display.cpMain%}


{%block pageContent%}


<div class="f justify-center">
  <div class="cbox c12">
    <form method="post">
      {{block ('iWay') }}
      {{block ('iadd')}}
    </form>
  </div>
</div>

{%if wayList%}
<div class="f justify-center">
  <div class="cbox c12">
    <h2>{%trans "List of sms template"%}</h2>
    <table class="tbl">
      <thead>
        <tr>
          <th>{%trans "Text"%}</th>
          <th>{%trans "Delete"%}</th>
        </tr>
      </thead>
      <tbody>
        {%for key, value in wayList%}
          <tr>
            <td>{{value}}</td>
            <td class="collapsing"><a href="{{url.pwd}}" data-ajaxify data-method="post" data-data='{"key": "{{value}}", "type":"delete"}'><button class="btn danger xs">{%trans "Remove"%}</button></a></td>
          </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
</div>
{%endif%}

{%endblock%}





{%block iadd%}
<button class="btn primary block mT25">{%trans "Add"%}</button>
{%endblock%}



{%block iWay%}
<label for='fway'>{%trans "SMS text"%}</label>
<div class="input">
  <textarea class="txt" name="way" placeholder='{%trans "SMS text"%}' autofocus maxlength='500' minlength="1" pattern=".{1,500}" title='{%trans "Enter a valid way"%}' id='fway'></textarea>
</div>
{%endblock%}


