{%extends display.admin%}


{%block pageContent%}
{%include 'content_agent/servant/pageStep.html'%}


<div class="f justify-center">
  <div class="c8 s12">
    <div class="cbox">
        <form method="post" autocomplete="off">
          <label for='skills'>{%trans "Skills"%}</label>
          <select name="skills" class="select ui dropdown search addition" id="skills">
            <option value="">{%trans "Skills"%}</option>
            {%for key, value in listSkills%}
              <option value="{{value.id}}">{{value.title}}</option>
            {%endfor%}
          </select>
          <div class="f">
            <label>میزان تخصص</label>
            <div class="c"><div class="radio3"><input type="radio" name="rate" value="1" id="rate1"><label for="rate1">کم</label></div></div>
            <div class="c mLa5"><div class="radio3"><input type="radio" name="rate" value="2" id="rate2"><label for="rate2">متوسط</label></div></div>
            <div class="c mLa5"><div class="radio3"><input type="radio" name="rate" value="3" id="rate3"><label for="rate3">خوب</label></div></div>
          </div>
          <div class="input mT10">
            <input type="text" name="desc" placeholder="توضیحات">
          </div>
          <div class="txtRa">
            <button class="btn mT20 success">{%trans "Add"%}</button>
          </div>

        </form>
        <div class="mT20">

          {%for key, value in userSkills%}
          <div class="f msg primary2">
            <div class="c"><span class="mL10">{{loop.index | fitNumber}}</span> {{value.title}}</div>
            <div class="c">{%if value.rate == 1%}کم{%elseif value.rate == 2%}متوسط{%elseif value.rate == 3%}خوب{%else%}{{value.rate | fitNumber}}{%endif%}</div>
            <div class="c">{{value.desc}}</div>
            <div class="cauto">
              <div class="badge danger" data-confirm data-data='{"type" : "remove", "id" : "{{value.id}}"}'>{%trans "Remove"%}</div>
            </div>
          </div>
          {%endfor%}
        </div>
    </div>
  </div>
</div>
{%endblock%}



