{%extends 'content_m/layout.html'%}



{%block pageContent%}

<div class="f justify-center">
  <div class="c6">
    <div class="cbox">
      <form method="post">

      <div class="msg hide">
        <p>
          <span class="txtB fs12">ثبت‌نام ویژه برنامه سمت خدا</span>
          <a class="badge light" href="{{url.kingdom}}/karbala">مشاهده لینک ثبت‌نام</a>
        </p>

        <div class="switch1">
         <input type="checkbox" name="samtekhoda" id="samtekhoda" {%if karbalasettingSaved.samtekhoda%} checked {%endif%}>
         <label for="samtekhoda"></label>
         <label for="samtekhoda">ثبت‌نام کربلا ویژه سمت خدا</label>
        </div>
      </div>


      <div class="msg">
        <p>
          <span class="txtB fs12">ثبت‌نام ویژه برنامه کوی محبت</span>
          <a class="badge light" href="{{url.kingdom}}/karbala2">مشاهده لینک ثبت‌نام</a>
        </p>

        <div class="switch1">
         <input type="checkbox" name="koyemohebbat" id="koyemohebbat" {%if karbalasettingSaved.koyemohebbat%} checked {%endif%}>
         <label for="koyemohebbat"></label>
         <label for="koyemohebbat">ثبت‌نام کربلا ویژه کوی محبت</label>
        </div>
      </div>


      <div class="msg">
        <p>
          <span class="txtB fs12">ثبت‌نام ویژه برنامه ویژه اربعین</span>
          <a class="badge light" href="{{url.kingdom}}/karbalaarbaeen">مشاهده لینک ثبت‌نام</a>
        </p>

        <div class="switch1">
         <input type="checkbox" name="arbaeen" id="arbaeen" {%if karbalasettingSaved.arbaeen%} checked {%endif%}>
         <label for="arbaeen"></label>
         <label for="arbaeen">ثبت‌نام کربلا ویژه ویژه اربعین</label>
        </div>
      </div>

      <button class="btn success">ذخیره</button>

      </form>
    </div>
  </div>
</div>



{%endblock%}
