{%extends display.cpMain%}


{%block pageContent%}


<div class="f justify-center">
	<div class="c8">
		<div class="cbox">
			<div class="msg txtC success2">{%trans "User"%} <b>{{dataRowUser.displayname}}</b></div>
			<div class="msg txtC primary">{%trans "Festival course"%} <b>{{dataRowCourse.title}}</b></div>
			<div class="f">

			<div class="c msg">{%trans "Date created"%} <span class="ltr">{{dataRow.datecreated | dt}}</span></div>
			<div class="c mLa5 msg">{%trans "Status"%} {%set myStatus = dataRow.status %} <b>{%trans myStatus%}</b></div>
			</div>
			<div class="msg">{%trans "Files"%}
				<br>
				{%for key, value in dataRow.file%}
					{%if value%}
					<a target="_blank" title='{%trans "Click to download"%}' class="btn hauto primary mA10" data-direct href="{{value}}">{%trans key%}</a><br>
					{%endif%}
				{%endfor%}
			</div>

			<form method="post">
				<div class="pRa5">
				  <label for="status">{%trans "Status"%}</label>
				  <select name="status" class="ui dropdown select">
				    <option value="" readonly>{%trans "Please select one itme"%}</option>
				    <option value="awaiting" {%if dataRow.status == 'awaiting'  %}selected {%endif%}>{%trans "Awaiting"%}</option>
				    <option value="draft" {%if dataRow.status == 'draft'  %}selected {%endif%}>{%trans "Draft"%}</option>
				    <option value="checked" {%if dataRow.status == 'checked'  %}selected {%endif%}>{%trans "Checked"%}</option>
				    <option value="spam" {%if dataRow.status == 'spam'  %}selected {%endif%}>{%trans "Spam"%}</option>
				    <option value="win" {%if dataRow.status == 'win'  %}selected {%endif%}>{%trans "Win"%}</option>
				  </select>
				</div>

				<label class="mT10" for="desc">{%trans "Description"%}</label>
				<textarea name="desc" id="desc" class="txt" rows="3">{{dataRow.desc}}</textarea>

				<button class="btn primary block mT10">{%trans "Save"%}</button>
			</form>

		</div>
	</div>
</div>
{%endblock%}

