{%extends 'content_lottery/layout.html'%}



{% block ititle %}
<label for="title">{%trans "Title"%} <small class="fc-red">* {%trans "Require"%}</small></label>
<div class="input">
  <input type="text" name="title" id="title" itemholder='{%trans "Title of item"%} *' value="{{dataRow.title}}" autofocus required maxlength='150' minlength="1" pattern=".{1,150}" title='{%trans "Enter a valid title"%}'>
</div>
{% endblock %}

{%block iSubtitle%}
<label for="subtitle">{%trans "Subtitle"%}</label>
<div class="input">
  <input type="text" name="subtitle" id="subtitle"  value="{{dataRow.subtitle}}"  maxlength='150' minlength="1" pattern=".{1,150}">
</div>
{%endblock%}


{%block iType%}
<div class="pRa5">
  <label for="type">{%trans "Type"%}</label>
  <select name="type" class="ui dropdown select">
    <option value="">{%trans "Please select one itme"%}</option>
    <option value="qom" {%if dataRow.type == 'qom'  %}selected {%endif%}>{%trans "Qom"%}</option>
    <option value="mashhad" {%if dataRow.type == 'mashhad'  %}selected {%endif%}>{%trans "Mashhad"%}</option>
    <option value="karbala" {%if dataRow.type == 'karbala'  %}selected {%endif%}>{%trans "Karbala"%}</option>
  </select>
</div>
{%endblock%}


{%block iGender%}
<div class="pRa5">
  <label for="gender">{%trans "Gender"%}</label>
  <select name="gender" class="ui dropdown select">
    <option value="">{%trans "Please select one itme"%}</option>
    <option value="male" {%if dataRow.gender == 'male'  %}selected {%endif%}>{%trans "Male"%}</option>
    <option value="female" {%if dataRow.gender == 'female'  %}selected {%endif%}>{%trans "Female"%}</option>
    <option value="all" {%if dataRow.gender == 'all'  %}selected {%endif%}>{%trans "All"%}</option>
  </select>
</div>
{%endblock%}



{%block iFile%}

<div class="input mT10">
 <input type="file" accept="image/gif, image/jpeg, image/png" name="file" id="file1"  data-max="500">
 <label for="file1"></label>
</div>
{%if dataRow.file%}
<img src="{{dataRow.file}}">
{%endif%}

{%endblock%}


{% block isort %}
<label for="isort">{%trans "Sort"%}</label>
<div class="input">
  <input type="number" name="sort" id="isort" value="{{dataRow.sort}}" min="0" max="9999" >
</div>
{% endblock %}


{%block idesc%}
<label for="desc">{%trans "Description"%}</label>
<textarea class="txt mB10" id='desc' name="desc" itemholder='{%trans "Description of item"%}' maxlength='500' rows="5">{{dataRow.desc}}</textarea>
{%endblock%}


{%block iAddress%}
<label for="address">{%trans "Address"%}</label>
<textarea class="txt mB10" id='address' name="address" itemholder='{%trans "Address"%}' maxlength='500' rows="5">{{dataRow.address}}</textarea>
{%endblock%}




{%block iadd%}
<button class="btn primary block mT20">{%trans "Add"%}</button>
{%endblock%}

{%block isave%}
<button class="btn primary block mT20">{%trans "Save"%}</button>
{%endblock%}



{%block iStatus%}
<div class="mT15">
 <label >{%trans "Status of item"%}</label>


<div class="radio1 black">
  <input type="radio" id="r-draft" name="status" value="draft" {%if dataRow.status == 'draft' or not dataRow.status %} checked{%endif%}>
  <label for="r-draft">{%trans "Draft"%}</label>
 </div>


 <div class="radio1 green">
  <input type="radio" id="r-enable" name="status" value="enable" {%if dataRow.status == 'enable' or not dataRow.status %} checked{%endif%}>
  <label for="r-enable">{%trans "Enable"%}</label>
 </div>

<div class="radio1 blue">
  <input type="radio" id="r-expire" name="status" value="expire" {%if dataRow.status == 'expire' or not dataRow.status %} checked{%endif%}>
  <label for="r-expire">{%trans "Expire"%}</label>
 </div>

 <div class="radio1 green">
  <input type="radio" id="r-done" name="status" value="done" {%if dataRow.status == 'done' or not dataRow.status %} checked{%endif%}>
  <label for="r-done">{%trans "Done"%}</label>
 </div>

<div class="radio1 red">
  <input type="radio" id="r-deleted" name="status" value="deleted" {%if dataRow.status == 'deleted' or not dataRow.status %} checked{%endif%}>
  <label for="r-deleted">{%trans "Deleted"%}</label>
 </div>


 <div class="radio1 black mB25">
  <input type="radio" id="r-disable" name="status" value="disable" {%if dataRow.status == 'disable'%} checked{%endif%} >
  <label for="r-disable">{%trans "Disable"%}</label>
 </div>
</div>
{%endblock%}
