{%extends display.admin%}


{%block pageContent%}

<div class="f justify-center">
	<div class="c6">
		<div class="cbox">
			<form method="post">
				{{block('iThumb--')}}

				{{block('iexpert')}}
				<div class="f">
					<div class="c6 s12 pRa5">{{block('iexpertvalue')}}</div>
					<div class="c6 s12 pRa5">{{block('iexpertyear')}}</div>
				</div>
				<div class="f">
					<div class="c6 s12 pRa5">{{block('istartdate')}}</div>
					<div class="c6 s12 pRa5">{{block('ienddate')}}</div>
				</div>
				{{block('iJob')}}

				{{block('icar2')}}
				{{block('iDescription')}}
				{{block('iArabicLang')}}
				{{block('iAdd')}}
			</form>
		</div>

	</div>
</div>

{%endblock%}



{%block iDescription%}
<label for='fdesc'>{%trans "Description"%}</label>
<textarea name="desc"  rows="5" placeholder='{%trans "Description"%}' class="txt" id="fdesc">{{service_detail.desc}}</textarea>
{%endblock%}



{%block iJob%}
<label for="fjob">{%trans "Job"%}</label>
<div class="input">
  <input type="text" name="job" value="{{service_detail.job}}" id="fjob" placeholder='{%trans "Job"%}' value="{{child_detail.job}}" maxlength='50'>
</div>
{%endblock%}


{%block iAdd%}
<button class="btn primary block mT20">{%trans "Save all"%}</button>
{%endblock%}


{%block istartdate%}
<label for="startdate">{%trans "Start date"%}</label>
<div class="input">
  <input class="datepicker" type="text" name="startdate" value="{{service_detail.startdate}}" id="startdate"  placeholder='{{"1396/11/15" | fitNumber}}'  data-format="YYYY/MM/DD" data-initialValue='false' data-view="year">
</div>
{%endblock%}


{%block ienddate%}
<label for="enddate">{%trans "End date"%}</label>
<div class="input">
  <input class="datepicker" type="text" name="enddate" value="{{service_detail.enddate}}" id="enddate"  placeholder='{{"1396/11/15" | fitNumber}}'  data-format="YYYY/MM/DD" data-initialValue='false' data-view="year">
</div>
{%endblock%}


{%block iexpert%}
<div class="disabled">
	<label for="fexpert">{%trans "Expert title"%}</label>
	<div class="input ">
	  <input type="text" name="expert" disabled value="{{service_detail.expert}}" id="fexpert" placeholder='{%trans "Expert title"%}'  maxlength='50'>
	</div>
</div>
{%endblock%}


{%block iexpertvalue%}
<label for="fexpertvalue">{%trans "Expert value"%}</label>
<div class="input">
  <input type="text" name="expertvalue" autofocus value="{{service_detail.expertvalue}}" id="fexpertvalue" placeholder='{%trans "Expert value"%}'  maxlength='50'>
</div>
{%endblock%}


{%block iexpertyear%}
<label for="fexpertyear">{%trans "Expert year"%}</label>
<div class="input">
  <input type="number" name="expertyear" value="{{service_detail.expertyear}}" id="fexpertyear" placeholder='{%trans "Expert year"%}'  maxlength='50'>
</div>
{%endblock%}


{%block icar%}
<label for="fcar">{%trans "Your car name"%}</label>
<div class="input">
  <input type="text" name="car" value="{{service_detail.car}}" id="fcar" placeholder='{%trans "Your car name"%}'  maxlength='50'>
</div>
{%endblock%}



{%block iArabicLang%}
<div class="switch1 pA5">
 <input type="checkbox" name="ArabicLang" id="ArabicLang" {%if service_detail.arabiclang %}checked{%endif%}>
 <label for="ArabicLang"  data-on='{%trans "Yes"%}' data-off='{%trans "No"%}'></label>
 <label for="ArabicLang">{%trans "Arabic Language"%}</label>
</div>

{%endblock%}



{%block iThumb%}
<div class="input preview">
 <input type="file" accept="image/gif, image/jpeg, image/png" name="thumb" value="{{service_detail.thumb}}" id="fthumb" data-preview data-max="500">
 <label for="fthumb" title='{%trans "allowed extentions jpg, png (gif for bussiness plans). Max 500Kb"%}'>
 </label>
</div>
{%endblock%}





