{%extends display.admin%}


{%block pageContent%}


<div class="cbox">
	<form method="post">
		{{block('iThumb')}}
		{{block('iexpert')}}
		{{block('iexpertvalue')}}
		{{block('iexpertyear')}}
		{{block('iJob')}}
		{{block('iArabicLang')}}
		{{block('istartdate')}}
		{{block('ienddate')}}
		{{block('icar')}}
		{{block('iDescription')}}
		{{block('iAdd')}}
	</form>
</div>

{%endblock%}



{%block iDescription%}
<label for='fdesc'>{%trans "Description"%}</label>
<textarea name="desc" rows="3" placeholder='{%trans "Description"%}' class="txt" id="fdesc">{{userdetail.desc}}</textarea>
{%endblock%}



{%block iJob%}
<label for="fjob">{%trans "Job"%}</label>
<div class="input">
  <input type="text" name="job" id="fjob" placeholder='{%trans "Job"%}' value="{{child_detail.job}}" maxlength='50'>
</div>
{%endblock%}


{%block iAdd%}
<button class="btn primary block mT20">{%trans "Add as new partner"%}</button>
{%endblock%}


{%block istartdate%}
<label for="startdate">{%trans "Start date"%}</label>
<div class="input">
  <input class="datepicker" type="text" name="startdate" id="startdate" required placeholder='{{"1396/11/15" | fitNumber}}'  data-format="YYYY/MM/DD" data-initialValue='false' data-view="year">
</div>
{%endblock%}


{%block ienddate%}
<label for="enddate">{%trans "End date"%}</label>
<div class="input">
  <input class="datepicker" type="text" name="enddate" id="enddate" required placeholder='{{"1396/11/15" | fitNumber}}'  data-format="YYYY/MM/DD" data-initialValue='false' data-view="year">
</div>
{%endblock%}


{%block iexpert%}
<label for="fexpert">{%trans "Expert title"%}</label>
<div class="input">
  <input type="text" name="expert" id="fexpert" placeholder='{%trans "Expert title"%}'  maxlength='50'>
</div>
{%endblock%}


{%block iexpertvalue%}
<label for="fexpertvalue">{%trans "Expert value"%}</label>
<div class="input">
  <input type="text" name="expertvalue" id="fexpertvalue" placeholder='{%trans "Expert value"%}'  maxlength='50'>
</div>
{%endblock%}


{%block iexpertyear%}
<label for="fexpertyear">{%trans "Expert year"%}</label>
<div class="input">
  <input type="number" name="expertyear" id="fexpertyear" placeholder='{%trans "Expert year"%}'  maxlength='50'>
</div>
{%endblock%}


{%block icar%}
<label for="fcar">{%trans "Your car name"%}</label>
<div class="input">
  <input type="text" name="car" id="fcar" placeholder='{%trans "Your car name"%}'  maxlength='50'>
</div>
{%endblock%}



{%block iArabicLang%}
<div class="switch1 pA5">
 <input type="checkbox" name="ArabicLang" id="ArabicLang" {%if userdetail.arabiclang == 'yes' %}checked{%endif%}>
 <label for="ArabicLang"  data-on='{%trans "Yes"%}' data-off='{%trans "No"%}'></label>
 <label for="ArabicLang">{%trans "Arabic Language"%}</label>
</div>

{%endblock%}



{%block iThumb%}
<div class="input preview">
 <input type="file" accept="image/gif, image/jpeg, image/png" name="thumb" id="fthumb" data-preview data-max="500">
 <label for="fthumb" title='{%trans "allowed extentions jpg, png (gif for bussiness plans). Max 500Kb"%}'>
 </label>
</div>
{%endblock%}





