{%extends display.refereeAdd%}


{%block pageContent%}
<div class="f justify-center">
	<div class="c5">
		<div class="cbox">
			<form method="post" autocomplete="off">
				{{block('ilogo')}}
				{{block('ititle')}}
				{{block('isubtitle')}}
				{{block('idesc')}}


				{{block('itelegram')}}
				{{block('ifacebook')}}
				{{block('itwitter')}}
				{{block('iinstagram')}}
				{{block('ilinkedin')}}
				{{block('iwebsite')}}
				{{block('istatus')}}
				{{block('iadd')}}
			</form>
		</div>
	</div>
</div>
{%endblock%}
