body{
  min-height:100%;
  background-color: #fff;
  color: #777;
}

/*landing for all pages*/
#landing{
  position: relative;
  font-size:1.2em;
  min-height:600px;
  height:100vh;
  user-select:none;
  background-color: #c4960c;
  background-image: url("../images/festival/light-wool.png");
  overflow: hidden;
}
#landing .bg img{display:block;margin:0 auto}
#landing .bg::after{content: "";position: absolute;top: 0;bottom: 0;right: 0;left: 0;background-color: rgba(0,0,0,0.4);}
#landing header{
  margin: 1em auto;
  text-align: center;
  font-size: 1.4em;
}
header a{
  padding: 0.8em 1em;
  display: inline-block;
  transition:0.3s;
  color: #ddd;
}
header a:hover{
  background-color: rgba(0,0,0,0.1);
  color: #eee;
}

#landing .title{
  color: #fff;
  text-align: center;
  margin-top:5em;
  font-size: 2em;
}
#landing .title h2{
  font-size: 1em;
}
#landing .title h3{
  font-size: 1em;
}
















main{
  min-height: 500px;
}
.landView{
  text-align: center;
}
footer{
  background-color: rgba(0,0,0, 0.7);
  color: #eee;
  font-size: 1.2em;
  padding: 100px;
}


