body{
	min-height: 100%;
	height: 100%;

	background: #073440;
    background:url('../images/homepage-v3/pattern-body.png'),  radial-gradient(ellipse at center,rgba(29,170,170,1) 0,rgba(7,34,55,1) 100%);
    background-attachment: fixed;
    overflow-x: hidden!important;
    user-select: none;
}

main{
	position: relative;
	overflow:hidden;
	min-height: 500px;
}

.videobg {
    opacity: .4;
    min-width: 100%;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    width: auto;
    height: 100%;
    position: fixed;
    /*transition: transform 2.5s cubic-bezier(.72,.01,.07,1.05);*/
    object-fit: cover;
    z-index: 0
}

.lottory{
	font-family: 'IRANYekan';
	min-height: 100%;
	font-size: 1.4em;
	overflow: hidden;
	z-index: 1;
	position: relative;
}
.lottory header h1{
	height: 150px;
	line-height: 100px;
	font-size: 1.7em;
	margin: 0;
	font-weight: 800;
	padding: 25px 5%;
	color: #fff;
	text-align: center;
	background-color: rgba(0,0,0,0.1);
	background-image:url('../images/homepage-v3/header-pattern.png');

	animation: animatedBackground 60s linear infinite;
	-webkit-transform: translateZ(0);
	-webkit-animation-name: animatedBackground;
	-webkit-animation-duration: 60s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-delay: 0.01s;
	box-shadow: 0 2px 10px #000;
}

.lottory footer{
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	min-height: 60px;
	font-size: 1.2em;
	color: #ddd;
	padding: 10px 25px 25px;
}

.numbers{
	height: 100px;
	margin: 50px auto 40px;
	text-align: center;
	position: relative;
	direction: ltr;
	width: 900px;
}
.numbers span{
	width: 80px;
	min-width: 80px;
	max-width: 80px;
	height: 80px;
	margin: 5px;
	line-height: 90px;
	font-size: 3.5em;
	display: inline-block;
	border-radius: 10px;
	overflow: hidden;
	background-color: rgba(0,0,0,0.1);
	color: #fff;
	text-align: center;
	float: left;
	display: none;
}

.winners{
	padding: 25px 20px;
}
.winners .c3{
	min-height: 60px;
}
.winners .person {
	border-radius: 1rem;
	overflow: hidden;
	/*background: linear-gradient(to left, #999966, #666600);*/
	background: linear-gradient(to left, rgba(153, 153, 102, 0.3), rgba(102, 102, 0, 0.5));
	height: 50px;
	line-height: 50px;
	margin: 5px;
	color: #fff;
	text-align: center;
	transition: 0.3s;
	display: none;
}
.winners .person .key{
	width: 50px;
	font-size: 2em;
}
.winners .person .name{
	vertical-align: middle;
	font-size: 0.9em;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.winners .person .value{
	letter-spacing: 5px;
	font-size: 1em;
	direction: ltr;
	padding: 0 1em;
}





.startBtn {
	position: relative;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	align-items: center;
	justify-items: center;
	overflow: hidden;
	padding: 4rem 1.5rem;

	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 2;

	text-align: center;

}
.theme-6 {
	--color-item-bg: linear-gradient(120deg,#9C27B0,#090772);
	--color-action: #f7d337;
	--color-button-bg: #f7d337;
	--color-button-text: #000000;
	--button-padding: 1em 3em;
	--radius-button: 200px;
	--border-button: 0;
	font-size: 2em;
	font-weight: 900;
}

.particles {
	position: relative;
	grid-area: 1 / 1 / 2 / 2;
}

.particles-canvas {
	position: absolute;
	pointer-events: none;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-50%,0);
}

.particles-wrapper {
	position: relative;
	display: inline-block;
	overflow: hidden;
	will-change: transform;
}

.particles-button {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: relative;
	border-radius: 5px;
	border-radius: var(--radius-button);
	background: var(--color-button-bg);
	color: var(--color-button-text);
	border: 0;
	border: var(--border-button);
	margin: 0;
	padding: 1.5rem 3rem;
	padding: var(--button-padding);
	will-change: transform;
}

.particles-button:focus {
	outline: none;
}

.no-js .particles-button {
	grid-area: 1 / 1 / 2 / 2;
}
