body{
	background-color: #eee;
}
.wrapper{
	background-color: #f5f5f5;
 	padding:10px 2em;
 	position: relative;
}
#sHeader{
	background-color: #020558;
	background-image: url('../images/homepage-v3/header-pattern.png');
	height: 120px;
	background-position: center;
	color: #eee;
	user-select: none;
}
#sHeader .cn:before{
	content: "";
	height:3px;
	width: 100%;
	display: block;
	background-color: #a36b24;
}
#sHeader .brand{
	display: block;
	margin-top: 3px;
}
#sHeader .brand h1{
	display: none;
}
#sHeader .brand h2{
	display: none;
}
#sHeader .brand img
{
  height: 114px;
	width: 430px;
	display: block;
}
/*header lang*/
#sHeader .langlist{
	line-height: 25px;
	font-size: 12px;
	text-align: right;
}
.rtl #sHeader .langlist{
	text-align: left;
}
#sHeader .langlist a{
	color: #999;
	padding:0 .5em;
	transition:0.3s color;
	display:inline-block;
}
#sHeader .langlist a:hover{
	color: #aaa;
}
#sHeader .langlist a:focus{
	color: #bbb;
}
#sHeader .langlist a.isActive{
	color: #eee;
}
#sHeader .hadith{
	color: #aaa;
	text-align: right;
	font-size: 12px;
	line-height: 25px;
	transition:0.3s;
	position: relative;
	top: 65px;
}
#sHeader .hadith:hover{
	color: #bbb;
}
.rtl #sHeader .hadith{
	text-align: left;
}
/*header nav*/
#sHeaderNav{
	line-height:40px;
	font-size: 1.5em;
	font-weight:bold;
	position: relative;
	user-select: none;
}
#sHeaderNav .wrapper{
	padding-top: 20px
}
#sHeaderNav .wrapper:before{
	content: "";
	height:2px;
	width: 100%;
	display: block;
	background-color: #00aaaa;
	top: 41px;
	right: 0;
	left: 0;
	position: absolute;
}

#sHeaderNav .mainNav{
	background-color: #eee;
	border-top: 2px solid #00aaaa;
	border-bottom: 2px solid #00aaaa;
	margin: 0 24px;
	height:44px;
	position: relative;
}
#sHeaderNav .mainNav:before{
	content: "";
	height:44px;
	width: 24px;
	display: inline-block;
	position: absolute;
	right: -24px;
	top: -2px;
  background-image: url('../images/homepage-v3/sprite.png');
  background-position: -75px -350px;
}
#sHeaderNav .mainNav:after{
	content: "";
	height:44px;
	width: 24px;
	display: inline-block;
	position: absolute;
	left: -24px;
	top: -2px;
  background-image: url('../images/homepage-v3/sprite.png');
  background-position: -50px -350px;
}
#sHeaderNav .mainNav a{
	padding: 0 0.5em;
	height: 40px;
	display: inline-block;
	color: #020558;
	transition:0.3s background;
}
#sHeaderNav .mainNav a:hover{
	background-color: rgba(0,0,0,0.05);
}
#sHeaderNav .mainNav a:focus{
	background-color: rgba(0,0,0,0.1);
}
#sHeaderNav .mainNav a.weAreHere{
	background-color: rgba(0,170,170, 0.1);
}
.donate{
	margin: 0 24px;
	background-color: #020456;
	border-top: 2px solid #00aaaa;
	border-bottom: 2px solid #00aaaa;
	padding: 0 1em;
	line-height:40px;
	height:44px;
	font-size: 1.5rem;
	font-weight:bold;
	position: relative;
}
.donate a{
	color: #ccc;
	transition:0.3s color;
}
.donate a:hover{
	color: #fff
}
.donate:before{
	content: "";
	height:44px;
	width: 24px;
	display: inline-block;
	position: absolute;
	right: -24px;
	top: -2px;
  background-image: url('../images/homepage-v3/sprite.png');
  background-position: -25px -350px;
}
.donate:after{
	content: "";
	height:44px;
	width: 24px;
	display: inline-block;
	position: absolute;
	left: -24px;
	top: -2px;
  background-image: url('../images/homepage-v3/sprite.png');
  background-position: -0px -350px;
}


[class^="sprite-"] {
  background-image: url('../images/homepage-v3/sprite.png');
  background-repeat: no-repeat;
  background-position: 1000px 1000px;
}
.sprite-brand {
	margin-top: 6px;
  height: 112px;
  width: 430px;
  background-position: -100px -350px;
}


