{%extends 'content_smsapp/layout.html'%}




{%block pageContent%}
{{block('istatusCount')}}
{%if dataTable%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}
  {{block('htmlFilter')}}

 {%else%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}

 {%endif%}
{%else%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlFilterNoResult')}}

 {%else%}
  {{block('htmlStartAddNew')}}

 {%endif%}
{%endif%}

{%endblock%}



{%block istatusCount%}

<div class="f">

  <div class="c s6">
    <a class="dcard x1" href="{{url.that}}">
     <div class="statistic sm teal">
      <div class="value mB10">{{statusCount.all | fitNumber}}</div>
      <div class="label">{%trans "All"%}</div>
     </div>
    </a>
  </div>

  <div class="c s6">
    <a class="dcard x1" href="{{url.that}}?receivestatus=awaiting">
     <div class="statistic sm teal">
      <div class="value mB10">{{statusCount.receive.awaiting | fitNumber}}</div>
      <div class="label">{%trans "New"%} <small>{%trans "Awaiting"%}</small></div>
     </div>
    </a>
  </div>

  <div class="c s6">
    <a class="dcard x1" href="{{url.that}}?receivestatus=block">
     <div class="statistic sm">
      <div class="value mB10">{{statusCount.receive.block | fitNumber}}</div>
      <div class="label">{%trans "Needless to answer"%}</div>
     </div>
    </a>
  </div>

   <div class="c s6">
    <a class="dcard x1" href="{{url.that}}?receivestatus=skip">
     <div class="statistic sm">
      <div class="value mB10">{{statusCount.receive.skip | fitNumber}}</div>
      <div class="label">{%trans "Skip message"%}</div>
     </div>
    </a>
  </div>

  <div class="c s6">
    <a class="dcard x1" href="{{url.that}}?receivestatus=answerready">
     <div class="statistic sm">
      <div class="value mB10">{{statusCount.receive.answerready | fitNumber}}</div>
      <div class="label">{%trans "Answered"%}</div>
     </div>
    </a>
  </div>

  <div class="c s6">
    <a class="dcard x1" href="{{url.that}}?sendstatus=awaiting">
     <div class="statistic sm">
      <div class="value mB10">{{statusCount.send.awaiting | fitNumber}}</div>
      <div class="label">{%trans "Awaiting to send to device"%}</div>
     </div>
    </a>
  </div>

  <div class="c s6">
    <a class="dcard x1" href="{{url.that}}?sendstatus=sendtodevice">
     <div class="statistic sm">
      <div class="value mB10">{{statusCount.send.sendtodevice | fitNumber}}</div>
      <div class="label">{%trans "Waiting for sending by device"%}</div>
     </div>
    </a>
  </div>

  <div class="c s6">
    <a class="dcard x1" href="{{url.that}}?sendstatus=send">
     <div class="statistic sm">
      <div class="value mB10">{{statusCount.send.send | fitNumber}}</div>
      <div class="label">{%trans "Sended"%}</div>
     </div>
    </a>
  </div>

  <div class="c s6">
    <div class="dcard x1" href="{{url.pwd}}" data-confirm data-data='{"status" : "change"}'>
     <div class="statistic sm orange">
      <div class="value mB10">{% if sysStatus %} {%trans "On"%} {%else%} {%trans "Off"%} {%endif%}</div>
      <div class="label">{% trans "System status"%}</div>
     </div>
    </div>
  </div>

</div>


{%endblock%}



{%block htmlSearchBox%}
<div class="cbox fs12">
  <form method="get" action='{{url.that}}' autocomplete="off">
    <div class="input">
      <input type="search" name="q" placeholder='{%trans "Search"%}' id="q" value="{{requestGET.q}}" autofocus class="" data-default data-pass='submit' autocomplete='off'>
      <button class="addon btn ">{%trans "Search" %}</button>
    </div>
  </form>
</div>
{%endblock%}


{%block htmlTable%}


  <table class="tbl1 v6">
    <thead class="primary">
      <tr>
        <th>{%trans "Sms text"%}</th>
        <th data-sort="{{sortLink.fromnumber.order}}"><a href="{{sortLink.fromnumber.link}}">{%trans "From number"%}</a></th>
        <th data-sort="{{sortLink.togateway.order}}"><a href="{{sortLink.togateway.link}}">{%trans "To gateway"%}</a></th>
        <!-- <th data-sort="{{sortLink.date.order}}"><a href="{{sortLink.date.link}}">{%trans "Date"%}</a></th> -->
        <th data-sort="{{sortLink.datecreated.order}}"><a href="{{sortLink.datecreated.link}}">{%trans "Date created"%}</a></th>
        <th data-sort="{{sortLink.receivestatus.order}}"><a href="{{sortLink.receivestatus.link}}">{%trans "Reseive status"%}</a></th>
        <th data-sort="{{sortLink.sendstatus.order}}"><a href="{{sortLink.sendstatus.link}}">{%trans "Send status"%}</a></th>
        <th>{%trans "Answer"%}</th>
        <th data-sort="{{sortLink.fromgateway.order}}"><a href="{{sortLink.fromgateway.link}}">{%trans "From gateway"%}</a></th>
        <th data-sort="{{sortLink.tonumber.order}}"><a href="{{sortLink.tonumber.link}}">{%trans "To number"%}</a></th>
        <th data-sort="{{sortLink.group_id.order}}"><a href="{{sortLink.group_id.link}}">{%trans "Group"%}</a></th>

        <th class="">{%trans "Action"%}</th>

      </tr>
    </thead>

    <tbody>
      {%for key, value in dataTable%}
      <tr class="{%if value.receivestatus == 'awaiting' %} active {%endif%}">
        <td>
          {% if value.group_type == 'family' %}
            <small class="fc-mute">{%trans "Private"%}</small>
          {%else%}
            {{value.text |raw}}
          {%endif%}
        </td>
        <td class="ltr txtL collapsing">
          <a href="{{url.that}}?fromnumber={{value.fromnumber}}">{{value.fromnumber | fitNumber(false)}}</a>

          {%if false and value.togateway or value.fromgateway or value.tonumber%}
          <i class="sf-plus " data-kerkere='.myDetail{{value.id}}'></i>
          <span class="myDetail{{value.id}}" data-kerkere-content='hide'>
            {%if value.togateway%}<div class="badge">{%trans "togateway"%} {{value.togateway | fitNumber(false)}}</div>{%endif%}
            {%if value.fromgateway%}<div class="badge">{%trans "fromgateway"%} {{value.fromgateway | fitNumber(false)}}</div>{%endif%}
            {%if value.tonumber%}<div class="badge">{%trans "tonumber"%} {{value.tonumber | fitNumber(false)}}</div>{%endif%}
          </span>
          {%endif%}
        </td>
        <td class="ltr txtL collapsing">
          {%if value.togateway == '989127522690' %}
          <span class="badge warn">&nbsp;</span>
          {%endif%}
          <a href="{{url.that}}?togateway={{value.togateway}}">{{value.togateway | fitNumber(false)}}</a>

        </td>

        <td class="ltr txtL collapsing">{{value.datecreated | dt}}</td>
        <td class="collapsing"><a href="{{url.that}}?receivestatus={{value.receivestatus}}">{%set myreceivestatus = value.receivestatus%}{%trans myreceivestatus%}</a></td>
        <td class="collapsing"><a href="{{url.that}}?sendstatus={{value.sendstatus}}">{%set mysendstatus = value.sendstatus%}{%trans mysendstatus%}</a></td>
        <td>{{value.answertext}}</td>
        <td class="ltr txtL collapsing">
          <a href="{{url.that}}?fromgateway={{value.fromgateway}}">{{value.fromgateway | fitNumber(false)}}</a>
        </td>
        <td class="ltr txtL collapsing">
          <a href="{{url.that}}?tonumber={{value.tonumber}}">{{value.tonumber | fitNumber(false)}}</a>
        </td>
        <td class="collapsing"><a href="{{url.that}}?group_id={{value.group_id}}">{{value.group_title}}</a></td>

        <td class="txtC collapsing">
          {%if value.receivestatus != 'answerready' and value.receivestatus != 'skip' %}
            <div class="badge danger" data-confirm data-data='{"skip": "skip", "id": "{{value.id}}"}'>{%trans "Skip"%}</div>
          {%endif%}
          <a href="{{url.here}}/viewsms?id={{value.id}}" class="badge primary">{%trans "Detail"%}</a>
        </td>

      </tr>
      {%endfor%}
    </tbody>
  </table>
  {%include display.pagination%}

{%endblock%}


{%block htmlFilter%}
<p class="f fs14 msg warn2">
  <span class="c">{{dataFilter | raw}}</span>
  <a class="cauto" href="{{url.that}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlFilterNoResult%}
<p class="f fs14 msg warn2">
  <span class="c">{%trans "Result not found!"%} {%trans "Search with new keywords."%}</span>
  <a class="cauto" href="{{url.that}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlStartAddNew%}
<p class="fs14 msg success2 pTB20">{%trans "No record exist!"%}</p>
{%endblock%}

