{%extends 'content_smsapp/layout.html'%}




{%block pageContent%}

{{block('iAlerting')}}
{{block('istatusCount')}}
{%if dataTable%}
 {%if dataFilter%}
  {{block('igroupList')}}
  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}
  {{block('htmlFilter')}}

 {%else%}
  {{block('igroupList')}}
  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}

 {%endif%}
{%else%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlFilterNoResult')}}

 {%else%}
  {{block('htmlStartAddNew')}}

 {%endif%}
{%endif%}

{%endblock%}


{%block iAlerting%}
{%if maxLimit%}
<div class="msg danger2 txtC txtB">{%trans "Maximum allowed to send today has been completed"%}</div>
{%endif%}
{%if badTime%}
<div class="msg warn2 txtC txtB">{%trans "This time is a bad time, send sms in another time"%}</div>
{%endif%}
{%endblock%}

{%block igroupList%}
<form method="post">
<div class="f">
{%if groupList%}
<div class="cbox2">

  <div class="mT10">
    <div class="msg info2 fs11">{%trans "Recommend message group sorted"%}</div>
    <div class="f">
      {%for key, value in groupList%}
      <div class="c2 m3 s4">
        <a class="dcard x07 {%if requestGET.recommend_id == value.id%}active{%endif%}" href="{{url.that}}?recommend_id={{value.id}}&recommend=yes">
          <div class="value">{{value.count | fitNumber}}</div>
          <div class="label">{{value.title}}</div>
        </a>
      </div>
      {%endfor%}
    </div>
  </div>

  {%if answerList%}
  <div class="cbox fs11">
    <div class="mT10">
      <input type="hidden" name="type" value="setAnswer">
      <input type="hidden" name="recommend_id" value="{{requestGET.recommend_id}}">
      <h4 class="fs11">{%trans "What answer send to this group?"%}</h4>
      <div class="f">
        {%for key, value in answerList%}
          <div class="radio3 c6 s12 pRa5 ovh">
            <input type="radio" id="ianswer{{value.id}}" name="answer_id" value="{{value.id}}">
            <label for="ianswer{{value.id}}">{{value.text}}</label>
          </div>
        {%endfor%}
      </div>
    </div>

    <div class="mT10">
      {{block('fromGatewayForm')}}
      <button class="btn block success">{%trans "Send"%}</button>
    </div>
  </div>
  {%endif%}

</div>
{%endif%}
</div>
</form>

{%endblock%}



{%block fromGatewayForm%}
  <label for="fromgateway">{%trans "Send by gateway"%}</label>
  <select name="fromgateway" class="select ui dropdown search mB10" id="fromgateway">
  <option value="" readonly>{%trans "Please select one item"%} *</option>
    <option value="from_sender" selected>{%trans "From the sender"%}</option>
    <option value="from_smspanel">{%trans "From the sms panel"%}</option>

  </select>

{%endblock%}


{%block istatusCount%}

<div class="f">

  <div class="c m3 s8">
    <a class="dcard x07 {%if requestGET.status == 'all'%}active{%endif%}" href="{{url.that}}?status=all">
      <div class="value">{{statusCount.all | fitNumber(false)}}</div>
      <div class="label">{%trans "All"%}</div>
    </a>
  </div>




  <div class="c m3 s4">
    <a class="dcard x07 {%if requestGET.recommend == 'yes'%}active{%endif%}" href="{{url.that}}?recommend=yes">
      <div class="value">{{statusCount.shenasaee_shode | fitNumber(false)}}</div>
      <div class="label">{%trans "Recommended"%} <small>{%trans "New"%}</small></div>
    </a>
  </div>

  <div class="c m3 s4">
    <a class="dcard x07 {%if not myUrlGet%}active{%endif%}" href="{{url.that}}">
      <div class="value">{{statusCount.shenasaee_nashode | fitNumber(false)}}</div>
      <div class="label">{%trans "New"%} <small>{%trans "Awaiting"%}</small></div>
    </a>
  </div>

  <div class="c m3 s4">
    <a class="dcard x07 {%if requestGET.receivestatus == 'block'%}active{%endif%}" href="{{url.that}}?receivestatus=block">
      <div class="value">{{statusCount.receive.block | fitNumber(false)}}</div>
      <div class="label">{%trans "Needless to answer"%}</div>
    </a>
  </div>

   <div class="c m4 s4">
    <a class="dcard x07 {%if requestGET.receivestatus == 'skip'%}active{%endif%}" href="{{url.that}}?receivestatus=skip">
      <div class="value">{{statusCount.receive.skip | fitNumber(false)}}</div>
      <div class="label">{%trans "Archived message"%}</div>
    </a>
  </div>

  <div class="c m4 s4">
    <a class="dcard x07 {%if requestGET.receivestatus == 'answerready'%}active{%endif%}" href="{{url.that}}?receivestatus=answerready">
      <div class="value">{{statusCount.receive.answerready | fitNumber(false)}}</div>
      <div class="label">{%trans "Answered"%}</div>
    </a>
  </div>

  <div class="c m4 s4">
    <a class="dcard x07 {%if requestGET.sendstatus == 'waitingtoautosend'%}active{%endif%}" href="{{url.that}}?sendstatus=waitingtoautosend">
      <div class="value">{{statusCount.send.waitingtoautosend | fitNumber(false)}}</div>
      <div class="label">{%trans "Waiting to auto send"%}</div>
    </a>
  </div>

  <div class="c m4 s4">
    <a class="dcard x07 {%if requestGET.sendstatus == 'awaiting'%}active{%endif%}" href="{{url.that}}?sendstatus=awaiting">
      <div class="value">{{statusCount.send.awaiting | fitNumber(false)}}</div>
      <div class="label">{%trans "Awaiting to send to device"%}</div>
    </a>
  </div>

  <div class="c m4 s4">
    <a class="dcard x07 {%if requestGET.sendstatus == 'sendtodevice'%}active{%endif%}" href="{{url.that}}?sendstatus=sendtodevice">
      <div class="value">{{statusCount.send.sendtodevice | fitNumber(false)}}</div>
      <div class="label">{%trans "Waiting for sending by device"%}</div>
    </a>
  </div>

  <div class="c m5 s6">
    <a class="dcard x07 {%if requestGET.sendstatus == 'send'%}active{%endif%}" href="{{url.that}}?sendstatus=send">
      <div class="value">{{statusCount.send.send | fitNumber(false)}}</div>
      <div class="label">{%trans "Sended"%}</div>
    </a>
  </div>

  <div class="c m3 s6">
    <div class="dcard x07 {% if sysStatus %} bg-graylight{%else%} bg-yellow {%endif%}" data-confirm data-data='{"status" : "change"}'>
      <div class="value">{% if sysStatus %} {%trans "On"%} {%else%} {%trans "Off"%} {%endif%}</div>
      <div class="label">{% trans "System status"%}</div>
    </div>
  </div>

</div>


{%endblock%}

{%block iKerkere%}

<div class="advanceSearch" {%if requestGET.place or requestGET.startdate or requestGET.enddate %} {%else%}data-kerkere-content='hide' {%endif%}>
  <h6 class="mT10">{%trans "Filter by start date and end date of sms"%}</h6>
  <div class="f">

     <div class="cauto s12 mB5 pRa5">
      <div class="input ltr">
        <input class="datepicker" type="text" name="startdate" title='{%trans "Start date"%}' placeholder='{%trans "Start date"%}' id="startdate"  value="{{startdateEn}}" maxlength='20' data-format="YYYYMMDD"data-view="day">
      </div>
    </div>

    <div class="cauto s12 mB5 pRa5">
      <div class="input ltr">
        <input class="datepicker" type="text" name="enddate" title='{%trans "End date"%}' placeholder='{%trans "End date"%}' id="enddate"  value="{{enddateEn}}" maxlength='20' data-format="YYYYMMDD"data-view="day">
      </div>
    </div>

  </div>

  <h6 class="mT10">{%trans "Filter by group"%}</h6>
  <div class="f ">
    {%for key, value in allGroupList%}
    <div class="c3 s6">
      <div class="radio3 mB5">
        <input type="radio" name="group_id" value="{{value.id}}" id="group_id{{value.id}}" {%if requestGET.group_id == value.id %} checked {%endif%}>
        <label for="group_id{{value.id}}">{{value.title}}</label>
      </div>
    </div>
    {%endfor%}
  </div>

  <a class="btn" href="{{url.this}}">{%trans "Clear filter"%}</a>
  <button class="btn primary2">{%trans "Apply"%}</button>

</div>
{%endblock%}


{%block htmlSearchBox%}
<div class="cbox fs12">
  <form method="get" action='{{url.that}}' autocomplete="off">
    <div class="input">
      <label class="addon" data-kerkere='.advanceSearch' data-kerkere-icon>{%trans "Advance"%}</label>
      <input type="search" name="q" placeholder='{%trans "Search"%}' id="q" value="{{requestGET.q}}" class="" data-default data-pass='submit' autocomplete='off'>
      <button class="addon btn ">{%trans "Search" %}</button>
      {%if perm_su()%}<a href="{{url.here}}/apilog" class="btn addon warn">{%trans "Log"%}</a>{%endif%}
    </div>
    {{block('iKerkere')}}
  </form>
</div>
{%endblock%}


{%block htmlTable%}

<div class="tblBox">

  <table class="tbl1 v6 responsive">
    <thead class="s0">
      <tr class="fs08">
        <th>{%trans "Sms text"%}</th>
        <th data-sort="{{sortLink.fromnumber.order}}"><a href="{{sortLink.fromnumber.link}}">{%trans "Numbers"%}</a></th>
        <th data-sort="{{sortLink.datecreated.order}}"><a href="{{sortLink.datecreated.link}}">{%trans "Date created"%}</a></th>
        <th data-sort="{{sortLink.receivestatus.order}}"><a href="{{sortLink.receivestatus.link}}">{%trans "Reseive status"%}</a></th>
        <th>{%trans "Answer"%}</th>
        <th data-sort="{{sortLink.sendstatus.order}}"><a href="{{sortLink.sendstatus.link}}">{%trans "Send status"%}</a></th>
        <th data-sort="{{sortLink.group_id.order}}"><a href="{{sortLink.group_id.link}}">{%trans "Group"%}</a></th>
        <th data-sort="{{sortLink.recommend_id.order}}"><a href="{{sortLink.recommend_id.link}}">{%trans "Recommended"%}</a></th>
      </tr>
    </thead>

    <tbody>
      {%for key, value in dataTable%}
      <tr class="{%if value.receivestatus == 'awaiting' %} active {%endif%}">
        <td>
          <a href="{{url.here}}/viewsms?id={{value.id}}">
            <span class="badge primary">{%trans "Detail"%}</span>
          </a>

          {%if value.sendstatus == 'waitingtoautosend'%}
          <span data-confirm data-data='{"skip" : "skip", "id" : "{{value.id}}"}'>
            <span class="badge warn">{%trans "Skip"%}</span>
          </span>
          {%endif%}

          {% if value.group_type == 'family' %}
            <small class="fc-mute">{%trans "Private"%}</small>
          {%else%}
            {{value.text |raw | nl2br}}
          {%endif%}
        </td>
        <td class="collapsing">
          <div>
            {%trans "fromnumber"%}
            <a href="{{url.that}}?fromnumber={{value.fromnumber}}">{{value.fromnumber | fitNumber(false)}}</a>
          </div>

            {%if value.togateway%}
            <div>{%trans "togateway"%} <a href="{{url.that}}?togateway={{value.togateway}}" {%if value.togateway == '989127522690' %}class='compact badge light'{%endif%}>{{value.togateway | fitNumber(false)}}</a></div>
            {%endif%}

            {%if value.fromgateway%}
            <hr>
            <div>{%trans "fromgateway"%} <a href="{{url.that}}?fromgateway={{value.fromgateway}}">{{value.fromgateway | fitNumber(false)}}</a></div>
            {%endif%}
            {%if value.tonumber%}
            <div>{%trans "tonumber"%} <a href="{{url.that}}?tonumber={{value.tonumber}}">{{value.tonumber | fitNumber(false)}}</a></div>
            {%endif%}
        </td>

        <td class="collapsing">
          <div>{{value.datecreated | dt('human', 'year')}}</div>
          <div class="ltr">{{value.datecreated | dt}}</div>
        </td>
        <td class="collapsing"><a href="{{url.that}}?receivestatus={{value.receivestatus}}">{{value.treceivestatus}}</a></td>
        <td>{{value.answertext | raw | nl2br}}

          <div class="ltr fc-mute">{{value.dateanswer | dt}}</div>
        </td>
        <td class="collapsing">
          <div><a href="{{url.that}}?sendstatus={{value.sendstatus}}">{%set mysendstatus = value.sendstatus%}{%trans mysendstatus%}</a></div>
          {%if not value.sendstatus and requestGET.recommend == 'yes'%}
            <div class="btn xs warn2" data-confirm data-data='{"recommend": "invalid", "id": "{{value.id}}"}'>{%trans "Send to analyze"%}</div>
          {%endif%}
        </td>
        <td class="collapsing"><a href="{{url.that}}?group_id={{value.group_id}}">{{value.group_title}}</a></td>
        <td class="collapsing">
          <div><a href="{{url.that}}?recommend_id={{value.recommend_id}}">{{value.recommend_title}}</a></div>
          {%if value.receivestatus == 'awaiting' and not requestGET.recommend == 'yes'%}
          <div class="btn xs danger" data-confirm data-data='{"skip": "skip", "id": "{{value.id}}"}'>{%trans "Archive"%}</div>
          {%endif%}
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
  {%include display.pagination%}

{%endblock%}


{%block htmlFilter%}
<p class="f fs14 msg warn2">
  <span class="c">{{dataFilter | raw }}</span>
  <a class="cauto" href="{{url.that}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlFilterNoResult%}
<p class="f fs14 msg warn2">
  <span class="c">{%trans "Result not found!"%} {%trans "Search with new keywords."%}</span>
  <a class="cauto" href="{{url.that}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlStartAddNew%}
<p class="fs14 msg success2 pTB20">{%trans "No record exist!"%}</p>
{%endblock%}

