{%extends display.admin%}


{%block pageContent%}
{%include 'content_agent/send/pageStep.html'%}


<div class="f justify-center">
  <div class="c8 s12">
    <div class="cbox">

        <table class="tbl1 v4">
          <thead>
            <tr>
              <th>نوع ارزیابی</th>
              <th>امتیاز کسب شده</th>
              <th>درصد</th>
              <th>جزئیات</th>
            </tr>
          </thead>
          <tbody>


            <tr>
              <td>ارزیابی <b class="mLR10">مدیر زائرسرا</b> از <b class="mLR10">مدیر کاروان</b></td>
              <td>امتیاز 45</td>
              <td>70٪</td>
              <td class="collapsing"><a class="btn success xs" href="{{url.this}}/assessmentadd?id={{requestGET.id}}&job=adminoffice&forjob=admin">ثبت ارزیابی</a></td>
            </tr>

              <tr>
              <td>ارزیابی <b class="mLR10">مدیر زائرسرا</b> از <b class="mLR10">مبلغ</b></td>
              <td>امتیاز 45</td>
              <td>70٪</td>
              <td class="collapsing"><a class="btn xs" href="{{url.this}}">نمایش جزئیات</a></td>
            </tr>

              <tr>
              <td>ارزیابی <b class="mLR10">مدیر زائرسرا</b> از <b class="mLR10">نگهبان</b></td>
              <td>امتیاز 45</td>
              <td>70٪</td>
              <td class="collapsing"><a class="btn xs" href="{{url.this}}">نمایش جزئیات</a></td>
            </tr>

             <tr>
              <td>ارزیابی <b class="mLR10">مبلغ</b> از <b class="mLR10">مدیر کاروان</b></td>
              <td>امتیاز 45</td>
              <td>70٪</td>
              <td class="collapsing"><a class="btn xs" href="{{url.this}}">نمایش جزئیات</a></td>
            </tr>

              <tr>
              <td>ارزیابی <b class="mLR10">مبلغ</b> از <b class="mLR10">مدیر زائرسرا</b></td>
              <td>امتیاز 45</td>
              <td>70٪</td>
              <td class="collapsing"><a class="btn xs" href="{{url.this}}">نمایش جزئیات</a></td>
            </tr>

              <tr>
              <td>ارزیابی <b class="mLR10">مبلغ</b> از <b class="mLR10">نگهبان</b></td>
              <td>امتیاز 45</td>
              <td>70٪</td>
              <td class="collapsing"><a class="btn xs" href="{{url.this}}">نمایش جزئیات</a></td>
            </tr>

              <tr>
              <td>ارزیابی <b class="mLR10">مبلغ</b> از <b class="mLR10">مدیر کاروان</b></td>
              <td>امتیاز 45</td>
              <td>70٪</td>
              <td class="collapsing"><a class="btn xs" href="{{url.this}}">نمایش جزئیات</a></td>
            </tr>

              <tr>
              <td>ارزیابی <b class="mLR10">مبلغ</b> از <b class="mLR10">مدیر زائرسرا</b></td>
              <td>امتیاز 45</td>
              <td>70٪</td>
              <td class="collapsing"><a class="btn xs" href="{{url.this}}">نمایش جزئیات</a></td>
            </tr>

              <tr>
              <td>ارزیابی <b class="mLR10">مبلغ</b> از <b class="mLR10">نگهبان</b></td>
              <td>امتیاز 45</td>
              <td>70٪</td>
              <td class="collapsing"><a class="btn xs" href="{{url.this}}">نمایش جزئیات</a></td>
            </tr>

              <tr>
              <td>ارزیابی <b class="mLR10">مبلغ</b> از <b class="mLR10">مدیر کاروان</b></td>
              <td>امتیاز 45</td>
              <td>70٪</td>
              <td class="collapsing"><a class="btn xs" href="{{url.this}}">نمایش جزئیات</a></td>
            </tr>

              <tr>
              <td>ارزیابی <b class="mLR10">مبلغ</b> از <b class="mLR10">مدیر زائرسرا</b></td>
              <td>امتیاز 45</td>
              <td>70٪</td>
              <td class="collapsing"><a class="btn xs" href="{{url.this}}">نمایش جزئیات</a></td>
            </tr>

              <tr>
              <td>ارزیابی <b class="mLR10">مبلغ</b> از <b class="mLR10">نگهبان</b></td>
              <td>امتیاز 45</td>
              <td>70٪</td>
              <td class="collapsing"><a class="btn xs" href="{{url.this}}">نمایش جزئیات</a></td>
            </tr>



          </tbody>
        </table>



    </div>
  </div>
</div>

{%endblock%}
