{%extends 'content_m/layout.html'%}


{%block GlanceDetail%}

  <div class="f">
    <div class="c s12">
      <div class="dcard x1">
       <div class="statistic blue">
        <div class="value">{{productdonateSummary.product | fitNumber}}</div>
        <div class="label">{%trans "Product"%}</div>
       </div>
      </div>
    </div>

    <div class="c s12">
      <div class="dcard x1">
       <div class="statistic">
        <div class="value">{{productdonateSummary.product_count | fitNumber}}</div>
        <div class="label">{%trans "Product count"%}</div>
       </div>
      </div>
    </div>

    <div class="c s12">
      <div class="dcard x1">
       <div class="statistic">
        <div class="value">{{productdonateSummary.total | fitNumber}}</div>
        <div class="label">{%trans "Total price"%}</div>
       </div>
      </div>
    </div>

  </div>
{%endblock%}





{%block pageContent%}
  {{block('GlanceDetail')}}

{%if dataTable%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}
  {{block('htmlFilter')}}

 {%else%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}

 {%endif%}
{%else%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlFilterNoResult')}}

 {%else%}

  {{block('htmlStartAddNew')}}

 {%endif%}
{%endif%}

{%endblock%}



{%block htmlSearchBox%}
<div class="cbox fs12">
  <form method="get"  autocomplete="off" action="{{url.this}}">

    <div class="f">

      <div class="c s12 mB5 pRa5">
        <div class="input">
          <label data-kerkere=".showAdvanceFilter" data-kerkere-icon class="addon">{%trans "Advance filter"%}</label>
          <input type="search" name="q" placeholder='{%trans "Search in donations"%}' id="q" value="{{requestGET.q}}" autofocus class="barCode" data-default data-pass='submit' autocomplete='off'>
        </div>
      </div>

      <div class="cauto s12 mB5 pRa5">
        <div class="input ltr">
          <input class="datepicker" type="text" name="startdate" title='{%trans "Start date"%}' placeholder='{%trans "Start date"%}' id="startdate"  value="{{startdateEn}}" maxlength='20' data-format="YYYYMMDD"data-view="month">
        </div>
      </div>


      <div class="cauto s12 mB5 pRa5">
        <div class="input ltr">
          <input class="datepicker" type="text" name="enddate" title='{%trans "End date"%}' placeholder='{%trans "End date"%}' id="enddate"  value="{{enddateEn}}" maxlength='20' data-format="YYYYMMDD"data-view="month">
        </div>
      </div>

      <div class="cauto s12 mB5">
          <button class="btn block">{%trans "Search" %}</button>
      </div>

    </div>

    <div class="showAdvanceFilter" {%if requestGET.product%} {%else%}  data-kerkere-content='hide'  {%endif%}>

        <div class=" f pT10">
          <label for="iproduct">{%trans "Product"%}</label>
          <select name="product" id="iproduct" class="ui selection dropdown search">
              <option value="" >{%trans "Please select one itme"%}</option>
            {%for key, value in productList%}
              <option value="{{value.id}}" {%if value.id == requestGET.product%} selected {%endif%} >{{value.title}}</option>
            {%endfor%}
          </select>


        </div>
        {%if requestGET%}
        <a class="btn" href="{{url.this}}">{%trans "Clear filter"%}</a>
        {%endif%}
        <button class="btn primary2">{%trans "Apply"%}</button>

    </div>
  </form>
</div>
{%endblock%}


{%block htmlSearchBox2%}
<div class="cbox fs12">
  <form method="get" action='{{url.this}}'>
    <div class="input">
      <input type="search" name="q" placeholder='{%trans "Search"%}' id="q" value="{{requestGET.q}}" autofocus  data-pass='submit' autocomplete='off'>
      <button class="addon btn ">{%trans "Search" %}</button>
    </div>
  </form>
</div>
{%endblock%}


{%block htmlTable%}
<div class="tblBox">

 <table class="tbl1 v1 cbox fs12">
    <thead>
      <tr>
        <th>{%trans "User"%}</th>
        <th data-sort="{{sortLink.title.order}}"><a href='{{sortLink.title.link}}'>{%trans "Product"%}</a></th>
        <th data-sort="{{sortLink.price.order}}"><a href='{{sortLink.price.link}}'>{%trans "Price"%}</a></th>
        <th data-sort="{{sortLink.count.order}}"><a href='{{sortLink.count.link}}'>{%trans "Count"%}</a></th>
        <th data-sort="{{sortLink.total.order}}"><a href='{{sortLink.total.link}}'>{%trans "Total"%}</a></th>
        <th>{%trans "Date"%}</th>
        <th class="collapsing">{%trans "Transaction"%}</th>


      </tr>
    </thead>

    <tbody>
      {%for key, value in dataTable%}
      <tr {%if value.status=='disable'%} class='negative'{%endif%}>
        <td>
          <img class="avatar" src="{{value.avatar}}">
          <span>{{value.displayname}}</span>
          <div>{{value.mobile | fitNumber('mobile')}}</div>
        </td>
        <td>
          <div><a href="{{url.this}}?product={{value.product_id}}">{{value.title}}</a></div>
          <div><a href="{{url.this}}?product={{value.product_id}}">{{value.subtitle}}</a></div>
        </td>
        <td>{{value.price | fitNumber}} <small>{%trans "Toman"%}</small></td>
        <td>{{value.count | fitNumber}} <small>{{value.unit}}</small></td>
        <td>{{value.total | fitNumber}}  <small>{%trans "Toman"%}</small></td>
        <td>{{value.datecreated | dt('human', 'year')}}</td>
        <td>
          <a class="badge" href="{{url.here}}/donate?id={{value.transaction_id}}">{%trans "Transaction"%}</a>
        </td>




      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
  {%include display.pagination%}

{%endblock%}


{%block htmlFilter%}
<p class="f fs14 msg info2">
  <span class="c">{{dataFilter | raw}}</span>
  <a class="cauto" href="{{url.this}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlFilterNoResult%}
<p class="f fs14 msg warn2">
  <span class="c">{%trans "Result not found!"%} {%trans "Search with new keywords."%}</span>
  <a class="cauto" href="{{url.this}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlStartAddNew%}
<p class="fs14 msg success2 pTB20">{%trans "Hi!"%} {%trans "No result founded"%}</p>
{%endblock%}

