{%extends display.admin%}


{%block pageContent%}

<div class='middle normal f justify-center'>


  {%for key, value in course%}

  {%set cardColor%}
  {%if value.status == 'enable'%}green{%else%}black{%endif%}
  {%endset%}

    <a class="vcard mA10 shadow {{cardColor}}" href='{{url.here}}/festival/course?id={{requestGET.id}}&course={{value.id}}'>
      <img src="{%if value.file%}{{value.file}}{%else%}{{url.static}}/siftal/images/default/image.png{%endif%}" alt="{{value.title}}">
      <!-- <img src="{{value.logo}}" alt="{{value.title}}" class="pA10-f"> -->
      <div class="content">
        <div class="header">{{value.title}}</div>
        <div class="meta"></div>
        <div class="footer">{{value.subtitle}}</div>
      </div>
    </a>
  {%endfor%}

</div>

{%endblock%}