{%extends display.dash%}


{%block sidenav%}
<li><a href="{{url.here}}"><i class='sf-gauge'></i> <span>{% trans "Dashboard" %}</span></a></li>
<li><a href="{{url.here}}/trip"><i class='sf-pull-request'></i> <span>ثبت تشرف انفرادی</span></a></li>
<li><a href="{{url.here}}/group"><i class='sf-bus'></i> <span>ثبت تشرف کاروانی</span></a></li>
<li><a href="{{url.here}}/service"><i class='sf-user-md'></i> <span>ثبت درخواست خادمی</span></a></li>

{%endblock%}



{%block avatar%}
   <a href="{{url.base}}/a/profile" title='{%trans "Edit your profile"%}' class="avatar">
{%if login.avatar%}
     <img src="{{url.base}}/{{login.avatar}}" alt='{%trans "Avatar of you"%}'>
{%else%}
{%if login.gender == 'female'%}
     <img src="{{url.static}}siftal/images/avatar/woman.png" alt='{%trans "Default Avatar"%}'>
{%else%}
     <img src="{{url.static}}siftal/images/avatar/man.png" alt='{%trans "Default Avatar"%}'>
{%endif%}
{%endif%}
   </a>
{%endblock%}


