{%extends display.dash%}


{%block sidenav%}
<li><a href="{{url.baseFull}}"><i class='sf-gauge'></i> <span>{% trans "Dashboard" %}</span></a></li>
<li><a href="{{url.baseFull}}/donate/product"><i class='sf-bag'></i> <span>{% trans "Donate product" %}</span></a></li>
<li><a href="{{url.baseFull}}/donate"><i class='sf-card'></i> <span>{% trans "Donate" %}</span></a></li>
<li><a href="{{url.baseFull}}/trip"><i class='sf-pull-request'></i> <span>ثبت تشرف خانوادگی</span></a></li>
<li><a href="{{url.baseFull}}/group"><i class='sf-bus'></i> <span>ثبت تشرف کاروانی</span></a></li>

{%endblock%}
