{%extends display.dash%}


{%block sidenav%}
<li><a href="{{url.here}}"><i class='sf-gauge'></i> <span>{% trans "Dashboard" %}</span></a></li>
<li><a href="{{url.here}}/trip"><i class='sf-pull-request'></i> <span>ثبت تشرف انفرادی</span></a></li>
<li><a href="{{url.here}}/group"><i class='sf-bus'></i> <span>ثبت تشرف کاروانی</span></a></li>
<li><a href="{{url.here}}/service"><i class='sf-user-md'></i> <span>ثبت درخواست خادمی</span></a></li>

<li><a href="{{url.here}}/consulting"><i class='sf-chat-alt-fill'></i> <span>{%trans "Consulting Service"%}</span></a></li>
<li><a href="{{url.here}}/health"><i class='sf-heartbeat'></i> <span>{%trans "Health Service"%}</span></a></li>
<li><a href="{{url.here}}/representation"><i class='sf-coffee'></i> <span>{%trans "Representation"%}</span></a></li>


<li><a href="{{url.base}}/delneveshte"><i class='sf-heart-o'></i> <span>{% trans "Delneveshte" %}</span></a></li>
<li><a href="{{url.base}}/donate"><i class='sf-gift'></i> <span>{% trans "Donate" %}</span></a></li>
<li><a data-direct href="{{url.kingdom}}/support"><i class='sf-life-ring'></i> <span>{% trans "Support" %}</span></a></li>

{%endblock%}



{%block avatar2%}
   <a href="{{url.base}}/a/profile" title='{%trans "Edit your profile"%}' class="avatar">
{%if login.avatar%}
     <img src="{{login.avatar}}" alt='{%trans "Avatar of you"%}'>
{%else%}
{%if login.gender == 'female'%}
     <img src="{{url.site}}/static/siftal/images/avatar/woman.png" alt='{%trans "Default Avatar"%}'>
{%else%}
     <img src="{{url.site}}/static/siftal/images/avatar/man.png" alt='{%trans "Default Avatar"%}'>
{%endif%}
{%endif%}
   </a>
{%endblock%}


{%block avatar%}
  <figure>
{%set avatarLink%}{%if dash.avatarLink is empty%}{{url.kingdom}}/a/profile{%else%}{{dash.avatarLink}}{%endif%}{%endset%}
{%if login%}
   <a href="{{avatarLink}}" title='{%trans "Edit your profile"%}' class="avatar" data-direct>
{%else%}
   <a href="{{url.kingdom}}/enter?referer={{url.pwd}}" title='{%trans "Please login to save anything"%}' class="avatar" data-direct>
{%endif%}
{%if login.avatar%}
     <img src="{{login.avatar}}" alt='{%trans "Avatar of you"%} {{login.displayname}}'>
{%elseif login%}
     <img src="{{url.site}}/static/siftal/images/default/avatar.png" alt='{%trans "Default Avatar"%}'>
{%else%}
     <img src="{{url.site}}/static/siftal/images/avatar/guest.png" alt='{%trans "Default Avatar"%}'>
{%endif%}
   </a>
{%if login%}
   <figcaption>{%trans "Hello"%} <b>{{login.displayname}}</b></figcaption>
{%else%}
   <figcaption>{%trans "Hello "%} <b>{%trans "dear GUEST!"%}</b></figcaption>
{%endif%}
  </figure>
{%endblock%}