{%block pageStep%}
<div class="msg info2 fs14 txtC f">
<div class="c txtB">{{occasionDetail.title}}</div>
<div class="c">{{occasionDetail.subtitle}}</div>
{%if occasionDetail.startdate%}<div class="c">{%trans "Start date"%}: <span class="ltr compact">{{occasionDetail.startdate | dt(null, 'date')}}</span></div>{%endif%}
{%if occasionDetail.expiredate%}<div class="c">{%trans "End date"%}: <span class="ltr compact">{{occasionDetail.expiredate | dt(null, 'date')}}</span></div>{%endif%}
</div>
<div class="f">
	<div class="c s4">
		<a class="dcard {%if url.child == 'detail'%}active{%endif%}" href='{{url.this}}/detail?id={{requestGET.id}}'>
			<div class="statistic sm">
				<div class="value mB10"><i class="sf-info-circle"></i></div>
				<div class="label">{%trans "Detail"%}</div>
			</div>
		</a>
	</div>

	<div class="c s4">
		<a class="dcard {%if url.child == 'bank'%}active{%endif%}" href='{{url.this}}/bank?id={{requestGET.id}}'>
			<div class="statistic sm">
				<div class="value mB10"><i class="sf-card"></i></div>
				<div class="label">{%trans "Bank account detail"%}</div>
			</div>
		</a>
	</div>

	<div class="c s4">
		<a class="dcard {%if url.child == 'users'%}active{%endif%}" href='{{url.this}}/users?id={{requestGET.id}}'>
			<div class="statistic sm">
				<div class="value mB10"><i class="sf-users"></i></div>
				<div class="label">{%trans "Introducing people"%}</div>
			</div>
		</a>
	</div>

	<div class="c s4">
		<a class="dcard {%if url.child == 'report'%}active{%endif%}" href='{{url.this}}/report?id={{requestGET.id}}'>
			<div class="statistic sm">
				<div class="value mB10"><i class="sf-file-text-o"></i></div>
				<div class="label">{%trans "Reports"%}</div>
			</div>
		</a>
	</div>

	<div class="c s4">
		<a class="dcard {%if url.child == 'gallery'%}active{%endif%}" href='{{url.this}}/gallery?id={{requestGET.id}}'>
			<div class="statistic sm">
				<div class="value mB10"><i class="sf-images"></i></div>
				<div class="label">{%trans "Image report"%}</div>
			</div>
		</a>
	</div>

	{%if dataRow.total_price%}
	<div class="c s4">
		<a class="dcard {%if url.child == 'pay'%}active{%endif%}" href='{{url.this}}/pay?id={{requestGET.id}}'>
			<div class="statistic sm">
				<div class="value mB10"><i class="sf-dollar"></i></div>
				<div class="label">{%trans "Pay detail"%}</div>
			</div>
		</a>
	</div>
	{%endif%}

</div>

{%endblock%}