{%extends 'content_smsapp/layout.html'%}


{%block pageContent%}


<div class="f justify-center">
	<div class="c8 s12">
		<div class="cbox">
			<form method="post" autocomplete="off">
				{{block('ititle')}}
				{{block('itype')}}
				{{block('iAnalyze')}}
				{{block('iismoney')}}
				{{block('istatus')}}
				{{block('iadd')}}
			</form>
		</div>
	</div>
</div>
{%endblock%}




{%block ititle %}
<label for="title">{%trans "Title"%} <small class="fc-red">* {%trans "Require"%}</small></label>
<div class="input">
  <input type="text" name="title" id="title" value="{{dataRow.title}}" autofocus required maxlength='200' minlength="1" pattern=".{1,200}" >
</div>
{% endblock %}





{% block itype %}
<label for="type">{%trans "Type"%} <small class="fc-red">* {%trans "Require"%}</small></label>
<select name="type" class="select ui dropdown search mB10" id="type">
<option value="" readonly>{%trans "Please select one item"%} *</option>
  <option value="blacklist" {%if dataRow.type == 'blacklist' %} selected {%endif%}>{%trans "Black list"%}</option>
  <option value="family" {%if dataRow.type == 'family' %} selected {%endif%}>{%trans "Family"%}</option>
  <option value="bank" {%if dataRow.type == 'bank' %} selected {%endif%}>{%trans "Bank"%}</option>
  <option value="other" {%if dataRow.type == 'other' or not dataRow.type%} selected {%endif%}>{%trans "Other"%}</option>
</select>
{% endblock %}



{%block iAnalyze%}
<div class="switch1">
 <input type="checkbox" name="analyze" id="analyze" {%if dataRow.analyze%} checked {%endif%}>
 <label for="analyze" data-on='{%trans "Yes"%}' data-off='{%trans "No"%}'></label>
 <label for="analyze">{%trans "Need to analyze?"%}</label>
</div>
{%endblock%}

{%block iismoney%}
<div class="switch1">
 <input type="checkbox" name="ismoney" id="ismoney" {%if dataRow.ismoney%} checked {%endif%}>
 <label for="ismoney" data-on='{%trans "Yes"%}' data-off='{%trans "No"%}'></label>
 <label for="ismoney">{%trans "Is money?"%}</label>
</div>
{%endblock%}




{%block istatus%}

<div class="mT3">
 <label >{%trans "Status"%}</label>

 <div class="radio1 green">
  <input type="radio" id="r-enable" name="status" value="enable" {%if dataRow.status == 'enable' or not dataRow.status %} checked{%endif%}>
  <label for="r-enable">{%trans "Enable"%}</label>
 </div>

 <div class="radio1 yellow ">
  <input type="radio" id="r-disable" name="status" value="disable" {%if dataRow.status == 'disable'  %} checked{%endif%}>
  <label for="r-disable">{%trans "Disable"%}</label>
 </div>

 <div class="radio1 red mB25">
  <input type="radio" id="r-deleted" name="status" value="deleted" {%if dataRow.status == 'deleted'  %} checked{%endif%}>
  <label for="r-deleted">{%trans "Deleted"%}</label>
 </div>

</div>
{%endblock%}


{%block idesc%}
<label for="desc">{%trans "Description"%}</label>
<textarea class="txt mB10"  name="desc" rows="3">{{dataRow.desc}}</textarea>
{%endblock%}



{%block iadd%}
<button class="btn primary block mT20">{%trans "Save"%}</button>
{%endblock%}

{%block isave%}
<button class="btn primary block mT20">{%trans "Save"%}</button>
{%endblock%}

