{%extends 'content_agent/layout.html'%}



{%block pageContent%}
<div class="f">





    <div class="c s6">
    <a class="dcard {%if requestGET.job == 'adminoffice' or not requestGET.job %}active{%endif%}" href='{{url.this}}?job=adminoffice{%if requestGET.city%}&city={{requestGET.city}}{%endif%}'>
     <div class="statistic">
      <div class="label">مدیر زائرسرا</div>
     </div>
    </a>
   </div>


    <div class="c s6">
    <a class="dcard {%if requestGET.job == 'admin' %}active{%endif%}" href='{{url.this}}?job=admin{%if requestGET.city%}&city={{requestGET.city}}{%endif%}'>
     <div class="statistic">
      <div class="label">مدیر کاروان</div>
     </div>
    </a>
   </div>

    <div class="c s6">
    <a class="dcard {%if requestGET.job == 'missionary' %}active{%endif%}" href='{{url.this}}?job=missionary{%if requestGET.city%}&city={{requestGET.city}}{%endif%}'>
     <div class="statistic">
      <div class="label">مبلغ</div>
     </div>
    </a>
   </div>

    <div class="c s6">
    <a class="dcard {%if requestGET.job == 'servant' %}active{%endif%}" href='{{url.this}}?job=servant{%if requestGET.city%}&city={{requestGET.city}}{%endif%}'>
     <div class="statistic">
      <div class="label">نگهبان</div>
     </div>
    </a>
   </div>


   <div class="c s6">
    <a class="dcard {%if requestGET.job == 'maddah' %}active{%endif%}" href='{{url.this}}?job=maddah{%if requestGET.city%}&city={{requestGET.city}}{%endif%}'>
     <div class="statistic">
      <div class="label">مداح</div>
     </div>
    </a>
   </div>


   <div class="c s6">
    <a class="dcard {%if requestGET.job == 'nazer' %}active{%endif%}" href='{{url.this}}?job=nazer{%if requestGET.city%}&city={{requestGET.city}}{%endif%}'>
     <div class="statistic">
      <div class="label">ناظر</div>
     </div>
    </a>
   </div>


   <div class="c s6">
    <a class="dcard {%if requestGET.job == 'khadem' %}active{%endif%}" href='{{url.this}}?job=khadem{%if requestGET.city%}&city={{requestGET.city}}{%endif%}'>
     <div class="statistic">
      <div class="label">خادم</div>
     </div>
    </a>
   </div>


   <div class="c s6">
    <a class="dcard {%if requestGET.job == 'clergy' %}active{%endif%}" href='{{url.this}}?job=clergy{%if requestGET.city%}&city={{requestGET.city}}{%endif%}'>
     <div class="statistic">
      <div class="label">روحانی کاروان</div>
     </div>
    </a>
   </div>


  </div>
{%if dataTable%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}
  {{block('htmlFilter')}}

 {%else%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}

 {%endif%}
{%else%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlFilterNoResult')}}

 {%else%}

  {{block('htmlStartAddNew')}}

 {%endif%}
{%endif%}

{%endblock%}




{%block htmlSearchBox%}
<div class="cbox fs12">
  <form method="get" action='{{url.this}}'>
    <input type="hidden" name="city" value="{{requestGET.city}}">
    <div class="input">
      <input type="search" name="q" assessmentitemholder='{%trans "Search in assessmentitems"%}' id="q" value="{{requestGET.q}}" autofocus  data-pass='submit' autocomplete='off'>
      <button class="addon btn ">{%trans "Search" %}</button>
    </div>
  </form>
</div>
{%endblock%}


{%block htmlTable%}
<div class="tblBox">

 <table class="tbl1 v1 cbox fs12">
    <thead>
      <tr>
        <th data-sort="{{sortLink.title.order}}"><a href='{{sortLink.title.link}}'>{%trans "Title"%}</a></th>

        <th data-sort="{{sortLink.job.order}}"><a href='{{sortLink.job.link}}'>{%trans "Job"%}</a></th>
        <th data-sort="{{sortLink.rate.order}}"><a href='{{sortLink.rate.link}}'>{%trans "Rate"%}</a></th>
        <th data-sort="{{sortLink.sort.order}}"><a href='{{sortLink.sort.link}}'>{%trans "Sort"%}</a></th>



        <th class="collapsing" data-sort="{{sortLink.status.order}}"><a href='{{sortLink.status.link}}'>{%trans "Status"%}</a></th>
      </tr>
    </thead>

    <tbody>
      {%for key, value in dataTable%}
      <tr {%if value.status=='disable'%} class='negative'{%endif%}>
        {%if perm('mAssessmentitemEdit') or 1%}
        <td><a href="{{url.this}}/edit?id={{value.id}}{{xCityAnd}}"><i class="sf-edit"></i> {{value.title}}</a></td>
        {%else%}
        <td>{{value.title}}</td>
        {%endif%}

        <td>{%if value.job%}{%set myGender = value.job%}{%trans myGender%}{%else%}<small class="fc08 fc-mute">{%trans "For all jobs"%}</small>{%endif%}</td>
        <td>{%if value.rate%}{{value.rate | fitNumber}}{%else%}-{%endif%}</td>
        <td>{%if value.sort%}{{value.sort | fitNumber}}{%else%}-{%endif%}</td>



        <td class="collapsing">{%set myStatus = value.status | capitalize %}<a href="{{url.this}}?status={{value.status}}{{xCityAnd}}">{%trans myStatus%}</a></td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
  {%include display.pagination%}

{%endblock%}


{%block htmlFilter%}
<p class="f fs14 msg info2">
  <span class="c">{{dataFilter | raw}}</span>
  <a class="cauto" href="{{url.this}}{{xCityStart}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlFilterNoResult%}
<p class="f fs14 msg warn2">
  <span class="c">{%trans "Result not found!"%} {%trans "Search with new keywords."%}</span>
  <a class="cauto" href="{{url.this}}{{xCityStart}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlStartAddNew%}
<p class="fs14 msg success2 pTB20">{%trans "Hi!"%} <a href="{{url.this}}/add{{xCityStart}}">{%trans "Try to start with add new assessmentitem!"%}</a></p>
{%endblock%}

