{%extends display.cpMain%}


{%block pageContent%}
<div class="cbox">
  <div class="msg {%if dataRow.status == 'approved'%} success {%elseif dataRow.status == 'spam' %} danger {%endif%}">{%set myStatus = dataRow.status | capitalize%}{%trans myStatus%}</div>
  {%if dataRow.author%}<div class="msg">{%trans "Author"%}: {{dataRow.author}}</div>{%endif%}
  {%if dataRow.email%}<div class="msg">{%trans "Email"%}: {{dataRow.email}}</div>{%endif%}
  <p>{{dataRow.content}}</p>

  <div class="msg">{{dataRow.datecreated | tdate("Y/m/d H:i:s")}}</div>
  <div class="f">
    <a href="{{url.pwd}}" data-ajaxify data-data='{"status" : "approved"}' data-method='post' class="c3 mRa5 btn success">{%trans "Approve"%}</a>
    <a href="{{url.pwd}}" data-ajaxify data-data='{"status" : "spam"}' data-method='post' class="c1 btn danger">{%trans "Spam"%}</a>
  </div>

</div>
{% endblock %}

