{%extends display.cpMain%}


{%block pageContent%}
<div class="cbox">
  <div class="msg {%if dataRow.status == 'approved'%} success {%elseif dataRow.status == 'spam' %} danger {%endif%}">{%set myStatus = dataRow.status | capitalize%}{%trans myStatus%}</div>
  <form method="post">
  	<div class="input">
  		<label for="author">{%trans "Author"%}</label>
  		<input type="text" name="author" value="{{dataRow.author}}">
  	</div>

  	<div class="input">
  		<label for="email">{%trans "Email"%}</label>
  		<input type="text" name="email" value="{{dataRow.email}}">
  	</div>


  	<div class="input">
  		<label for="email">{%trans "Text"%}</label>
  		<textarea class="txt" rows="10" name="content">{{dataRow.content }}</textarea>
  	</div>

	<div class="msg">{{dataRow.datecreated | tdate("Y/m/d H:i:s")}}</div>

  	<div class="f">

  	<button class="btn c success" name="status" value="approved">{%trans "Approved"%}</button>
  	<button class="btn c danger" name="status" value="spam">{%trans "Spam"%}</button>
  	<button class="btn c danger2" name="status" value="unapproved">{%trans "Unapproved"%}</button>

  	</div>


  </form>
</div>
{% endblock %}

