{%extends display.khadijeCpMain%}


{%block pageContent%}
<div class="">

<form method="post" class="f" nctype="multipart/form-data">

  <div class="c4 s12">
    <div class="dcard x2">
     <div class="statistic">
      <div class="value mB20">{%trans "Qom"%}</div>
      <div class="label input "><input type="file" name="qom" id="qom" value="{{nationalcodeDetail.qom}}"></div>
     </div>
    </div>
  </div>

  <div class="c4 s12">
    <div class="dcard x2">
     <div class="statistic">
      <div class="value mB20">{%trans "Mashhad"%}</div>
      <div class="label input "><input type="file" name="mashhad" id="mashhad" value="{{nationalcodeDetail.mashhad}}"></div>
     </div>
    </div>
  </div>

  <div class="c4 s12">
    <div class="dcard x2">
     <div class="statistic">
      <div class="value mB20">{%trans "Karbala"%}</div>
      <div class="label input "><input type="file" name="karbala" id="karbala" value="{{nationalcodeDetail.karbala}}"></div>
     </div>
    </div>
  </div>

  <button class="btn success fs16 c12">{%trans "Save"%}</button>
</form>

</div>
{%endblock%}

