{%extends display.mvc%}


{%block body%}
{%if hadithList%}
       <div class="hadith msg fs12"><span class="typed"></span>
        <div id="typed-strings" class="hide">
{%for key, myHadith in hadithList%}
          <h4>{{myHadith.desc}}</h4>
{%endfor%}
        </div>
       </div>
{%endif%}


  <a href="{{url.kingdom}}/app/karbala" data-direct class="block">
    <img class="block" src="https://khadije.com/files/1/503-b42df374abb06a9226db84212a3f3b5a.jpg">
  </a>

  <nav id="sHeaderNav" class="">
    <div class="f headerLine">
     <div class="donate sB2 c lightPulse">
       <a href="{{url.here}}/app/donate" data-direct>{%trans "Donate"%}</a>
      </div>
    </div>
  </nav>

  <section class="f justify-center picto fs07">
    <div class="c6">
      <a href="{{url.here}}/app/karbala" data-direct>
        <div class="sprite-travel fix"></div>
        <h2>ثبت‌نام کربلا برنامه سمت خدا</h2>
      </a>
    </div>

    <div class="c6">
      <a href="{{url.here}}/a/service" data-direct>
        <div class="sprite-servants fix"></div>
        <h2>{%trans "Servants registration"%}</h2>
      </a>
    </div>

    <div class="c6">
      <a href="{{url.here}}/a/representation" data-direct>
        <div class="sprite-deputy fix"></div>
        <h2>{%trans "Deputy pilgrimage"%}</h2>
      </a>
    </div>

    <div class="c6">
      <a href="{{url.here}}/a/consulting" data-direct>
        <div class="sprite-adminContact fix"></div>
        <h2>{%trans "Consulting"%}</h2>
      </a>
    </div>

  </section>


<hr class="special min">
<div class="f justify-center">
	<div class="c salavatBox mB25">
	  <div class="salavat goldenB">
	    <img src="{{url.static}}/images/homepage-v3/salavat.jpg" alt='{%trans "O Allah, let Your Peace come upon Muhammad and the family of Muhammad"%}'>
	    <div class="counter" data-salavat="{{salavatShomar}}">{{salavatShomar | fitNumber}}</div>
	    <div class="mB25 fs08">{%trans "You also partake in salawat"%}</div>
	    <div class="Allah sB1">
	      <a href="{{url.kingdom}}" data-action='{{url.kingdom}}' data-ajaxify data-data='{"salavat" : true}' data-method='post' data-notif='{%trans "Allahouma sali ala mohamed wa ali muhammad"%}' data-notif-pos="topCenter" data-notif-icon='sf-heart' data-notif-image='{{url.static}}/images/logo/khadije.png'>{%trans "Say salawat"%} <span class="s0 m0 c0 xauto">{%trans "and press here"%}</span></a>
	    </div>
	  </div>
	</div>
</div>
{%endblock%}

