{%extends display.cpMain%}


{%block pageContent%}
<div class="f">
 <div class="c12">{{block ("Bdonate")}}</div>
 <div class="c9 s12">{{block ("Btrip")}}</div>
 <div class="c3 s12">{{block ("BNcode")}}</div>
 <div class="c12 s12">{{block ("BService")}}</div>
 <div class="c2 s12">{{block ("TemplateSMS")}}</div>
 <div class="c4 s12">{{block ("bAdvice")}}</div>
 <div class="c6 s12">{{block ("bHealth")}}</div>

</div>
{%endblock%}



{%block bHealth%}
<a class="dcard x1" href='{{url.here}}/health'>
 <div class="statistic">
  <div class="value"><i class="sf-heartbeat"></i></div>
  <div class="label">{%trans "Health Service"%}</div>
 </div>
</a>
{%endblock%}

{%block bAdvice%}
<a class="dcard x1" href='{{url.here}}/advice'>
 <div class="statistic">
  <div class="value"><i class="sf-chat-alt-fill"></i></div>
  <div class="label">{%trans "Advice"%}</div>
 </div>
</a>
{%endblock%}

{%block TemplateSMS%}
<a class="dcard x1" href='{{url.here}}/templatesms'>
 <div class="statistic">
  <div class="value"><i class="sf-envelope"></i></div>
  <div class="label">{%trans "SMS Template"%}</div>
 </div>
</a>
{%endblock%}



{%block BDonateProduct%}
<a class="dcard x1" href='{{url.here}}/donateproduct'>
 <div class="statistic">
  <div class="value"><i class="sf-bag"></i></div>
  <div class="label">{%trans "Donate product list"%}</div>
 </div>
</a>
{%endblock%}


{%block Bdonate%}
<a class="dcard x1" href='{{url.here}}/donate'>
 <div class="statistic">
  <div class="value"><i class="sf-card"></i></div>
  <div class="label">{%trans "Donate list"%}</div>
 </div>
</a>
{%endblock%}


{%block Btrip%}
<a class="dcard x2" href='{{url.here}}/trip'>
 <div class="statistic">
  <div class="value"><i class="sf-pull-request"></i></div>
  <div class="label">{%trans "request trip list"%}</div>
 </div>
</a>
{%endblock%}


{%block BService%}
<a class="dcard x2" href='{{url.here}}/service'>
 <div class="statistic">
  <div class="value"><i class="sf-user-md"></i></div>
  <div class="label">{%trans "request service list"%}</div>
 </div>
</a>
{%endblock%}


{%block BNcode%}
<a class="dcard x2" href='{{url.here}}/nationalcode'>
 <div class="statistic">
  <div class="value"><i class="sf-user-5"></i></div>
  <div class="label">{%trans "National code"%}</div>
 </div>
</a>
{%endblock%}


{%block sidenav%}
  {%include "content_cp/sidenav.html"%}
{%endblock%}