{%extends display.cpMain%}


{%block pageContent%}
<div class="f">
 <div class="c6 s12">{{block ("Bdonate")}}</div>
 <div class="c6 s12">{{block ("BDonateProduct")}}</div>
 <div class="c12 s12">{{block ("Btrip")}}</div>
 <div class="c12 s12">{{block ("BNcode")}}</div>

</div>
{%endblock%}





{%block BDonateProduct%}
<a class="dcard x1" href='{{url.baseFull}}/donateproduct'>
 <div class="statistic">
  <div class="value"><i class="sf-bag"></i></div>
  <div class="label">{%trans "Donate product list"%}</div>
 </div>
</a>
{%endblock%}


{%block Bdonate%}
<a class="dcard x1" href='{{url.baseFull}}/donate'>
 <div class="statistic">
  <div class="value"><i class="sf-card"></i></div>
  <div class="label">{%trans "Donate list"%}</div>
 </div>
</a>
{%endblock%}


{%block Btrip%}
<a class="dcard x2" href='{{url.baseFull}}/trip'>
 <div class="statistic">
  <div class="value"><i class="sf-pull-request"></i></div>
  <div class="label">{%trans "request list"%}</div>
 </div>
</a>
{%endblock%}


{%block BNcode%}
<a class="dcard x1" href='{{url.baseFull}}/nationalcode'>
 <div class="statistic">
  <div class="value"><i class="sf-user-5"></i></div>
  <div class="label">{%trans "National code"%}</div>
 </div>
</a>
{%endblock%}


{%block sidenav%}
{{parent()}}
    <li><a href="{{url.baseFull}}/trip"><i class='sf-pull-request'></i> <span>{%trans "request list"%}</span></a></li>
    <li><a href="{{url.baseFull}}/donateproduct"><i class='sf-bag'></i> <span>{%trans "Donate product list"%}</span></a></li>
    <li><a href="{{url.baseFull}}/donate"><i class='sf-card'></i> <span>{%trans "Donate list"%}</span></a></li>
    <li><a href="{{url.baseFull}}/nationalcode"><i class='sf-user-5'></i> <span>{%trans "National code"%}</span></a></li>
{%endblock%}