{%extends display.cpMain%}


{%block pageContent%}
<div class="f">

 <div class="c3 s12">{{block ("Bdonate")}}</div>

 <div class="c3 s12 f">
  <div class="c6 s12">{{block ("Btrip")}}</div>
  <div class="c6 s12">{{block ("BtripFamilty")}}</div>
 </div>

 <div class="c3 s12">{{block ("BNcode")}}</div>
 <div class="c3 s12">{{block ("BService")}}</div>

 <div class="c3 s12">{{block ("bAdvice")}}</div>
 <div class="c3 s12">{{block ("bHealth")}}</div>
 <div class="c3 s12">{{block ("bNiyabat")}}</div>
 <div class="c3 s12">{{block ("bSendSMS")}}</div>
 <div class="c3 s12">{{block ("bDelneveshte")}}</div>
 <div class="c3 s12">{{block ("homePageNumber")}}</div>
 <div class="c3 s12">{{block ("Report")}}</div>
 <div class="c3 s12">{{block ("AdminComment")}}</div>

</div>
{%endblock%}


{%block AdminComment%}
<a class="dcard x2" href='{{url.here}}/admincontact'>
 <div class="statistic">
  <div class="value"><i class="sf-user-secret"></i></div>
  <div class="label">{%trans "Admin Contact"%}</div>
 </div>
</a>
{%endblock%}


{%block Report%}
<a class="dcard x2" href='{{url.here}}/report'>
 <div class="statistic">
  <div class="value"><i class="sf-chart"></i></div>
  <div class="label">{%trans "Report"%}</div>
 </div>
</a>
{%endblock%}

{%block homePageNumber%}
<a class="dcard x2" href='{{url.here}}/homepage'>
 <div class="statistic">
  <div class="value"><i class="sf-cog"></i></div>
  <div class="label">{%trans "Home page number"%}</div>
 </div>
</a>
{%endblock%}


{%block bDelneveshte%}
<a class="dcard x2" href='{{url.here}}/delneveshte'>
 <div class="statistic">
  <div class="value"><i class="sf-heart-o"></i></div>
  <div class="label">{%trans "Delneveshte"%}</div>
 </div>
</a>
{%endblock%}

{%block bSendSMS%}
<a class="dcard x2" href='{{url.here}}/sms'>
 <div class="statistic">
  <div class="value"><i class="sf-envelope"></i></div>
  <div class="label">{%trans "Send SMS"%}</div>
 </div>
</a>
{%endblock%}

{%block bNiyabat%}
<a class="dcard x2" href='{{url.here}}/representation'>
 <div class="statistic">
  <div class="value"><i class="sf-coffee"></i></div>
  <div class="label">{%trans "Representation"%}</div>
 </div>
</a>
{%endblock%}

{%block bHealth%}
<a class="dcard x2" href='{{url.here}}/health'>
 <div class="statistic">
  <div class="value"><i class="sf-heartbeat"></i></div>
  <div class="label">{%trans "Health Service"%}</div>
 </div>
</a>
{%endblock%}

{%block bAdvice%}
<a class="dcard x2" href='{{url.here}}/advice'>
 <div class="statistic">
  <div class="value"><i class="sf-chat-alt-fill"></i></div>
  <div class="label">{%trans "Advice"%}</div>
 </div>
</a>
{%endblock%}

{%block TemplateSMS%}
<a class="dcard x2" href='{{url.here}}/templatesms'>
 <div class="statistic">
  <div class="value"><i class="sf-bars"></i></div>
  <div class="label">{%trans "SMS Template"%}</div>
 </div>
</a>
{%endblock%}



{%block BDonateProduct%}
<a class="dcard x2" href='{{url.here}}/donateproduct'>
 <div class="statistic">
  <div class="value"><i class="sf-bag"></i></div>
  <div class="label">{%trans "Donate product list"%}</div>
 </div>
</a>
{%endblock%}


{%block Bdonate%}
<a class="dcard x2" href='{{url.here}}/donate'>
 <div class="statistic">
  <div class="value"><i class="sf-card"></i></div>
  <div class="label">{%trans "Donate list"%}</div>
 </div>
</a>
{%endblock%}


{%block Btrip%}
<a class="dcard x2" href='{{url.here}}/trip'>
 <div class="statistic">
  <div class="value"><i class="sf-pull-request"></i></div>
  <div class="label">{%trans "Group trip request"%}</div>
 </div>
</a>
{%endblock%}


{%block BtripFamilty%}
<a class="dcard x2" href='{{url.here}}/familytrip'>
 <div class="statistic">
  <div class="value"><i class="sf-bus"></i></div>
  <div class="label">{%trans "Family trip request"%}</div>
 </div>
</a>
{%endblock%}


{%block BService%}
<a class="dcard x2" href='{{url.here}}/service'>
 <div class="statistic">
  <div class="value"><i class="sf-user-md"></i></div>
  <div class="label">{%trans "request service list"%}</div>
 </div>
</a>
{%endblock%}


{%block BNcode%}
<a class="dcard x2" href='{{url.here}}/nationalcode'>
 <div class="statistic">
  <div class="value"><i class="sf-user-5"></i></div>
  <div class="label">{%trans "National code"%}</div>
 </div>
</a>
{%endblock%}


{%block sidenav%}
  {%include "content_cp/sidenav.html"%}
{%endblock%}