{%extends display.main%}


{%block page%}

   <nav class="breadcrumb block msg hide" data-xhr="breadcrumb" tabindex='-1' data-step='4' data-intro='{%trans "View your current location and navigate to parent of it"%}' data-position='bottom'>
   {{breadcrumb(null, true) | raw}}
   </nav>

  <section class="postPreview">
  	<h2>{{datarow.title | raw}}</h2>
{%if datarow.meta.thumb%}
  	<img src="{{datarow.meta.thumb}}" alt="{{datarow.title | raw}}" class="floatRa thumb">
{%endif%}

{%if datarow.content%}
  	{{datarow.content | raw}}
{%else%}
  	{{datarow.description | raw}}
{%endif%}


{{block('imagegallery')}}


    {%if datarow.datemodified%}
    <div class='msg f'>
      <div class="c">{{datarow.publishdate}}</div>
      <div class="cauto os">ویرایش شده در <time datetime="{{datarow.datemodified}}">{{datarow.datemodified | sdate}}</time></div>
    </div>
    {%endif%}
  </section>



	{{tags({"html" : true})}}
{%endblock%}



{%block imagegallery%}
<div id="lightgallery">
    <a data-action href="{{url.static}}lightgallery/demo/1.jpg"><img src="{{url.static}}lightgallery/demo/thumb-1.jpg" alt="{{datarow.title | raw}}"></a>
    <a data-action href="{{url.static}}lightgallery/demo/2.jpg"><img src="{{url.static}}lightgallery/demo/thumb-2.jpg" alt="{{datarow.title | raw}}"></a>
    <a data-action href="{{url.static}}lightgallery/demo/3.jpg"><img src="{{url.static}}lightgallery/demo/thumb-3.jpg" alt="{{datarow.title | raw}}"></a>
    <a data-action href="{{url.static}}lightgallery/demo/4.jpg"><img src="{{url.static}}lightgallery/demo/thumb-4.jpg" alt="{{datarow.title | raw}}"></a>
</div>
{%endblock%}


{%block foot_js%}
  <link rel="stylesheet" href="{{url.static}}lightgallery/css/lightgallery.min.css">
  <script src="{{url.static}}lightgallery/js/lightgallery.min.js"></script>
  <script>
    lightGallery(document.getElementById('lightgallery'));
</script>
{%endblock%}

