{%extends display.main%}


{%block page%}

   <nav class="breadcrumb block msg hide" data-xhr="breadcrumb" tabindex='-1' data-step='4' data-intro='{%trans "View your current location and navigate to parent of it"%}' data-position='bottom'>
   {{breadcrumb(null, true) | raw}}
   </nav>

  <section class="postPreview">
  	<h2>{{datarow.title | raw}}</h2>
{%if datarow.meta.thumb%}
  	<img src="{{datarow.meta.thumb}}" alt="{{datarow.title | raw}}" class="floatRa">
{%endif%}

{%if datarow.content%}
  	{{datarow.content | raw}}
{%else%}
  	{{datarow.description | raw}}
{%endif%}



    {%if datarow.datemodified%}
    <div class='msg f'>
      <div class="c">{{datarow.publishdate}}</div>
      <div class="cauto os">ویرایش شده در <time datetime="{{datarow.datemodified}}">{{datarow.datemodified | sdate}}</time></div>
    </div>
    {%endif%}
  </section>



	{{tags({"html" : true})}}
{%endblock%}