

{%block donateForm%}

<div class="f justify-center">
  <div class="cbox c5 fs12">
    <form method="post">
      {{block ('iFullname')}}
      <div class="f">
        <div class="c pRa5">{{block ('iMobile')}}</div>
        <div class="c">{{block ('iEmail')}}</div>
      </div>
      <input type="hidden" name="username" value="">
      {{block ('iNiyat') }}
      {{block ('iAmount') }}
      {{block ('iWay') }}
      {{block ('ipay')}}
    </form>
  </div>
</div>

{%endblock%}





{%block ipay%}
<button class="btn primary block mT25">{%trans "Pay"%}</button>
{%endblock%}



{%block iName%}
<label for='fname'>{%trans "First name"%}</label>
<div class="input">
 <input type="text" name="firstname" placeholder='{%trans "Your name"%}' maxlength='50' minlength="1" pattern=".{1,50}" title='{%trans "Enter a valid name"%}' id='fname' autofocus>
</div>
{%endblock%}


{%block iFullname%}
<label for='ffamily'>{%trans "Full name"%}</label>
<div class="input">
 <input type="text" name="fullname" placeholder='{%trans "Full name"%}' maxlength='50' minlength="1" pattern=".{1,50}" title='{%trans "Enter a valid last name"%}' id='ffamily'>
</div>
{%endblock%}





{%block iMobile%}
<label for='fmobile'>{%trans "Mobile"%}</label>
<div class="input">
 <input type="tel" name="mobile" placeholder='{%trans "Mobile"%}' maxlength='50' minlength="1" pattern=".{1,50}" title='{%trans "Enter a valid mobile"%}' id='fmobile'>
</div>
{%endblock%}



{%block iEmail%}
<label for='femail'>{%trans "Email"%}</label>
<div class="input">
 <input type="email" name="email" placeholder='{%trans "Email"%}' maxlength='50' minlength="1" pattern=".{1,50}" title='{%trans "Enter a valid email"%}' id='femail'>
</div>
{%endblock%}





{%block iNiyat%}
<label for='fniyat'>{%trans "Niyat"%}</label>
<div class="input">
 <input type="text" name="niyat" placeholder='{%trans "Niyat"%}' maxlength='50' minlength="1" pattern=".{1,50}" title='{%trans "Enter a valid niyat"%}' id='fniyat'>
</div>
{%endblock%}



{%block iAmount%}
<label for='famount'>{%trans "Amount"%}</label>
<div class="input">
 <input type="number" name="amount" placeholder='{%trans "Amount"%}' maxlength='50' minlength="1" pattern=".{1,50}" title='{%trans "Enter a valid amount"%}' id='famount'>
</div>
{%endblock%}


{%block iWay%}
<label for='fway'>{%trans "Way"%}</label>
<div class="input">
 <select name="way" class="select">

   <option value="">{%trans "Please select one item"%}</option>
   {%for key, value in way_list%}
    <option value="{{value}}">{{value}}</option>
   {%endfor%}
 </select>
</div>
{%endblock%}


