 <header class='site-header'>
  <div class="cn f">

   <h1 class="cauto logo">
    <a class="flex" href='{{url.base}}' tabindex='1'>
     <img src='{{url.static}}images/logo.png' alt='{{site.title}} | {{site.desc}}'>
     <span class="bold" title="{{site.desc}}">{{site.title}}</span>
    </a>
   </h1>

   <nav class="cauto os">
    <a href="{{url.base}}/donate">{%trans "Donate"%}</a>
    <a href="{{url.base}}/a/group" data-direct>{%trans "Register for group trip"%}</a>
    <a href="{{url.base}}/a/trip" data-direct class="btn">{%trans "Register for family trip"%}</a>
   </nav>
  </div>
 </header>

