<nav class="share1">
  <a data-direct href="https://www.facebook.com/{{social.facebook}}" class="facebook">khadije facebook</a>
  <a data-direct href="https://twitter.com/{{social.twitter}}" class="twitter">khadije twitter</a>
  <a data-direct href="https://plus.google.com/{{social.googleplus}}" class="googleplus">khadije google+</a>
  <a data-direct href="https://t.me/{{social.telegram}}" class="telegram">khadije telegram</a>
  <a data-direct href="https://instagram.com/{{social.instagram}}" class="instagram">khadije instagram</a>
{%if social.linkedin%}
  <a data-direct href="https://www.linkedin.com/{{social.linkedin}}" class="linkedin">khadije linkedin</a>
{%endif%}
{%if false%}
  <a data-direct href="{{url.base}}/rss" class="rss">khadije rss</a>
{%endif%}

</nav>