{%extends display.admin%}


{%block pageContent%}
<div class="f">

{% if perm('AgentQom') %}
	<div class="c4 s12 pA10">
	  <a class="dcard grShadow grGreen2 x3 op100" href='{{url.here}}?city=qom'>
	    <div class="mB25 fcWhite900 fs20" >قم</div>
	  </a>
	</div>
{%endif%}


{% if perm('AgentMashhad') %}
	<div class="c4 s12 pA10">
	  <a class="dcard grShadow grGreen2 x3 op100" href='{{url.here}}?city=mashhad'>
	    <div class="mB25 fcWhite900 fs20" >مشهد</div>
	  </a>
	</div>
{%endif%}


{% if perm('AgentKarbala') %}
	<div class="c4 s12 pA10">
	  <a class="dcard grShadow grGreen2 x3 op100" href='{{url.here}}?city=karbala'>
	    <div class="mB25 fcWhite900 fs20" >کربلا</div>
	  </a>
	</div>
{%endif%}

</div>
{%endblock%}


