{%extends display.cpMain%}


{%block pageContent%}
  {{block('GlanceDetail')}}

{%if dataTable%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}
  {{block('htmlFilter')}}

 {%else%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}

 {%endif%}
{%else%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlFilterNoResult')}}

 {%else%}
  {{block('htmlStartAddNew')}}

 {%endif%}
{%endif%}

{%endblock%}




{%block htmlSearchBox%}
<div class="cbox fs12">
  <form method="get" action='{{url.this}}'>
    <div class="input">
      <input type="search" name="q" placeholder='{%trans "Search in trips"%}' id="q" value="{{requestGET.q}}{{requestGET.barcode}}" autofocus autocomplete='off'>
      <button class="addon btn ">{%trans "Search" %}</button>
    </div>
  </form>
</div>
{%endblock%}


{%block htmlTable%}
 <div class="cbox fs12">
 <table class="tbl">
    <thead class="primary">
      <tr>
        <th data-sort="{{sortLink.id.order}}" class="collapsing"><a href="{{sortLink.id.link}}">{%trans "ID"%}</a></th>
        <th data-sort="{{sortLink.firstname.order}}" class=""><a href="{{sortLink.firstname.link}}">{%trans "First name"%}</a></th>
        <th data-sort="{{sortLink.gender.order}}" class="s0"><a href="{{sortLink.gender.link}}">{%trans "Gender"%}</a></th>
        <th data-sort="{{sortLink.gender.order}}" class="s0"><a href="{{sortLink.gender.link}}">{%trans "Birthdate"%}</a></th>
        <th data-sort="{{sortLink.nationalcode.order}}" class="s0"><a href="{{sortLink.nationalcode.link}}">{%trans "National code"%}</a></th>
        <th data-sort="{{sortLink.place.order}}" class=""><a href="{{sortLink.place.link}}">{%trans "City"%}</a></th>
        <th data-sort="{{sortLink.countpartner.order}}" class="collapsing fs07"><a href="{{sortLink.countpartner.link}}">{%trans "Partner"%}</a></th>
        <th data-sort="{{sortLink.status.order}}" class=""><a href="{{sortLink.status.link}}">{%trans "Status"%}</a></th>
        <th data-sort="{{sortLink.datecreated.order}}" class="s0"><a href="{{sortLink.datecreated.link}}">{%trans "Date created"%}</a></th>
      </tr>
    </thead>

    <tbody>
      {%for key, value in dataTable%}
      <tr class="{%if value.status == 'cancel' or value.status == 'draft'%} disabled{%elseif value.status == 'spam' or value.status == 'deleted' %} negative{%elseif value.status == 'unapproved' or value.status == 'reject'%} warning{%endif%}">
        <td class="txtC">
          <a href="{{url.this}}/view?id={{value.id}}">{{value.id | fitNumber}}</a>
        </td>
        <td>
          <a href="{{url.here}}/users/view?id={{value.user_id | coding('encode')}}">
            <span class="sf-user fc-mute"></span>
            {{value.firstname}} <b>{{value.lastname}}</b>
          </a>
        </td>
        <td class="s0">{%set myGender = value.gender | capitalize%}<a href="{{url.this}}?gender={{value.gender}}">{%trans myGender%}</a></td>
        <td class="s0"><a href='{{url.this}}?birthday={{value.birthday | date("Y")}}'>{{value.birthday | dt("Y") }}</a>{{value.birthday | dt("-m-d") }}</td>

        <td class="s0">{{value.nationalcode | fitNumber(false)}}</td>
        <td>{%set my_place = value.place | capitalize%}<a href="{{url.this}}?place={{value.place}}">{%trans my_place%}</a></td>
        <td class="txtC">{%if value.countpartner%}{{value.countpartner | fitNumber}}{%else%}-{%endif%}</td>
        <td class="txtC">{%set my_status = value.status | capitalize%}<a href="{{url.this}}?status={{value.status}}">{%trans my_status%}</a></td>
        <td class="s0" title="{{value.datecreated | dt}}">{{value.datecreated | dt ("human", "year")}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  {%include display.pagination%}

 </div>
{%endblock%}


{%block htmlFilter%}
<p class="f fs14 msg warn2">
  <span class="c">{{dataFilter | raw}}</span>
  <a class="cauto" href="{{url.this}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlFilterNoResult%}
<p class="f fs14 msg warn2">
  <span class="c">{%trans "Result not found!"%} {%trans "Search with new keywords."%}</span>
  <a class="cauto" href="{{url.this}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlStartAddNew%}
<p class="fs14 msg success2 pTB20">{%trans "No record exist!"%}</p>
{%endblock%}



{%block GlanceDetail%}
  <div class="f">
    <div class="c8 s6">
      <div class="dcard x1">
       <div class="statistic blue">
        <div class="value">{{totalRequest | fitNumber}}</div>
        <div class="label">{%trans "Total Request"%}</div>
       </div>
      </div>
    </div>

    <div class="c4 s6">
      <div class="dcard x1">
       <div class="statistic">
        <div class="value">{{todayRequest | fitNumber}}</div>
        <div class="label">{%trans "Today"%}</div>
       </div>
      </div>
    </div>
  </div>
{%endblock%}

