{%extends display.main%}


{%block pageData%}
<div class="f justify-center txtC">


 		{%if myList%}
			<div class="f">

			{%for key, value in myList%}
			<div class="c s12 pA10">
				<a class="dcard grShadow grGreen2 x2 op100" href='{{url.this}}/signup/{{value.id}}'>
				  <div class="mB25 fcWhite900 fs20" >{{value.title}}</div>
				  <p>{{value.subtitle}}</p>
				</a>
			</div>
			{%endfor%}
			</div>
			{%else%}
			<div class="msg warn txtB txtC">{%trans "No enable lotter founded"%}</div>
			{%endif%}


</div>
{%endblock%}


