{%extends 'content_m/layout.html'%}





{%block pageContent%}


<div class="cbox fs12">
  <form method="get"  autocomplete="off" action="{{url.this}}">
    <div class="f">
      <div class="c s12 mB5 pRa5">
        <div class="input ltr">
          <input class="datepicker" type="text" name="startdate"  placeholder='{%trans "Start date"%}' id="startdate"  value="{{requestGET.startdate}}" maxlength='20' data-format="YYYYMMDD"data-view="month">
        </div>
      </div>
      <div class="cauto s12 mB5 pRa5">
        <div class="input ltr">
          <input class="timepicker" type="text" name="starttime"  placeholder='ساعت شروع' id="starttime"  value="{{requestGET.starttime}}" maxlength='20' >
        </div>
      </div>
      <div class="c s12 mB5 pRa5">
        <div class="input ltr">
          <input class="datepicker" type="text" name="enddate"  placeholder='{%trans "End date"%}' id="enddate"  value="{{requestGET.enddate}}" maxlength='20' data-format="YYYYMMDD"data-view="month">
        </div>
      </div>
      <div class="cauto s12 mB5 pRa5">
        <div class="input ltr">
          <input class="timepicker" type="text" name="endtime"  placeholder='پایان شروع' id="endtime"  value="{{requestGET.endtime}}" maxlength='20' >
        </div>
      </div>
      <div class="cauto s12 mB5">
          <button class="btn block">{%trans "Search" %}</button>
      </div>
    </div>
  </form>
  {%if requestGET%}
    <div class="msg">
        {%if startdateEn%}<div class="">{%trans "Start date"%} <span class="ltr compact">{{startdateEn | dt}}</span></div>{%endif%}
        {%if enddateEn%}<div class="">{%trans "Start date"%} <span class="ltr compact">{{enddateEn | dt}}</span></div>{%endif%}
        {%if requestGET.payment%}<div class="">{%trans "Payment"%} <span class="ltr compact">{{requestGET.payment}}</span></div>{%endif%}
    </div>
  {%endif%}
</div>

  {%if reportDetail.groupby%}
  <h3>جمع کل کمک‌های نقدی به تفکیک هزینه‌کرد</h3>
<div class="f">
  <div class="c6 s12">
    <div class="f">
      {%for key, value in reportDetail.groupby %}
      <div class="c6 s12">
        <div class="dcard x1">
         <div class="statistic blue">
          <div class="value"><small>{{value | fitNumber}}</small></div>
          <div class="label">{%if not key%}-{%else%}{{key}}{%endif%}</div>
         </div>
        </div>
      </div>
      {%endfor%}
      <div class="c12">
        <div class="dcard x1">
         <div class="statistic blue">
          <div class="value"><small>{{reportDetail.total_payed | fitNumber}}</small></div>
          <div class="label">{%trans "Total Donation"%}</div>
         </div>
        </div>
      </div>
    </div>


  </div>

  <div class="c6 s12">
      <div id="chartdiv" class="chart"></div>
      <div class="hidden">
        <div id="hcartdata">{{reportDetail.chart | raw}}</div>
      </div>
  </div>
</div>

  {%endif%}


<div id="chartdate" class="chart"></div>
<div class="hidden">
  <div id="chartdatecategory">{{reportDetail.chartdatecategory | raw}}</div>
  <div id="chartdatedata">{{reportDetail.chartdate | raw}}</div>
</div>





{%endblock%}




{%block foot_js%}
<script>
{%include 'content_m/donates/chart.js'%}
</script>
{%endblock%}

