{%extends 'content_protection/occasion/layout.html'%}

{%block pageContent%}
{{block('occasionPageStep')}}

<div class="f">
  <div class="c s12">
    <a class="dcard x07 {%if not requestGET.allow %}active{%endif%}" href="{{url.that}}?id={{requestGET.id}}">
      <div class="value">{%trans "All agent"%}</div>
    </a>
  </div>

  <div class="c s12">
    <a class="dcard x07 {%if requestGET.allow == 'yes'%}active{%endif%}" href="{{url.that}}?id={{requestGET.id}}&allow=yes">
      <div class="value">{%trans "Allowed agent"%}</div>
    </a>
  </div>

<div class="c s12">
    <a class="dcard x07 {%if requestGET.allow == 'no'%}active{%endif%}" href="{{url.that}}?id={{requestGET.id}}&allow=no">
      <div class="value">{%trans "Not allowed agent"%}</div>
    </a>
  </div>




</div>
{%if dataTable%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}
  {{block('htmlFilter')}}

 {%else%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}

 {%endif%}
{%else%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlFilterNoResult')}}

 {%else%}

  {{block('htmlStartAddNew')}}

 {%endif%}
{%endif%}

{%endblock%}




{%block htmlSearchBox%}
<div class="cbox fs12">
  <form method="get" action='{{url.that}}'>
    <input type="hidden" name="id" value="{{requestGET.id}}">
    <div class="input">
      <input type="search" name="q"  id="q" value="{{requestGET.q}}" autofocus  autocomplete='off'>
      <button class="addon btn ">{%trans "Search" %}</button>
    </div>
  </form>
</div>
{%endblock%}


{%block htmlTable%}
<div class="tblBox">
 <table class="tbl1 v1 cbox fs12">
    <thead>
      <tr>
        <th data-sort="{{sortLink.title.order}}"><a href='{{sortLink.title.link}}'>{%trans "Title"%}</a></th>
        <th data-sort="{{sortLink.type.order}}"><a href='{{sortLink.type.link}}'>{%trans "Type"%}</a></th>
        <th>{%trans "Mobile"%}</th>

        <th class="">{%trans "City"%}</th>

        <th class="collapsing"></th>
      </tr>
    </thead>
    <tbody>
      {%for key, value in dataTable%}
      {%if requestGET.allow == 'yes'%}
        {%if value.id in AllAgentIdInThisOccasion %}
          {{block('trValue')}}
        {%endif%}
      {%elseif requestGET.allow == 'no'%}
        {%if value.id in AllAgentIdInThisOccasion %}
        {%else%}
           {{block('trValue')}}
        {%endif%}
      {%else%}
           {{block('trValue')}}
      {%endif%}

      {%endfor%}
    </tbody>
  </table>
</div>
{%include display.pagination%}
{%endblock%}


{%block htmlFilter%}
<p class="f fs14 msg info2">
  <span class="c">{{dataFilter | raw}}</span>
  <a class="cauto" href="{{url.that}}?id={{requestGET.id}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block trValue%}
<tr {%if value.status=='disable'%} class='negative'{%endif%}>
        <td>{{value.title}}</td>
        <td><a href="{{url.that}}?id={{requestGET.id}}&type={{value.type}}">{{value.type}}</a></td>
        <td>{{value.mobile | fitNumber('mobile')}}</td>

        <td><a href="{{url.that}}?id={{requestGET.id}}&city={{value.city}}">{{value.location_string}}</a></td>


        <td class="collapsing">
          {%if value.id in AllAgentIdInThisOccasion %}
            <div data-ajaxify data-method='post' data-data='{"allow": "not", "id" : "{{value.id}}"}' class="btn success">{%trans "Allowed"%}</div>
          {%else%}
            <div data-ajaxify data-method='post' data-data='{"allow": "yes", "id" : "{{value.id}}"}' class="btn">{%trans "Not allowed"%}</div>
          {%endif%}

        </td>
      </tr>
{%endblock%}


{%block htmlFilterNoResult%}
<p class="f fs14 msg warn2">
  <span class="c">{%trans "Result not found!"%} {%trans "Search with new keywords."%}</span>
  <a class="cauto" href="{{url.that}}?id={{requestGET.id}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlStartAddNew%}
<p class="fs14 msg success2 pTB20">{%trans "No result founded"%}</p>
{%endblock%}

