{%extends display.admin%}


{%block content%}
<div class="tbox">
  <h2>{{page.title}}</h2>
  <p>{{page.desc}}</p>

</div>

<div class="cbox">
  <form method="post">
    <div class="f">
      <div class="c mRa5">
        {{block ('iAvatar') }}
        {{block ('iname') }}
        {{block ('ifamily') }}
        {{block ('imobile') }}
        {{block ('incode') }}
        {{block ('ifather') }}
        {{block ('ibirthday') }}
        {{block ('igender') }}
        {{block ('iMarried') }}
        {{block ('iArabicLang') }}
        {{block ('icountry') }}
        {{block ('iprovince') }}
        {{block ('icity') }}
      </div>
      <div class="c">

        {{block ('izipcode') }}
        {{block ('ipassport') }}
        {{block ('ipassportexpire') }}
        {{block ('iHomeAddress') }}
        {{block ('iWorkAddress') }}
        {{block ('iDescription') }}
        {{block ('iPhone') }}
        {{block ('iEmail') }}
        {{block ('iEducation') }}
        {{block ('iEducationCourse') }}
        {{block ('iJob') }}

      </div>

        {{block ('isave') }}
    </div>
  </form>
</div>
{%endblock%}





{%block iname%}
<label for="name">{%trans "Name"%}</label>
<div class="input">
  <input type="text" name="name" id="name" placeholder='{%trans "Name"%}' value="{{userdetail.firstname}}" autofocus maxlength='40' minlength="2" pattern=".{2,40}" title='{%trans "Enter a valid name from 2 to 40 character"%}'>
</div>
{%endblock%}


{%block ifamily%}
<label for="lastName">{%trans "Last name"%}</label>
<div class="input">
  <input type="text" name="lastName" id="lastName" placeholder='{%trans "Last name"%}' value="{{userdetail.lastname}}" maxlength='40' minlength="2" pattern=".{1,40}" title='{%trans "Enter a valid last name from 2 to 40 character"%}'>
</div>
{%endblock%}




{%block imobile%}
<label for="mobile">{%trans "Mobile"%}</label>
<div class="input">
  <input type="text" readonly id="mobile" placeholder='{%trans "Like 09120123456"%}' value="{{userdetail.mobile}}" maxlength='30'>
</div>
{%endblock%}


{%block incode%}
<label for="nationalcode">{%trans "National code"%}</label>
<div class="input">
  <input type="tel" name="nationalcode" id="nationalcode" placeholder='{%trans "10 digit national code"%}' value="{{userdetail.nationalcode}}" min=0 max=9999999999>
</div>
{%endblock%}


{%block ifather%}
<label for="father">{%trans "Father name"%}</label>
<div class="input">
  <input type="text" name="father" id="father" placeholder='{%trans "Father name"%}' value="{{userdetail.father}}" maxlength='50'>
</div>
{%endblock%}


{%block ibirthday%}
<label for="birthday">{%trans "Birthday"%}</label>
<div class="input">
  <input class="datepicker" type="text" name="birthday" id="birthday" placeholder='{{"1369/04/15" | fitNumber}}' value="{{userdetail.birthday}}" maxlength='20' data-format="YYYY/MM/DD" data-initialValue='false' data-view="year">
</div>
{%endblock%}


{%block igender%}
<div class="switch1 gender pA5">
 <input type="checkbox" name="gender" id="gender" {%if userdetail.gender == 'female' %}checked{%endif%}>
 <label for="gender" ></label>
 <label for="gender">{%trans "Gender"%}</label>
</div>
{%endblock%}


{%block iMarried%}
<div class="switch1 pA5">
 <input type="checkbox" name="Married" id="Married" {%if userdetail.married == 'married' %}checked{%endif%}>
 <label for="Married"  data-on='{%trans "Married"%}' data-off='{%trans "Single"%}'></label>
 <label for="Married">{%trans "Marital"%}</label>
</div>

{%endblock%}

{%block iArabicLang%}
<div class="switch1 pA5">
 <input type="checkbox" name="ArabicLang" id="ArabicLang" {%if userdetail.arabiclang == 'yes' %}checked{%endif%}>
 <label for="ArabicLang"  data-on='{%trans "Yes"%}' data-off='{%trans "No"%}'></label>
 <label for="ArabicLang">{%trans "Arabic Language"%}</label>
</div>

{%endblock%}



{%block icountry%}
<label for='country'>{%trans "Country"%}</label>
<div class="input">
 <input type='text' class="awesomplete" name='country' id='country' data-minchars="1" data-autofirst data-list="{{country_list}}" value="{{userdetail.country}}" />
</div>
{%endblock%}


{%block iprovince%}
<label for='province'>{%trans "Province"%}</label>
<div class="input">
 <input type='text' class="awesomplete" name='province' id='province' data-minchars="1" data-autofirst data-list="{{provice_list}}" value="{{userdetail.province}}" />
</div>
{%endblock%}


{%block icity%}
<label for='city'>{%trans "City"%}</label>
<div class="input">
 <input type='text' class="awesomplete" name='city' id='city' data-minchars="1" data-autofirst data-list="{{city_list}}" value="{{userdetail.city}}" />
</div>
{%endblock%}


{%block izipcode%}
<label for='zipcode'>{%trans "Zip code"%}</label>
<div class="input">
 <input type='tel' name='zipcode' id='zipcode' min="0" max="9999999999" value="{{userdetail.zipcode}}"/>
</div>
{%endblock%}




{%block ipassport%}
<label for='passport'>{%trans "Passport id"%}</label>
<div class="input ltr">
 <input type="text" name='passport' id='passport' value="{{userdetail.pasportcode}}" />
</div>
{%endblock%}


{%block ipassportexpire%}
<label for='passportexpire'>{%trans "Passport expire date"%}</label>
<div class="input">
  <input class="datepicker" type="text" name="passportexpire" id="passportexpire" placeholder='{{"1397/03/30" | fitNumber}}' value="{{userdetail.pasportdate}}" maxlength='20' data-format="YYYY/MM/DD" data-initialValue='false' data-view="year">
</div>
{%endblock%}



{%block iHomeAddress%}
<label for='fhomeaddress'>{%trans "Home Address"%}</label>
<textarea name="homeaddress" rows="3" placeholder='{%trans "Home Address"%}' class="txt" id="fhomeaddress">{{userdetail.homeaddress}}</textarea>
{%endblock%}

{%block iWorkAddress%}
<label for='fworkaddress'>{%trans "Work Address"%}</label>
<textarea name="workaddress" rows="3" placeholder='{%trans "Work Address"%}' class="txt" id="fworkaddress">{{userdetail.workaddress}}</textarea>
{%endblock%}



{%block iDescription%}
<label for='fdesc'>{%trans "Description"%}</label>
<textarea name="desc" rows="3" placeholder='{%trans "Description"%}' class="txt" id="fdesc">{{userdetail.desc}}</textarea>
{%endblock%}




{%block iPhone%}
<label for="phone">{%trans "Phone"%}</label>
<div class="input">
  <input type="tel" name="phone" id="phone" placeholder='{%trans "Like"%} 025 3650 5281' value="{{userdetail.phone}}" maxlength='50'>
</div>
{%endblock%}



{%block iEmail%}
<label for="email">{%trans "Email"%}</label>
<div class="input">
  <input type="email" name="email" id="email" placeholder='{%trans "Like"%} abc@example.com' value="{{userdetail.email}}" maxlength='50'>
</div>
{%endblock%}


{%block iAvatar%}
<div class="input preview">
 <input type="file" accept="image/gif, image/jpeg, image/png" name="avatar" id="avatar1" data-preview data-max="500">
 <label for="avatar1" title="Simple Title">
    {%if userdetail.avatar%}<img src="{{userdetail.avatar}}">{%endif%}
 </label>
</div>
{%endblock%}


{%block iNationalthumb%}
<div class="input preview">
 <input type="file" accept="image/gif, image/jpeg, image/png" name="nationalthumb" id="nationalthumb" data-preview data-max="500">
 <label for="nationalthumb" title="Simple Title">
    {%if userdetail.nationalthumb%}<img src="{{userdetail.nationalthumb}}">{%endif%}
 </label>
</div>
{%endblock%}


{%block iShthumb%}
<div class="input preview">
 <input type="file" accept="image/gif, image/jpeg, image/png" name="shthumb" id="shthumb" data-preview data-max="500">
 <label for="shthumb" title="Simple Title">
    {%if userdetail.shthumb%}<img src="{{userdetail.shthumb}}">{%endif%}
 </label>
</div>
{%endblock%}



{%block iEducation%}
<label for="feducation">{%trans "Education"%}</label>
<div class="input">
  <input type="text" name="education" id="feducation" placeholder='{%trans "Education"%}' value="{{userdetail.education}}" maxlength='50'>
</div>
{%endblock%}



{%block iEducationCourse%}
<label for="feducationcourse">{%trans "Education course"%}</label>
<div class="input">
  <input type="text" name="educationcourse" id="feducationcourse" placeholder='{%trans "Education course"%}' value="{{userdetail.education}}" maxlength='50'>
</div>
{%endblock%}



{%block iJob%}
<label for="fjob">{%trans "Job"%}</label>
<div class="input">
  <input type="text" name="job" id="fjob" placeholder='{%trans "Job"%}' value="{{userdetail.job}}" maxlength='50'>
</div>
{%endblock%}



{%block iadd%}
<button class="btn primary block mT20">{%trans "Add"%}</button>
{%endblock%}

{%block isave%}
<button class="btn primary block mT20">{%trans "Save"%}</button>
{%endblock%}




