


{%block profileForm%}

<div class="f justify-center">
 <div class="c9">
  <form class="cbox" method="post">

   <div class="f mB10">
    <div class="c6 s12">{{block ('igenderRadio') }}</div>
    <div class="c6 s12">{{block ('iMarriedRadio') }}</div>
   </div>

   <div class="f">
    <div class="c6 s12 pRa5">{{block ('iname') }}</div>
    <div class="c6 s12">{{block ('ifamily') }}</div>
   </div>

   <div class="f">
    <div class="c4 s12 pRa5">{{block ('ifather') }}</div>
    <div class="c4 s12 pRa5">{{block ('incode') }}</div>
    <div class="c4 s12">{{block ('ibirthday') }}</div>
   </div>

   <div class="f">
    <div class="c4 s12 pRa5">{{block ('icountry') }}</div>
    <div class="c4 s12 pRa5">{{block ('ipassport') }}</div>
    <div class="c4 s12">{{block ('ipassportexpire') }}</div>
   </div>

   <div class="f">

   </div>

   <div class="f">
    <div class="c4 s12 pRa5">{{block ('iprovince') }}</div>
    <div class="c4 s12 pRa5">{{block ('icity') }}</div>
    <div class="c4 s12">{{block ('iPhone') }}</div>
   </div>

   <div class="f">
    <div class="c8 s12 pRa5">{{block ('iAddress') }}</div>
    <div class="c4 s12">{{block ('izipcode') }}</div>
   </div>

   {{block ('iSave') }}

  </form>
 </div>
</div>

{%endblock%}





{%block iname%}
<label for="name">{%trans "Name"%} <small class="fc-red">* {%trans "Require"%}</small></label>
<div class="input">
  <input type="text" name="name" id="name" placeholder='{%trans "Name"%} *' value="{{userdetail.firstname}}" autofocus maxlength='40' minlength="2" pattern=".{2,40}" title='{%trans "Enter a valid name from 2 to 40 character"%}' required>
</div>
{%endblock%}


{%block ifamily%}
<label for="lastName">{%trans "Last name"%} <small class="fc-red">* {%trans "Require"%}</small></label>
<div class="input">
  <input type="text" name="lastName" id="lastName" placeholder='{%trans "Last name"%} *' value="{{userdetail.lastname}}" maxlength='40' minlength="2" pattern=".{1,40}" title='{%trans "Enter a valid last name from 2 to 40 character"%}' required>
</div>
{%endblock%}


{%block ifather%}
<label for="father">{%trans "Father name"%}</label>
<div class="input">
  <input type="text" name="father" id="father" placeholder='{%trans "Father name"%} *' value="{{userdetail.father}}" maxlength='50'>
</div>
{%endblock%}


{%block imobile%}
<label for="mobile" class="disabled">{%trans "Mobile"%}</label>
<div class="input disabled">
  <input type="text" readonly disabled id="mobile" placeholder='{%trans "Like 09120123456"%} *' value="{{userdetail.mobile}}" maxlength='30'>
</div>
{%endblock%}


{%block incode%}
<label for="nationalcode">{%trans "National code"%} <small class="fc-red">* {%trans "Iranian must fill"%}</small></label>
<div class="input">
  <input type="tel" name="nationalcode" id="nationalcode" placeholder='{%trans "10 digit national code"%} *' value="{{userdetail.nationalcode}}" min=1000000000 max='9999999999'>
</div>
{%endblock%}


{%block ibirthday%}
<label for="birthday">{%trans "Birthday"%}  <small class="fc-red">* {%trans "Require"%}</small></label>
<div class="input">
  <input class="datepicker" type="text" name="birthday" id="birthday" required placeholder='{{"1369/04/15" | fitNumber}} *' value="{{userdetail.birthday}}" maxlength='20' data-format="YYYY/MM/DD"data-view="year">
</div>
{%endblock%}


{%block igender%}
<label for="gender">{%trans "Gender"%}</label>
<div class="switch1 gender mA0 pLR5">
 <input type="checkbox" name="gender" id="gender" {%if userdetail.gender == 'female' %}checked{%endif%}>
 <label for="gender" ></label>
</div>
{%endblock%}


{%block igenderRadio%}
<label for="gender">{%trans "Gender"%} <small class="fc-red">* {%trans "Require"%}</small></label>
<div class="f">
 <div class="radio1 green">
  <input type="radio" id="r-male" name="gender" value="male" {%if userdetail.gender == 'male' %}checked{%endif%}>
  <label for="r-male">{%trans "Male"%}</label>
 </div>

 <div class="radio1 green">
  <input type="radio" id="r-female" name="gender" value="female" {%if userdetail.gender == 'female' %}checked{%endif%}>
  <label for="r-female">{%trans "Female"%}</label>
 </div>
</div>
{%endblock%}


{%block iMarried%}
<label for="Married">{%trans "Marital"%}</label>
<div class="switch1 mA0 pLR5">
 <input type="checkbox" name="Married" id="Married" {%if userdetail.married == 'married' %}checked{%endif%}>
 <label for="Married"  data-on='{%trans "Married"%}' data-off='{%trans "Single"%}'></label>
</div>
{%endblock%}


{%block iMarriedRadio%}
<label for="Married">{%trans "Marital"%} <small class="fc-red">* {%trans "Require"%}</small></label>
<div class="f">
 <div class="radio1 yellow">
  <input type="radio" id="r-single" name="Married" value="single" {%if userdetail.married == 'single' %}checked{%endif%}>
  <label for="r-single">{%trans "Single"%}</label>
 </div>

 <div class="radio1 yellow">
  <input type="radio" id="r-married" name="Married" value="married" {%if userdetail.married == 'married' %}checked{%endif%}>
  <label for="r-married">{%trans "Married"%}</label>
 </div>
</div>
{%endblock%}


{%block iArabicLang%}
<div class="switch1 pA5">
 <input type="checkbox" name="ArabicLang" id="ArabicLang" {%if userdetail.arabiclang == 'yes' %}checked{%endif%}>
 <label for="ArabicLang"  data-on='{%trans "Yes"%}' data-off='{%trans "No"%}'></label>
 <label for="ArabicLang">{%trans "Arabic Language"%}</label>
</div>

{%endblock%}



{%block icountry%}
<label for='country'>{%trans "Country"%}</label>
<div class="input">
 <input type='text' class="autoList" name='country' id='country' data-minchars="1" data-autofirst data-list="{{countryList}}" value="{{userdetail.country}}" autocomplete="off" />
</div>
{%endblock%}


{%block iprovince%}
<label for='province'>{%trans "Province"%} <small class="fc-red">* {%trans "Require"%}</small></label>
<select name="province" class="select">
  <option value="">{%trans "Please select one item"%}</option>
  {%for key, value in proviceList%}
    <option value="{{value}}" {%if userdetail.province == value%} selected {%endif%}>{{value}}</option>
  {%endfor%}

</select>

{%endblock%}


{%block icity%}
<label for='city'>{%trans "City"%}</label>
<div class="input">
 <input type='text' class="autoList" name='city' id='city' data-minchars="1" data-autofirst data-list="{{cityList}}" value="{{userdetail.city}}" autocomplete="off"/>
</div>
{%endblock%}


{%block izipcode%}
<label for='zipcode'>{%trans "Zip code"%}</label>
<div class="input">
 <input type='tel' name='zipcode' id='zipcode' min="0" max="9999999999" value="{{userdetail.zipcode}}"/>
</div>
{%endblock%}




{%block ipassport%}
<label for='passport'>{%trans "Passport id"%} <small class="fc-red">* {%trans "Foreigners must fill"%}</small></label>
<div class="input ltr">
 <input type="text" name='passport' id='passport' value="{{userdetail.pasportcode}}" />
</div>
{%endblock%}


{%block ipassportexpire%}
<label for='passportexpire'>{%trans "Passport expire date"%}</label>
<div class="input">
  <input class="datepicker" type="text" name="passportexpire" id="passportexpire" placeholder='{{"1397/03/30" | fitNumber}}' value="{{userdetail.pasportdate}}" maxlength='20' data-format="YYYY/MM/DD" data-view="year">
</div>
{%endblock%}



{%block iAddress%}
<label for='fhomeaddress'>{%trans "Address"%}</label>
<textarea name="homeaddress" rows="1" placeholder='{%trans "Address"%}' class="txt" id="fhomeaddress">{{userdetail.homeaddress}}</textarea>
{%endblock%}

{%block iWorkAddress%}
<label for='fworkaddress'>{%trans "Work Address"%}</label>
<textarea name="workaddress" rows="3" placeholder='{%trans "Work Address"%}' class="txt" id="fworkaddress">{{userdetail.workaddress}}</textarea>
{%endblock%}



{%block iDescription%}
<label for='fdesc'>{%trans "Description"%}</label>
<textarea name="desc" rows="3" placeholder='{%trans "Description"%}' class="txt" id="fdesc">{{userdetail.desc}}</textarea>
{%endblock%}




{%block iPhone%}
<label for="phone">{%trans "Phone"%}</label>
<div class="input ltr">
  <input type="tel" name="phone" id="phone" placeholder='{%trans "Like"%} 02536505460' value="{{userdetail.phone}}" maxlength='50'>
</div>
{%endblock%}



{%block iEmail%}
<label for="email">{%trans "Email"%}</label>
<div class="input">
  <input type="email" name="email" id="email" placeholder='{%trans "Like"%} abc@example.com' value="{{userdetail.email}}" maxlength='50'>
</div>
{%endblock%}


{%block iAvatar%}
<div class="input preview">
 <input type="file" accept="image/gif, image/jpeg, image/png" name="avatar" id="avatar1" data-preview data-max="500">
 <label for="avatar1" title="Simple Title">
    {%if userdetail.avatar%}<img src="{{userdetail.avatar}}">{%endif%}
 </label>
</div>
{%endblock%}


{%block iNationalthumb%}
<div class="input preview">
 <input type="file" accept="image/gif, image/jpeg, image/png" name="nationalthumb" id="nationalthumb" data-preview data-max="500">
 <label for="nationalthumb" title="Simple Title">
    {%if userdetail.nationalthumb%}<img src="{{userdetail.nationalthumb}}">{%endif%}
 </label>
</div>
{%endblock%}


{%block iShthumb%}
<div class="input preview">
 <input type="file" accept="image/gif, image/jpeg, image/png" name="shthumb" id="shthumb" data-preview data-max="500">
 <label for="shthumb" title="Simple Title">
    {%if userdetail.shthumb%}<img src="{{userdetail.shthumb}}">{%endif%}
 </label>
</div>
{%endblock%}



{%block iEducation%}
<label for="feducation">{%trans "Education"%}</label>
<div class="input">
  <input type="text" name="education" id="feducation" placeholder='{%trans "Education"%}' value="{{userdetail.education}}" maxlength='50'>
</div>
{%endblock%}



{%block iEducationCourse%}
<label for="feducationcourse">{%trans "Education course"%}</label>
<div class="input">
  <input type="text" name="educationcourse" id="feducationcourse" placeholder='{%trans "Education course"%}' value="{{userdetail.education}}" maxlength='50'>
</div>
{%endblock%}



{%block iJob%}
<label for="fjob">{%trans "Job"%}</label>
<div class="input">
  <input type="text" name="job" id="fjob" placeholder='{%trans "Job"%}' value="{{userdetail.job}}" maxlength='50'>
</div>
{%endblock%}



{%block iadd%}
<button class="btn primary block mT20">{%trans "Add"%}</button>
{%endblock%}

{%block iSave%}
<button class="btn primary block mT20">{%trans "Save"%}</button>
{%endblock%}





