{%extends display.khadijeCpMain%}


{%block pageContent%}
<div class="">

  <p class="alert alert-info fs18 txtC">{%trans "Nationalcode" %} <b>{{nationalcode_detail.nationalcode | fitNumber}}</b></p>
<form method="post" class="f">

  <div class="c4 s12">
    <div class="dcard x2">
     <div class="statistic">
      <div class="value mB20">{%trans "Qom"%}
        <small class="badge ">{{nationalcode_detail.qom| fitNumber}}</small>
      </div>
      <div class="label input "><input type="number" name="qom" id="qom" value="{{nationalcode_detail.qom}}"></div>
     </div>
    </div>
  </div>

  <div class="c4 s12">
    <div class="dcard x2">
     <div class="statistic">
      <div class="value mB20">{%trans "Mashhad"%}
        <small class="badge ">{{nationalcode_detail.mashhad| fitNumber}}</small>
      </div>
      <div class="label input "><input type="number" name="mashhad" id="mashhad" value="{{nationalcode_detail.mashhad}}"></div>
     </div>
    </div>
  </div>

  <div class="c4 s12">
    <div class="dcard x2">
     <div class="statistic">
      <div class="value mB20">{%trans "Karbala"%}
        <small class="badge ">{{nationalcode_detail.karbala| fitNumber}}</small>
      </div>
      <div class="label input "><input type="number" name="karbala" id="karbala" value="{{nationalcode_detail.karbala}}"></div>
     </div>
    </div>
  </div>

  <div class="cbox">
    <button class="btn success block">{%trans "Save"%}</button>
  </div>
</form>

</div>
{%endblock%}

